

            <div class="row no-padding margin-bottom-20 marginleft0">
                <div class="col-md-12 no-padding fontSizeIndi  list-head dp-block">
                    Facility Info
                </div>

                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="width: 156px;"></div>
                </div>
            </div>
            
             <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    Name of your facility
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox name-textbox" 
                           />
                </div>
            </div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    Select a category
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <select class="form-control grayBgLogin" >
                        <option value="0"></option>
                        <option  value="1"></option>
                        <option  value="2"></option>
                    </select>

                </div>
            </div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    Our facilities are
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <select class="form-control grayBgLogin" >
                        <option value="0"></option>
                        <option  value="1"></option>
                        <option  value="2"></option>
                    </select>

                </div>
            </div>
            

            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    Country
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox"
                           ng-model="basicProfileInfo.primaryUserAddress.country"/>
                </div>
            </div>

            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    Zip
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox"
                           ng-model="basicProfileInfo.primaryUserAddress.zip" style="width:50%;"/>
                    <input type="button" class="btn btn-success pull-right register-btn"
                           value="Get address" style="padding:4px 12px;"
                           ng-click="getLocationByPincode($event, address)">
                </div>
            </div>

            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    City
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox"
                           ng-model="basicProfileInfo.primaryUserAddress.city"/>
                </div>
            </div>

            

         
                <div class="row  margin-bottom-20  register-page">
                    <div class="col-md-5 ">Locality</div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="text" ng-model="basicProfileInfo.primaryUserAddress.locality"
                               class="name-textbox textbox" ng-google-location options="options" obj="address"
                               callback="addressCallback" id="addressLocality"
                               placeholder="Locality"/>
                    </div>
                </div>

                <div class="row margin-bottom-20  register-page">
                    <div class="col-md-5 ">Address detail</div>
                    <div class="col-md-7 no-padding-right register-page">
                        <textarea class="textbox " rows="3"
                                  ng-model="basicProfileInfo.primaryUserAddress.streetAddress"></textarea>
                    </div>
                </div>

                <div class="row margin-bottom-20  register-page">
                    <div class="col-md-5 ">Phone number</div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="text" class="username-textbox textbox" name="primaryTel"
                               ng-model="basicProfileInfo.primaryPhoneNo"
                               placeholder="Telephone number" ng-pattern="/^[+\d-]*\d[\d-]$/" maxlength="17" minlength="10">
                        <span ng-show="(individualForm.primaryTel.$invalid || individualForm.primaryTel.$error.pattern) && submitted" class="errorRed">Not a valid number!</span>
                    </div>
                </div>

                <div class="row margin-bottom-20  register-page"
                     ng-repeat="number in basicProfileInfo.secondaryPhoneNos track by $index">
                    <div class="col-md-5 ">
                        Additional Phone Number
                    </div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="text" class="username-textbox textbox" name="{{'tel'+$index}}"
                               ng-model="basicProfileInfo.secondaryPhoneNos[$index]"
                               placeholder="Telephone number" ng-pattern="/^[+\d-]*\d[\d-]$/" maxlength="17" minlength="10"/>

						<span ng-show="(individualForm.{{'tel'+$index}}.$invalid || individualForm.{{'tel'+$index}}.$error.pattern) && submitted"
                              class="errorRed">Not a valid number!</span>
                    </div>
                </div>

                <div class="row add-phone margin-bottom-20  register-page" style="margin-top:-10px;">
                    <div class="col-md-5 "></div>
                    <div class="col-md-7 no-padding-right register-page">
                        <a class="add-phone" ng-click="addPhoneNumber()">+ add another phone number</a>
                    </div>
                </div>

                <div class="row margin-bottom-20  register-page">
                    <div class="col-md-5 ">Email ID</div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="email" class="username-textbox textbox" name="primaryEmail"
                               ng-model="basicProfileInfo.primaryEmail"
                               placeholder="Email"/>
						<span ng-show="individualForm.primaryEmail.$error.email && submitted" class="errorRed">
                            Not valid Email!
                        </span>
                    </div>
                </div>

                <div class="row margin-bottom-20 register-page"
                     ng-repeat="email in basicProfileInfo.secondaryEmails track by $index">
                    <div class="col-md-5">
                        Additional Email ID
                    </div>
                    <div class="col-md-7 no-padding-right register-page">
                        <input type="email" class="username-textbox textbox" name="{{'email'+$index}}"
                               ng-model="basicProfileInfo.secondaryEmails[$index]"
                               placeholder="Email"/>
                            <span ng-show="individualForm.{{'email'+$index}}.$error.email && submitted"
                                  class="errorRed">Not valid Email!</span>
                    </div>
                </div>

                <div class="row add-email margin-bottom-20  register-page" style="margin-top:-10px;">
                    <div class="col-md-5 "></div>
                    <div class="col-md-7 no-padding-right register-page">
                        <a class="add-email" ng-click="addEmail()">+ add another email id</a>
                    </div>
                </div>

               <div class="row margin-bottom-40 register-page">
                        <div class="col-md-5">
                            Website
                        </div>
                        <div class="col-md-7 no-padding-right register-page">
                            <input type="text" class="username-textbox textbox"
                                   ng-model="serviceProviderInfo.website"
                                   placeholder="Website"/>
                        </div>
                    </div>
                    
                     <div class="row no-padding margin-bottom-20 marginleft0">
                <div class="col-md-12 no-padding fontSizeIndi  list-head dp-block">
                    Profile picture
                </div>

                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="width: 156px;"></div>
                </div>
            </div>

            <div class="row margin-bottom-20 darkBgwithText register-page">
                Please upload your profile picture 
                <div class="darkBgwithTextArrow">
                    <img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
                </div>
            </div>


            <div class="no-padding margin-bottom-40 register-page by_editor_post_divider" style="text-align:left;">
               <div class="by-reg-gallery" ng-if="basicProfileInfo.profileImage && profileImage.length===0">
                        <img class="by-reg-image"
                             ng-src="{{basicProfileInfo.profileImage.thumbnailImage}}"/>
                        <a class="image-fav" ng-if="!profileImage.loading"
                           ng-click="deleteProfileImage()"></a>
                    </div>
                    <div class="by-reg-gallery" ng-repeat="img in profileImage">
                        <img class="by-reg-image" ng-src="{{img.thumbnailImage}}"/>
                        <a class="image-fav" ng-if="!img.loading" ng-click="deleteProfileImage()"></a>
                        <a class="by-reg-loadingImage" ng-if="img.loading"></a>
                    </div>
                    <div class="by-reg-uploadLabel">
                        <label class="myLabel"  style="background:#ececec;">
                            <input id="inputImage2"
                                   type="file"
                                   accept="image/*"
                                   load-image="profileImage"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" class="btn btn-success register-btn"/>
                        <img src="assets/img/icons/photo.png" width="100%"/>
                        <span style="float: right;max-width: 130px; margin-left: 10px; text-align: left; line-height:17px; color:#000;">
                            Upload your <br/>profile picture
                        </span>
                        </label>
                    </div>
            </div>
            
             <div class="row no-padding margin-bottom-20 marginleft0">
                <div class="col-md-12 no-padding fontSizeIndi  list-head dp-block">
                    Gallery pictures
                </div>

                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="width: 156px;"></div>
                </div>
            </div>

            <div class="row margin-bottom-20 darkBgwithText register-page">
                Please upload pictures from your photo gallery
                <div class="darkBgwithTextArrow">
                    <img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
                </div>
            </div>


            <div class="no-padding margin-bottom-40  register-page by_editor_post_divider" style="text-align:left;">
                <div class="by-reg-gallery" ng-repeat="img in basicProfileInfo.photoGalleryURLs">
                        <img class="by-reg-image" ng-src="{{img.thumbnailImage}}"/>
                        <a class="image-fav" ng-click="deleteGalleryImage(img)"></a>
                    </div>
                    <div class="by-reg-gallery" ng-repeat="img in galleryImages">
                        <img class="by-reg-image" ng-src="{{img.thumbnailImage}}"/>
                        <a class="image-fav" ng-if="!img.loading" ng-click="deleteGalleryImage(img)"></a>
                        <a class="by-reg-loadingImage" ng-if="img.loading"></a>
                    </div>
                    <div class="by-reg-uploadLabel">
                        <label class="myLabel" style="background:#ececec">
                            <input id="inputImage4"
                                   type="file"
                                   accept="image/*"
                                   multiple
                                   load-image="galleryImages"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" class="btn btn-success register-btn"
                                   imgArray="$parent.galleryImages"/><img
                            src="assets/img/icons/photo.png" width="100%"/> <span
                            style="float: right; max-width: 180px; margin-left: 10px; text-align: left; line-height: 17px; color: #000;">
							Upload multiple<br/> photos for your gallery
					</span>
                        </label>
                    </div>
            </div>
            
            <div class="row no-padding margin-bottom-20 marginleft0">
                <div class="col-md-12 no-padding fontSizeIndi  list-head dp-block">
                    About facility
                </div>

                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="width: 156px;"></div>
                </div>
            </div>
            
            <div class="row margin-bottom-20 darkBgwithText register-page">
               Please write us more about services you provide. How
                                different are you from others? What makes you stand out? Are you ready to go for
                                an extra mile for your customers?
                <div class="darkBgwithTextArrow">
                    <img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
                </div>
            </div>

            <div class="row marginleftMinu4 margin-bottom-20 no-padding register-page byEditor"
                 style="border:1px solid #ccc;">
                <textarea class="textbox " rows="3" id="registrationDescription"
                              ng-model="basicProfileInfo.description" ng-init="addEditor()"></textarea>

                <div class="clearfix"></div>
            </div>
                    
