<div class="row indvspacing" ng-controller="regHousingController">
    <form class="third-register-page grayRegisterBgLight" name="housingForm" novalidate
          style="background:transparent;">
        <div class="col-md-12 whiteBg register-page padding20 borderShadow margin-bottom-20 indvBorderRadius"
             style="padding-bottom:15px;">
            <div class="addBasicInfo">Housing Info</div>
            <div ng-include="'app/components/signup/registration/regHousingCorp.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
            <div ng-include="'app/components/signup/registration/regHousingFacility.html?versionTimeStamp=%PROJECT_VERSION%'" ></div>
        </div>
    </form>
</div>
