<div class="row indvspacing" >
    <form  class="third-register-page grayRegisterBgLight" novalidate
          style="background:transparent;">
        <div class="col-md-12 whiteBg register-page padding20 borderShadow margin-bottom-20 indvBorderRadius">
			<div class="addBasicInfo">Basic Info</div>
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    I am
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <select class="form-control grayBgLogin" >
                        <option data-gender="0" value="0">Ms.</option>
                        <option data-gender="1" value="1">Mr.</option>
                        <option data-gender="2" value="2">Dr.</option>
                    </select>

                </div>
            </div>
            
             <div class="row margin-bottom-20  register-page">
                <div class="col-md-5 col-xs-3">
                   Gender
                </div>
                <div class="col-md-7 col-xs-9 no-padding-right register-page">
                      Male <input type="radio" name="gender" class="radioCheckbox" />  
                      Female <input type="radio" name="gender" class="radioCheckbox" />                
                </div>
            </div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                   My  first name is
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox" 
                           class="name-textbox textbox grayBg" />                    
                </div>
            </div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                   My  last name is
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox" 
                           class="name-textbox textbox grayBg" />                    
                </div>
            </div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                   My  age is
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox" 
                           class="name-textbox textbox grayBg" />                    
                </div>
            </div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    I am
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <select class="form-control grayBgLogin" >
                        <option  value="0">Working</option>
                    </select>

                </div>
            </div>

			<div class="row no-padding margin-bottom-20 marginleft0">
				<div class="col-md-12 no-padding fontSizeIndi  list-head dp-block">
					My contact details
				</div>

				<div class="col-md-12 no-padding bg-gray-h1">
					<div class="bg-green-h2" style="width: 156px;"></div>
				</div>
			</div>
			
			<div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                    Country
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <select class="form-control grayBgLogin" >
                        <option  value="0">India</option>
                    </select>

                </div>
            </div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                  	Zip
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox" 
                           class="name-textbox textbox grayBg" style="width:50%;"/>    
                     <input type="button"
						class="btn btn-success pull-right register-btn"
						value="Get address" style="padding:4px 12px;">                
                </div>
			</div>
            
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                   City
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox" 
                           class="name-textbox textbox grayBg" />                    
                </div>
            </div>
            
            <div class="row margin-bottom-20 darkBgwithText register-page">
            	This information will be private
            	<div class="darkBgwithTextArrow">
            		<img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
            	</div>
            </div>
            
            <div class="row margin-bottom-10 marginLeftMinus5 register-page">

				<div class="col-md-12 margin-top-20 margin-bottom-20  register-page">
					<div class="col-md-5 no-padding">Locality</div>
					<div class="col-md-7 no-padding register-page">
						<input type="text" class="username-textbox textbox"
							class="name-textbox textbox grayBg" />
					</div>
				</div>
				
				<div class="col-md-12 margin-bottom-10  register-page">
					<div class="col-md-5 no-padding">Address detail</div>
					<div class="col-md-7 no-padding register-page">
						<textarea class="textbox " rows="3"></textarea>
					</div>
				</div>
				
				<div class="col-md-12 margin-bottom-10  register-page">
					<div class="col-md-5 no-padding">Phone number</div>
					<div class="col-md-7 no-padding register-page">
						<input type="text" class="username-textbox textbox"
							class="name-textbox textbox grayBg" />
					</div>
				</div>
				<div class="col-md-12 margin-bottom-20  register-page">
					<div class="col-md-5 no-padding"></div>
					<div class="col-md-7 no-padding register-page">
						<i><a>+ add another phone number</a></i>
					</div>
				</div>
				
				<div class="col-md-12 margin-bottom-10  register-page">
					<div class="col-md-5 no-padding">Email ID</div>
					<div class="col-md-7 no-padding register-page">
						<input type="text" class="username-textbox textbox"
							class="name-textbox textbox grayBg" />
					</div>
				</div>
				<div class="col-md-12 margin-bottom-20  register-page">
					<div class="col-md-5 no-padding"></div>
					<div class="col-md-7 no-padding register-page">
						<i><a>+ add another email id</a></i>
					</div>
				</div>

				<div class="col-md-12 margin-bottom-20">
					<div class="col-md-12 no-padding fontSizeIndi  list-head dp-block">
						I have</div>

					<div class="col-md-12 no-padding bg-gray-h1">
						<div class="bg-green-h2" style="width: 76px;"></div>
					</div>
				</div>

				<div class="col-md-12 margin-bottom-20 register-page">
					<div class="col-md-5 no-padding">Emotional challenges </div>
					<div class="col-md-7 no-padding register-page">
						<select class="form-control grayBgLogin">
							<option value="0">None</option>
						</select>

					</div>
				</div>
				
				<div class="col-md-12 margin-bottom-20 register-page">
					<div class="col-md-5 no-padding">Medical issues </div>
					<div class="col-md-7 no-padding register-page">
						<select class="form-control grayBgLogin">
							<option value="0">None</option>
						</select>

					</div>
				</div>
				
				<div class="col-md-12 margin-bottom-20  register-page">
					<div class="col-md-5 no-padding">Other difficulties</div>
					<div class="col-md-7 no-padding register-page">
						<input type="text" class="username-textbox textbox"
							class="name-textbox textbox grayBg" />
					</div>
				</div>

			</div>



		</div>

		<div class="col-md-12 whiteBg register-page padding20 borderShadow margin-bottom-20 indvBorderRadius">
			<div class="addBasicInfo">About myself</div>

			<div class="row margin-bottom-20 darkBgwithText register-page">
				This information will be private
				<div class="darkBgwithTextArrow">
            		<img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
            	</div>	
			</div>

			<div class="row margin-bottom-20 marginLeftMinus5 register-page">

				<div class="col-md-12 margin-top-20 margin-bottom-10  register-page">
					<div class="col-md-5 no-padding">My birthday</div>
					<div class="col-md-7 no-padding register-page">
						<input type="text" class="username-textbox textbox"
							class="name-textbox textbox grayBg" />
					</div>
				</div>
				<div class="col-md-12 margin-bottom-20  register-page">
					<div class="col-md-5 no-padding"></div>
					<div class="col-md-7 no-padding register-page">
						<i><a>+ add another significant date</a></i>
					</div>
				</div>

				<div class="col-md-12 margin-bottom-20 register-page">
					<div class="col-md-5 no-padding">I am</div>
					<div class="col-md-7 no-padding register-page">
						<select class="form-control grayBgLogin">
							<option value="0">Married</option>
						</select>
					</div>
				</div>
			</div>
			
			 <div class="row margin-bottom-10  register-page">
                <div class="col-md-5">
                  I speak
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox" 
                           class="name-textbox textbox grayBg" />                    
                </div>
            </div>
            
             <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                  
                </div>
                <div class="col-md-7 no-padding-right register-page">
                   <i><a>+ another language </a></i>            
                </div>
            </div>
            
            <div class="row margin-bottom-20 darkBgwithText register-page">
				This information would allow us to identify interesting (online and offline) activities
				that would appeal to you. As well as put you in touch with line-minded people, should you
				 be inclined to make new friends
				 
				 <div class="darkBgwithTextArrow">
            		<img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
            	</div>
			</div>
			
			<div class="row margin-bottom-10  register-page">
                <div class="col-md-5">
                   My hobbies
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <select class="form-control grayBgLogin" >
                        <option  value="0">None</option>
                    </select>
                </div>
            </div>
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                   
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <i><a>+ other</a></i>
                </div>
            </div>
            
            <div class="row margin-bottom-10  register-page">
                <div class="col-md-5">
                   Topic of interests
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <select class="form-control grayBgLogin" >
                        <option  value="0">Stories</option>
                    </select>
                </div>
            </div>
            <div class="row margin-bottom-20  register-page">
                <div class="col-md-5">
                   
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <i><a>+ other</a></i>
                </div>
            </div>
			
		</div>
		
		<div class="col-md-12 whiteBg register-page padding20 borderShadow margin-bottom-20 indvBorderRadius">
			<div class="addBasicInfo">My story</div>
			
            <div class="row margin-bottom-20 darkBgwithText register-page">
				Please tell us more about yourself. We would like to know what kind of a person you are.
				What is your life story? How are you coping with your challenges? And what others colud 
				learn from your experience. 
				<div class="darkBgwithTextArrow">
            		<img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
            	</div>
			</div>

			<div class="row marginleftMinu4 margin-bottom-20 no-padding register-page">
				<textarea class="textbox " rows="3"></textarea>
			</div>
			
			<div class="row no-padding margin-bottom-20 marginleft0">
				<div class="col-md-12 no-padding fontSizeIndi  list-head dp-block">
					Profile picture
				</div>

				<div class="col-md-12 no-padding bg-gray-h1">
					<div class="bg-green-h2" style="width: 156px;"></div>
				</div>
			</div>
			
			<div class="row margin-bottom-20 darkBgwithText register-page">
				Please upload your profile picture or select avatar
				<div class="darkBgwithTextArrow">
            		<img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
            	</div>
			</div>

			<div class=" no-padding margin-bottom-20 register-page by_editor_post_divider" style="text-align:left; width:200px;">
				<label > <img
					src="assets/img/icons/photo.png" width="100%" /> <span
					style="float: right;max-width: 130px; margin-left: 10px; text-align: left; line-height:17px;">
						Upload your <br/>profile picture
				</span>
				</label>
			</div>

			<div class="row">
				<div class="col-md-2 col-xs-4 profilePictureIndi">
					<img src="assets/img/profile/individual_female_small.png" width="100%" alt=""><br/>
					<input type="button" value="select"/>
				</div>
				<div class="col-md-2 col-xs-4 profilePictureIndi">
					<img src="assets/img/profile/individual_female_small.png" width="100%" alt=""><br/>
					<input type="button" value="select"/>
				</div>
				<div class="col-md-2 col-xs-4 profilePictureIndi">
					<img src="assets/img/profile/individual_female_small.png" width="100%" alt=""><br/>
					<input type="button" value="select"/>
				</div>
				<div class="col-md-2 col-xs-4 profilePictureIndi">
					<img src="assets/img/profile/individual_female_small.png" width="100%" alt=""><br/>
					<input type="button" value="select"/>
				</div>
			</div>


			<div class="row no-padding margin-bottom-20 marginleft0">
				<div class="col-md-12 no-padding fontSizeIndi  list-head dp-block">
					Gallery pictures
				</div>

				<div class="col-md-12 no-padding bg-gray-h1">
					<div class="bg-green-h2" style="width: 156px;"></div>
				</div>
			</div>
			
			<div class="row margin-bottom-20 darkBgwithText register-page">
				Please upload pictures from your photo gallery
				<div class="darkBgwithTextArrow">
            		<img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/>
            	</div>
			</div>

			<div class=" no-padding  register-page by_editor_post_divider" style="text-align:left; width:250px;">
				<label > <img
					src="assets/img/icons/photo.png" width="100%" /> <span
					style="float: right;  max-width: 180px; margin-left: 10px; text-align: left; line-height:17px;">
						Upload multiple<br/> photos for your gallery
				</span>
				</label>
			</div>
			


		</div>


		<div class="col-md-12 margin-top-0 margin-bottom-20">
			<input type="button" value="Done" class="nextButton by_btn_submit" /> 
			<div class="clearfix"></div>
        </div>

    </form>

</div>
