 <div class="clearfix" style="height:15px;"></div>
 <div class="col-md-12 margin-bottom-0 darkBgwithText" style="font-size:15px; margin-left:0px;">
     Please select an address for the goods to be shipped, or
     enter a new address below:

     <div class="darkBgwithTextArrow">
        <img src="assets/img/icons/login/arrow-icon.png?versionTimeStamp=20151015-1111" alt="">
    </div>
</div>
<div class="clearfix" style="height:10px;"></div>
<div class="by_address_wrap">
    <div class="by_address col-md-6" ng-repeat="address in address track by $index">
        <div class="by_address_user">
            {{address.address.firstName+' '+address.address.lastName}}
        </div>
        <div class="by_address_text">
            {{address.address.addressLine1}}<br>
            {{address.address.addressLine2}}
            {{address.address.city}}, {{address.address.country.name}} - {{address.address.postalCode}}<br>
            Mobile: {{address.address.phonePrimary.phoneNumber}} <br>
            <span    ng-if="address.address.phoneSecondary">
                Mobile: {{address.address.phoneSecondary.phoneNumber}}<br>
            </span>
            E-mail: {{address.address.primaryEmail}}
            <span ng-if="address.address.secondaryEmail"><br>
             E-mail: {{address.address.secondaryEmail}}
         </span>
     </div>
     <button class="btn btn-success pull-left by_address_btn"  ng-click="editAddress(address.address.id)">
        EDIT
    </button>
    <button class="btn btn-success pull-right by_address_btn"  ng-click="shipToAddress(address.address.id)">
        SHIP TO THIS ADDRESS
    </button><div class="clearfix"></div>
</div>
</div>
<button class="btn btn-success pull-right by_address_btn_orange"  ng-click="shipToNewAddress()">
     Enter new Address
</button>