<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="wrapper">
    <div class="wrapper">
        <div ng-include="'app/shared/common/template/breadcrumb.html'"></div>
    </div>
</div>

<div class=" container content discussion-page breadCrumbMargin paddingTop0" style="margin-top: 49px;"
     ng-controller="SelectAddressController">


    <div class="ask-question-textarea ask-dimension textarea-label borderShadow">
        <div id="mceu_9" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application"
             style="visibility: hidden; border-width: 1px;">
            <div id="mceu_9-body" class="mce-container-body mce-stack-layout">
                <div id="mceu_15" class="mce-edit-area mce-container mce-panel mce-last mce-stack-layout-item"
                     hidefocus="1" tabindex="-1" role="group" style="border-width: 1px 0px 0px;">
                    <iframe id="ask-question_ifr" frameborder="0" allowtransparency="true"
                            title="Rich Text Area. Press ALT-F9 for menu. Press ALT-F10 for toolbar. Press ALT-0 for help"
                            src='javascript:""' style="width: 100%; height: 100px; display: block;"></iframe>
                </div>
                <div id="mceu_10" class="mce-toolbar-grp mce-container mce-panel mce-first mce-stack-layout-item"
                     hidefocus="1" tabindex="-1" role="group">
                    <div id="mceu_10-body" class="mce-container-body mce-stack-layout">
                        <div id="mceu_11" class="mce-container mce-toolbar mce-first mce-last mce-stack-layout-item"
                             role="toolbar">
                            <div id="mceu_11-body" class="mce-container-body mce-flow-layout">
                                <div id="mceu_12" class="mce-container mce-first mce-flow-layout-item mce-btn-group"
                                     role="group">
                                    <div id="mceu_12-body">
                                        <div id="mceu_0" class="mce-widget mce-btn mce-first" tabindex="-1"
                                             aria-labelledby="mceu_0" role="button" aria-label="Bold">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-bold"></i></button>
                                        </div>
                                        <div id="mceu_1" class="mce-widget mce-btn mce-last" tabindex="-1"
                                             aria-labelledby="mceu_1" role="button" aria-label="Italic">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-italic"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div id="mceu_13" class="mce-container mce-flow-layout-item mce-btn-group" role="group">
                                    <div id="mceu_13-body">
                                        <div id="mceu_2" class="mce-widget mce-btn mce-first" tabindex="-1"
                                             aria-labelledby="mceu_2" role="button" aria-label="Bullet list">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-bullist"></i></button>
                                        </div>
                                        <div id="mceu_3" class="mce-widget mce-btn mce-last" tabindex="-1"
                                             aria-labelledby="mceu_3" role="button" aria-label="Numbered list">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-numlist"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div id="mceu_14" class="mce-container mce-last mce-flow-layout-item mce-btn-group"
                                     role="group">
                                    <div id="mceu_14-body">
                                        <div id="mceu_4" class="mce-widget mce-btn mce-first" tabindex="-1"
                                             aria-labelledby="mceu_4" role="button" aria-label="Insert/edit link">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-link"></i></button>
                                        </div>
                                        <div id="mceu_5" class="mce-widget mce-btn" tabindex="-1"
                                             aria-labelledby="mceu_5" role="button" aria-label="Remove link">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-unlink"></i></button>
                                        </div>
                                        <div id="mceu_6" class="mce-widget mce-btn" tabindex="-1"
                                             aria-labelledby="mceu_6" role="button" aria-label="Emoticons"
                                             aria-haspopup="true">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-emoticons"></i></button>
                                        </div>
                                        <div id="mceu_7" class="mce-widget mce-btn" tabindex="-1"
                                             aria-labelledby="mceu_7" role="button" aria-label="Insert/edit image">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-image"></i></button>
                                        </div>
                                        <div id="mceu_8" class="mce-widget mce-btn mce-last" tabindex="-1"
                                             aria-labelledby="mceu_8" role="button" aria-label="Insert/edit video">
                                            <button role="presentation" type="button" tabindex="-1"><i
                                                    class="mce-ico mce-i-media"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <textarea id="ask-question" rows="3" placeholder="Please enter your question" class="question-text"
                  aria-hidden="true" style="display: none;"></textarea>
        <button class="btn btn-u question-submit disabled">SUBMIT</button>
    </div>


    <div class="row both-container" style="min-height: 205px;">
        <div class="col-md-3 md-margin-bottom-40 left-container"
             style="height: 257px; padding-bottom: 0px; margin-top: 0px;">
            <div class="col-md-12 left-container-img-wrapper no-padding" style="width: 283px;">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="javascript:void(0)">SHOPPING CART ({{cartItemCount}})
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="javascript:void(0)">LOGGING IN</a>
                    </li>
                    <li class="list-group-item active">
                        <a href="javascript:void(0)">SHIPPING ADDRESS</a>
                    </li>
                    <li class="list-group-item" data-index="discussion-articles">
                        <a href="javascript:void(0)">PAYMNENT OPTIONS </a>
                    </li>
                    <li class="list-group-item" data-index="discussion-articles">
                        <a href="javascript:void(0)">CONFIRMATION </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="shop-faq-lc">
                    <div class="shop-faq-pos ask-article-feedback-all-img  pull-left">

                    </div>
                </div>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="give-feedback-lc">
                    <div class="give-feedback-pos ask-article-feedback-all-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9  article-outer-wrapper no-padding-right" style="margin-left: 299px; width: 856px;">
            <div class="col-md-12 no-padding margin-bottom-15">
                <span class="col-md-12 no-padding  list-head dp-block">SHIPPING ADDRESS</span>

                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="
                width: 226px;
                "></div>
                </div>

                <div class="col-md-12 no-padding margin-top-10 whitebg-graybdr signup">

                    <div class="col-md-12 form-header-content margin-bottom-30 margin-top-20">
                        <div class="   i-login-img-white col-md-12 padding-zero-only"><span
                                class="i-icon-arrow-white"></span>

                            <div class="i-login col-md-11">Please select an address for the goods to be shipped, or
                                enter a new address below:
                            </div>
                            <div class="col-md-1 i-icon-line"><img src="assets/images/icons/i-icon.png" width="18"
                                                                   height="34"></div>
                        </div>
                    </div>

                    <div class="col-md-6 margin-top-10" ng-repeat="address in address track by $index">
                        <div class="col-md-12 border-gray">
                            <div class=" col-md-12 padding20 margin-bottom-20 register-page font-form ">
                                <div class="font-bold">
                                    {{address.address.firstName+' '+address.address.lastName}}
                                </div>
                                {{address.address.addressLine1}}<br>
                                {{address.address.addressLine2}}
                                {{address.address.city}}, {{address.address.postalCode}}<br>
                                Tel {{address.address.phonePrimary.phoneNumber}} <br><span
                                    ng-if="address.address.phoneSecondary">
                Tel {{address.address.phoneSecondary.phoneNumber}}<br>
                </span>
                                {{address.address.primaryEmail}}
                <span ng-if="address.address.secondaryEmail"><br>
                 {{address.address.secondaryEmail}}
                </span>
                            </div>
                            <div class="col-md-12 form-header-content margin-bottom-25">
                                <button class="btn btn-success pull-left register-btn"
                                        ng-click="editAddress(address.address.id)">
                                    EDIT
                                </button>
                                <button class="btn btn-success pull-right register-btn"
                                        ng-click="shipToAddress(address.address.id)">
                                    SHIP TO THIS ADDRESS
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-top-10 cursor-pointer ship-address-margin"
                         ng-click="shipToNewAddress()">
                        <div class=" register-page font-form " style="
            float: right;
            ">
                            <button class="btn btn-success">
                                Enter new Address
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--/container-->

<!-- we are hiring -->
<!-- end we are hiring -->
<!-- End Content Part -->

<!--=== Footer Version 1 ===-->
<div ng-include="'app/common/html/footer.html'"></div>
<!--=== End Footer Version 1 ===-->
