<div ng-repeat="housing in housing">
	<div ng-click="location($event, housing.userId, housing.id)"
     class="by_housingCard">
     <div ng-include="'app/shared/common/template/housingCard.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
     </div>
</div>

<div class="animation_image" style="display: block" align="center"
	 ng-if=" housing && housing.length > 0 && !pageInfo.lastPage || pageInfo.isQueryInProgress">
	<img src="assets/img/ajax_scroll_loading.gif" style="margin-bottom: 20px">
</div>