<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed  by_left_panel_homeSlider_position">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 " id="sidebar-nav">
            <li class="list-group-item" ng-click="gotoHref('profileSection')">
                <a>{{label}}</a>
            </li>
            <li class="list-group-item" ng-if="postsUser.length > 0"  ng-click="gotoHref('userPosts')">
                <a>Posts ({{postsPagination.totalPosts}})</a>
            </li>
            <li class="list-group-item" ng-if="qaUser.length > 0"  ng-click="gotoHref('userQA')">
                <a >Q&A ({{qaPagination.totalPosts}})</a>
            </li>
        </ul>

        <div ng-controller="housingProfileLeftCtrl" style="margin-top:-20px;">
            <div class="housingCityWrap">
            	<div class="housingCityHead">Branches in  same city</div>
                <ul class="list-group  sidebar-nav-v1 ">
                    <li class="housingCityHeadThumb" ng-repeat="branch in otherBranches">{{branch.primaryAddress.locality}}</li>
                </ul>
            </div>

            <div class="housingCityWrap">
            	<div class="housingCityHead">Branches in  other city</div>
                <ul class="list-group  sidebar-nav-v1 " >
                    <li class="housingCityHeadThumb" ng-repeat="(key, value) in relatedFacilities">{{key}}</li>
                </ul>
            </div>

        </div>
    </div>

</div>