<div class="profilePopupImages">
    <div class="profilePopupImagesOpacity"></div>
    <div class="profilePopupImagesWrapper">
        <div class="profilePopupImagesWrapperImage">
            <img src=""  alt=""  />
        </div>
        <div class="profilePopupImagesWrapperClose">
            <img src="assets/img/close_button.gif" width="30" height="30" alt="" />
        </div>
    </div>
</div>
<div class="profileHoverImages">
    <img src=""  alt="" />
</div>

<div ng-controller="IndividualProfileController">
    <div class="row whiteBg by_discuss_detail margin-bottom-35" >
        <div class="col-md-12 profileContainer margin-bottom-15 white-gray ">
            <div class="col-md-5" style="padding:0px;">
                <div class="col-md-12 main-image white-gray " style="
    padding: 0px;">
                    <img class="full-width padding-zero" src="{{individualProfile.basicProfileInfo.profileImage.original}}" alt="">
                </div>
                <div class="col-md-12 by-imageGallery margin-top-20 row" ng-if="individualProfile.basicProfileInfo.photoGalleryURLs.length > 0">
                    <div class="by-gallery-leftArrow" ng-click="slideGallery('l')">
                    </div>
                    <div class="by-gallery-container">
                        <div ng-repeat="img in individualProfile.basicProfileInfo.photoGalleryURLs" class="by-imageGallery-item"
                             data-popup="{{img.original || ''}}" data-hover="{{img.thumbnailImage || ''}}" ng-init="galleryClickHover()">
                            <img src="{{img.thumbnailImage || ''}}" fallback-src='["{{img.original||""}}"]'/>
                        </div>
                    </div>
                    <div class="by-gallery-rightArrow" ng-click="slideGallery('r')">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-7">
                <div class="col-md-12 profileMainContent">
                    <div class="profileContentTitle">
                        <span ng-if="gender">{{gender}}</span>
                        <span ng-if="individualProfile.basicProfileInfo.firstName">{{individualProfile.basicProfileInfo.firstName}}</span>
                        <span ng-if="individualProfile.individualInfo.lastName"> {{individualProfile.individualInfo.lastName}}</span>
                    </div>
                    <div class="no-padding">
                        <div class="profileRating" ng-if="individualProfile.ratingCount===0 && individualProfile.reviewCount===0 && isAllowedToReview">
                            <a ng-click="reviewContent()"> Be the first to rate/review</a>
                        </div>
                        <div class="profileRating" ng-if="individualProfile.ratingCount > 0">
                            <i class="rounded-x" rate-calculator="{{individualProfile.ratingPercentage}}"></i>Rated by <a href="">{{individualProfile.ratingCount}} people</a>
                        </div>
                        <div class="profileReview" ng-if="individualProfile.reviewCount > 0">
                            <i class="rounded-x  icon-pencil padding4"></i><a href="">{{individualProfile.reviewCount}} reviews</a>
                        </div><div class="clearfix"></div>
                        <div class="profileRating" ng-if="individualProfile.serviceProviderInfo.yearsExperience">
                            {{individualProfile.serviceProviderInfo.yearsExperience}} years of experience</a>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                    <div class="article" ng-if="individualProfile.serviceProviderInfo.services.length > 0">
                        <ul class="list-inline categoryList"  style="margin-left: 0px; margin-top: 5px;">
                            <li class="list-inline"> Service in</li>
                            <li class="list-inline"
                                ng-repeat="category in individualProfile.serviceProviderInfo.services" style="display: inline-block">
                                <a class="ng-binding" di-href="#/find/{{$root.findCategoryListMap[category].id}}/all"> {{$root.findCategoryListMap[category].name}} </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-12 bg-color-grey" style="margin-bottom: 4px;"></div>
                    <div class="no-padding">
                        <div class="no-padding">
                            <i class="fa fa-envelope"></i>
                            <a href="">{{individualProfile.basicProfileInfo.primaryEmail}}</a>
                        <span ng-repeat="mail in individualProfile.basicProfileInfo.secondaryEmails" ng-if="mail.trim()!==''">
                            / <a href="mailto::{{mail}}">{{mail}}</a>
                        </span>
                        </div>
                        <div class="no-padding" ng-if="individualProfile.basicProfileInfo.primaryPhoneNo">
                            <i class="fa fa-phone"></i>
                            <span>{{individualProfile.basicProfileInfo.primaryPhoneNo}}</span>
                        <span ng-repeat="phoneNo in individualProfile.basicProfileInfo.secondaryPhoneNos" ng-if="phoneNo.trim()!==''">
                            , {{phoneNo}}
                        </span>
                        </div>
                        <div class="no-padding" ng-if="individualProfile.serviceProviderInfo.website">
                            <i class="fa fa-globe"></i>
                            <a ng-href="http://{{institutionProfile.serviceProviderInfo.website}}" target="_blank"> {{individualProfile.serviceProviderInfo.website}} </a>
                        </div>
                        <div class="no-padding profile-home-visit" ng-if="individualProfile.serviceProviderInfo.homeVisits">
                            <input type="checkbox" class="checkBoxTwo" ng-checked="individualProfile.serviceProviderInfo.homeVisits" disabled/>
                            <span>Available for home visit</span>
                        </div>
                    </div>
                    <div class="no-padding profileAddress">
                        <ul class="list-inline">
                            <li class="list-inline" ng-if="individualProfile.basicProfileInfo.userAddress.streetAddress">
                                {{individualProfile.basicProfileInfo.userAddress.streetAddress}}
                            </li>
                            <li class="list-inline" ng-if="individualProfile.basicProfileInfo.userAddress.locality">
                                {{individualProfile.basicProfileInfo.userAddress.locality}}
                            </li>
                            <li class="list-inline" ng-if="individualProfile.basicProfileInfo.userAddress.city">
                                {{individualProfile.basicProfileInfo.userAddress.city}}
                            </li>
                            <li class="list-inline" ng-if="individualProfile.basicProfileInfo.userAddress.country">
                                {{individualProfile.basicProfileInfo.userAddress.country}}
                            </li>
                            <li class="list-inline" ng-if="individualProfile.basicProfileInfo.userAddress.zip">
                                {{individualProfile.basicProfileInfo.userAddress.zip}}
                            </li>
                        </ul>
                    </div>
                    <!--<div class="col-md-12 no-padding">-->
                    <!--<ul class="list-inline margin-left&#45;&#45;2 font-bold">-->
                    <!--<li class="list-inline"><img class=" padding-zero"-->
                    <!--src="assets/img/icons/location.png" alt="">-->
                    <!--</li>-->
                    <!--<li class="list-inline">PUNE</li>-->
                    <!--<li class="list-inline"> | DELHI | BANGALORE-->
                    <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="col-md-12" ng-if="individualProfile.basicProfileInfo.description">
            <div class="articles-story">
                {{individualProfile.basicProfileInfo.description}}
            </div>
        </div>
    </div>

    <!--/end profile details-->

    <div ng-if="reviews && reviews.length > 0"  class="row">
        <div ng-repeat="review in reviews" data-index="discussion-articles"
             data-link="articles.html" ng-include="'app/components/profile/profileReviewCard.html'" ng-if="review.text && review.text.trim().length > 0"></div>
    </div>

</div>
