<div class="row padding20 whiteBg by_discuss_detail margin-bottom-35" ng-controller="InstitutionProfileController">
    <div class="col-md-12 product-main margin-bottom-15 white-gray ">
        <div class="col-md-5" style="padding:0px;">
            <div class="col-md-12 main-image white-gray " style="
    padding: 0px;">
                <img class="full-width padding-zero" src="{{institutionProfile.basicProfileInfo.profileImage.original}}" alt="">
            </div>
            <div class="col-md-12 by-imageGallery margin-top-20 row" ng-if="institutionProfile.basicProfileInfo.photoGalleryURLs.length > 0">
                <div class="by-gallery-leftArrow" ng-click="slideGallery('l')">
                </div>
                <div class="by-gallery-container">
                    <div ng-repeat="img in institutionProfile.basicProfileInfo.photoGalleryURLs" class="by-imageGallery-item">
                        <img src="{{img.titleImage}}" width="100%" alt=""/>
                    </div>
                </div>
                <div class="by-gallery-rightArrow" ng-click="slideGallery('r')">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-7">
            <div class="col-md-12 productMainContent">
                <div class="profileContentTitle">
                    {{institutionProfile.basicProfileInfo.firstName}}
                </div>
                <div class="no-padding">
                    <div class="productRating">
                        <i class="rounded-x">4.2</i>Rated by <a href="">56 people</a>
                    </div>
                    <div class="productReview">
                        <i class="rounded-x  icon-pencil padding4"></i><a href="">18 reviews</a>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="article">
                    <ul class="list-inline categoryList"  style="margin-left: 0px; margin-top: 5px;">
                        <li class="list-inline"> Service in</li>
                        <li class="list-inline"
                            ng-repeat="category in institutionProfile.serviceProviderInfo.services" style="display: inline-block" ng-if="$index < 5">
                            <a class="ng-binding" di-href="#/find/{{$root.findCategoryListMap[category].id}}/all"> {{$root.findCategoryListMap[category].name}} </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12 bg-color-grey" style="margin-bottom: 4px;"></div>
                <div class="no-padding">
                    <div class="no-padding">
                        <i class="fa fa-envelope"></i>
                        <a href="">{{institutionProfile.basicProfileInfo.primaryEmail}}</a>
                    </div>
                    <div class="no-padding">
                        <i class="fa fa-phone"></i>
                        {{institutionProfile.basicProfileInfo.primaryPhoneNo}}
                    </div>
                    <div class="no-padding ">
                        <i class="fa fa-globe"></i>
                        <a href=""> {{institutionProfile.serviceProviderInfo.website}} </a>
                    </div>
                    <div class="no-padding profile-home-visit" ng-if="institutionProfile.serviceProviderInfo.homeVisits">
                        <input type="checkbox" class="checkBoxTwo" ng-checked="institutionProfile.serviceProviderInfo.homeVisits" disabled/>
                        <span>Available for home visit</span>
                    </div>
                </div>
                <div class="no-padding profileAddress">
                    <ul class="list-inline">
                        <li class="list-inline">
                            {{institutionProfile.basicProfileInfo.userAddress.streetAddress}}

                        </li>
                        <li class="list-inline">

                            {{institutionProfile.basicProfileInfo.userAddress.locality}}

                        </li>
                        <li class="list-inline">
                            {{institutionProfile.basicProfileInfo.userAddress.city}}
                            {{institutionProfile.basicProfileInfo.userAddress.country}}
                            {{institutionProfile.basicProfileInfo.userAddress.zip}}
                        </li>

                    </ul>
                </div>
                <!--<div class="col-md-12 no-padding">-->
                    <!--<ul class="list-inline margin-left&#45;&#45;2 font-bold">-->
                        <!--<li class="list-inline"><img class=" padding-zero"-->
                                                     <!--src="assets/img/icons/location.png" alt="">-->
                        <!--</li>-->
                        <!--<li class="list-inline">PUNE</li>-->
                        <!--<li class="list-inline"> | DELHI | BANGALORE-->
                    <!--</ul>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <!--/end housing details-->


    <div class="col-md-12 margin-bottom-20">
        <div class="row whiteBg padding20 borderShadow">
            <div class="articles-story">
                {{institutionProfile.basicProfileInfo.description}}

            </div>

        </div>
    </div>


</div>
    