<div ng-controller="LoadCustomJSController"></div>
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="breadcrumbs">
    <div class="container by_breadcrumbs_container">
        <ul class="pull-right breadcrumb">
            <li class="active"><a>HOME</a></li>
        </ul>
    </div>
    <hr class="breadcrumb-divider"/>
</div>
<!--=== Content Part ===-->
<div class="container by_home_content">
    <div class="row">
        <div class="col-md-3 md-margin-bottom-40 by_left_panel">
            <div class="col-md-12 by_left_panel_fixed">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="" data-ajax="false">SIGNUP INFO</a>
                    </li>
                    <li class="list-group-item">
                        <a href="" data-ajax="false">Your facility</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 md-margin-bottom-40  article-outer-wrapper">

            <div class="row">
                <div class="third-register-page grayRegisterBgLight" style="background:transparent;">
                    <div class="col-md-12 no-padding margin-bottom-20">

                       <div class="col-md-12 no-padding margin-bottom-35">
						    <div id="home_featured_articles" class="col-md-12 no-padding  list-head dp-block">
						        MY INSTITUTION
						    </div>

					    <div class="col-md-12 no-padding bg-gray-h1">
					        <div class="bg-green-h2" style="width: 216px;"></div>
						    </div>
						</div>

                        <div class="col-md-12 product-main margin-bottom-15 white-gray " > <div class="new-banner"><a><img src="assets/img/icons/New-icon.png" width="55" height="24"></a></div>
                  <div class="col-md-5" style="padding:0px;"> <div class=" col-md-12 main-image white-gray "  style="
    padding: 0px;"> <img class="full-width padding-zero" src="assets/img/housing/Luxury_houses-6.jpg" alt=""></div>
    <div class=" col-md-12 main-image padding-top-only-5  " > 
    
    
<div id=" col-md-12 padding-zero slideshow_border">
    <div id="dhtmlgoodies_slideshow">
	<div id="galleryContainer">
		<div id="arrow_left"><img src="assets/img/housing/arrow_left.gif" style="
    height: 70px;" usemap="#Map" border="0">
          <map name="Map">
            <area shape="poly" coords="20,29" href="#">
          </map>
		</div>
		<div id="arrow_right"><img src="assets/img/housing/arrow_right.gif" style="
    height: 70px;"></div>
		<div id="theImages" style="left: 40px;">
				<!-- Thumbnails -->
				<a href="infusion_therapy.html#GLOFLON" onclick="showPreview('assets/img/housing/image1_big.jpg','1');return false"><img src="assets/img/housing/image1.jpg" style="opacity: 0.5;"></a>		
				<a href="infusion_therapy.html#GLOVAL" onclick="showPreview('assets/img/housing/_big.jpg','2');return false"><img src="assets/img/housing/image2.jpg" style="opacity: 1;"></a>		
				<a href="infusion_therapy.html#GLOTHIN" onclick="showPreview('aassets/img/housing/image3_big.jpg','3');return false"><img src="assets/img/housing/image3.jpg" style="opacity: 0.5;"></a>		
				<a href="infusion_therapy.html#GLOCAN" onclick="showPreview('assets/img/housing/image4_big.jpg','4');return false"><img src="assets/img/housing/image4.jpg" style="opacity: 0.5;"></a>		
				<a href="infusion_therapy.html#GLOCANAlpha" onclick="showPreview('assets/img/housing/image5_big.jpg','5');return false"><img src="assets/img/housing/image5.jpg" style="opacity: 0.5;"></a>		
				<a href="infusion_therapy.html#GLOKIT" onclick="showPreview('assets/img/housing/image6_big.jpg','6');return false"><img src="assets/img/housing/image6.jpg" style="opacity: 0.5;"></a>		
						
				<!-- End thumbnails -->
				
				<!-- Image captions -->	
				<div class="imageCaption">This is the caption of image number 1</div>
				<div class="imageCaption">This is the caption of image number 2</div>
				<div class="imageCaption">This is the caption of image number 3</div>
				<div class="imageCaption">This is the caption of image number 4</div>
				<div class="imageCaption">This is the caption of image number 5</div>
				<div class="imageCaption">This is the caption of image number 6</div>
				<div class="imageCaption">This is the caption of image number 7</div>
				<div class="imageCaption">This is the caption of image number 8</div>
				<!-- End image captions -->
				
				<div id="slideEnd"></div>
		</div>
	</div>
</div>
</div>

    <!--End of SlideShow-->
    


    
    </div>
    </div>
                  <div class="col-md-7">
                    <div class="col-md-12 productMainContent">
                                <div class="MainContentTitle">
                                Home Health Care Medical Equipment Supply </div>
                                 <div class="col-md-12 no-padding personalStoryMainContentShare">
                                    <div class="productRating">
                                        <i class="rounded-x">4.2</i>Rated by <a href="">56 people</a>
                                    </div>
                                     <div class="productReview">
                                        <i class="rounded-x  icon-pencil padding4"></i><a href="">18 reviews</a>
                                    </div>
                                     <div class="col-md-12 bg-color-grey margin-bottom-20 margin-top-10"></div>
                                     
                                </div>
                                <div class="col-md-12 no-padding personalStoryMainContentShare">
                                    <div class="float-left">
                                        <i class="fa fa-envelope"></i>  <a href="">info@eternal-springs.com</a>
                                    </div>
                                     <div class="float-left margin-left-10">
                                         | <i class="fa fa-phone"></i> 412 963 900
                                    </div>
                                     <div class="col-md-12 no-padding ">
								         <i class="fa fa-globe"></i> <a href="">www.glohousing.com</a>
                                    </div>
                                </div>
                                <div class="col-md-12 no-padding manufacturerTitle">
                                #3, Lakshmi Road, Shantinagar,  Bangalore 560 027, INDIA.</div>
                                
                                
                               <div class="col-md-12 no-padding"> <ul class="list-inline margin-left--2 font-bold"> <li class="list-inline"><img class=" padding-zero" src="assets/img/icons/location.png" alt=""></li><li class="list-inline">PUNE</li><li class="list-inline"> | DELHI | BANGALORE</ul></div>
                                
                        
                          
                    </div>
                     
                </div>
                    </div>
                    
                    <!--/end housing details-->
                     
               
                    <div class="col-md-12 margin-bottom-20">
                        <div class="row whiteBg padding20 borderShadow">
							<div class="personalStory ">
                            	Provide housing, recreation, medical support, dining facilities and other comfort care to the Elderly, in a hygienic, friendly and homely environment. Geriatric Care Managers coordinate all fsfresources and monitor and manage specially trained Caregivers to deliver personalized, homely services to the guests.

                        	</div>
                   
                        </div>
                    </div>
                    
                     <div class="col-md-12 no-padding margin-bottom-35">
						    <div id="home_featured_articles" class="col-md-12 no-padding  list-head dp-block">
						        MY INSTITUTION
						    </div>

					    <div class="col-md-12 no-padding bg-gray-h1">
					        <div class="bg-green-h2" style="width: 216px;"></div>
						    </div>
						</div>


            

               
                </div>

            </div>
        </div>
    </div>
</div>
<!--/container-->

    