<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed  by_left_panel_homeSlider_position">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 " id="sidebar-nav">
            <li class="list-group-item" ng-click="gotoHref('profileSection')" style="border:0px;">
                <a>{{label}}</a>
            </li>
			<!--  <div class="col-md-12 no-padding by_leftPanel_icons"
				id="by_rate_show" data-link="articles.html"
				ng-if="isAllowedToReview">
				<div class="text add-comment23">
					<i class="review-Icon_rate"></i> Rate & Review
					<div class="clearfix"></div>
				</div>
			</div>-->
			<li class="list-group-item" ng-if="isAllowedToReview && (profileData.userTypes[0] == 7 || profileData.userTypes[0] == 4 )" ng-click="gotoHref('userReviews')" style="border:0px;">
				<a>Rate & Review</a>
			</li>
			<li class="list-group-item" ng-if="postsUser.length > 0"  ng-click="gotoHref('userPosts')" style="border:0px;">
                <a>Posts ({{postsPagination.totalPosts}})</a>
            </li>
            <li class="list-group-item" ng-if="qaUser.length > 0"  ng-click="gotoHref('userQA')" style="border:0px;">
                <a >Q&A ({{qaPagination.totalPosts}})</a>
            </li>
            <!--<li class="list-group-item" ng-if="isAllowedToReview">-->
                <!--<a ng-click="reviewContent()">REVIEW / RATE</a>-->
            <!--</li>-->
        </ul>
    </div>
</div>
<!--All classes from Unify end-->
