<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed  by_left_panel_homeSlider_position">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 " id="sidebar-nav">
            <li class="list-group-item" ng-click="gotoHref('profileSection')">
                <a>{{label}}</a>
            </li>
            <li class="list-group-item" ng-if="postsUser.length > 0"  ng-click="gotoHref('userPosts')">
                <a>Posts ({{postsPagination.totalPosts}})</a>
            </li>
            <li class="list-group-item" ng-if="qaUser.length > 0"  ng-click="gotoHref('userQA')">
                <a >Q&A ({{qaPagination.totalPosts}})</a>
            </li>
            <!--<li class="list-group-item" ng-if="isAllowedToReview">-->
                <!--<a ng-click="reviewContent()">REVIEW / RATE</a>-->
            <!--</li>-->
        </ul>

       <!--  <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-if="isAllowedToReview" ng-click="reviewContent()">
            <i class="icon-custom icon-sm icon_reviewRate"></i>
            <span>Review / Rate</span>
        </div> -->
    </div>
</div>
<!--All classes from Unify end-->
