<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="container " id="profileSection">
    <div class="row">
        <div class="col-md-3  md-margin-bottom-40" ng-include="profileViews.leftPanel"></div>
        <div class="col-md-9   discussion-page md-margin-bottom-40 article-outer-wrapper no-padding-right "
             ng-include="profileViews.contentPanel" ng-init="initUserProfile()" style="padding-right:0px;">
        </div><div class="clearfix"></div>
    </div>
</div>
    <!--/container-->

    <!-- we are hiring -->
    <!-- end we are hiring -->
    <!-- End Content Part -->
