
<div class="col-md-12 bg-color-grey2"
						style="margin-bottom: 18px; margin-top: 5px; height:1px;"></div>
<div ng-controller="ReviewRateController" >
<div class="col-md-12 no-padding by_leftPanel_icons" id="by_rate_show"
	data-link="articles.html" ng-if="isAllowedToReview" ng-click="showRate()">
	 <div class="text"><img src="assets/img/icons/rate.png" /> Rate & Review</div>
</div>
    <form name="reviewRateForm" class="third-register-page grayRegisterBgLight by_editor_wrap" id="by_rate_hide"  novalidate
          style="background:transparent;">
        <!--  <div class="row  margin-bottom-20 review-rate-header">
            <div class="col-md-12 no-padding dp-block">
                Review &amp; Rate <span ng-if="gender">{{gender}}</span>
                <span ng-if="userProfile.basicProfileInfo.firstName">{{userProfile.basicProfileInfo.firstName}}</span>
                <span ng-if="userProfile.individualInfo.lastName"> {{userProfile.individualInfo.lastName}}</span>
            </div>

            <div class="col-md-12 no-padding">
                <div class="bg-green-h2" style="width: 100%;"></div>
            </div>
        </div>-->
        <div class="row  register-page by_rate_bg">
            <div class="col-md-12 margin-bottom-20   register-page reviewRateForm">
             <img  src="assets/img/by.png" alt="image" style="width:43px  !important; margin-left:5px !important; float:left;">
				<div style="width: calc(100% - 56px); float: right;">
					<div class="col-md-12 col-sm-12 col-xs-12 no-padding">
						<div class="col-md-12 margin-bottom-10 margin-top-10">Please rate this
							service:</div>
						<div class="col-md-12 margin-bottom-10">
							<div class="divLeft by_rating_left"
								ng-click="selectRating(1, $event)">
								<div class="profileRateValues profileRate1">1</div>
								<div class="clearfix"></div>
								<div class="text">Terrible</div>
							</div>
							<div class="divLeft by_rating_left"
								ng-click="selectRating(2, $event)">
								<div class="profileRateValues profileRate2">2</div>
								<div class="clearfix"></div>
								<div class="text">Poor</div>
							</div>
							<div class="divLeft by_rating_left"
								ng-click="selectRating(3, $event)">
								<div class="profileRateValues profileRate3">3</div>
								<div class="clearfix"></div>
								<div class="text">Average</div>
							</div>
							<div class="divLeft by_rating_left"
								ng-click="selectRating(4, $event)">
								<div class="profileRateValues profileRate4">4</div>
								<div class="clearfix"></div>
								<div class="text">Good</div>
							</div>
							<div class="divLeft by_rating_left"
								ng-click="selectRating(5, $event)">
								<div class="profileRateValues profileRate5">5</div>
								<div class="clearfix"></div>
								<div class="text">Excellent</div>
							</div><div class="clearfix"></div>
						</div>
						<div class="col-md-12 margin-bottom-10">
							<div style="height:1px; background:#ccc; margin-top:10px;"></div>							
						</div>
						<div class="col-md-12 margin-bottom-10">Please write a review:</div>
						<div class="col-md-12 margin-bottom-1">
							<div class="0 home-address byEditor"
								style="border: 1px solid #ccc;">
								<textarea class="textbox" rows="3" style="height: 100px;"
									id="reviewTextArea" ng-model="reviewText"></textarea>
							</div>
						</div>
						<div>
							<span ng-show="blankReviewRateError" class="errorRed">Please
								rate/review <span ng-if="gender">{{gender}}</span> <span
								ng-if="userProfile.basicProfileInfo.firstName">{{userProfile.basicProfileInfo.firstName}}</span>
								<span ng-if="userProfile.individualInfo.lastName">
									{{userProfile.individualInfo.lastName}}</span>
							</span> <span ng-show="unauthorizeUserError" class="errorRed">
								You are not authorized to review/rate this profile </span>
						</div>

						<div class="col-md-12  margin-bottom-10">
							<input style="font-size: 15px;" type="submit" value="Submit" id="reviewSubmit"
								class="btn btn-sm btn-success comment-submit by_btn_submit by-editor-submit-btn "
								ng-click="postReview(individualForm)" /> <input style="font-size: 15px;" type="submit"
								value="Cancel"
								class="btn btn-sm btn-success comment-submit by_btn_cancel "
								ng-click="hideRate()" />
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
        </div>


        

    </form>

</div>
