<ul class="pagination" ng-init="getPageArray()">
    <!--<li ng-click="firstPageSet()"><a>First</a></li>-->
    <li ng-click="previousPageSet(selectedPageNo-1)" ng-class="{disabled:prevDisabled}"><a>Previous</a></li>
    <li ng-repeat="page in pageArray track by $index"
        ng-class="{true:'active'}[page===selectedPageNo]"
        ng-click="selectPage(page)">
        <a>{{page+1}}</a>
    </li>
    <li><a>... of &nbsp;{{contentPagination.noOfPages}}</a></li>
    <li ng-click="nextPageSet(selectedPageNo+1)" ng-class="{disabled:nextDisabled}"><a>Next</a></li>
    <!--<li ng-click="lastPageSet()" ng-class="{disable:lastDisabled}"><a>Last</a></li>-->
</ul>