<div class="blog-author margin-bottom-35 main-article replyCard" data-index="discussion-articles"
     data-link="articles.html">
    <img src="assets/img/by.jpg" alt="image" class="replyCardImg">

    <div class="article-share-links news-v3" style="position: relative;top: -10px;">
        <ul class="post-shares post-shares-lg">
            <li class="add-comment">
                <a ng-click="createNewComment(reply.id)">
                    <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
                    <span ng-if="reply.childrenCount > 0">{{reply.childrenCount}}</span>
                </a>

                <div class="post-text post_text-comment"
                     ng-click="createNewComment(reply.id)">Comment
                </div>
            </li>
            <li ng-controller="DiscussLikeController">
                <a ng-click="likeComment(reply.id, reply.replyType)">
                    <i class="rounded-x icon-heart" title="Likes"></i>
                    <span ng-if="beforePost">{{reply.likeCount}}</span>
                    <span ng-model="aggrLikeCount" ng-if="!beforePost">{{aggrLikeCount}}</span>
                </a>
                <a ng-click="likeComment(reply.id, reply.replyType)">
                    <div class="post-text">
                        Like
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="article-info dp-inline-block">
        <ul class="list-inline posted-info">
            <li> {{reply.userName}}</li>
            <li>{{reply.createdAt | date:'medium'}}</li>
        </ul>
    </div>

    <div class="articles-story" ng-bind-html="trustForcefully(reply.text)"></div>
    <div style="clear: both"></div>
    <div class="inner-enter-comment-wrap whiteBg padding20SM borderShadow" style="margin-bottom: 20px;" id="commentEditor" ng-show="showEditor">

        <textarea rows="3" id={{reply.id}}></textarea>

        <button class="inner-comment-submit btn btn-sm btn-success" type="submit"
                ng-click="postComment(reply.discussId, reply.id)">SUBMIT
        </button>
        <span/>
        <button class="inner-comment-submit btn btn-sm btn-success by_btn_cancel"
                ng-click="disposeComment()">CANCEL
        </button>
        <div style="clear: both"></div>
    </div>

    <div ng-if="reply.replies && reply.replies.length > 0" class="noTopBorder">
        <hr/>
        <div  ng-repeat="reply in reply.replies" ng-controller="DiscussReplyController" ng-include="'app/shared/common/template/replyCard.html'"></div>
    </div>
</div>



