<div class="col-md-12 iconBg">
    <div class="col-md-11 iconBgLeft">
        Thank you for registering an account with us! This would allow you to Thank you for registering
        an account with us!<br/> This would allow you to
    </div>
    <div class="col-md-1 iconBgRight">i</div>
</div>
<div class="col-md-12 whiteBg padding20 borderShadow ">
    <div class="col-md-5">
        <form class="reg-page by_reg-page" name="loginForm" ng-submit="loginUser(user)" novalidate>
            <div class="reg-header by_reg-header">
                Please log in if you have already registered with us:
            </div>
            <div ng-show="error"><font color="red">{{error}}</font></div>
            <div ng-show="message"><font color="green">{{message}}</font></div>

            <div class="input-group margin-bottom-20">
                <input type="text" placeholder="Please enter your Email ID" ng-model="user.email" class="form-control">
            </div>
            <span>
				<p ng-show="loginForm.email.$invalid && loginForm.email.$pristine" class="help-block">Email is required.</p>
            </span>
            <div class="input-group margin-bottom-20">
                <input type="password" placeholder="Please enter your password" ng-model="user.password" class="form-control">
            </div>
             <span>
				<p ng-show="loginForm.password.$invalid && loginForm.password.$pristine" class="help-block">Password is required.</p>
             </span>
            <h4>Forget your Password ?</h4>

            <p><a class="color-green" href="#">click here</a> to get a reminder over email.</p>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn-u pull-right loginButtonRight" type="submit" ng-disabled="!loginForm.$valid">Login</button>
                </div>
            </div>
            <hr>


        </form>
    </div>
    <div class="col-md-2">
        <div class="orWrapper">
            OR
        </div>
    </div>
    <div class="col-md-5 orWrapperRight">
        <form class="reg-page by_reg-page" name="userForm" ng-submit="createNewUser(userForm.$valid)" novalidate>
            <div class="reg-header by_reg-header">
                Not registered yet? <br/>
                No worries, it takes just a few seconds!
            </div>
 			<div ng-show="createUserError"><font color="red">{{createUserError}}</font></div>
			<div ng-show="createUserSuccess"><font color="green">{{createUserSuccess}}</font></div>
			
            <div class="input-group margin-bottom-20" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
               <input type="text" placeholder="Please enter your Email ID" class="form-control" ng-model="newUser.email">
               <span><p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p></span>
            </div>
            <div class="input-group margin-bottom-20" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
                <input type="text" placeholder="Please select your User Name (optional)" class="form-control" ng-model="newUser.userName">
                <span><p ng-show="userForm.userName.$invalid && userForm.userName.$pristine" class="help-block">Screen Name is required.</p></span>
            </div>
            <div class="input-group margin-bottom-20" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <input type="password" placeholder="Please enter your password" class="form-control" ng-model="newUser.password">
                <span><p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password is required.</p></span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn-u pull-right loginButtonRight" type="submit">Register</button>
                </div>
            </div>
            <hr>
        </form>
    </div>
</div>
<div class="col-md-12 whiteBg padding20 borderShadow" style="margin-top: 0px;
  margin-bottom: 20px;">
    <div class="col-md-6 loginBottom ">
        <strong class="loginHead">You could also use your Social login to sign up.</strong><br/><i
            class="fa fa-lock"></i> Be assured, BeautifulYears do not share your information
    </div>
    <div class="col-md-6 loginBottomRight margin-top-20">
        <a href=""><img src="assets/img/icons/login/FBLogin.png" alt=""/></a>
        <a href=""><img src="assets/img/icons/login/GoogleLogin.png" alt=""/></a>
    </div>
</div>

<script type="text/javascript">
//    BY.addPlaceHolderEvent();
</script>