<div class="col-md-12 margin-bottom-20 iconBg">
    <div class="col-md-11 iconBgLeft">
        Thank you for registering an account with us! This would allow you to Thank you for registering
        an account with us!<br/> This would allow you to
    </div>
    <div class="col-md-1 iconBgRight">i</div>
</div>
<div class="col-md-12 whiteBg padding20 borderShadow ">
    <div class="col-md-5">
        <div class="loginHead col-md-12 margin-top-20">
            Please log in if you have
            already registered with us:
        </div>
        <div class="col-md-12 margin-top-20">
            <input type="text" class="username-textbox textbox textItalic"
                   placeholder="Please enter your Email ID"/>
        </div>
        <div class="col-md-12 margin-top-20">
            <input type="text" class="username-textbox textbox textItalic"
                   placeholder="Please enter your password"/>
        </div>
        <div class="col-md-12 margin-top-20 loginForGotText">
            Forgot your password? <br/>
            <a href="">Click here</a> to get a reminder over email.
        </div>
        <div class="col-md-12 margin-top-20 margin-bottom-20">
            <input type="button" value="Login" class="loginButtonRight"/>
        </div>
    </div>
    <div class="col-md-2">
        <div class="orWrapper">
            OR
        </div>
    </div>
    <div class="col-md-5 orWrapperRight">
        <div class="loginHead col-md-12 margin-top-20">
            Not registered yet? <br/>
            No worries, it takes just a few seconds!
        </div>
        <div class="col-md-12 margin-top-20">
            <input type="text" class="username-textbox textbox textItalic"
                   placeholder="Please enter your Email ID"/>
        </div>
        <div class="col-md-12 margin-top-20">
            <input type="text" class="username-textbox textbox textItalic"
                   placeholder="Please enter your password"/>
        </div>
        <div class="col-md-12 margin-top-20">
            <input type="text" class="username-textbox textbox textItalic"
                   placeholder="Please enter your password"/>
        </div>
        <div class="col-md-12 margin-top-20 margin-bottom-20">
            <input type="button" value="Register" class="loginButtonRight"/>
        </div>
    </div>
</div>
<div class="col-md-12 whiteBg padding20 borderShadow borderTopZero">
    <div class="col-md-6 loginBottom ">
        <strong class="loginHead">You could also use your Social login to sign up.</strong><br/><i
            class="fa fa-lock"></i> Be assured, BeautifulYears do not share your information
    </div>
    <div class="col-md-6 loginBottomRight margin-top-20">
        <a href=""><img src="assets/img/FBLogin.png" alt=""/></a>
        <a href=""><img src="assets/img/GoogleLogin.png" alt=""/></a>
    </div>
</div>