<div ng-controller="LoadCustomJSController"></div>
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="breadcrumbs">
    <div class="container by_breadcrumbs_container">
        <ul class="pull-right breadcrumb">
            <li class="active"><a>LOGIN</a></li>
        </ul>
    </div>
    <hr class="breadcrumb-divider"/>
</div>
<div class="container by_home_content">
    <div class="row">
        <div class="col-md-3 by_left_panel" ng-include="signupViews.leftPanel"></div>
        <div class="col-md-9 by_right_panel" ng-include="signupViews.contentPanel"></div>
    </div>
</div>