<div class="container content breadCrumbMargin register-page">
    <div class="row">
        <div class="col-md-3 md-margin-bottom-40 left-container">
            <div class="col-md-12 left-container-img-wrapper no-padding">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <a href="register_1.html" data-ajax="false">SIGNUP INFO</a>
                    </li>
                    <li class="list-group-item">
                        <a href="register_2.html" data-ajax="false">I AM..</a>
                    </li>
                    <li class="list-group-item  active selected">
                        <a href="register_3.html" data-ajax="false">MY DEPENDENTS</a>
                    </li>
                    <li class="list-group-item">
                        <a href="register_4.html" data-ajax="false">ABOUT ME</a>
                    </li>
                    <li class="list-group-item">
                        <a href="register_5.html" data-ajax="false"> VOLUNTEERING</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 md-margin-bottom-40  article-outer-wrapper">

            <div class="row">
                <div class="third-register-page grayRegisterBgLight">
                    <div class="col-md-12 no-padding margin-bottom-20">

                        <div class="col-md-12 no-padding  list-head dp-block">
                            BASIC INFO
                        </div>

                        <div class="col-md-12 no-padding bg-gray-h1">
                            <div class="bg-green-h2" style="
                                width: 216px;
                                "></div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <div class="row whiteBg padding20 borderShadow">

                            <div class="col-md-5 divRight">
                                <div class="col-md-12 margin-bottom-20 iconBg">
                                    <div class="col-md-10 iconBgLeft">
                                        New services for elder people have started appearing in India. Information in
                                        this section would allow us to search for relevant services for your mother (and
                                        for you). It will also allow us to connect you to people in a similar situation
                                        for mutual support and advice, in case you’d be interested to.
                                    </div>
                                    <div class="col-md-2 iconBgRight">i</div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-5">
                                        I am taking care of my
                                    </div>
                                    <div class="col-md-7 no-padding">
                                        <div class="col-md-12 no-padding-right">
                                            <select class="taking-care-select form-control grayBgLogin ">
                                                <option data-gender="0" value="0">Mother</option>
                                                <option data-gender="1" value="1">Father</option>
                                                <option data-gender="0" value="2">Mother-in-Law</option>
                                                <option data-gender="1" value="3">Father-in-Law</option>
                                                <option data-gender="0" value="4">Wife</option>
                                                <option data-gender="1" value="5">Husband</option>
                                                <option data-gender="0" value="6">Sister</option>
                                                <option data-gender="1" value="7">Brother</option>
                                                <option data-gender="1" value="8">Uncle</option>
                                                <option data-gender="0" value="9">Aunt</option>
                                                <option data-gender="3" value="10">Friend</option>
                                                <option data-gender="2" value="11">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 otherGender marginRightMinus5">
                                    <div class="col-md-5">
                                        Gender
                                    </div>
                                    <div class="col-md-7 no-padding">
                                        <div class="col-md-12 no-padding-right">
                                            <select class="taking-care-select-2 form-control grayBgLogin">
                                                <option data-gender="" value="0">Select his/her gender</option>
                                                <option data-gender="0" value="1">Female</option>
                                                <option data-gender="1" value="2">Male</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-5">
                                        <span class="gender-her">Her</span> first name is
                                    </div>
                                    <div class="col-md-7 no-padding-right">
                                        <input type="text" class="name-textbox textbox grayBg" name="name"
                                               placeholder="Please type first name"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-5">
                                        <span class="gender-her">Her</span> last name is
                                    </div>
                                    <div class="col-md-7 no-padding-right">
                                        <input type="text" class="name-textbox textbox grayBg" name="name"
                                               placeholder="Please type last name"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-5">
                                        <span class="gender-her">Her</span> age is
                                    </div>
                                    <div class="col-md-7 no-padding-right">
                                        <input type="text" class="name-textbox textbox grayBg" name="name"
                                               placeholder="XX Years old"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">
                                        <span class="gender-she">She</span> lives in
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        Country
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Country</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        City
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Country</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        Locality
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Country</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">
                                        Most of the time
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="divLeft col-md-10 col-xs-10">
                                        <span class="gender-she">She</span> is independent; just minor assistance with
                                        chores is required
                                    </div>
                                    <div class="textRight col-md-2 col-xs-2">
                                        <input type="checkbox"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="divLeft col-md-10 col-xs-10">
                                        <span class="gender-she">She</span> requires assistance with personal hygiene,
                                        eating, etc.
                                    </div>
                                    <div class="textRight col-md-2 col-xs-2">
                                        <input type="checkbox"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="divLeft col-md-10 col-xs-10">
                                        <span class="gender-she">She</span> requires assistance of a skilled nurse
                                    </div>
                                    <div class="textRight col-md-2 col-xs-2">
                                        <input type="checkbox"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-10 col-xs-10">
                                        <span class="gender-she">She</span> is struggling for her life.
                                    </div>
                                    <div class="textRight col-md-2 col-xs-2">
                                        <input type="checkbox"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">
                                        <span class="gender-she">She</span> is suffering from
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        Emotional Issues
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control suffering-from-selector country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Select</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        Medical Issues
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Select</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-5">
                                        Other Issues
                                    </div>
                                    <div class="col-md-7 no-padding-right">
                                        <input type="text" class="name-textbox textbox grayBg" name="name"
                                               placeholder="Eg. Financial Issues, etc."/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">

                                    </div>
                                </div>
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-9 col-xs-9">
                                        Please keep this information private
                                    </div>
                                    <div class="col-md-3 col-xs-3 no-padding-right textRight">
                                        Yes <input type="radio" checked=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding margin-bottom-20">

                        <div class="col-md-12 no-padding   list-head dp-block">
                            ABOUT MY <span class="thisADD">MOTHER</span>
                        </div>

                        <div class="col-md-12 no-padding bg-gray-h1">
                            <div class="bg-green-h2" style="
                                width: 250px;
                                "></div>
                        </div>
                    </div>

                    <div class="col-md-12 margin-bottom-20">
                        <div class="row whiteBg padding20 borderShadow">

                            <div class="col-md-5 divRight">
                                <div class="col-md-12 margin-bottom-20 iconBg">
                                    <div class="col-md-12 iconBgLeft">
                                        This information would allow us to search for interesting (online and real
                                        world) activities and new friends for your mom, should she be interested in
                                        them.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">
                                        Significant Date
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        <span class="gender-her">Her</span> Birthday
                                    </div>
                                    <div class="col-md-7">
                                        <section class="col col-6">
                                            <label class="input fontWeightNormal">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" class="name-textbox textbox birthday datepicker"
                                                       name="name" id="datepicker" readonly/>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 margin-top-20 add-sig-wrap">
                                    <div class="col-md-offset-5 col-md-7">
                                        <a class="add-sig">+ another significant date</a>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">

                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        <span class="gender-she">She</span> is
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Married</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        <span class="gender-she">She</span> speaks
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Select</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        <span class="gender-she">She</span> is interested in
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control interests-selector country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Select</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        This is what
                                        <span class="gender-she">She</span> likes doing
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control likes-doing-selector country-select grayBgLogin">
                                            <option value="0" selected="" disabled="">Select</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">AOther</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">

                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="divLeft col-md-10 col-xs-10">
                                        <span class="gender-she">She</span> is computer literate
                                    </div>
                                    <div class="textRight col-md-2 col-xs-2">
                                        <input type="checkbox"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        <span class="gender-her">Her</span> Email ID
                                    </div>
                                    <div class="col-md-7">
                                        <input type="email" class="textbox email-text"/>
                                    </div>
                                </div>
                                <div class="row add-email-wrap margin-bottom-20">
                                    <div class="col-md-offset-5 col-md-7">
                                        <a class="add-email">+ add another email id</a>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">

                                    </div>
                                </div>
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-5">
                                        <span class="gender-she">She</span> is interested in
                                    </div>
                                    <div class="col-md-7 no-padding-right">
                                        <input type="text" class="name-textbox textbox grayBg" name="name"
                                               placeholder="Type  intrest"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-5">
                                        This is what <span class="gender-she">She</span>
                                        likes doing
                                    </div>
                                    <div class="col-md-7 no-padding-right">
                                        <input type="text" class="name-textbox textbox grayBg" name="name"
                                               placeholder="Type  intrest"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 registerclassLogin">
                                    <div class="col-md-12 grayBgLogin">

                                    </div>
                                </div>
                                <div class="row margin-bottom-20 marginRightMinus5">
                                    <div class="col-md-9 col-xs-9">
                                        Please keep this information private
                                    </div>
                                    <div class="col-md-3 col-xs-3 no-padding-right textRight">
                                        Yes <input type="radio" checked=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 no-padding margin-bottom-20">

                        <div class="col-md-12 no-padding   list-head dp-block textUppercase">
                            <span class="gender-her">Her</span> story
                        </div>

                        <div class="col-md-12 no-padding bg-gray-h1">
                            <div class="bg-green-h2" style="
                                width: 250px;
                                "></div>
                        </div>
                    </div>
                    <div class="col-md-12 margin-bottom-20">
                        <div class="row whiteBg padding20 borderShadow">

                            <div class="col-md-5 divRight">
                                <div class="col-md-12 margin-bottom-20 iconBg">
                                    <div class="col-md-12 iconBgLeft">
                                        Please tell us more about your <span class="thisADD">mother</span>. We would
                                        like to know what kind of a person <span class="gender-she">she</span> is. What
                                        is <span class="gender-her">Her</span> life story? How is she coping with <span
                                            class="gender-her">her</span> condition? And how are YOU coping with <span
                                            class="gender-her">her</span> condition?
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="textbox home-address" rows="3"
                                                  placeholder="Please enter your text here"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-5 divRightNone">
                                <div class="col-md-12 margin-bottom-20 iconBg">
                                    <div class="col-md-12 iconBgLeft">
                                        A picture is worth a thousand words!
                                        Please upload photos & videos of your <span class="thisADD">mother</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                        <img src="assets/img/UploadPhotos.png" width="100%" alt=""
                                             class="submitTextFileButton"/>
                                        <input type="file" id="submitTextFile"/>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                        <img src="assets/img/UploadVideos.png" width="100%" alt=""
                                             class="submitTextFileButton2"/>
                                        <input type="file" id="submitTextFile2"/>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12 margin-top-20">
                                <div class="row">
                                    <div class="col-md-3 col-xs-4">
                                        <img src="assets/img/photoPlace.png" width="100%" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-xs-4">
                                        <img src="assets/img/photoPlace.png" width="100%" alt=""/>
                                    </div>
                                    <div class="col-md-3 col-xs-4">
                                        <img src="assets/img/videoPlace.png" width="100%" alt=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <div class="col-md-12 margin-top-20">
                        <div class="row" style="height:1px; background:#ccc;"></div>
                    </div>

                    <div class="col-md-12 margin-top-20 ">
                        <div class="row">
                            <div class="col-md-8 margin-bottom-20">
                                Do you care for another person ? Please press the button to add him/her
                            </div>
                            <div class="col-md-4 divRight textRight paddingRight0">
                                <input type="button" value="+ Add Another Person" class="nextButton nextButton2"/>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 margin-bottom-20 margin-top-20">
                        <div class="row" style="height:1px; background:#ccc;"></div>
                    </div>

                    <div class="col-md-12 margin-top-20 margin-bottom-20">
                        <div class="row">
                            <input type="button" value="Next" class="nextButton"/>
                            <input type="button" value="Return" class="returnButton"/>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-md-12 margin-top-20 margin-bottom-20">
                        <div class="row">

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>