<div class="col-md-9 md-margin-bottom-40  margin-top-20 article-outer-wrapper">
    <div class="second-register-page">
        <div class="col-md-12 margin-bottom-20 iconBg">
            <div class="col-md-11 iconBgLeft">
                Thank you for registering with us!! <br/>
                Filling in your Profile would take you about 10-15 min. It will help us provide you with relevant information, It will help you find like-minded people in our community - and to be found by others.<br/>
                If you don't have time now, you can press    <a href="">RETURN</a>       to go back, and edit your Profile any time later (by clicking your Profile icon on the top of the  screen).  <br/>
                So, let’s get acquainted! Could you please tell us about yourself:
            </div>
            <div class="col-md-1 iconBgRight">i</div>
        </div>
        <div class="col-md-12 margin-top-20 whiteBg padding20 borderShadow">
            <div class="col-md-7">
                <div class="col-md-12 margin-bottom-20">
                    <div class="divLeft">
                        I takie care of a senior person
                    </div>
                    <div class="divRight">
                        <input type="checkbox" class="checkBoxOne" />
                    </div>
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <div class="divLeft">
                        I am not that young, but I am young at heart
                    </div>
                    <div class="divRight">
                        <input type="checkbox" class="checkBoxOne" />
                    </div>
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <div class="divLeft">
                        I volunteer with senior people
                    </div>
                    <div class="divRight">
                        <input type="checkbox"  class="checkBoxOne"/>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <div class="divLeft">
                        I am an elder care professional
                    </div>
                    <div class="divRight">
                        <input type="checkbox" class="checkBoxOne" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-5 iconBg">
                <div class="iconBgLeft">
                    Please select any of these options if you are an Individual person
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-top-20 whiteBg padding20 borderShadow">
            <div class="col-md-7">
                <div class="col-md-12 margin-bottom-20">
                    <div class="divLeft">
                        I represent a business establishment
                    </div>
                    <div class="divRight">
                        <input type="checkbox" class="checkBoxTwo" />
                    </div>
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <div class="divLeft">
                        I represent a NGO
                    </div>
                    <div class="divRight">
                        <input type="checkbox"  class="checkBoxFour" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-5 iconBg">
                <div class="iconBgLeft">
                    Please select one of these options if you  represent an institution
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-top-20 whiteBg padding20 borderShadow">
            <div class="col-md-7">
                <div class="col-md-12 margin-bottom-20">
                    <div class="divLeft">
                        None of the above!
                    </div>
                    <div class="divRight">
                        <input type="checkbox"  class="checkBoxThree" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-12 noneOfTheAbove">
                <div class="col-md-12 margin-bottom-20">
                    <div class="divLeft">
                        I am
                    </div>
                    <div class="divLeft col-md-6" style="margin-left:10px;">
                        <input type="text" class="username-textbox textbox textItalic" placeholder="Type here please" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 margin-top-20 margin-bottom-20">
            <input type="button" value="Next" class="nextButton" />
            <input type="button" value="Return" class="returnButton" />
            <div class="clearfix"></div>
        </div>
    </div>
</div>