<div>
<span class="active by_breadcrum_greenColor" ng-repeat="breadCrumb in varStack.breadcrumb.list"><a href="#{{breadCrumb.url}}" ng-click="reloadRoute()">{{breadCrumb.displayName}}</a> &gt; </span>
<span class="by_breadcrum_greenColor">{{varStack.breadcrumb.last}}</span>
</div>
<div class="clearfix" style="height:10px;"></div>
<div class="col-md-12 product-main margin-bottom-15 by_pruductDetailed_bgWhite" style="border:0px;">
    <div class="new-banner">
                        <!-- <a><img src="assets/img/icons/New-icon.png" width="55" height="24">
                    </a> -->
                </div>
                <div class="col-md-5" style="padding:0px;">
                    <div class=" col-md-12 main-image" style="padding: 0px;">
                        <img class="full-width padding-zero" ng-src="{{uiData.primaryMedia.url}}">
                    </div>
                    <div class=" col-md-12 main-image padding-top-only-5  ">
                        <div id=" col-md-12 padding-zero slideshow_border">
                            <div id="dhtmlgoodies_slideshow" style="border:0px;">
                                <div id="galleryContainer">
                                    <div id="arrow_left"><img src="assets/img/icons/arrow_left.gif" style="
                                        height: 40px;  margin-top:10px;" usemap="#Map" border="0">
                                        <map name="Map">
                                            <area shape="poly" coords="20,29" href="#">
                                        </map>
                                    </div>
                                    <div id="arrow_right"><img src="assets/img/icons/arrow_right.gif" style="
                                        height: 40px;  margin-top:10px;">
                                    </div>
                                    <div id="theImages" style="left: 40px;">
                                        <!-- Thumbnails -->
                                        <a ng-repeat="media in uiData.mediaItems"
                                        on-finish-render="ngRepeatFinished">
                                        <div ng-if="media.type === 'image'">
                                            <img ng-src="{{media.url}}" style="opacity: 0.5;width:60px;">
                                        </div>
                                        <!-- Set image of video -->
                                        <div ng-if="media.type === 'video'">
                                            <img src="{{media.poster}}" style="opacity: 0.5;width:60px;"
                                            ng-click="playVideo(media.url)" id="posterImage">
                                            <video src="{{media.url | handleInterpolate}}"
                                            crossorigin="anonymous" controls autoplay
                                            class="set-video-frame" video-image id="video">
                                        </video>
                                        <canvas id="thecanvas"></canvas>
                                    </div>
                                    <!-- End image video -->
                                    <div ng-if="media.type === 'notSupportedMedia'">
                                        <img data-toggle="tooltip" data-placement="top"
                                        title="Unsupported video file! Application supported only mp4, webm, ogg video files!"
                                        ng-src="{{media.poster}}" style="opacity: 0.5;width:60px;">
                                    </div>
                                </a>
                                <!-- End thumbnails -->
                                <div id="slideEnd"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of SlideShow-->
                <div id="hover-images">
                    <img src="assets/img/product/image1.jpg" style="opacity:1;">
                </div>
            </div>
        </div>
        <div class="col-md-7 by_productDetail_contentNoPadding">
            <div class="by_productDetail_contentHead by_productDetail_mobileSpace" ng-if="uiData.name">
                {{uiData.name}}
            </div>
            <div class="by_productDetail_contentAuthor">
                <span ng-if="uiData.manufacturer">Manfactured by {{uiData.manufacturer}}</span>
            </div>
            <div class="by_productDetail_devider"></div>
            <div class="by_productDetail_contentPrice">
                Our price : 
                <strong>Rs. {{uiData.salePrice.amount}}</strong> 
                <del><small>Rs. {{uiData.retailPrice.amount}}</small></del>
                <span class="by_productDetail_contentPriceOffer"><strong>5% Off</strong></span>
            </div>
            <div class="by_productDetail_devider"></div>
            <div class="by_productDetail_contentAvilable">
                <span ng-if="quantityAvailable == 0">Not available in stock</span>
                <span ng-if="undefined !== inventoryType && inventoryType !== constant.alwaysAvailable && quantityAvailable > 0">
                    Available in stock  | Only <strong>{{quantityAvailable}}</strong> Left
                </span>
            </div>
            <div class="by_productDetail_contentCOD">
                Cash on Delivery : 
                <span ng-if="uiData.cashOnDelivery">
                    <strong>Eligible</strong>
                </span>
                <span ng-if="!uiData.cashOnDelivery">
                    <strong>Not Eligible</strong>
                </span>
            </div><div class="clearfix" style="height:6px;"></div>

            <div class="pincode-available">
                <div class="pincode-form-wrap pincode-availableContent">
                    <div class="Cash-check-pin divLeft">
                        <div class=" singleinline"><img
                            src="assets/img/product/location.png" width="12">
                        </div>
                        Check Availability at
                    </div>
                    <div class="pincode-form divLeft">
                        <form name="pincode-form" class="pinCheck">
                            <input type="number" minlength="6" maxlength="6"
                            placeholder="Pincode" autocomplete="off" name="pincode"
                            id="pincode" ng-model="pincode"
                            class="pincode  textbox-nowidth"
                            ng-disabled="!uiData.cashOnDelivery" min="1" style="width:95px;">
                            <input type="submit" href="javascript:void(0)"
                            class="btn btn-sm btn-default  pull-right  grayBg" value="Check" style="height:26px; background:#4e4e4e; color:#fff;"
                            ng-disabled="!pincode-form.pincode.$valid"
                            ng-click="checkProductCashOnDeliveryPincode(pincode)">
                        </form>
                    </div>
                </div>
                <div>
                    <div ng-show="pincodeAvailablity === 1">
                        <div class="success-message">
                            Available with Seller at {{availablePincode}}
                        </div>
                    </div>
                    <div ng-show="pincodeAvailablity === 0">
                        <div class="error-message">
                            Not Available with any Seller at {{availablePincode}}
                        </div>
                    </div>
                </div><div class="clearfix" style="height:8px;"></div>
            </div>
            <div class="by_productDetail_contentCOD">
                 Delivered within: 
                 <strong ng-show="rateServiceSeverity === 'SUCCESS'">
                     {{estimatedDays}} - {{estimatedDays + 2}}  business days
                 </strong>
                 <strong ng-show="rateServiceSeverity === 'ERROR'">
                     {{rateServiceMessage}}
                 </strong>
            </div>

            <div class="by_productDetail_contentCall">
                <b>Call for assistant 080-67818181</b>
            </div>

            <div class="by_productDetail_contentModelNumber">
                Model No: {{uiData.id}}
            </div>
            
    </div><div class="clearfix" style="height:8px;"></div>
    
   
    <div class="qty-cart-buy margin-bottom-20">
        <form name="f1"  class="divLeft by_productDetail_contentQuantity">
            <button class="by_productDetail_contentQuantityButton" type="button" name="add" ng-disabled="userRequiredQuantity === 1" ng-click="userRequiredQuantity = userRequiredQuantity - 1">
                -
            </button>
            <input type="number" min="1" class="by_productDetail_contentQuantityFeild" name="qty" id="qty" value="{{userRequiredQuantity}}" ng-model="userRequiredQuantity" required ng-disabled="addToCartDisable || quantityAvailable === 0">
            <button class="by_productDetail_contentQuantityButton" type="button"  name="add"  ng-click="userRequiredQuantity = userRequiredQuantity + 1" ng-disabled="addToCartDisable || quantityAvailable === 0">
                +
            </button>
        </form >
        <button type="button" class="btn-u by_productDetail_buttonBg" ng-if="inventoryType === 'CHECK_QUANTITY' || inventoryType === 'UNAVAILABLE' || inventoryType === null" ng-disabled="userRequiredQuantity > quantityAvailable || addToCartDisable || f1.qty.$invalid" ng-click="addProductToCart(productId)">
            <span class="cart-icon">
              <img class="cart-icon-img" src="assets/img/product/cart.png" width="19" height="13" /></span> 
              Add to Cart
          </button>
          <button type="button" class="btn-u buy-product by_productDetail_buttonBg" ng-if="inventoryType === 'CHECK_QUANTITY' || inventoryType === 'UNAVAILABLE' || inventoryType === null" ng-disabled="userRequiredQuantity > quantityAvailable || addToCartDisable || f1.qty.$invalid" ui-sref="cart" ng-click="addProductToCart(productId)">
            <span class="cart-icon">
              <img class="buy-icon-img" src="assets/img/product/buy.png" width="19" height="13" /></span> 
              Buy Now
          </button>
          <button type="button" class="btn-u by_productDetail_buttonBg" ng-if="inventoryType === 'ALWAYS_AVAILABLE'"
          ng-disabled="addToCartDisable || f1.qty.$invalid" ng-click="addProductToCart(productId)">
          <span class="cart-icon">
              <img class="cart-icon-img" src="assets/img/product/cart.png" width="19" height="13"></span> 
              Add to Cart
          </button>
          <button type="button" class="btn-u buy-product by_productDetail_buttonBg" ng-if="inventoryType === 'ALWAYS_AVAILABLE'"
          ng-disabled="addToCartDisable || f1.qty.$invalid" ui-sref="cart" ng-click="addProductToCart(productId)">
          <span class="cart-icon">
              <img class="buy-icon-img" src="assets/img/product/buy.png" width="19" height="13"></span> 
              Buy Now
          </button>
          <span ng-if="inventoryType === 'CHECK_QUANTITY' || inventoryType === 'UNAVAILABLE' || inventoryType === null">
              <span class="error-message" style="color:red;" ng-if="userRequiredQuantity > quantityAvailable || inventoryType === 'UNAVAILABLE'">
                Sorry! We are Out Of Stock!
            </span>
        </span>
        <span ng-show="f1.qty.$invalid">
            <span class="error-message">Enter Proper Input</span>
        </span>
        <span class="added-to-cart-message" ng-show="addToCartDisable">The product is already added
            in cart!
        </span>
    </div>
</div>



<div class="by_productDetail_contentHead" ng-if="uiData.longDescription || uiData.productDetails || uiData.productDescription">
    Item Details
</div>
<div class="by_productDetail_contentBg">
    <div ng-if="uiData.longDescription">
        <div class="by_productDetail_contentDescHead">Description</div>
        <div class="by_productDetail_contentDescText" ng-bind-html="uiData.longDescription"></div>
    </div>
    <div ng-if="uiData.productDetails">
        <div class="by_productDetail_contentDescHead">Specifications of sample</div>
        <div class="by_productDetail_contentDescText" ng-bind-html="uiData.productDetails"></div>
    </div>
     <div ng-if="uiData.productDescription">
        <div class="by_productDetail_contentDescHead">Product Description</div>
        <div class="by_productDetail_contentDescText" ng-bind-html="uiData.productDescription"></div>
    </div>    
</div>




