.by_cart_iconWrap
{
  width:86px;
  height:34px;
  margin-top:20px;
  color:#fff;
  font-size:14px;
  text-align: right;
}
.by_cart_iconWrap span
{
  display: block;
  float: left;
  color:#fff;
  margin-left:4px;
  margin-top:6px;
}
.by_cart_count
{
  width:25px;
  height:24px;
  background:#fff;
  border-radius: 50% !important;
  color:#00af50 !important;
  text-align: center;
  padding-top:1px;
}
.shop-badge
{
  margin-bottom: 0;
  float: right;
  padding-left: 0;
    margin-left: -5px;
    list-style: none;    
    margin-top: 0;
}
.badge-open
{
  overflow: visible;
  top: 34px;
    right: 0;
    display: none;
    padding: 0 10px;
    list-style: none;
    min-width: 300px;
    background: #fff;
    position: absolute;
    border-top: 2px solid #18ba9b;
    z-index: 1000;
}
.badge-open li:first-child
{
      margin-top: 0;
    border-top: none;
    padding-top: 9px;
}
.badge-open li {
    margin-top: 3px;
    padding-top: 10px;
    border-top: 1px solid #dedede;
}
.by_cart_head
{
  width:100%; 
  font-size:15px; 
  margin-bottom:10px;
}
.by_cart_head_product
{
  width:30%;
  float:left;
  margin-right:1%;
}
.by_cart_head_quantity
{
  width:15%;
  float:left;
  margin-right:1%;
}
.by_cart_head_pricce
{
  width:13%;
  float:left;
  margin-right:1%;
}
.by_cart_head_delivery
{
  width:22%;
  float:left;
  margin-right:1%;
}
.by_cart_head_subTotal
{
  width:11%;
  float:left;
  margin-right:1%;
}
.by_cart_head_delete
{
  width:3%;
  float:left;
  text-align:center;
}
.by_cart_desc
{
  width:100%; 
  font-size:14px; 
  border-top: 1px solid #ccc;
  padding-top:10px;
  margin-top: 10px;
}
.by_cart_head_product img 
{
  border:0px;
  width:60px;
  margin-right: 10px;
  height:auto;
  float:left;
}
.by_cart_head_product span
{
  width: calc(100% - 70px);
}
.by_cart_head_delete span
{
  padding:1px 4px 1px 4px;
  background:red;
  color:#fff;
  cursor: pointer;
  border-radius: 2px !important;
}
.by_cart_mobileHide
{
  display: block;
}
@media screen and (max-width: 992px) {
  .by_cart_iconWrap
  {
    margin-top:29px;
  }
  .by_cart_mobileHide
  {
    display:none;
  }
  .by_cart_head_product
{
  width:70%;
  margin-right:1%;
}
.by_cart_head_quantity
{
  width:28%;
  margin-right:1%;
}
.by_cart_head_pricce
{
  width:27%;
  float:left;
  margin-right:1%;
  clear: both;
  margin-top:10px;
}
.by_cart_head_delivery
{
  width:40%;
  float:left;
  margin-right:1%;
}
.by_cart_head_subTotal
{
  width:20%;
  float:left;
  margin-right:1%;
}
.by_cart_head_delete
{
  width:20px;
  margin-right: 1px;
  float:right;
  text-align:center;
}
}