.by_productDetail_leftSimilarTitle
{
  font-size: 18px;
  line-height: 24px;
  margin-bottom:10px;
}
.by_productDetail_leftSimilarThumb
{
  width:100%;
  height:auto;
  background:#fff;
  margin-bottom:15px;
  padding:10px;
  cursor: pointer;
}
.by_productDetail_leftSimilarThumbImage
{
  width:68px;
  height:85px;
  line-height: 85px;
  border:1px solid red;
  float:left;
  margin-right:10px;
  text-align: center;
}
.by_productDetail_leftSimilarThumbImage img
{
  max-width:100%;
  max-height: 100%;
  line-height: 100%;
}
.by_productDetail_leftSimilarThumbContent
{
  width:calc(100% - 80px);
  height:auto;
  float:left;
  font-size: 14px;
}
.by_productDetail_leftSimilarThumbContentName
{  
  color: #000000;    
  font-weight: 600;
  padding-bottom:8px;
}
.by_productDetail_leftSimilarThumbContentPrice
{
  line-height: 16px;
}
@media screen and (max-width: 990px){
  .by_productDetail_leftSimilarThumbImage
  {
    height:60px;
    line-height: 60px;
  }
}