<div class="aboutUsOne col-md-12">
    <div class="aboutUsOneFirst">
        We are a community
    </div>
    <div class="aboutUsOneSecond">
        We <b>take care</b> of our ageing parents

        And we’d like to <b>age better</b> ourselves!
    </div>
</div>

<div class="aboutUsOne aboutUsTwo col-md-12">

    <div class="aboutUsOneSecond">
        May all elderly people
        and their loving families enjoy
        beautiful years together<br/><br/>
         
        Hence, BeautifulYears.com
    </div>

    <div class="aboutUsOneThree">
        Redefining “Ageing” in India
    </div>

</div>

<div class="col-md-12 aboutDiscussWrapper">
    <div class="aboutDiscussHead">
        <div class="aboutDiscussHeadBorder">
            <span class="aboutDiscussColor">D</span>iscuss
        </div>
    </div>
    <div class="aboutDiscussText">
        Here you find the most relevant and interesting information and <a onclick="location.href=apiPrefix+'#/discuss/All/list/all'">discussions</a> about elder care and ageing,
        with its stigmas and issues, - but also opportunities of its own. Here we share our thoughts and experiences,
        our pain and love, despair and hope.
    </div>
</div>

<div class="col-md-12 aboutDiscussWrapper">
    <div class="aboutDiscussHead">
        <div class="aboutDiscussHeadBorder">
            <span class="aboutFindColor">F</span>ind
        </div>
    </div>
    <div class="aboutDiscussText">
        Soon you will find here a list of relevant <a>services</a> for elder care and senior citizens, as well as a
        choice of <b><a>housing</a></b> options – reviewed by industry specialists and our community.
        And much, much <a class="blackColorMore">more…</a>
    </div>
</div>

<div class="col-md-12 aboutDiscussWrapper">
    <div class="aboutDiscussHead">
        <div class="aboutDiscussHeadBorder">
            <span class="aboutShopColor">S</span>hop
        </div>
    </div>
    <div class="aboutDiscussText">
        Here you will soon find the best anti-aging and elder care <b><a>products</a></b>
    </div>
</div>

<div class="col-md-12 aboutDiscussWrapper">
    <div class="aboutDiscussHead">
        <div class="aboutDiscussHeadBorder">
            <span class="aboutShopColor">D</span>o
        </div>
    </div>
    <div class="aboutDiscussText">
        Do you want to keep yourself or your ageing parents active and occupied?<br/>
        Soon you will be able to:<br/>
        <ul>
            <li>Watch classical movies and listen to retro music</li>
            <li>Look at creative work by other senior people, and publish your own work online</li>
            <li>Join like-minded people in learning new subjects and skills</li>
            <li>Play games, allowing you to keep your mind active and healthy</li>
        </ul>
        <a class="blackColorMore">And more...</a>
    </div>
</div>

<div class="col-md-12 aboutUsThree">
    <div class="aboutUsThreeText">
        This is just the beginning. We would really appreciate your help in building our community together with us!
        This is how you could make this site more useful, interesting and enjoyable for yourself and for others:
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/participate.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Please fill in your <a>profile</a>. Just 15 minutes of your time will help us know you better and learn
                from your experience.
                <br/>
                <ul>
                    <li>Please <a>write</a> about seniors you love, respect and admire. And your personal stories of
                        caregiving and ageing.
                    </li>
                    <li>Please <a>share</a> useful tips, experiences, and advice. Or just let us know what you are going
                        through and how you or your loved ones are feeling.
                    </li>
                    <li>Please don't hesitate to <a>ask</a> any question related to ageing or caregiving, and please
                        help others by answering their questions.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight2">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/feedbackAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                We would like to improve, so please let us know your <a ng-click="add('Feedback')">feedback</a>:
                <br/>
                <ul>
                    <li>Have you found the information you were looking for?</li>
                    <li>Was it easy to find this information?</li>
                    <li>What would you like us to change?</li>
                    <li>What would you like us to improve?</li>
                    <li>In general, what aspects of the site do you like and what do you dislike?</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight5">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/suggestAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Please, <a ng-click="add('Feedback')">suggest</a>:
                <br/>
                <ul>
                    <li>What features would you like us to introduce?</li>
                    <li> What services would you like us to provide to our community in future – both on line and in
                        real life?
                    </li>
                    <li> What products you believe we should sell or lease, to improve lives of our community members?
                    </li>
                    <li> Is there anything else you’d like us to do for you?</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight6">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/aboutInform.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Could you please <a ng-click="add('Feedback')">let us know</a> of any existing service, product, or housing facility (in the area
                of elder care, or meant for senior citizens), which you would like us to list or highlight?
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight3">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/volunteerAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Are you a (retired or an active) content writer, PR, media-, or marketing specialist, a doctor, or a
                nurse? Are you passionate and knowledgeable about any aspect of elder care and ageing? Maybe you could
                <a ng-click="add('Feedback')">help</a> our site with your skills and experience. <br/>
                Also please spread the word about us within your social networks – off line and on <a>Facebook</a> !
            </div>
        </div>
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight4">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/partnerAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                If you are a professional or an institution (for profit or an NGO) in the domain of elder care, please
                register with us, to offer your services and meet your potential customers here. We would also love to
                hear from you about collaboration and partnership <a>opportunities</a>.
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 aboutFour">
    <div class="aboutFourText">
        In the words of an Indian Buddhist scholar Shantideva, <br/>"May people find pleasure in helping and benefiting
          each other."
    </div>
</div>

<div class="col-md-12 aboutLogoWrapper">
    <div class="aboutLogo">
        <img src="assets/img/aboutUs/aboutLogo.png" width="100%" alt=""/>
    </div>
</div>

<div class="col-md-12 meetOurTeamAboutWrapper">
    Meet our team
</div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Advisory Board
    </div>
    <div class="teamWrapperBelowTwo">
        <div class="teamWrapperBelowLeft">
            <img src="assets/img/aboutUs/teamOne.png" alt="" width="100%"/>
        </div>
        <div class="teamWrapperBelowRight">
            We are still assembling our Advisory Board. Maybe you are well qualified be one of our Board members?
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Content
    </div>
    <div class="teamWrapperBelowTwo">
        <div class="teamWrapperBelowLeft">
            <img src="assets/img/aboutUs/teamTwo.png" alt="" width="100%"/>
        </div>
        <div class="teamWrapperBelowRight">
            <div class="teamWrapperBelowRightText">
                <strong>Mnam Tsna</strong> | 33yrs | M.Sc.| MD-Acupuncture
            </div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Development team
    </div>
    <div class="teamWrapperBelow">
        <div class="col-md-4 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/TeamThree.png" width="100%" alt=""/><br/>
            Mnam Tsna
        </div>
        <div class="col-md-4 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/TeamThree.png" width="100%" alt=""/><br/>
            Mnam Tsna
        </div>
        <div class="col-md-4 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/TeamThree.png" width="100%" alt=""/><br/>
            Mnam Tsna
        </div>
    </div>
</div>