<div class="col-md-12 no-padding margin-bottom-35">

    <div id="home_featured_posts" class="col-md-12 no-padding  list-head dp-block">FEATURED POST
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="
    width: 216px;
"></div>
    </div>
</div>


<div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
     data-link="articles.html">
    <img src="assets/img/avtar.png" alt="">

    <div class="article-info dp-inline-block">
        <ul class="list-inline posted-info">

            <li>
                <p class="post-first-letter">Shared by ANONYMOUS </p>

            </li>
            <li>In<a href="#"> Elder's Routine</a></li>
            <li>3 hours ago</li>
            </li>
        </ul>
    </div>


    <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
        ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
        Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
        ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
        ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
        Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
        ullamcorper turpis.
    </div>
</div>


<div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
     data-link="articles.html">
    <img src="assets/img/article-profile-03.jpg" alt="">

    <div class="article-info dp-inline-block">
        <ul class="list-inline posted-info">

            <li>
                <p class="post-first-letter">Shared by <a href="#">Raj Kumar</a></p></li>
            <li>In<a href="#"> Elder's Routine</a></li>
            <li>1 day ago</li>
            </li>

        </ul>
    </div>


    <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
        ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
        Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
        ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
        ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
        Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
        ullamcorper turpis.
    </div>
</div>


<div class="col-md-12 no-padding margin-bottom-30 more-link" data-link="articles.html"><a
        href="#">More...</a>
</div>


