<div class="col-md-12 no-padding margin-bottom-35">

    <div class="col-md-12 no-padding  list-head dp-block">SUBMIT AN ARTICLE
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>


<div class="col-md-12 no-padding form-header-content margin-bottom-15">Please enter a title of your
    story / article
</div>

<div class=" col-md-12 no-padding margin-bottom-35 register-page">
    <input type="text" class="username-textbox textbox "name="username" ng-model="editor.subject">
</div>


<div class=" col-md-12 no-padding margin-bottom-35 register-page">
<form id="UploadImage12" action="UploadFile" method="post" enctype="multipart/form-data">
<label class="myLabel">
    <input  name="sp" id="sp"  type="file" required onchange="javascript:uploadImage(this)"/>
    <span>Please upload<br> your main <br>photo (optional)</span>
</label>
</form>
<input type="text" id="articleTitleImage" ng-model="editor.articlePhotoFilename" value="" style="display:none"/>

</div>


<div class="col-md-12 no-padding margin-bottom-35 byEditor">
    <textarea id="article_textArea" class="textbox about-dependent" rows="3" placeholder="Please enter your text here. "></textarea>
</div>

<div class="col-md-12 no-padding form-header-content margin-bottom-15">
    Please select up to 4 categories,where your article appears.
</div>

<div class="col-md-12 no-padding margin-bottom-35">
    <div class="panel-group acc-v1" id="accordion-1">
        <div class="panel panel-default by_accordian" ng-repeat="category in $root.discussCategoryList">
            <div class="panel-heading" ng-click="go($event, 'accordian', category.id)">
                <h4 class="panel-title by_editor_ParentCategories">
                    <input type="checkbox" onchange="BY.selectCategory(this)" value={{category.id}} ng-model="preSelected[category.id]">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href={{"#"+category.id}} onclick="return false;">
                        {{category.name}}
                    </a>
                </h4>
            </div>
            <div id={{category.id}} class="col-md-12 whiteBg by_editor_SubCategories panel-collapse collapse">
                <div class="panel-body col-md-4" ng-repeat="subCategory in category.children">
                    <input type="checkbox" onchange="BY.selectCategory(this)" value={{subCategory.id}} ng-model="preSelected[subCategory.id]"> <span>{{subCategory.name}}</span>
                </div>
            </div> <div style="clear:both"></div>

        </div>
    </div>
</div>


<div ng-show="error"><font color="red">{{error}}</font></div>

<div class="col-md-12 no-padding margin-bottom-35">
    <button class="btn btn-big btn-default pull-right  grayBg" ng-click="register('A')">submit an article</button>
</div>



<script type="text/javascript">
    var tinyEditor = BY.addEditor();
    
    function uploadImage(input){
    	if (input.files && input.files[0]) {
            var reader = new FileReader();
            $("#UploadImage12").bind('submit', function(e) {
            	var postData = new FormData(jQuery('#UploadImage12')[0]);
            	$.ajax(
            		    {
            		        url : 'UploadFile',
            		        type: "POST",
            		        enctype:"multipart/form-data",
            		        data : postData,
            		      //  contentType: "application/json",
            		        cache: false,
						    contentType: false,
						    processData: false,
            		        success:function(data, textStatus, jqXHR) 
            		        {
            		            $("#articleTitleImage").val(data);
            		            $("#articleTitleImage").trigger('input');
            		        },
            		        error: function(jqXHR, textStatus, errorThrown) 
            		        {
            		        	alert("Image upload failed");
            		        }
            		    });
                e.preventDefault();
          });
            reader.onload = function (e) {
            	$('.myLabel').css('background-image', 'url(' + e.target.result + ')')
            }
            
            reader.readAsDataURL(input.files[0]);
            $('#UploadImage12').submit();
            
            //input.form.submit();
        }
    }
    
    
</script>