<div ng-controller="LoadCustomJSController"> </div>
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="breadcrumbs">
    <div class="container">
        <ul class="pull-right breadcrumb">
            <li class="active"><a href="index.html">HOME</a></li>
        </ul>
    </div>
    <hr class="breadcrumb-divider"/>
</div>
<div class="container content discussion-page breadCrumbMargin">
    <div class="ask-question-textarea textarea-label borderShadow">
            <textarea id="ask-question" rows="3" placeholder="Please enter your question"
                      class="question-text"></textarea>
        <button class="btn btn-u question-submit disabled">SUBMIT</button>
    </div>
    <div class="share-tip-textarea textarea-label borderShadow">
            <textarea id="share-tip" rows="3" placeholder="Share your tips and experience"
                      class="share-tips-text"></textarea>
        <button class="btn btn-u share-tips-submit disabled">SUBMIT</button>
    </div>
    <div class="submit-article-textarea textarea-label borderShadow">
        <div class="col-md-12">
            <div class="col-md-12 alert zindexhigh whiteBg borderShadow rounded-r">
                <p>You can send us your article as a Word document with embedded images to <a
                        href="mailto:content@beautifulyears.com">content@beautifulyears.com</a> But it would help us
                    a lot if you enter it here.</p>

                <p>Please not that before posting on our site, your article could be edited.</p>
            </div>
        </div>
        <div class="col-md-12 zindexhigh">
            <div class="col-md-7 no-padding">
                <input type="text" class="form-control borderShadow col-md-12"
                       placeholder="Please enter the headline here. (Upto 80 characters)"/>
            </div>
        </div>
        <div class="col-md-12 zindexhigh">
            <div class="col-md-3 no-padding">
                <button class="btn btn-xs btn-success submitTextFileButton col-md-12">PLEASE UPLOAD A COVER PHOTO
                </button>
                <input type="file" id="submitTextFile"/>
            </div>
        </div>
        <div class="col-md-12 zindexhigh">
                <textarea id="submit-article" rows="3" placeholder="Please enter the  text of your article here."
                          class="submit-article-text margin-top-10"></textarea>
        </div>


        <div class="col-md-12 zindexhigh margintop30 tminputWrapper">
            <div class="col-md-12 no-padding">
                <input class="col-md-12 tm-input" name="tags" placeholder="Tag your keywords here"/>
            </div>

            <button class="btn btn-u submit-article-submit disabled">SUBMIT</button>
            <div class="previewButton">
                <img src="assets/img/Preview_Icon.png" width="100%" title="Preview" alt="Preview"/>
            </div>
        </div>


    </div>
    <div class="give-feedback-textarea textarea-label borderShadow">
            <textarea id="give-feedback" rows="3" placeholder="Please give your feedback"
                      class="give-feedback-text"></textarea>
        <button class="btn btn-u give-feedback-submit disabled">SUBMIT</button>
    </div>
    <div class="row both-container">
        <div class="col-md-3 md-margin-bottom-40 left-container">
            <div class="col-md-12 left-container-img-wrapper no-padding">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item" data-index="discussion-QA">
                        <a>FEATURED articles</a>
                    </li>
                    <li class="list-group-item" data-index="discussion-posts">
                        <a>FEATURED Q&A</a>
                    </li>
                    <li class="list-group-item" data-index="discussion-articles">
                        <a>FEATURED POSTS </a>
                    </li>
                    <li class="list-group-item" data-index="discussion-articles">
                        <a>NEW COMMUNITY MEMBERS </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="ask-question-lc">
                    <div class="ask-question-pos ask-article-feedback-all-img  pull-left"></div>
                </div>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="share-tips-lc">
                    <div class="share-tips-pos ask-article-feedback-all-img pull-left"></div>
                </div>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="submit-article-lc">
                    <div class="submit-article-pos ask-article-feedback-all-img  pull-left"></div>
                </div>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="give-feedback-lc">
                    <div class="give-feedback-pos ask-article-feedback-all-img"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9  article-outer-wrapper no-padding-right">

            <div class="col-md-12 no-padding margin-bottom-35">

                <div class="col-md-12 no-padding  list-head dp-block">FEATURED ARTICLES
                </div>

                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="
    width: 216px;
"></div>
                </div>
            </div>


            <div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
                 data-link="articles.html">
                <img src="assets/img/article-profile-h1.jpg" alt="">

                <div class="article-info dp-inline-block">
                    <ul class="list-inline posted-info">

                        <li>
                            <p class="article-first-letter">Article by <a href="#">Rahul Thomas</a></p></li>
                        <li>In <a href="#">Elder's Routine</a></li>
                        <li>2 hours ago</li>
                    </ul>
                </div>
                <div class="article">

                    <div class="article-heading">MY AUNT SUSHMA
                    </div>

                    <div class="article-share-links news-v3"></div>
                </div>

                <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis.
                </div>
            </div>
            <div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
                 data-link="articles.html">
                <img src="assets/img/article-profile-02.jpg" alt="">

                <div class="article-info dp-inline-block">
                    <ul class="list-inline posted-info">

                        <li>
                            <p class="article-first-letter">Article by <a href="#">Rahul Thomas</a></p></li>
                        <li>In<a href="#"> Elder's Routine</a></li>
                        <li>1 Day ago</li>
                    </ul>
                </div>
                <div class="article">

                    <div class="article-heading">MY AUNT SUSHMA
                    </div>

                    <div class="article-share-links news-v3"></div>
                </div>

                <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis.
                </div>
            </div>
            <div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
                 data-link="articles.html">
                <img src="assets/img/article-profile-03.jpg" alt="">

                <div class="article-info dp-inline-block">
                    <ul class="list-inline posted-info">

                        <li>
                            <p class="article-first-letter">Article by <a href="#">Rahul Thomas</a></p></li>
                        <li>In <a href="#">Elder's Routine</a></li>
                        <li>2nd April</li>
                    </ul>
                </div>
                <div class="article">

                    <div class="article-heading">MY AUNT SUSHMA
                    </div>

                    <div class="article-share-links news-v3"></div>
                </div>

                <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis.
                </div>
            </div>
            <div class="col-md-12 no-padding margin-bottom-30 more-link" data-link="articles.html"><a href="#">More...</a>
            </div>

            <div class="col-md-12 no-padding margin-bottom-35">

                <div class="col-md-12 no-padding  list-head dp-block">FEATURED Q&A
                </div>

                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="
    width: 216px;
"></div>
                </div>
            </div>


            <div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
                 data-link="articles.html">
                <img src="assets/img/avtar.png" alt="">

                <div class="article-info dp-inline-block">
                    <ul class="list-inline posted-info">

                        <li>
                            <p class="qa-first-letter">Question by ANONYMOUS</p></li>
                        <li>In<a href="#"> Elder's Routine</a></li>
                        <li>2 hours ago</li>
                        </li>

                    </ul>
                </div>


                <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis.
                </div>
            </div>

            <div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
                 data-link="articles.html">
                <img src="assets/img/avtar.png" alt="">

                <div class="article-info dp-inline-block">
                    <ul class="list-inline posted-info">

                        <li>
                            <p class="qa-first-letter">Question by ANONYMOUS</p></li>
                        <li>In<a href="#"> Elder's Routine</a></li>
                        <li>1 day ago</li>
                        </li>

                    </ul>
                </div>


                <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis.
                </div>
            </div>


            <div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
                 data-link="articles.html">
                <img src="assets/img/article-profile-02.jpg" alt="">

                <div class="article-info dp-inline-block">
                    <ul class="list-inline posted-info">

                        <li>
                            <p class="qa-first-letter">Question by <a href="#">Rahul Thomas</a></p></li>
                        <li>In<a href="#"> Elder's Routine</a></li>
                        <li>3rd April</li>
                        </li>

                    </ul>
                </div>


                <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis.
                </div>
            </div>


            <div class="col-md-12 no-padding margin-bottom-30 more-link" data-link="articles.html"><a href="#">More...</a>
            </div>

            <div class="col-md-12 no-padding margin-bottom-35">

                <div class="col-md-12 no-padding  list-head dp-block">FEATURED POST
                </div>

                <div class="col-md-12 no-padding bg-gray-h1">
                    <div class="bg-green-h2" style="
    width: 216px;
"></div>
                </div>
            </div>


            <div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
                 data-link="articles.html">
                <img src="assets/img/avtar.png" alt="">

                <div class="article-info dp-inline-block">
                    <ul class="list-inline posted-info">

                        <li>
                            <p class="post-first-letter">Shared by ANONYMOUS </p>

                        </li>
                        <li>In<a href="#"> Elder's Routine</a></li>
                        <li>3 hours ago</li>
                        </li>
                    </ul>
                </div>


                <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis.
                </div>
            </div>


            <div class="blog-author margin-bottom-35 main-article" data-index="discussion-articles"
                 data-link="articles.html">
                <img src="assets/img/article-profile-03.jpg" alt="">

                <div class="article-info dp-inline-block">
                    <ul class="list-inline posted-info">

                        <li>
                            <p class="post-first-letter">Shared by <a href="#">Raj Kumar</a></p></li>
                        <li>In<a href="#"> Elder's Routine</a></li>
                        <li>1 day ago</li>
                        </li>

                    </ul>
                </div>


                <div class="articles-story">Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis. Ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et
                    ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis. ut bibendum ut bibendum sapien.
                    Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in
                    ullamcorper turpis.
                </div>
            </div>


            <div class="col-md-12 no-padding margin-bottom-30 more-link" data-link="articles.html"><a href="#">More...</a>
            </div>


        </div>
    </div>
</div>