<div class="col-md-12 no-padding margin-bottom-35">

    <div class="col-md-12 no-padding  list-head dp-block">SHARE YOUR TIPS &amp; EXPERIENCES
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>


<div class="col-md-12 no-padding margin-bottom-35 byEditor">
    <textarea id="tips_textArea" class="textbox about-dependent" rows="3" ></textarea>
</div>

<div class="col-md-12 no-padding form-header-content margin-bottom-15">
    Please select at least 1 category, where your tips appears.
</div>

<div class="col-md-12 no-padding margin-bottom-35">
    <div class="panel-group acc-v1" id="accordion-1">
        <div class="panel panel-default by_accordian" ng-repeat="category in $root.discussCategoryList">
            <div class="panel-heading">
                <h4 class="panel-title by_editor_ParentCategories">

                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href={{"#"+category.id}} onclick="return false;">
                        {{category.name}}
                    </a>

                    <input type="checkbox" onchange="BY.editorCategoryList.selectCategory(this)" value="{{category.id}}" ng-if="category.childCount <= 0" ng-model="preSelected[category.id]">
                    <a class="triangle-down accordion-toggle collapsed" ng-if="category.childCount > 0" data-toggle="collapse" data-parent="#accordion-1" href={{"#"+category.id}} onclick="return false;"></a>
                </h4>
            </div>
            <div id={{category.id}} class="col-md-12 whiteBg by_editor_SubCategories panel- collapse collapse">
                <div class="panel-body col-md-4" ng-repeat="subCategory in category.children">
                    <input type="checkbox" onchange="BY.editorCategoryList.selectCategory(this)" value={{subCategory.id}} ng-model="preSelected[subCategory.id]"> <span>{{subCategory.name}}</span>
                </div>
            </div> <div style="clear:both"></div>

        </div>
    </div>
</div>
<div ng-show="error"><font color="red">{{error}}</font></div>

<div class="col-md-12 no-padding margin-bottom-35">
    <button class="btn btn-big btn-default pull-right  grayBg" ng-click="register('P')">submit</button>
</div>

<script type="text/javascript">
    var tinyEditor = BY.addEditor({"editorTextArea":"tips_textArea"});
</script>