 <div class="col-md-12 no-padding margin-bottom-35">

<div class="ng-scope"
	style="position: absolute; top: 200px; left: 300px;">
	<div>Submit your valuable feedback</div>
	<form novalidate ng-submit="register('F')"	ng-controller="DiscussCreateFeedbackController">
		<textarea id="give-feedback" rows="3"
			placeholder="Please enter your feedback" class="feedback-text" ng-model="feedbackText"></textarea>
		<button class="btn btn-u question-submit" onclick="register('F');">SUBMIT</button>
	</form>

</div>