<div class="col-md-12 no-padding margin-bottom-35">
    <div id="home_featured_qa" class="col-md-12 no-padding  list-head dp-block">
    	FEATURED Q&amp;A
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
    	<div class="bg-green-h2" style="width: 216px;">
    	</div>
    </div>
</div>

<div ng-repeat="question in questions" class="blog-author margin-bottom-35 main-article" data-index="discussion-articles" data-link="articles.html">
    <img src="assets/img/by.png" alt="assets/img/by.png">

    <div class="article-info dp-inline-block">
        <ul class="list-inline posted-info">
            <li>
                <p class="qa-first-letter">Question by {{question.userId}}</p></li>
            <li>In<a href="#">{{question.topicId}}</a></li>
            <li>{{question.createdAt | date : 'MMM d, yyyy'}}</li>
            </li>

        </ul>
    </div>

    <div class="articles-story" ng-bind-html-unsafe="question.text | cut:true:500:' ...'">
    </div>
</div>

<div class="col-md-12 no-padding margin-bottom-30 more-link" data-link="articles.html"><a
        href="#">More...</a>
</div>
