<div class="col-md-12 no-padding margin-bottom-35">
    <div id="home_featured_qa" class="col-md-12 no-padding  list-head dp-block">
        FEATURED Q&amp;A
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div ng-repeat="question in questions" class="col-md-12 margin-bottom-35 by_card" data-index="discussion-articles"
     data-link="articles.html">
    <div ng-click="go($event, 'id', question.id)" class="col-md-12 by_card">
        <img class="img-responsive" src={{question.articlePhotoFilename}} alt="image" fallback-src="assets/img/by.png">

        <div class="by_card_info">
            <ul class="list-inline posted-info">
                <li>
                    <p class="by_captilize_first_letter">Question by <a class="by_captilize_first_letter" href="">{{question.username}}</a>
                    </p></li>
                <li ng-show="question.topicId.length > 0">In <a ng-click="go($event, 'name', question.topicId[0])" class="by_captilize_first_letter">{{$root.discussCategoryListMap[question.topicId[0]].name}}</a>
                </li>
                <li>{{question.createdAt | date : 'MMM d, yyyy'}}</li>
            </ul>
            <div class="by_card_heading">
                <a href="#/discuss/{{question.id}}">{{question.title}}</a>
            </div>
        </div>

        <div class="by_card_content" ng-bind-html="trustForcefully(question.text)">

        </div>
    </div>
</div>

<div class="col-md-12 no-padding margin-bottom-30 more-link" data-link="articles.html">
    <a href="#discuss/Q/list/all">More...</a>
</div>
