<div class="col-md-12 left-container-img-wrapper no-padding">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item" data-index="discussion-QA">
                        <a ng-click="switchToContentView('home_featured_articles')" >FEATURED articles</a>
                    </li>
                    <li class="list-group-item" data-index="discussion-posts">
                        <a ng-click="switchToContentView('home_featured_qa')">FEATURED Q&A</a>
                    </li>
                    <li class="list-group-item" data-index="discussion-articles">
                        <a ng-click="switchToContentView('home_featured_posts')">FEATURED POSTS </a>
                    </li>
                    <li class="list-group-item" data-index="discussion-articles">
                        <a>NEW COMMUNITY MEMBERS </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="ask-question-lc">
                    <div class="ask-question-pos ask-article-feedback-all-img  pull-left" ng-click="add('F')"></div>
                </div>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="share-tips-lc">
                    <div class="share-tips-pos ask-article-feedback-all-img pull-left"></div>
                </div>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="submit-article-lc">
                    <div class="submit-article-pos ask-article-feedback-all-img  pull-left"></div>
                </div>
            </div>
            <div class="col-md-11 no-padding" data-link="articles.html">
                <div class="give-feedback-lc">
                    <div class="give-feedback-pos ask-article-feedback-all-img"></div>
                </div>
            </div>