<div class="col-md-12 no-padding margin-bottom-35">
    <div id="home_featured_qa" class="col-md-12 no-padding  list-head dp-block">
        FEATURED Q&amp;A
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>


<div ng-repeat="question in questions" data-index="discussion-articles"
     data-link="articles.html" on-finish-render="ngRepeatFinished">

    <!-- show if discuss is of type Article -->
    <div ng-click="go($event, 'id', question.id, question.discussType)" data-index="discussion-articles" class="blog-author margin-bottom-35 main-article by_blog_author">
        <img src="{{question.articlePhotoFilename}}" alt="image" fallback-src="assets/img/by.jpg">
        <div class="article-info dp-inline-block">
            <ul class="list-inline posted-info">
                <li>
                    <p class="article-first-letter" ng-if="question.discussType == 'A'">Story by <a href="#">{{question.username}}</a></p>
                    <p class="article-first-letter" ng-if="question.discussType == 'Q'">Question by <a href="#">{{question.username}}</a></p>
                    <p class="article-first-letter" ng-if="question.discussType == 'P'">Post by <a href="#">{{question.username}}</a></p>
                </li>
                <li ng-if="question.topicId.length > 0">In <a ng-click="go($event,'name', question.topicId[0])">
                    {{$root.discussCategoryListMap[question.topicId[0]].name}}</a></li>
                <li>{{question.createdAt | date : 'MMM d, yyyy'}}</li>
            </ul>
        </div>

        <div class="article" ng-if="question.discussType == 'A'">
            <div class="article-heading"><p style="text-transform: capitalize">{{question.title}}</p>
            </div>
        </div>

        <div class="articles-story by_story" ng-bind-html="trustForcefully(question.text)">
        </div>
        <div style="clear: both"></div>
    </div>
</div>



<div class="col-md-12 no-padding margin-bottom-30 more-link" data-link="articles.html">
    <a href="#discuss/Q/list/all">More...</a>
</div>
