<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
            <li class="list-group-item  username" style="border:0px;">
                <a href="#!/users/registration/changeCredential?changeUserName=true">Change Username</a>
            </li>
            <li class="list-group-item password" style="border:0px;">
                <a href="#!/users/registration/changeCredential?changeUserPwd=true">Change Password</a>
            </li>

            <li style="border:0px;" class="list-group-item reg-menu-1 active" ng-if="profile && profile.userTypes && profile.userTypes.length===0">
                <a href="#!/users/registrationProfile">I am...</a>
            </li>
            <li style="border:0px;" class="list-group-item reg-menu-1 active" ng-if="userTypeConfig && userTypeConfig.label && profile.userTypes.length > 0">
                <a href="#!/users/registrationProfile">{{userTypeConfig.label}}</a>
            </li>
            <li style="border:0px;" class="list-group-item orderHistory" ng-if="userTypeConfig && userTypeConfig.showOrderHistory">
                <a href="#!/users/registrationProfile/orderHistory?showOrderHistory=true">{{userTypeConfig.orderHistoryLabel}}</a>
            </li>
            <li style="border:0px;" class="list-group-item  reg-menu-1 housingTab{{$index+1}}" ng-if="housingFacilityTabs.length > 0"
                ng-repeat="facilityTab in housingFacilityTabs track by $index" ng-class="{'active':facilityIdx===$index}">
                <a di-href="#!/users/housingRegistration/{{$index}}">{{facilityTab}}</a>
            </li>
            <div class="clearfix" style="height:50px; background:#fff;"></div>
            <div ng-if="profile && profile.userTypes && profile.userTypes.length > 0">
                <div class="viewProfile list-group-item  margin-bottom-40 " ng-if="userType!=3" >
                    <a href="#!/profile/{{profile.userTypes[0]}}/{{profile.userId}}/{{userName}}">View Profile</a>
                </div>
                <div class="viewProfile list-group-item  margin-bottom-40 " ng-if="userType==3 && facilityProfileId" >
                    <a href="#!/housingProfile/{{profile.userTypes[0]}}/{{profile.userId}}/{{facilityProfileId}}">View Profile</a>
                </div>
                <div class="viewProfile list-group-item  margin-bottom-40 " ng-if="userType==3 && !facilityProfileId" >
                    <a href="#!/profile/{{profile.userTypes[0]}}/{{profile.userId}}/{{userName}}">View Profile</a>
                </div>
            </div>
        </ul>
    </div>
</div>
<!--All classes from Unify end-->
