<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 " id="sidebar-nav">
        	
            <li class="list-group-item  username" ng-click="changeUsername('username')">
                <a>Change Username</a>
            </li>
            <li class="list-group-item password" ng-click="changePassword('password')">
                <a>Change Password</a>
            </li>
            <li class="list-group-item reg-menu-1 active" ng-if="profile && profile.userTypes && profile.userTypes.length===0" ng-click="editUserProfile('reg-menu-1')">
                <a>I AM...</a>
            </li>
             <li class="list-group-item reg-menu-1 active" ng-if="profile && profile.userTypes && profile.userTypes.length > 0" ng-click="editUserProfile('reg-menu-1')">
                <a>{{sectionLabel}}</a>
            </li>
           <!--  <li class="list-group-item reg-menu-3" ng-click="viewProfile('reg-menu-3')">
                <a>View Profile</a>
            </li> -->
        </ul>
    </div>
</div>
<!--All classes from Unify end-->
