<div class="aboutUsOne col-md-12" id="who_we_are">
    <div class="aboutUsOneFirst">
        We are a community
    </div>
    <div class="aboutUsOneSecond">
        We <b>take care</b> of our ageing parents

        And we'd like to <b>age better</b> ourselves!
    </div>
</div>

<div class="aboutUsOne aboutUsTwo col-md-12">

    <div class="aboutUsOneSecond">
        May all elderly people
        and their loving families enjoy
        beautiful years together<br/><br/>
       
        Hence, BeautifulYears.com
    </div>

    <div class="aboutUsOneThree">
        Redefining "ageing" in India
    </div>

</div>


<div class="col-md-12 no-padding margin-bottom-15" id="our_services">
    <div id="home_featured_articles" class="col-md-12 no-padding  list-head dp-block">
        OUR SERVICES 
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>
  
  <div class="col-md-12 no-padding">
  <div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="aboutDiscussColor">D</span>iscuss
        
                <div class="one_leaf_image">
                <img src="assets/img/aboutUs/one_leaf.png" alt="">
            </div>
        </div>

    </div>  
  <div class="shadow-wrapper margin-bottom-15">
                    <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                        <div class="aboutDiscussText">
        Here you find the most relevant and interesting information and <a onclick="location.href=apiPrefix+'#/discuss/All/list/all'">discussions</a> about elder care and ageing,
        with its stigmas and issues, - but also opportunities of its own. Here we share our thoughts and experiences,
        our pain and love, despair and hope.
    </div> 
                       
                    </div>
                </div>
   </div>  
   
   <div class="col-md-12 no-padding">
  <div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="color-blue">F</span>ind
        
                <div class="one_leaf_image_find">
                <img src="assets/img/aboutUs/one_leaf.png" alt="">
            </div>
        </div>

    </div>  
  <div class="shadow-wrapper margin-bottom-15">
                    <div class="tag-box tag-box-v1-blue box-shadow shadow-effect-2">
                        <div class="aboutDiscussText">
       Here you can find a comprehensive catalogue of services for yourself or for your ageing relatives. 
And to have a look at senior living facilities - reviewed by our community.  
And much more in the near future!

    </div> 
                       
                    </div>
                </div>
   </div>  
   
    <div class="col-md-12 no-padding">
  <div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="color-orange">D</span>o
        
                <div class="one_leaf_image_do">
                <img src="assets/img/aboutUs/one_leaf.png" alt="">
            </div>
        </div>

    </div>  
  <div class="shadow-wrapper margin-bottom-15">
                    <div class="tag-box tag-box-v1-orange box-shadow shadow-effect-2">
                        <div class="aboutDiscussText">
    Would you like to keep yourself (or maybe your ageing parents) active and occupied? We are working hard on making it happen!  
    </div> 
                       
                    </div>
                </div>
   </div>  
   
       <div class="col-md-12 no-padding">
  <div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="color-gray">S</span>hop
        
                <div class="one_leaf_image_shop">
                <img src="assets/img/aboutUs/one_leaf.png" alt="">
            </div>
        </div>

    </div>  
  <div class="shadow-wrapper margin-bottom-15">
                    <div class="tag-box tag-box-v1-gray box-shadow shadow-effect-2">
                        <div class="aboutDiscussText">
    Would you like to keep yourself (or maybe your ageing parents) active and occupied? We are working hard on making it happen!  
    </div> 
                       
                    </div>
                </div>
   </div>  
   
   
   




<div class="col-md-12 no-padding margin-bottom-15 margin-top-25 ng-scope" id="help_us">
    <div id="home_featured_articles" class="col-md-12 no-padding  list-head dp-block">
       WE NEED YOUR HELP 
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div class="col-md-12 aboutUsThree">
    <div class="aboutUsThreeText">
      We are just beginning and we really need your help in building our community together with us! 
This is how you could make this site more useful, interesting and enjoyable for yourself and for others: 

    </div>
</div>


<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight" style="min-height: 481px; height:auto;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/participate.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Please fill in your <a><b>profile</b></a>. Just 15 minutes of your time will help us know you better and learn from your experience. 
                <br/>
                <ul>
                    <li>Please <a ng-click="add('Article')"><b>write</b></a> your personal stories of caregiving and ageing. Also please write about seniors you love.
                    </li>
                    <li>Please <a ng-click="add('Tips')"><b>share</b></a> useful tips, experiences, and advice. Or let us know what you are going through today, just the way you share your status on Facebook.
                    </li>
                    <li>Please don't hesitate to <a ng-click="add('Question')"><b>ask</b></a> any question related to ageing or caregiving, and please help others by answering their questions.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight2" style="min-height: 481px; height:auto;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/feedbackAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                We would like to improve, so please let us know your <a ng-click="add('Feedback')"><b>feedback</b></a>:
                <br/>
                <ul>
                    <li>Have you found the information you were looking for?</li>
                    <li>Was it easy to find this information?</li>
                    <li>What would you like us to change?</li>
                    <li>What would you like us to improve?</li>
                    <li>In general, what aspects of the site do you like and what do you dislike?</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row by_row-eq-height">
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight5" style="height: auto;min-height: 425px;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/suggestAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Please, <a ng-click="add('Feedback')"><b>suggest</b></a>:
                <br/>
                <ul>
                    <li>What features would you like us to introduce?</li>
                    <li> What services would you like us to provide to our community in future - both on line and in
                        real life?
                    </li>
                    <li> What products you believe we should sell or lease, to improve lives of our community members?
                    </li>
                    <li> Is there anything else you would like us to do for you?</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight3" style="min-height: 425px;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/volunteerAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Are you a (retired or an active) content writer, PR, media-, or marketing specialist, a doctor, or a nurse? Are you passionate and knowledgeable about any aspect of elder care and ageing?  Maybe you could 
                <a ng-click="add('Feedback')"><b>help</b></a> our site with your skills and experience.  <br/>
                Also please spread the word about us within your social networks - off line and on <a onclick="window.open('http://www.facebook.com/sharer.php?u=www.beautifulyears.com', 'name','width=600,height=400')"><b>Facebook</b></a> !
            </div>
        </div>


    </div>
</div>

<div class="col-md-12">
    <div class="row by_row-eq-height">
         <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight6" style="height: 325px;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/aboutInform.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Could you please <a ng-click="add('Feedback')"><b>let us know</b></a> of any relevany service, product, or senior living facility, which you would like us to list or highlight?
            </div>
        </div>       
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight4" style="height: 325px;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/partnerAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                If you are a professional or an institution (for profit or an NGO), 
                please <a><b>register</b></a> with us, to offer your services and meet your potential customers here. We would also love to hear from you about collaboration and partnership <a><b>opportunities</b></a>.
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 aboutFour">
    <div class="aboutFourText">
        In the words of an Indian Buddhist scholar Shantideva, <br/>"May people find pleasure in helping and benefiting each other."
    </div>
    
</div>

<div class="col-md-12 no-padding margin-bottom-15 margin-top-25 ng-scope" id="our_team">
    <div id="home_featured_articles" class="col-md-12 no-padding  list-head dp-block">
       OUR TEAM 
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Advisory Board
    </div>
    <div class="teamWrapperBelowTwo">
        <div class="teamWrapperBelowLeft">
            <img src="assets/img/aboutUs/teamOne.png" alt="" width="100%"/>
        </div>
        <div class="teamWrapperBelowRight">
            We are still assembling our Advisory Board. Maybe you are well qualified be one of our Board members?
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Content
    </div>
    <div class="teamWrapperBelowTwo">
        <div class="teamWrapperBelowLeft">
            <img src="assets/img/aboutUs/teamTwo.png" alt="" width="100%"/>
        </div>
        <div class="teamWrapperBelowRight">
            <div class="teamWrapperBelowRightText">
                <strong>Mnam Tsna</strong> | 33yrs | M.Sc.| MD-Acupuncture
            </div>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Development team
    </div>
    <div class="teamWrapperBelow">
        <div class="col-md-4 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/TeamThree.png" width="100%" alt=""/><br/>
            Mnam Tsna
        </div>
        <div class="col-md-4 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/TeamThree.png" width="100%" alt=""/><br/>
            Mnam Tsna
        </div>
        <div class="col-md-4 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/TeamThree.png" width="100%" alt=""/><br/>
            Mnam Tsna
        </div>
    </div>
</div>