<div ng-click="location($event, service.userId, service.userTypes)"
     class="margin-bottom-35 service-card" data-index="discussion-articles"
     ng-if="service.systemTags.length > 0" ng-init="service.showMoreServices=false;">
    <div class="serviceFeatured" ng-if="service.featured == true && showFeaturedTag == true"></div>
    <div class="col-md-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service-card-info dp-inline-block">
            <div class="service-card-image divLeft">
                <img ng-if="service.basicProfileInfo.profileImage" ng-init="profileImage(service)"
                     src="{{service.basicProfileInfo.profileImage.thumbnailImage}}" alt="image"
                     fallback-src='["{{service.basicProfileInfo.profileImage.original||""}}","{{service.profileImage}}"]'>
                <img ng-if="!service.basicProfileInfo.profileImage" ng-init="profileImage(service)"
                     src="{{service.profileImage}}" alt="image">
            </div>

            <div class="by-service-inline divLeft">
                <div class="article ng-scope">
                    <div class="article-heading" style="padding-top:6px;">
                        <p style="text-transform: capitalize" class="ng-binding">
                            {{service.basicProfileInfo.firstName}}
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="no-padding" ng-if="service.reviewCount > 0 || service.ratingCount > 0">
                    <div class="serviceRating" ng-if="service.ratingPercentage">
                        <i class="rounded-x" rate-calculator="{{service.ratingPercentage}}"></i>
                        Rated by <a href="">{{service.ratingCount}} user<xy ng-if="service.ratingCount > 1">s</xy>
                    </a>
                    </div>
                    <div class="serviceReview" ng-if="service.reviewCount > 0">
                        <i class="rounded-x fa fa-review-icon"></i>
                            {{service.reviewCount}} review
                        <span ng-if="service.reviewCount > 1">s</span>
                    </div>
                    <div style="clear: both; height:12px;"></div>
                </div>
                <div class="clearfix"></div>

                <div class="no-padding" ng-if="service.basicProfileInfo.primaryUserAddress.locality ||
                 service.basicProfileInfo.primaryUserAddress.city " style="margin-bottom:10px;">
                    <i class="fa fa-map-marker divLeft" style="margin-right:10px; color:#A9A9A9; font-size: 20px;  "></i>
                    <span ng-if="service.basicProfileInfo.primaryUserAddress.locality">
                        {{service.basicProfileInfo.primaryUserAddress.locality}},
                    </span>
                    <span ng-if="service.basicProfileInfo.primaryUserAddress.city">
                        &nbsp;{{service.basicProfileInfo.primaryUserAddress.city}}
                    </span><div style="clear: both; "></div>
                </div>
                    
                <div class="no-padding" style="margin-bottom:10px;">
                        <span ng-if="service.serviceProviderInfo.homeVisits"><b>Available </b>for home visit</span>
                        <span ng-if="!service.serviceProviderInfo.homeVisits"><b>Not available</b> for home visit</span>
                    <div style="clear: both;"></div>
                </div>
                <div class="clearfix"></div>

                <div class="no-padding" ng-if="service.serviceProviderInfo.yearsExperience > 0">
                    {{service.serviceProviderInfo.yearsExperience}} year<span ng-if="service.serviceProviderInfo.yearsExperience > 1">s</span>
                        of experience
                    <div style="clear: both; height:10px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both; height:4px;"></div>

    <div class="article col-md-12 col-sm-12">
        <ul class="list-inline categoryList" style="margin-left: 5px;">
            <li class="list-inline" style="margin-right: 7px;">Service in</li>
            <li class="list-inline" ng-repeat="category in service.serviceProviderInfo.services track by $index"
                style="display: inline-block; margin-right: 7px;" ng-if="$index < 5">
                <a class="ng-binding"
                    di-href="#/services/list/{{$root.menuCategoryMap[category].displayMenuName}}/{{$root.menuCategoryMap[category].id}}/all/">
                    {{$root.menuCategoryMap[category].displayMenuName}}
                </a>
            </li>
            <li class="list-inline" ng-repeat="category in service.serviceProviderInfo.services track by $index"
                style="display: inline-block; margin-right: 7px;" ng-if="$index >= 5 && service.showMoreServices===true">
                <a class="ng-binding"
                   di-href="#/services/list/{{$root.menuCategoryMap[category].displayMenuName}}/{{$root.menuCategoryMap[category].id}}/all/">
                    {{$root.menuCategoryMap[category].displayMenuName}}
                </a>
            </li>
            <li class="list-inline serviceCardMoreLinks" ng-if="service.serviceProviderInfo.services.length > 5">
                <span ng-if="service.showMoreServices===false">...</span>
                <a class="diveLeft by_readmore serviceShowMoreLink"
                   ng-click="showAllServices($event, service);$event.stopPropagation();" style="display: inline">
                    Show all
                </a>
                <i class="fa fa-angle-down serviceShowMoreIcon"
                   ng-click="showAllServices($event, service);$event.stopPropagation();"
                   style="margin-left: 2px; font-size: 16px;"></i>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 serviceCardMoreLinks" style="margin-top: -10px;">
        <a class="divRight by_readmore">Details<i class="fa fa-angle-right" style="font-size: 16px; margin-top: -3px;     margin-left: 3px;"></i></a>
        <div class="divRight  add-comment-FA service-rating_p" ng-if="service.ratingCount == 0 && isAllowedToReview(service)" style="margin-right:10px;">
            <div class="icon-rate divLeft" title="Rate"></div>
            <div class="text divLeft">
                Be the first to rate
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
    <div style="clear: both; height:7px;"></div>
    <div style="clear: both"></div>
</div>
