<div class="by_sectionHeader" ng-if="selectedMenu" >
    {{selectedMenu.displayMenuName}}
</div>

<div ng-repeat="service in services" class="ng-scope" style="position:relative;">
	<div ng-include="'app/components/find/servicesIndvContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'"
		ng-if="service.userTypes[0] == 7"></div>
	<div ng-include="'app/components/find/servicesInstContentPanel.html?versionTimeStamp=%PROJECT_VERSION%'"
		ng-if="service.userTypes[0] == 4"></div>

</div>

<div class="animation_image" style="display: block" align="center"
	 ng-if="showFeaturedTag && services && services.length > 0 && !pageInfo.lastPage || pageInfo.isQueryInProgress">
	<img src="assets/img/ajax_scroll_loading.gif" style="margin-bottom: 20px">
</div>