<div ng-repeat="service in services" data-index="discussion-articles"
     data-link="articles.html" class="ng-scope">

    <!-- show if discuss is of type Article -->
    <div ng-click="location($event, service.userId, service.userTypes)"
         class="margin-bottom-35 service-card" data-index="discussion-articles"
         ng-if="service.systemTags.length > 0">
        <div class="col-md-12">
            <div
                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 service-card-info dp-inline-block">
				<span> <img ng-if="service.basicProfileInfo.profileImage"
                            src="{{service.basicProfileInfo.profileImage.thumbnailImage}}"
                            alt="image" class="service-card-image"
                            fallback-src='["{{service.basicProfileInfo.profileImage.original||""}}","assets/img/by.jpg"]'
                            align="left" style="vertical-align:top; border-radius:2px !important;">
					
					<img ng-if="!service.basicProfileInfo.profileImage"
                         src="assets/img/by.png"
                         alt="image" class="service-card-image"
                         align="left" style="vertical-align:top; border-radius:2px !important;">
					
				</span>

                <div class="by-service-disInl">
                    <div class="article ng-scope">
                        <div class="article-heading">
                            <p style="text-transform: capitalize" class="ng-binding">
                                {{service.basicProfileInfo.firstName}}</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="no-padding"
                         ng-if="service.reviewCount > 0 || service.ratingCount > 0">
                        <div class="serviceRating" ng-if="service.ratingPercentage">
                            <i class="rounded-x"
                               rate-calculator="{{service.ratingPercentage}}"></i>Rated by <a
                                href="">{{service.ratingCount}} user
                            <xy
                                    ng-if="service.ratingCount > 1">s
                            </xy>
                        </a>
                        </div>
						<div class="serviceReview" ng-if="service.reviewCount > 0">
							<i class="rounded-x fa fa-review-icon"></i>{{service.reviewCount}}
								review<span ng-if="service.reviewCount > 1">s</span>
						</div>
						<div style="clear: both; height:10px;"></div>
					</div><div class="clearfix"></div>

                    <div class="article">
                        <ul class="list-inline categoryList" style="margin-left:5px;">
                            <li class="list-inline">Service in</li>
                            <li class="list-inline" ng-repeat="category in service.serviceProviderInfo.services" style="display: inline-block">
                                &nbsp;&nbsp;
                                <a class="ng-binding" di-href="#/services/list/{{$root.menuCategoryMap[category].displayMenuName}}/{{$root.menuCategoryMap[category].id}}/all/">
                                    {{$root.menuCategoryMap[category].displayMenuName}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div style="clear: both;"></div>

        <div class="col-md-12 col-sm-12">
            <p class="service-card-desciption" ng-if="service.basicProfileInfo.shortDescription">{{service.basicProfileInfo.shortDescription}}</p>
            <p class="service-card-desciption" ng-if="!service.basicProfileInfo.shortDescription" ng-bind-html="trustForcefully(service.basicProfileInfo.description)"></p>
        </div>

        <div class="col-md-12">
            <a class="divRight by_readmore">Read More <b style="font-size:10px;">&#9002;</b></a>

            <div style="clear: both"></div>
        </div>
        <div style="clear: both; height:15px;"></div>


        <div style="clear: both"></div>
    </div>
</div>