<div data-ng-controller="discussController">
	<div class="slide-animate-container">
		<div class="slide-animate" data-ng-include
			src="'partials/appState.html'""></div>
	</div>

	<!-- Discuss Header -->
	<div style="text-align: center">
		Discuss <a href="" data-ng-click="newDiscuss()"> New Discuss </a>
		&nbsp;&nbsp;&nbsp; <select data-ng-model="discussType">
			<option value="">Choose</option>
			<option value="Q">Question</option>
			<option value="P">Post</option>
			<option value="A">Article</option>
		</select> &nbsp;&nbsp; <a href="" data-ng-click="getDiscussList()">Get
			Discuss List </a>
	</div>

	<!--  New Comment / Discuss -->
	<table style="width: 100%">
		<tr data-ng-show="newEditDiscuss != false">
			<td><div>NEW / EDIT Discuss</div>
				<div>
					<form data-ng-if="newEditDiscuss">
						<table>
							<tr>
								<td>id</td>
								<td><input type="hidden" data-ng-model="newEditDiscuss.id" />
									<input type="hidden" data-ng-model="newEditDiscuss.topicId" />
									<input type="hidden" data-ng-model="newEditDiscuss.subTopicId" />
									<input type="hidden" data-ng-model="newEditDiscuss.userId" />

									{{newEditDiscuss.userId}} <br /> {{newEditDiscuss.topicTitle}}
									<br /> {{newEditDiscuss.subTopicTitle}} <br /></td>
							</tr>

							<tr>
								<td>discussType:</td>
								<td><select data-ng-model="newEditDiscuss.discussType">
										<option value="Q">Question</option>
										<option value="P">Post</option>
										<option value="A">Article</option>
								</select></td>
							</tr>
							<tr>
								<td>text:</td>
								<td><textarea data-ng-model="newEditDiscuss.text"> </textarea></td>
							</tr>
							<tr>
								<td colspan="2"><input value="Save Update"
									data-ng-click="saveDiscuss()" type="button"></td>
							</tr>
							<tr>
								<td colspan="2"><input value="Clear"
									data-ng-click="resetNewEditDiscuss()" type="button"></td>
							</tr>

						</table>

					</form>
				</div></td>
		</tr>
		<tr data-ng-show="newDiscussComment != false">
			<td>
				<div>
					<form>
						<table>
							<tr>
								<td colspan="2">NEW Comment</td>
							</tr>
							<tr>
								<td>id</td>
								<td><input type="hidden"
									data-ng-model="newDiscussComment.userId" /> <input
									type="hidden" data-ng-model="newDiscussComment.discussId" /> <input
									type="hidden" data-ng-model="newDiscussComment.parentId" /> <input
									type="hidden" data-ng-model="newDiscussComment.ancestorId" />
									<a href=""
									title="userid:{{newDiscussComment.userId}} discussId:{{newDiscussComment.discussId}}  parentId:{{newDiscussComment.parentId}}  ancestorId:{{newDiscussComment.ancestorId}} ">hidden
										foreign keys</a></td>
							</tr>

							<tr>
								<td>discussCommentTitle:</td>
								<td><input type="text"
									data-ng-model="newDiscussComment.discussCommentTitle" /></td>
							<tr>
								<td>discussCommentType:</td>
								<td><input type="hidden"
									data-ng-model="newDiscussComment.userId" /> <input
									type="hidden"
									data-ng-model="newDiscussComment.discussCommentType" /> <select
									data-ng-model="newDiscussComment.discussCommentType" disabled>
										<option value="A">Answer</option>
										<option value="C">Comment</option>
								</select></td>
							</tr>
							<tr>
								<td>discussCommenContent:</td>
								<td><textarea
										data-ng-model="newDiscussComment.discussCommenContent"> </textarea></td>
							</tr>
							<tr>
								<td colspan="2"><input value="Save Update"
									data-ng-click="saveDiscussComment()" type="button"></td>
							</tr>
							<tr>
								<td colspan="2"><input value="Clear"
									data-ng-click="resetNewDiscussComment()" type="button"></td>
							</tr>

						</table>

					</form>
				</div>
			</td>
		</tr>
	</table>

	<!--  Comments List  -->
	<div data-ng-show="commentList != false">
		<div>Comments List</div>
		<table style="width: 100%" data-ng-show="commentList != false"
			border="1">
			<tr>
				<td colspan="100%">Comments</td>
			</tr>
			<tr>
				<td>Sl. No</td>
				<td title="discussCommentTitle">Title</td>
				<td title="discussCommenContent">Content</td>
				<td title="discussCommentLikeCount">LIkes</td>
				<td title="discussCommentCommentCount">Comments</td>
				<td title="descendentCount">Descendent Count</td>
				<td title="ancestorOffset">Depth</td>
				<td title="siblingPosition">Position</td>
				<td title="createdAt">Date</td>
				<td>Add Comment</td>
				<td>Comments</td>
				<td>Tree</td>
			</tr>
			<tr data-ng-repeat="comment in commentList">
				<td title="{{comment.id}}">{{$index+1}}</td>
				<td>{{comment.discussCommentTitle}}</td>
				<td>{{comment.discussCommenContent}}</td>
				<td>{{comment.discussCommentLikeCount}}</td>
				<td>{{comment.discussCommentCommentCount}}</td>
				<td>{{comment.descendentCount}}</td>
				<td>{{comment.ancestorOffset}}</td>
				<td>{{comment.siblingPosition}}</td>
				<td>{{comment.createdAt}}</td>
				<td><a href="" data-ng-click="createCommentOnComment($index)">Make
						Comment </a></td>
				<td><a href="" data-ng-click="getCommentsOnComment($index)">
						List </a></td>
				<td><a href="" data-ng-click="getCommentsOnCommentTree($index)">
						Tree</a></td>
			</tr>
		</table>
	</div>

	<!-- Discuss List  -->
	<div data-ng-show="discussList != false">
		<div>Topics List</div>
		<table style="width: 100%" data-ng-if="discussList" border="1">
			<tr>
				<td>Sl. No</td>
				<td>userId</td>
				<td>username</td>
				<td>discussType</td>
				<td>text</td>
				<td>status</td>
				<td>aggrReplyCount</td>
				<td>aggrLikeCount</td>
				<td>createdAt</td>
				<td>topicId</td>
				<td>subTopicId</td>
				<td>Add Comment</td>
				<td>Comments</td>
				<td>Tree</td>
			</tr>
			<tr data-ng-repeat="discuss in discussList">
				<td title="{{discuss.id}}">{{$index+1}}</td>
				<td>{{discuss.userId}}</td>
				<td>{{discuss.username}}</td>
				<td>{{discuss.discussType}}</td>
				<td data-ng-bind-html>{{discuss.text}}</td>
				<td>{{discuss.status}}</td>
				<td>{{discuss.aggrReplyCount}}</td>
				<td>{{discuss.aggrLikeCount}}</td>
				<td>{{discuss.createdAt}}</td>
				<td>{{discuss.topicId}}</td>
				<td>{{discuss.subTopicId}}</td>
				<td><a href="" data-ng-click="createCommentOnDiscuss($index)">Make
						Comment </a></td>
				<td><a href="" data-ng-click="getComments($index)"> List </a></td>
				<td><a href="" data-ng-click="getCommentsTree($index)">
						Tree</a></td>
			</tr>
		</table>
	</div>





</div>