<div data-ng-controller="topicController">
	<div class="slide-animate-container">
		<div class="slide-animate" data-ng-include
			src="'partials/appState.html'""></div>
	</div>
	<!--  Topics Header  -->
	<div style="text-align: center">
		Topics <a href="" data-ng-click="newTopic()"> New Topic </a>
		&nbsp;&nbsp; <a href="" data-ng-click="getTopicList()"> Get Topic
			List </a>
	</div>
	<!-- Add Edit Topic  -->
	<div data-ng-show="newEditTopic != false">
		<div>NEW / EDIT TOPIC</div>
		<form>
			<table>
				<tr>
					<td>id</td>
					<td><input type="hidden" data-ng-model="newEditTopic.id" />{{newEditTopic.id}}</td>
				</tr>

				<tr>
					<td>topicId:</td>
					<td><input type="text" data-ng-model="newEditTopic.topicId" /></td>
				</tr>
				<tr>
					<td>topicTitle:</td>
					<td><input type="text" data-ng-model="newEditTopic.topicTitle" /></td>
				</tr>
				<tr>
					<td>topicNotes:</td>
					<td><input type="text" data-ng-model="newEditTopic.topicNotes" /></td>
				</tr>
				<tr>
					<td>topicTags:</td>
					<td><input type="text" data-ng-model="newEditTopic.topicTags" /></td>
				</tr>
				<tr>
					<td>topicPosition:</td>
					<td><input type="text"
						data-ng-model="newEditTopic.topicPosition" /></td>
				</tr>
				<tr>
					<td>topicFlag:</td>
					<td><input type="text" data-ng-model="newEditTopic.topicFlag" /></td>
				</tr>

				<tr>
					<td colspan="2"><input value="Save Update"
						data-ng-click="saveTopic()" type="button"></td>
				</tr>
				<tr>
					<td colspan="2"><input value="Clear"
						data-ng-click="resetNewEditTopic()" type="button"></td>
				</tr>

			</table>

		</form>
	</div>
	<!--  Topics List  -->
	<div data-ng-show="topics != false">
		<div>Topics List</div>
		<table style="width: 100%" border="1">
			<tr>
				<td>Sl. No</td>
				<td>id</td>
				<td>topicTitle</td>
				<td>topicNotes</td>
				<td>topicTags</td>
				<td>topicPosition</td>
				<td>topicFlag</td>
				<td>Edit</td>
				<td>Delete</td>
				<td>Get Sub Topics</td>
			</tr>
			<tr data-ng-repeat="topic in topics">
				<td>{{$index+1}}</td>
				<td title="{{topic.topicId}}">{{topic.id}}</td>
				<td>{{topic.topicTitle}}</td>
				<td>{{topic.topicNotes}}</td>
				<td>{{topic.topicTags}}</td>
				<td>{{topic.topicPosition}}</td>
				<td>{{topic.topicFlag}}</td>
				<td><a href="" data-ng-click="editTopic($index)">Edit</a></td>
				<td><a href="" data-ng-click="removeTopic($index)">Delete</a></td>
				<td><a href="" data-ng-click="getSubTopicList($index)">Get
						Sub Topics</a></td>
			</tr>
		</table>
	</div>
	<!-- Sub Topics  Section  -->
	<div style="text-align: center"
		data-ng-show="appState.topic != undefined">
		<div style="text-align: center">
			Sub Topics <a href="" data-ng-click="newSubTopic()"> New Sub
				Topic </a>
		</div>

		<!-- New Sub Topic  -->
		<div data-ng-show="newEditSubTopic !=false">
			<div>Sub Topic</div>
			<form>
				<table>
					<tr>
						<td>id &nbsp;&nbsp; topicId</td>
						<td><input type="hidden" data-ng-model="newEditSubTopic.id" />{{newEditSubTopic.id}}
							&nbsp;&nbsp;&nbsp; <input type="hidden"
							data-ng-model="newEditSubTopic.topicId" />{{newEditSubTopic.topicId}}
						</td>
					</tr>

					<tr>
						<td>subTopicId:</td>
						<td><input type="text"
							data-ng-model="newEditSubTopic.subTopicId" /></td>
					</tr>
					<tr>
						<td>subTopicTitle:</td>
						<td><input type="text"
							data-ng-model="newEditSubTopic.subTopicTitle" /></td>
					</tr>
					<tr>
						<td>subTopicDescription:</td>
						<td><input type="text"
							data-ng-model="newEditSubTopic.subTopicDescription" /></td>
					</tr>
					<tr>
						<td>subTopicNotes:</td>
						<td><input type="text"
							data-ng-model="newEditSubTopic.subTopicNotes" /></td>
					</tr>
					<tr>
						<td>subTopicTags:</td>
						<td><input type="text"
							data-ng-model="newEditSubTopic.subTopicTags" /></td>
					</tr>
					<tr>
						<td>subTopicPosition:</td>
						<td><input type="text"
							data-ng-model="newEditSubTopic.subTopicPosition" /></td>
					</tr>
					<tr>
						<td>subTopicFlag:</td>
						<td><input type="text"
							data-ng-model="newEditSubTopic.subTopicFlag" /></td>
					</tr>

					<tr>
						<td colspan="2"><input value="Save Update"
							data-ng-click="saveSubTopic()" type="button"></td>
					</tr>
					<tr>
						<td colspan="2"><input value="Clear"
							data-ng-click="resetNewEditSubTopic()" type="button"></td>
					</tr>
				</table>
			</form>
		</div>

		<!--  Sub Topic List  -->
		<div style="text-align: center" data-ng-show="subTopics != undefined">
			<div>Sub Topic List</div>
			<table style="width: 100%" border="1">
				<tr>
					<td>Sl. No</td>
					<td>subTopicId</td>
					<td>topicId</td>
					<td>subTopicTitle</td>
					<td>subTopicDescription</td>
					<td>subTopicNotes</td>
					<td>subTopicTags</td>
					<td>subTopicPosition</td>
					<td>subTopicFlag</td>
					<td>Edit</td>
					<td>Delete</td>
					<td>Choose</td>
				</tr>
				<tr data-ng-repeat="subTopic in subTopics">
					<td title="{{subTopic.id}}">{{$index+1}}</td>
					<td>{{subTopic.subTopicId}}</td>
					<td>{{subTopic.topicId}}</td>
					<td>{{subTopic.subTopicTitle}}</td>
					<td>{{subTopic.subTopicDescription}}</td>
					<td>{{subTopic.subTopicNotes}}</td>
					<td>{{subTopic.subTopicTags}}</td>
					<td>{{subTopic.subTopicPosition}}</td>
					<td>{{subTopic.subTopicFlag}}</td>
					<td><a href="" data-ng-click="editSubTopic($index)">Edit</a></td>
					<td><a href="" data-ng-click="removeSubTopic($index)">Delete</a></td>
					<td><a href="" data-ng-click="setSubTopicInState($index)">Choose
					</a></td>
				</tr>
			</table>

		</div>
	</div>
</div>