<div data-ng-controller="userController">
	<div class="slide-animate-container">
		<div class="slide-animate" data-ng-include
			src="'partials/appState.html'"></div>
	</div>
	<div style="text-align: center">
		Users <a href="" data-ng-click="newUser()"> New User </a> &nbsp;&nbsp;
		<a href="" data-ng-click="getUserList()">Get Users </a>
	</div>

	<div data-ng-show="newEditUser != false">
		<div>NEW / EDIT User</div>
		<form data-ng-show="newEditUser != false">
			<table>
				<tr>
					<td>id</td>
					<td><input type="hidden" data-ng-model="newEditUser.id" />{{newEditUser.id}}</td>
				</tr>

				<tr>
					<td>userName:</td>
					<td><input type="text" data-ng-model="newEditUser.userName" /></td>
				</tr>
				<tr>
					<td>email:</td>
					<td><input type="text" data-ng-model="newEditUser.email" /></td>
				</tr>
				<tr>
					<td>userRoleId:</td>
					<td><input type="text" data-ng-model="newEditUser.userRoleId" /></td>
				</tr>
				<tr>
					<td>permissions:</td>
					<td><input type="text" data-ng-model="newEditUser.permissions" /></td>
				</tr>
				<tr>
					<td colspan="2"><input value="Save Update"
						data-ng-click="saveUser()" type="button"></td>
				</tr>
				<tr>
					<td colspan="2"><input value="Clear"
						data-ng-click="resetNewEditUser()" type="button"></td>
				</tr>

			</table>

		</form>
	</div>

	<table style="width: 100%" data-ng-show="users != undefined" border="1">
		<tr>
			<td>Sl. No</td>
			<td>userName</td>
			<td>email</td>
			<td>userRoleId</td>
			<td>isActive</td>
			<td>permissions</td>
			<td>Edit</td>
			<td>Delete</td>
			<td>Set State</td>
		</tr>
		<tr data-ng-repeat="user in users">
			<td>{{$index+1}}</td>
			<td>{{user.userName}}</td>
			<td>{{user.email}}</td>
			<td>{{user.userRoleId}}</td>
			<td>{{user.isActive}}</td>
			<td>{{user.permissions}}</td>
			<td><a href="" data-ng-click="editUser($index)">Edit</a></td>
			<td><a href="" data-ng-click="removeUser($index)">Delete</a></td>
			<td><a href="" data-ng-click="setUserInState($index)">Set
					State</a></td>
		</tr>
	</table>




</div>

