<div  ng-if="detailResponse.discuss" >
 <div class="blog-author margin-bottom-35 main-article by_blog_author" >
        <div class="article-info dp-inline-block col-md-12">
            <ul class="list-inline posted-info" style="margin-left:0px;">
                <li>
                    By <a validate-user-name="{{detailResponse.discuss.username}}" style="text-transform: capitalize;"
                          href="#!/profile/0/{{detailResponse.discuss.userId}}/{{detailResponse.discuss.username}}"> {{username}} </a>
                    &nbsp; |
                </li>
                <li time-since="{{detailResponse.discuss.createdAt}}" ng-if="detailResponse.discuss.createdAt"></li>
                <li ng-if="detailResponse.discuss.topicId.length > 0"> | In  </li>

                <li ng-repeat="topicId in detailResponse.discuss.topicId">
                    <p class="first-letter-uc by-systemTags">
                        <span ng-if="$index > 0">|</span>
                        <a di-href="#!/discuss/list/{{$root.menuCategoryMap[topicId].displayMenuName}}/{{$root.menuCategoryMap[topicId].id}}/all">
                            {{$root.menuCategoryMap[topicId].displayMenuName}}
                        </a>
                    </p>
                </li>
            </ul><div style="clear: both"></div>
        </div>
        <div style="clear: both"></div>

        <div class="article col-md-12" >
            <div class="article-heading" style="text-transform: uppercase; padding-bottom:10px;">
            	{{detailResponse.discuss.title}}
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="by-quad-image col-md-12" ng-if="detailResponse.discuss.discussType == 'P'">
             <img class="articleTitleImage" src="{{detailResponse.discuss.articlePhotoFilename.titleImage||''}}" fallback-src='["{{detailResponse.discuss.articlePhotoFilename.original || ""}}"]' width="100%">
            <div style="clear: both"></div>
        </div>

        <div ng-include="'app/shared/common/template/ShareLinkContent.html'" ng-if="detailResponse.discuss.linkInfo" ng-init="linkInfo=detailResponse.discuss.linkInfo"></div>

        <div class="articles-story  col-md-12" ng-bind-html="trustForcefully(detailResponse.discuss.text)" style="">
        </div>
        <div style="clear: both; height:8px;"></div>
        
        
         <div class="article-share-links news-v3 by-social-border" style="border-bottom:1px solid #ccc !important;">
            <ul class="post-shares post-shares-lg">
            <li class="add-comment" ng-if="detailResponse.discuss.discussType == 'P'">
                <a ng-click="createNewComment(detailResponse.discuss.id)">
                    <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
                    <span ng-if="detailResponse.discuss.aggrReplyCount > 0">{{detailResponse.discuss.aggrReplyCount}}</span>
                </a>

                <div class="post-text post_text-comment"
                     ng-click="createNewComment(detailResponse.discuss.id)"><div class="text">Comment</div>
                </div>
            </li>

            <li class="add-comment" ng-if="detailResponse.discuss.discussType == 'Q'">
                <a ng-click="createNewComment(detailResponse.discuss.id)">
                    <i class="rounded-x icon-answer" title="Answers"></i>
                    <span ng-if="detailResponse.discuss.directReplyCount > 0">{{detailResponse.discuss.directReplyCount}}</span>
                </a>

                <div class="post-text post_text-comment"
                     ng-click="createNewComment(detailResponse.discuss.id)"><div class="text">Answer</div>
                </div>
            </li>

            <li class="add-comment" ng-controller="DiscussLikeController">
                <a ng-click="likeDiscuss(detailResponse.discuss.id)">
                    <i class="rounded-x" ng-if="beforePost" ng-class="{false:'icon-heart', true:'icon-heart-active'}[detailResponse.discuss.likedByUser===true]" title="Likes"></i>
                    <i class="rounded-x" ng-if="!beforePost" ng-class="{false:'icon-heart', true:'icon-heart-active'}[likedByUser===true]" title="Likes"></i>
                    <span ng-if="beforePost && detailResponse.discuss.aggrLikeCount > 0" >{{detailResponse.discuss.aggrLikeCount}}</span>
                    <span ng-model="aggrLikeCount" ng-if="!beforePost && aggrLikeCount > 0" >{{aggrLikeCount}}</span>
                </a>

                <div class="post-text">
                    <div ng-click="likeDiscuss(detailResponse.discuss.id)" class="text text2">Like</div>
                </div>

            </li>
            
            <li class="add-comment" ng-if="detailResponse.discuss.discussType == 'P'" ng-controller="ShareController">
               <a ng-click="shareComment(detailResponse.discuss, $event)">
                   <i class="rounded-x icon-share"></i>
                   <span ng-if="detailResponse.discuss.shareCount > 0">{{detailResponse.discuss.shareCount}}</span>
               </a>

               <div class="post-text post_text-comment"><div ng-click="shareComment(detailResponse.discuss, $event)" class="text">Share</div>
               </div>
           </li>
        </ul><div style="clear:both;"></div>
        </div>
        
        <!--  cooments -->
        <div style="clear:both; "></div>
        
        <div class="article-comments-wrapper blog-author-comment-wrapper" id="article-comments-wrapper">

    <!--Comment Editor for main article-->
    <div class="col-md-12 no-padding  by_blog_author borderShadow noRadius enter-comment-wrap" id="replyEditor" style="margin-bottom: 0px; margin-top:-20px; border-top:0px;" ng-show="showEditor">
   		   <img  src="assets/img/by.png" alt="image" style="width:43px  !important; margin-left:5px !important; float:left;">
        <div class=" padding20SM  by_border-tb by_editor_wrap" style="width:calc(100% - 48px)!important; float:left;" id="answer_block">
           
              <textarea rows="3"  id={{detailResponse.discuss.id}} ></textarea>
            <div class="clearfix"></div>
            <button class="btn btn-sm btn-success comment-submit by_btn_submit by-editor-submit-btn " type="submit" disabled
                    ng-click="postMainReply(detailResponse.discuss.id, detailResponse.discuss.discussType)">SUBMIT
            </button>
            <span/>
            <button class="btn btn-sm btn-success comment-submit by_btn_cancel "
                    ng-click="disposeComment(detailResponse.discuss.id)">CANCEL
            </button>
            <div class="clearfix"></div>
        </div> <div class="clearfix"></div>
    </div> <div class="clearfix"></div>
</div>

<div ng-if="(detailResponse.replies && detailResponse.replies.length <= 0)"
     ng-init="initCommentEditor(detailResponse.discuss.id)"></div>

<div ng-if="detailResponse.replies && detailResponse.replies.length > 0" style="margin-right:20px;">
    <div ng-repeat="reply in detailResponse.replies" id="comment" data-index="discussion-articles"
          data-link="articles.html" ng-controller="DiscussReplyController" ng-include="'app/shared/common/template/replyCard.html'"></div>
</div>
 <div style="clear: both; height:0px; background:#fff !important" ></div>
 
</div>
   
</div>




