<div cg-busy="{promise:promise,backdrop:true,templateUrl:'app/common/html/preloader.html'}">
  <div class="tnymcePopUpwrapper">
    <div class="tnymcePopUpwrapperInside">
      <div class="imagebgNew">
        <div class="tnymcePopUpwrapperInsideTitle divLeft">
          Insert Image
        </div>
        <div class="tnymcePopUpwrapperInsideClose tnymceCloseImage divRight">
          X
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="tnymcePopUpwrapperInsideLabel divLeft">Image URL</div>
      <div class="tnymcePopUpwrapperInsideUrl divRight">
        <input type="file" />
      </div>
      <div class="clearfix"></div>
      <div>
        <button type="button" class="tnymceCloseImageAdd">Ok</button>
        <button type="button" class="tnymceCloseImage tnymceCloseImageButton">Cancel</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="topScroll" top-scroll></div>
<div class="wrapper">
  <!--=== Header ===-->
  <div ng-include="'app/common/html/header.html'"></div>
  <!--=== End Header ===-->
  <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
  <!--=== Breadcrumbs ===-->
  <div ng-include="'app/common/html/breadcrumb.html'"></div>
  <!--=== End Breadcrumbs ===-->
</div>
<hr class="breadcrumb-divider"/>
<!--=== Content Part ===-->
<div class="container by_home_content">
    <div class="row">
        <div class="col-md-3  md-margin-bottom-40 forward-display" ng-include="'app/components/product/product-left-panel.html'"></div>
        <div class="col-md-9  no-padding discussion-page md-margin-bottom-40 article-outer-wrapper no-padding-right "
             ng-include="'app/components/product/product-content-panel.html'"></div>
    </div>
</div>

<!--/container-->

<!-- we are hiring -->
<!-- end we are hiring -->
<!-- End Content Part -->

<!--=== Footer Version 1 ===-->
<div ng-include="'app/common/html/footer.html'"></div>
<!--=== End Footer Version 1 ===-->
</div>
