<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 "
            id="sidebar-nav">
            
           
           <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles" ng-if="discuss_counts.z > 0" >
              <a href="#">BY CATEGORY </a>
            </li>
         	<li class="list-group-item false list-div-inline register-page" data-index="discussion-articles" ng-if="discuss_counts.z > 0" >
              <a href="#">BY HEALTH CONDITION</a>
            </li>
            <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles" ng-if="discuss_counts.z > 0" >
              <a href="#">BY  BODY  PART</a>
            </li>
            
        </ul>
        
         <ul class="list-group sidebar-nav-v1 margin-bottom-40 "
            id="sidebar-nav">
            
           
           <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles" ng-if="discuss_counts.z > 0" >
              <a href="#">FEATURED</a>
            </li>
         	<li class="list-group-item false list-div-inline register-page" data-index="discussion-articles" ng-if="discuss_counts.z > 0" >
              <a href="#">NEW </a>
            </li>
            <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles" ng-if="discuss_counts.z > 0" >
              <a href="#">BEST SELLERS</a>
            </li>
             <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles" ng-if="discuss_counts.z > 0" >
              <a href="#">TOP RATED</a>
            </li>
            
            
        </ul>
       
        <!--All classes from Unify end-->

        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Question')">
            <i class="icon-custom icon-sm icon_question"></i>
            <span>Ask a Question</span>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Tips')">
            <i class="icon-custom icon-sm icon_tips"></i>
            <span>Share Experiences</span>
            </a>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Article')">
            <i class="icon-custom icon-sm icon_story"></i>
            <span>Publish Your Story</span>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Feedback')">
            <i class="icon-custom icon-sm icon_feedback"></i>
            <span>Feedback</span>
        </div>
    </div>
</div>

<script type="text/javascript" src="lib/unify/plugins/bootstrap/js/bootstrap-toggle.js"></script>