<div ng-repeat="discuss in discuss" data-index="discussion-articles" data-link="articles.html" class="ng-scope">

    <!-- show if discuss is of type Article -->
    <div class="blog-author margin-bottom-35 main-article by_blog_author">
        <img src="assets/img/product/electricalWheel.jpg?versionTimeStamp=%PROJECT_VERSION%" alt="image" >
        <div class="article-share-links news-v3" style="position: relative;top: -10px;">
            <ul class="post-shares post-shares-lg">
                <!-- ngIf: discuss.aggrReplyCount > 0 && (discuss.discussType == 'A' || discuss.discussType == 'P') -->
                <!-- ngIf: discuss.directReplyCount > 0 && discuss.discussType == 'Q' -->

                <!-- ngIf: discuss.aggrLikeCount > 0 -->
            </ul>
        </div>
        <div class="article-info dp-inline-block">
            <ul class="list-inline posted-info ">
                <li class="article-first-letter ng-scope"  >
                    
                        Product in <a validate-user-name="nitin" class="ng-binding"> Conditions::Alzheimer's  </a>
                        
                   
                </li>
                 
                 <li class="personalStoryMainContentShareBg2  ">
                 	
                                            <i class="rounded-x green-bg white-color">4.2</i>Rated by <a href="">56 people</a>
                                       
                 </li>
                 <li class="personalStoryMainContentShareBg2 ">
                	 <i class="rounded-x fa fa-pencil-square-o padding7 font-20"></i><a href="" style="margin-left: -10px;">18 Review</a>
                                        
                 </li>
                            
                
            </ul>
            <div class="new-banner"><img class="new-banner-img" src="assets/img/icons/New-icon.png" width="55" height="24"></div>
           <div class="article ng-scope" >
       		 <div class="articleProductSearch ng-scopeProductSearch" >
            <div class="article-heading">
            	<p style="text-transform: capitalize" class="ng-binding">ELECTRICAL WHEEL CHAIR </p>
            </div>
            <div class="">
             <ul class="productPrice posted-info ">
                <li class="" >
                	  Our Price <span class="bigboldfont font-green">Rs. 4560.00</span> 
                </li>
                 
                 <li class="">
                 	
                       Catalogue Price <span class="bigboldfont text-linethrough font-red ">Rs. 5560.00</span>      
                                       
                 </li>
                
                            
                
            </ul>
            </div>




        </div>
        </div><!-- end ngIf: discuss.discussType == 'A' --><!-- end ngIf: discuss.discussType == 'A' -->
            
        </div>
        
        

     

        <div class="articles-story by_story ng-binding" id="559554f83b82180c2987e56b" style="word-wrap: break-word;">
           Getting regular health check-ups is extremely important, especially if you are suffering from a chronic illness. However, due to mobility issues and busy lifestyles it is difficult for those who need health monitoring to go to the hospital for regular check-ups and routine treatments.
 
        </div>
        <div style="clear: both"></div>

        <!-- ngIf: discuss.text && discuss.text.length > 0 --><!-- ngIf: discuss.text && discuss.text.length > 0 --><div ng-if="discuss.text &amp;&amp; discuss.text.length > 0" on-finish-render="559554f83b82180c2987e56b" class="ng-scope"></div><!-- end ngIf: discuss.text && discuss.text.length > 0 --><!-- end ngIf: discuss.text && discuss.text.length > 0 -->
    </div>
</div>