<script type="text/javascript" src="assets/js/tinymce/tinymce.min.js"></script>
<div ng-controller="LoadCustomJSController"> </div>

<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

     <div class="headerBottom">
         a Community of people who care
     </div>
        <div class="headerBottomImage"></div>

    <!--=== Content Part ===-->
    <div class="container content discussion-page breadCrumbMargin">
        <div class="ask-question-textarea textarea-label borderShadow">
            <textarea id="ask-question" rows="3" placeholder="Please enter your question" class="question-text"></textarea>
            <button class="btn btn-u question-submit disabled">SUBMIT</button>
        </div>
        <div class="share-tip-textarea textarea-label borderShadow">
            <textarea id="share-tip" rows="3" placeholder="Share your tips and experience" class="share-tips-text"></textarea>
            <button class="btn btn-u share-tips-submit disabled">SUBMIT</button>
        </div>
         <div class="submit-article-textarea textarea-label borderShadow">
            <div class="col-md-12">
                <div class="col-md-12 alert zindexhigh whiteBg borderShadow rounded-r">
                    <p>You can send us your article as a Word document with embedded images to <a href="mailto:content@beautifulyears.com">content@beautifulyears.com</a> But it would help us a lot if you enter it here.</p>
                    <p>Please not that before posting on our site, your article could be edited.</p>
                </div>
            </div>
            <div class="col-md-12 zindexhigh">
                <div class="col-md-7 no-padding">
                    <input type="text" class="form-control borderShadow col-md-12" placeholder="Please enter the headline here. (Upto 80 characters)" />
                </div>
            </div>
            <div class="col-md-12 zindexhigh">
                <div class="col-md-3 no-padding">
                    <button  class="btn btn-xs btn-success submitTextFileButton col-md-12">PLEASE UPLOAD A COVER PHOTO</button>
                    <input type="file"  id="submitTextFile" />
                </div>
            </div>
            <div class="col-md-12 zindexhigh">
                 <textarea id="submit-article" rows="3" placeholder="Please enter the  text of your article here." class="submit-article-text margin-top-10"></textarea>
            </div>


            <div class="col-md-12 zindexhigh margintop30 tminputWrapper">
                <div class="col-md-12 no-padding">
                    <input class="col-md-12 tm-input" name="tags" placeholder="Tag your keywords here" />
                </div>


                <button class="btn btn-u submit-article-submit disabled">SUBMIT</button>
                 <div class="previewButton">
                    <img src="assets/img/Preview_Icon.png" width="100%" title="Preview" alt="Preview" />
                </div>
            </div>


        </div>
        <div class="give-feedback-textarea textarea-label borderShadow">
            <textarea id="give-feedback" rows="3" placeholder="Please give your feedback" class="give-feedback-text"></textarea>
            <button class="btn btn-u give-feedback-submit disabled">SUBMIT</button>
        </div>
        
        <div ng-repeat="model in users">
  <discuss user="model"></discuss>
</div>
        <div class="row both-container">
            <div class="col-md-3 md-margin-bottom-40">
            <div class="left-container-img-wrapper">
                <div class="col-md-11 margin-bottom-40   no-padding margintop40">
                <img src="assets/img/Untitled-1_03.jpg" width="100%" alt="" />
                </div>
                <div class="col-md-11 no-padding">
                    <div class="ask-question"></div>
                </div>
                <div class="col-md-11 no-padding">
                    <div class="share-tips"></div>
                </div>
                <div class="col-md-11 no-padding">
                    <div class="submit-article"></div>
                    <input id="fileopen" type="file" style="display: none">
                </div>
                <div class="col-md-11 no-padding">
                    <a class="give-feedback" href="#/discuss/new/feedback"></a>
                </div>
               </div>
            </div>
            <div class="col-md-9  md-margin-bottom-40 article-outer-wrapper homePage">
                <div class="row">
                    <div class="col-md-6">
                        <div class="headline">
                            <a href="discussion.html"><h2 class="text-uppercase">Discussions</h2></a>
                        </div>
                        <div class="panel-body margin-bottom-20 whiteBg borderShadow">
                            <div class="media media-v2">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="assets/img/img2.jpg" alt="">
                                </a>
                                <div class="media-body">
                                    <i>
                                        <ul class="list-inline">
                                            <li>By <a href="#">Rahul Thomas</a></li>
                                            <li>/ in <a href="#">Beautiful Lives</a></li>
                                        </ul>
                                    </i>
                                    <p>Just some random text, but from a few first lines</p>

                                </div>
                            </div><!--/end media media v2-->
                        </div>
                        <div class="panel-body margin-bottom-20 communitywrapBg borderShadow">
                            <div class="media media-v2">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="assets/img/img2.jpg" alt="">
                                </a>
                                <div class="media-body">
                                    <i>
                                        <ul class="list-inline">
                                            <li> <span class="question">Q</span>uestion by <a href="#">Anonymous</a></li>
                                            <li>/ in <a href="#">Alzheimer’s</a></li>
                                        </ul>
                                    </i>
                                    <p>How should I respond if my dad accuses me of stealing his toothbrush?</p>
                                </div>
                            </div>

                            <div class="media media-v2">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="assets/img/img2.jpg" alt="">
                                </a>
                                <div class="media-body">
                                    <i>
                                        <ul class="list-inline">
                                            <li><span class="answer">A</span>nswer by <a href="#">Rahul Thomas</a></li>
                                            <li>/ in <a href="#">Elder's Routine</a></li>
                                        </ul>
                                    </i>
                                    <p>Buy your dad a new toothbrush, and don’t steal it again!</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body margin-bottom-20 whiteBg borderShadow">

                            <div class="media media-v2">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="assets/img/img2.jpg" alt="">
                                </a>
                                <div class="media-body">
                                    <i>
                                        <ul class="list-inline">
                                            <li>By <a href="#">Rahul Thomas</a></li>
                                            <li>/ in <a href="#">Elder's Routine</a></li>
                                        </ul>
                                    </i>
                                    <p>I have been sick for the last week, hence my lack of contribution. Apologies to my readers! </p>

                                </div>
                            </div>

                            <div class="media media-v2 margin-left-20">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="assets/img/img2.jpg" alt="">
                                </a>
                                <div class="media-body">
                                    <i>
                                        <ul class="list-inline">
                                            <li><span class="answer">C</span>omment by <a href="#">Hamida Parkar</a></li>
                                        </ul>
                                    </i>
                                    <p>Get well, Rahul! We miss your articles!</p>
                                </div>
                            </div>
                        </div>
                        <div class="headline">
                            <a href="projects.html"><h2 class="text-uppercase">Featured  housing projects</h2></a>
                        </div>
                        <div class="panel-body margin-bottom-20 whiteBg  borderShadow">
                            <div class="media media-v2">

                                <div class="media-body">

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="headline">
                            <a href="news.html"><h2 class="text-uppercase">our news</h2></a>
                        </div>
                        <div class="panel-body margin-bottom-20 whiteBg paddingZero borderShadow">
                            <div class="media media-v2">
                                <a class="pull-left" href="#">
                                    <img class="media-object" src="assets/img/img2.jpg" alt="">
                                </a>
                                <div class="media-body">

                                    <p>Winner of the photo competition announced!</p>


                                </div>
                            </div><!--/end media media v2-->
                        </div>

                        <div class="panel-body margin-bottom-20 whiteBg paddingZero borderShadow">
                            <div class="media media-v2">
                                <a class="pull-left" href="#">
                                    <img class="media-object-small" src="assets/img/Forma.png" alt="">
                                </a>
                                <div class="media-body">
                                    <p>Announcing a writing competition about aging and elderly care  </p>


                                </div>
                            </div><!--/end media media v2-->
                        </div>

                        <div class="headline">
                            <a href="products.html"><h2 class="text-uppercase">featured products</h2></a>
                        </div>
                        <div class="col-md-12 panel-body margin-bottom-20 whiteBg borderShadow paddingZero" style="padding-right:0px;">
                            <div class="media media-v2 col-md-12" style="padding: 0;">
                                <a class="pull-left col-md-5" href="#" style="padding: 0;">
                                    <img class="media-object" src="assets/img/product.png" alt="" style="width:100%;">
                                </a>
                                <div class="col-md-7">
                                    <img class="pull-right pull-right-image" src="assets/img/featuredProducts.png" width="33px" alt="">
                                    <p>Announcing a writing competition about aging and elderly care</p>
                                    <i>
                                        <img src="assets/img/discount.png" width="12" alt="" valign="middle" /> Discount offer
                                    </i><div style="clear:both;" class="margin-bottom-20"></div>
                                    <a href="products.html"><button class="btn-u btn-u-padding margin-bottom-20" type="submit">buy now</button></a>

                                </div>
                            </div><!--/end media media v2-->
                        </div>

                        <div class="headline">
                            <a href="services.html"><h2 class="text-uppercase">featured services</h2></a>
                        </div>
                        <div class="panel-body margin-bottom-20 whiteBg borderShadow">
                            <div class="media media-v2">

                                <div class="media-body">

                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>


                                </div>
                            </div>
                        </div>
                        <div class="headline">
                        <a href="profile.html"><h2 class="text-uppercase">New people</h2></a>
                    </div>
                    <div class="panel-body margin-bottom-20 whiteBg borderShadow borderRight">
                        <div class="row margin-bottom-0">
                            <div class="col-xs-3">
                                <a href="profile.html"><img class="img-responsive" src="assets/img/img2.jpg" alt="" width="100%" ></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="profile.html"><img class="img-responsive" src="assets/img/img2.jpg" alt="" width="100%" ></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="profile.html"><img class="img-responsive" src="assets/img/img2.jpg" alt="" width="100%" ></a>
                            </div>

                            <div class="col-xs-3">
                                <a href="profile.html"><img class="img-responsive" src="assets/img/img2.jpg" alt="" width="100%" ></a>
                            </div>
                        </div>
                        <div class="row margin-bottom-0">
                            <div class="col-xs-3">
                                <a href="profile.html"><img class="img-responsive" src="assets/img/img2.jpg" alt="" width="100%" ></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="profile.html"><img class="img-responsive" src="assets/img/img2.jpg" alt="" width="100%" ></a>
                            </div>
                            <div class="col-xs-3">
                                <a href="profile.html"><img class="img-responsive" src="assets/img/img2.jpg" alt="" width="100%" ></a>
                            </div>

                            <div class="col-xs-3">
                                <a href="profile.html"><img class="img-responsive" src="assets/img/img2.jpg" alt="" width="100%" ></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-12 margin-bottom-20">
                    <div class="row  whiteBg padding-top-10 borderShadow">
                        <div class="col-md-4">
                            <div class="service">
                                <i class="fa fa-community service-icon"></i>
                                <div class="desc">
                                    <h4 class="text-uppercase">Community</h4>
                                    <p>We are a community of like-minded people, who take care of their elders, and those who care about them.
                                        Here we share our knowledge and experience, pain and love, despair and hope.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="service">
                                    <i class="fa fa-information service-icon"></i>
                                    <div class="desc">
                                        <h4 class="text-uppercase">Information</h4>
                                        <p>Here we can find most relevent and reliable information about services (including nurses and caregivers ), as well as housing options, and products for elder care

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="service">
                                        <i class="fa fa-products service-icon"></i>
                                        <div class="desc">
                                            <h4 class="text-uppercase">Products</h4>
                                            <p>We sell and lease best products in the area of elder care. Everything from wheel chairs to cups for parkinson’s patients. Good quality products at the best price.</p>
                                            <a href="product.html"><button class="btn-u margin-bottom-20" type="submit">View Products</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
                <div class="row "><div class="headline text-center margin-top-20"><h2>WE NEED YOUR HELP!</h2></div></div>

                <div class="col-md-12">
                <div class="row whiteBg padding-top-10 borderShadow">
                    <div class="col-sm-4 info-blocks">
                       <div class="service">
                        <i class="icon-info-blocks fa fa-join"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Join</h3>
                            <p>Please <a href="#" >join</a> our community and tell us more about yourself, so that others could get to know you better, and to learn from your experience</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <div class="service">
                        <i class="icon-info-blocks fa fa-share-psc"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Share</h3>
                            <p>Please <a href="#" >contribute</a> a helpful article, or <a href="#" >share</a> your thoughts, useful tips, experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <div class="service">
                        <i class="icon-info-blocks fa fa-write"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Write</h3>
                            <p><a href="#" >Write</a> about those who love and respect - and let other people know how valuable and beautiful their lives have been.</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                 <div class="col-sm-4 info-blocks">
                    <div class="service">
                        <i class="icon-info-blocks fa fa-answer"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Answer</h3>
                            <p>Please <a href="#" >answer</a> other people’s questions , and dont hesitate to <a href="#" >ask</a> your own! The bigger our community’s knowledge base, the easier it would be.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <div class="service">
                        <i class="icon-info-blocks fa fa-find"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Find</h3>
                            <p><a href="#" >Find</a> people to share similar interests and to become friends wih online and may be real life</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <div class="service">
                        <i class="icon-info-blocks fa fa-inform"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Inform</h3>
                            <p>Do you know about a day care center for elders? Mobility services? - Please <a href="#" >let us know</a> about anything that we missed out!</p>
                        </div>
                    </div>
                </div><div class="clearfix"></div>
                <div class="col-sm-4 info-blocks">
                    <div class="service">
                        <i class="icon-info-blocks fa fa-review"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Review</h3>
                            <p>Please <a href="#" >rate &amp; review</a> existing services, Products, etc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <div class="service">
                        <i class="icon-info-blocks fa fa-social"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Social</h3>
                            <p>Please spread a word about us in your network, and <a href="#" >like</a> us on Facebook.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 info-blocks">
                    <div class="service">
                        <i class="icon-info-blocks fa fa-feedback"></i>
                        <div class="info-blocks-in">
                            <h3 class="text-uppercase">Feedback</h3>
                            <p>We are bound to make mistakes, but we would like to learn and to improve. So please <a href="#" >tell us</a> how to make our site and our services better!</p>
                        </div>
                    </div>
                </div><div class="clearfix"></div>
            </div>
            </div>


            <!-- we are hiring -->
           <!-- <div class="weAreHiring margin-top-20 row">
                <div class="title-box" style="border:0px;">
                    <div class="title-box-text">WE ARE HIRING!</div>
                    <p>Creative freedom matters user experience, <br/>we minimize the gap between technology and its audience.</p>
                    <a href="careers.html"><button class="btn-u margin-top-20" type="submit">Join Now</button></a>
                </div>
            </div>-->
            <!-- end we are hiring -->
            </div>
        </div>
</div><!--/container-->


<!-- End Content Part -->
<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                       2015  © BeautifulYears Ltd. 
                        <a target="_blank" href="#">Privacy Policy </a> <a>|</a> <a href="#">Terms of Service</a><a>|</a> <a href="#">Contact Us</a>
                    </p>
                </div>
                <!-- Social Links -->
              <div class="col-md-2 pull-right">  
                <ul class="social-icons pull-right">
                <li><span>Like us on</span></li>
                 <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                 <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>

             </ul>
         </div>
         <!-- End Social Links -->
     </div>
 </div> 
</div>
<!--/copyright-->
    </div>    <!--/wrapper-->
</div>
