<div class="by_header by_header_image">
    <div class="by_logo  divLeft">
        <a di-href="#!/users/home?type=home">
            <img src="assets/img/home/logo.png?versionTimeStamp=%PROJECT_VERSION%" alt="Logo" width="100%">
        </a>
    </div>

    <div class="by_header_right_other divRight" ng-if="$root.windowWidth > 720" style="width:272px;">
    <div style="margin-left:-137px; text-align:right;">
            <a di-href="#!/users/aboutUs" id="aboutUs_placeholder">About us</a>
            <span class="by_header_right_divider">|</span>
            <span id="profile_placeHolder_li">
                <a ng-href="{{profileDetails.link}}" id="profile_placeholder">{{profileDetails.text}}</a>
            </span>
            <span id="login_placeHolder_li" class="by_header_right_divider" ng-show="loginDetails.text.length > 0">|</span>
            <a ng-href="{{loginDetails.link}}" id="login_placeholder">{{loginDetails.text}}</a>
            <span class="by_header_right_divider">|</span>
            <span><img src="assets/img/home/phone.png?versionTimeStamp=%PROJECT_VERSION%" width="20"/></span>
            <b><a ng-href="{{'tel:'+telNo}}">{{telNo}}</a></b>

            <div class="clearfix"></div>
        </div>
        <div class="divRight"
             ng-include="'app/shared/common/template/headerCart.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
        <div class="by_header_right_search_other divRight"
             ng-class="$root.totalCartItem > 0 ? 'by_header_right_search_other_cart' : '' ">
            <div class="by_header_right_search_other_left divLeft">
                <input type="text" placeholder="Search" ng-model="term"
                       onkeydown="if (event.keyCode == 13) document.getElementById('search_link').click()">
                <a href="#!/search/{{term}}/All" id="search_link"></a>
            </div>
            <div class="by_header_right_search_other_image divRight"
                 onclick="document.getElementById('search_link').click()">
                <i class="fa fa-search"></i>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="by_menu">
        <a  href="{{moduleConfig[menu.module].baseUrl}}/{{menu.slug}}/{{menu.id}}/all" ng-repeat="menu in $root.mainMenu" ng-class="{'by_menu_Active': menu.id == $root.byTopMenuId }">{{menu.displayMenuName}}</a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="by_mobile_header" ng-if="$root.windowWidth < 720">
    <div class="by_header_right_mobile divLeft">
        <div class="by_header_right_mobile_search divLeft">
            <input type="text" placeholder="Search" ng-model="term"
                   onkeydown="if (event.keyCode == 13) document.getElementById('search_link').click()">
            <a href="#!/search/{{term}}/All" id="search_link"></a>
        </div>
        <div class="by_header_right_mobile_search_image divRight" ng-click="searchInputShow();">
            <i class="fa fa-search"></i>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="divRight"
         ng-include="'app/shared/common/template/headerCart.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
    <div class="divRight by_mobile_header_profile">
        <span id="profile_placeHolder_li">
            <a href="#!/users/registrationProfile" id="profile_placeholder">Profile</a>
        </span>
        <span id="login_placeHolder_li" class="by_header_right_divider">|</span>
        <a href="#!/users/login" id="login_placeholder">Join us</a>
    </div>
</div>
