<div class="header">
        <div class="headerBg">
            <div class="container">
                <!-- Logo -->
                <a class="logo divLeft" di-href="#!/users/home?type=home">
                    <img src="assets/img/BY-alpha.png" alt="Logo">
                </a>
                <!-- End Logo -->

                <!-- Topbar -->
                <div class="topbar">
                    <ul class="loginbar pull-right">
                        <li><a di-href="#!/users/aboutUs" id="aboutUs_placeholder">About us</a></li>
                        <li class="topbar-devider"></li>
                        <li id="profile_placeHolder_li"><a href="#!/users/registrationProfile" id="profile_placeholder">Profile</a>
                        </li>
                        <li id="login_placeHolder_li" class="topbar-devider"></li>
                        <li><a href="#!/users/login" id="login_placeholder">Join us</a></li>
                    </ul>
                    <div ng-include="'app/shared/common/template/headerCart.html?versionTimeStamp=%PROJECT_VERSION%'"></div>
                </div>
                <div class="clearfix"></div>
                <!-- End Topbar -->
                <div class="searchWrapper divRight searchToogle">
                    <div class="searchLeft">
                        <input type="text" placeholder="Search" ng-model="term"
                               onkeydown="if (event.keyCode == 13) document.getElementById('search_link').click()">
                        <a href="#!/search/{{term}}/All" id="search_link"></a>
                    </div>
                    <div class="searchRight" onclick="document.getElementById('search_link').click()">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <!-- Toggle get grouped for better mobile display -->

            </div>
            <div class="clearfix"></div>
        </div>

        <div class="container mobileHeader">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <div class="searchWrapper divRight">
                <div class="searchLeft">
                    <input type="text" placeholder="Search" ng-model="term"
                           onkeydown="if (event.keyCode == 13) document.getElementById('search_link').click()">
                    <a href="#!/search/{{term}}/All" id="search_link"></a>
                </div>
                <div class="searchRight" onclick="document.getElementById('search_link').click()">
                    <i class="fa fa-search"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div ng-controller="MainMenuController">
            <div window-resize callback="windowResize"
                 class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container-fluid" style="max-width: 960px;" ng-include="menuView"></div>
            </div>
            <!--/end container-->
        </div>
        <!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->