<div ng-controller="LoadCustomJSController"> </div>
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

        <div class="breadcrumbs">
            <div class="container">
                <ul class="pull-right breadcrumb">
                    <li class="active"><a href="#/userprofile">Profile</a></li>
                    <li>Basic Info</li>
                </ul>
            </div>
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->

        <hr class="breadcrumb-divider" />

           <br><br>


        <!--=== Content Part ===-->
        <div class="container content breadCrumbMargin register-page">
            <div class="row">
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="col-md-12 left-container-img-wrapper no-padding">
                        <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                            <li class="list-group-item">
                                <a href="#/users/new" data-ajax="false">SIGNUP INFO</a>
                            </li>
                            <li class="list-group-item">
                                 <a href="#/userprofile" data-ajax="false">I AM..</a>
                            </li>
                            <li class="list-group-item  active selected">
                                 <a href="#/dependent/list/{{$root.bc_userId}}" data-ajax="false">MY DEPENDENTS</a>
                            </li>
                            <li class="list-group-item">
                                 <a href="register_4.html" data-ajax="false">ABOUT ME</a>
                            </li>
                            <li class="list-group-item">
                                <a href="register_5.html" data-ajax="false"> VOLUNTEERING</a>
                            </li>
                        </ul>
                    </div>
                </div>



                <!-- FORM -->
				<form name="userDependentsForm" ng-submit="done && managedependent()" novalidate>


                <div class="col-md-9 md-margin-bottom-40  article-outer-wrapper">
                    <div class="third-register-page">
                        <div class="col-md-8  whiteBg padding20RS">
                            <div class="row margin-bottom-20 marginRightMinus5">
                                <div class="col-md-5">
                                    I am taking care of my
                                </div>
                                <div class="col-md-7 no-padding">
                                    <div class="col-md-12 no-padding-right">
                                        <select class="taking-care-select form-control" data-ng-model="userDependent.takingCareOf">
                                            <option data-gender="0" value="0">Mother</option>
                                            <option data-gender="1" value="1">Father</option>
                                            <option data-gender="0" value="2">Mother-in-Law</option>
                                            <option data-gender="1" value="3">Father-in-Law</option>
                                            <option data-gender="0" value="4">Wife</option>
                                            <option data-gender="1" value="5">Husband</option>
                                            <option data-gender="0" value="6">Sister</option>
                                            <option data-gender="1" value="7">Brother</option>
                                            <option data-gender="1" value="8">Uncle</option>
                                            <option data-gender="0" value="9">Aunt</option>
                                            <option data-gender="3" value="10">Friend</option>
                                            <option data-gender="2" value="11">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-20 otherGender marginRightMinus5">
                                <div class="col-md-5">
                                    Gender
                                </div>
                                <div class="col-md-7 no-padding">
                                    <div class="col-md-12 no-padding-right">
                                        <select class="taking-care-select-2 form-control">
                                            <option data-gender="" value="0">Select his/her gender</option>
                                            <option data-gender="0" value="1">Female</option>
                                            <option data-gender="1" value="2">Male</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-20 marginRightMinus5">
                                <div class="col-md-5">
                                    <span class="gender-her">Her</span> name is
                                </div>
                                <div class="col-md-7 no-padding-right">
                                    <input type="text" class="name-textbox textbox" name="name" ng-model="userDependent.name"/>
                                </div>
                            </div>
                            <div class="row margin-bottom-20 marginRightMinus5">
                                <div class="col-md-5">
                                    <span class="gender-she">She</span> lives
                                </div>
                                <div class="col-md-7 no-padding-right">
                                    <div class="col-md-12 no-padding">
                                        <select class="lives-dependency-select form-control" ng-model="userDependent.livesWith">
                                            <option value="0">Independently</option>
                                            <option value="1">In a facility</option>
                                            <option value="2">With me</option>
                                            <option value="3">With others </option>
                                        </select>
                                    </div>
                                    <div class="col-md-12 no-padding margin-top-20">
                                        <select class="lives-town-select form-control" ng-model="userDependent.livesIn">
                                            <option value="0">In the same town as I </option>
                                            <option value="1">In a different town </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row border-full-width grayBg  margin-top-20 margin-bottom-20"></div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10 grayRegisterBg paddingTB4 text-center rounded-r">Shhh.. This information will always remain private with us! </div>
                                <div class="col-md-1"></div>
                            </div>

                            <div class="grayRegisterBgLight  row" ng-app="dateApp" ng-controller="DateController">
                                <div class="row margin-bottom-20 padding-top-10 marginRightMinus5 margin-top-20">
                                    <div class="col-md-5">
                                        <span class="gender-she">She</span> is
                                    </div>
                                    <div class="col-md-7 no-padding-right">
                                        <div class="col-md-12 no-padding">
                                            <select class="marital-select form-control" ng-model="userDependent.maritalStatus">
                                                <option value="0">Married </option>
                                                <option value="1">Widowed </option>
                                                <option value="2">Divorced </option>
                                                <option value="3">Other </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                <div class="margin-bottom-20">
                                    Dates that matter to <span class="gender-her-small gender-her-smallapp">her</span> most are :
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        <span class="gender-her">Her</span> Birthday
                                    </div>
                                    <div class="col-md-7">
                                        <section class="col col-6">
                                            <label class="input fontWeightNormal">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" class="name-textbox textbox birthday datepicker" name="name"  id="datepicker" readonly />
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        <span class="gender-her">Her</span> Anniversary
                                    </div>

                                    <div class="col-md-7">
                                        <section class="col col-6">
                                            <label class="input fontWeightNormal">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <div pickadate="" ng-model="userDependent.impDate2" min-date="minDate" max-date="maxDate"></div>
                                                <div class="selected-date">
												        Selected date is {{userDependent.impDate2 || '(no date selected)'}}
      											</div>
                                            </label>
                                        </section>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20 margin-top-20 add-sig-wrap">
                                    <div class="col-md-offset-5 col-md-7">
                                        <a class="add-sig">+ another significant date</a>
                                    </div>
                                </div>
                                -->

                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        <span class="gender-she">She</span> lives in
                                    </div>
                                    <div class="col-md-7">
                                        <select class="form-control country-select" ng-model="userDependent.country">
                                            <option value="0" selected="" disabled="">Country</option>
                                            <option value="1">India</option>
                                            <option value="2">US</option>
                                            <option value="3">UK</option>
                                            <option value="4">Australia &amp; NZ</option>
                                            <option value="5">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        City
                                    </div>
                                    <div class="col-md-7">
                                        <input type="email" class="textbox city-text" ng-model="userDependent.city"/>
                                    </div>
                                </div>
                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                       Locality
                                    </div>
                                    <div class="col-md-7">
                                        <input type="email" class="textbox locality-text" ng-model="userDependent.locality"/>
                                    </div>
                                </div>

                                <div class="row margin-bottom-20">
                                    <div class="col-md-5">
                                        Home Address
                                    </div>
                                    <div class="col-md-7">
                                        <textarea class="textbox home-address" rows="3" ng-model="userDependent.address"></textarea>
                                    </div>
                                </div>

                                <!-- upto 5 emails -->

                                <script type="text/javascript">

                                //Emails
                                var iEmailCnt = 0;
                                function showNextEmail()
                                {
                                	if(iEmailCnt == 5)
                                	{
                                		//iCnt = 0;
                                		return;
                                	}
                                	else
                                	{
                                		iEmailCnt++;
                                		var ele = 'email' + iEmailCnt;
                                		//alert(ele);
                                		document.getElementById(ele).style.display = 'block';
                                	}
                                }

                                function removeEmail(id)
                                {
                                	document.getElementById(id).style.display = 'none';
                                	iEmailCnt--;
                                }



                                //Phone #s
                                var iPhoneCnt = 0;
								function showNextPhone()
								{
									if(iPhoneCnt == 5)
									{
										//iCnt = 0;
										return;
									}
									else
									{
										iPhoneCnt++;
										var ele = 'phone' + iPhoneCnt;
										//alert(ele);
										document.getElementById(ele).style.display = 'block';
									}
								}

								function removePhone(id)
								{
									document.getElementById(id).style.display = 'none';
									iPhoneCnt--;
                                }
                                </script>

                                <!-- 1 -->
                                <div class="row margin-bottom-20" id="email1">
                                    <div class="col-md-5">
                                        Email ID
                                    </div>
                                    <div class="col-md-7">
                                        <input type="email" class="textbox email-text" ng-model="userDependent.emailId1"/>
                                    </div>
										<div class="col-md-offset-5 col-md-7">
											<a href="" onclick="showNextEmail()">+ add another email id</a>
										</div>


                                </div>


                                <!-- 2 -->
                                <div class="row margin-bottom-20" id="email2" style="display:none" ng-show="userDependent.emailId2">
									<div class="col-md-5">
										Email ID
									</div>
									<div class="col-md-7">
										<span><input type="email" ng-model="userDependent.emailId2"/><a onclick="removeEmail('email2')"> x </a></span>
									</div>
								</div>


                                <!-- 3 -->
                                <div class="row margin-bottom-20" id="email3" style="display:'none'" ng-show="userDependent.emailId3">
									<div class="col-md-5">
										Email ID
									</div>
									<div class="col-md-7">
										<input type="email" ng-model="userDependent.emailId3"/><a onclick="removeEmail('email3')"> x </a>
									</div>
								</div>


                                <!-- 4 -->
                                <div class="row margin-bottom-20" id="email4" style="display:'none'" ng-show="userDependent.emailId4">
									<div class="col-md-5">
										Email ID
									</div>
									<div class="col-md-7">
										<input type="email" ng-model="userDependent.emailId4"/><a onclick="removeEmail('email4')"> x </a>
									</div>
								</div>


                                <!-- 5 -->
                                <div class="row margin-bottom-20" id="email5" style="display:'none'" ng-show="userDependent.emailId5">
									<div class="col-md-5">
										Email ID
									</div>
									<div class="col-md-7">
										<input type="email" ng-model="userDependent.emailId5"/><a onclick="removeEmail('email5')"> x </a>
									</div>
								</div>

                                <!-- Upto 5 emails -->


								<!-- up to 5 phones -->
                                <div class="row margin-bottom-20" id="phone1">
									<div class="col-md-5">
										Phone
									</div>
									<div class="col-md-7">
										<input type="text" ng-model="userDependent.phone1"/>
									</div>
									<div class="col-md-offset-5 col-md-7">
										<a href="" onclick="showNextPhone()">+ add another phone</a>
									</div>
                                </div>

                                <div class="row margin-bottom-20" id="phone2" style="display:'none'" ng-show="userDependent.phone2">
									<div class="col-md-5">
										Additional Phone
									</div>
									<div class="col-md-7">
										<input type="text" ng-model="userDependent.phone2"/><a onclick="removePhone('phone2')"> x </a>
									</div>
								</div>

								<div class="row margin-bottom-20" id="phone3" style="display:'none'" ng-show="userDependent.phone3">
									<div class="col-md-5">
										Additional Phone
									</div>
									<div class="col-md-7">
										<input type="text" ng-model="userDependent.phone3"/><a onclick="removePhone('phone3')"> x </a>
									</div>
								</div>

								<div class="row margin-bottom-20" id="phone4" style="display:'none'" ng-show="userDependent.phone4">
									<div class="col-md-5">
										Additional Phone
									</div>
									<div class="col-md-7">
										<input type="text" ng-model="userDependent.phone4"/><a onclick="removePhone('phone4')"> x </a>
									</div>
								</div>

								<div class="row margin-bottom-20" id="phone5" style="display:'none'" ng-show="userDependent.phone5">
									<div class="col-md-5">
										Additional Phone
									</div>
									<div class="col-md-7">
										<input type="text" ng-model="userDependent.phone5"/><a onclick="removePhone('phone5')"> x </a>
									</div>
								</div>

                                <!-- up to 5 phones -->







								<!--
                                <div class="row margin-bottom-20 otherAppend">
                                    <div class="col-md-5">
                                        <span class="gender-she">She</span> speaks
                                    </div>



									<div class="col-md-7" id="lang_display">
										<input type="text" id="langs" ng-model="userDependent.speaksLang" value="{{userDependent.speaksLang}}" onclick="document.getElementById('lang_display').style.display='none';document.getElementById('lang_dd').style.display='block';"/>
									</div>

                                    <div ng-dropdown-multiselect="" class="col-md-7" id="lang_dd" ng-controller="LanguagesController">
										<dropdown-multiselect-languages pre-selected="selected_items" model="userDependent.speaksLang" selected-model="{{selected_items}}" names="selected_item_names" options="languages"></dropdown-multiselect-languages>
										<input type="hidden" id="hidden_lang" value="{{userDependent.speaksLang}}" onchange="populate();"/>
									</div>

									<script type="text/javascript">

										function populate()
										{
											alert(document.getElementById('hidden_lang').innerHTML);
										}
									</script>


                                </div>
								-->


								<!--
                                <div class="row margin-bottom-20 otherAppend">
                                    <div class="col-md-5">
                                        <span class="gender-she">She</span> is interested in
                                    </div>



									<div class="col-md-7" id="int_display">
										<input type="text" id="interests" ng-model="userDependent.interestedIn" value="{{selected_items}}" onclick="document.getElementById('int_display').style.display='none';document.getElementById('int_dd').style.display='block';"/>
									</div>
									<div class="col-md-7" id="int_dd" style="display:none;" ng-controller="InterestedInController">
										<dropdown-multiselect-interests pre-selected="member.interests" model="selected_items" names="selected_item_names" options="interests"></dropdown-multiselect-interests>

									</div>
                             	</div>




                             <div class="row margin-bottom-20 otherAppend">
                                <div class="col-md-5">
                                    This is what <span class="gender-she-small">she</span> likes doing
                                </div>


                             	<div class="col-md-7" id="like_display">
									<input type="text" id="likes" ng-model="userDependent.likesDoing" value="{{selected_items}}" onclick="document.getElementById('like_display').style.display='none';document.getElementById('like_dd').style.display='block';"/>
								</div>
								<div class="col-md-7" id="like_dd" style="display:none;" ng-controller="LikesDoingController">
									<dropdown-multiselect-likes pre-selected="member.likes" model="selected_items" names="selected_item_names" options="likes"></dropdown-multiselect-likes>

								</div>


                         	</div>
                         	-->

                         <!--
                         <div class="row margin-bottom-20 otherAppend">
                            <div class="col-md-5">
                                <span class="gender-she">She</span> is suffering from
                            </div>


                            <div class="col-md-7" id="suffer_display">
								<input type="text" id="suffers" ng-model="userDependent.sufferingFrom" value="{{selected_items}}" onclick="document.getElementById('suffer_display').style.display='none';document.getElementById('suffer_dd').style.display='block';"/>
							</div>
							<div class="col-md-7" id="suffer_dd" style="display:none;" ng-controller="SufferingFromController">
								<dropdown-multiselect-suffers pre-selected="member.suffers" model="selected_items" names="selected_item_names" options="suffers"></dropdown-multiselect-suffers>

							</div>

                        </div>
                        -->




                        <div class="row">
                            <div class="col-md-12 grayRegisterBg paddingTB4 rounded-r">
                                Please check if you  want to share this information:
                                  <input type="checkbox" name="share_info" value="{{userProfile.shareSufferingFrom}}" ng-model="userDependent.shareSufferingFrom" id="share-info-yes"  />
                            </div>
                        </div></div>

                        <div class="row border-full-width grayBg margin-top-20 margin-bottom-20"></div>
                        <div class="row margin-bottom-10 padding15R grayRegisterBg paddingTB4 rounded-r">
                            <p>Please write more about your <span class="taking-selected">mother</span>. We would like to know what kind of a person <span class="gender-she-small">she</span> is? What is <span class="gender-her-small">her</span> life story? How is <span class="gender-she-small">she</span> coping with <span class="gender-her-small">her</span> condition? And how are You coping with <span class="gender-her-small">her</span> condition?</p>
                        </div>
                        <div class="row margin-bottom-20">
                            <div class="col-md-12 no-padding">
                                <textarea class="textbox about-dependent" rows="3" ng-model="userDependent.blurb" placeholder="Please type here:"></textarea>
                            </div>
                        </div>

                        <div class="row border-full-width grayBg margin-top-20 margin-bottom-20"></div>

						<!--
                        <div class="row margin-bottom-20">
                            <div class="col-xs-8 grayRegisterBg  padding15R rounded-r">
                                A picture is worth a thousand words! Please upload photos of your <span class="taking-selected">mother</span> here. <span class="gender-she">She</span> might be happy to see them on your device!
                            </div>
                            <div class="col-xs-4 text-right pull-right  no-padding-right">
                                <button class="btn btn-success submitTextFileButton upload-photos btn-md"><span class="glyphicon glyphicon-plus-sign"></span><br/><div >Upload <br/>Photos</div></button>
                                <input type="file"  id="submitTextFile" />
                            </div>
                        </div>
                        <div class="row margin-bottom-20 ">
                            <div class="col-xs-4 no-padding-left">
                                <img class="reg-images" src="assets/img/img1-md.jpg" alt="reg-image" />
                            </div>
                            <div class="col-xs-4 no-padding-right">
                                <img class="reg-images" src="assets/img/img1-md.jpg" alt="reg-image" />
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        -->
                        <div class="row margin-bottom-20">
                            <button class="btn btn-sm btn-default pull-right  grayBg" type="submit" ng-click="done=true">SUBMIT</button>
                            <!--<button class="btn btn-sm btn-success margin-right-20">ADD ANOTHER DEPENDENT</button> -->
                        </div>
                    </div>
                    <div class="signup-info borderLeftTwo col-md-4">
                            <div class="row margin-bottom-20">
                                <div class="borderRadiouRightIcon">
                                    <img src="assets/img/infoIcon.png" alt="" />
                                </div>
                                <div class="borderRadiouRight">
                                    <img src="assets/img/register3Like.png" alt="" />
                                    <p class="margin-top-20">Knowing more about your dependents would allow us to offer services that really make sense - for them and for you! <br/><br/>It would also allow other people in the similar situation to find you. </p>
                                </div>
                                <div class="clearfix margin-bottom-40"></div>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!--/container-->