<!--<div ng-controller="LoadCustomJSController"> </div>-->
     <!--<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>-->

        <!--<div class="breadcrumbs">-->
            <!--<div class="container">-->
                <!--<ul class="pull-right breadcrumb">-->
                    <!--<li class="active"><a href="#/userprofile">Profile</a></li>-->
                    <!--<li>Basic Info</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>&lt;!&ndash;/breadcrumbs&ndash;&gt;-->
        <!--&lt;!&ndash;=== End Breadcrumbs ===&ndash;&gt;-->

        <!--<hr class="breadcrumb-divider" />-->

		<!--<br><br>-->

        <!--&lt;!&ndash;=== Content Part ===&ndash;&gt;-->
        <!--<div class="container content breadCrumbMargin register-page">-->
            <!--<div class="row  both-container">-->



                <!--<div class="col-md-3 md-margin-bottom-40">-->
                    <!--<div class="col-md-12 left-container-img-wrapper no-padding">-->
                        <!--<ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">-->
                             <!--<li class="list-group-item">-->
								<!--<a href="#/users/new">SIGNUP INFO</a>-->
							<!--</li>-->
							<!--<li class="list-group-item">-->
								<!--<a href="#/userprofile">I AM..</a>-->
                            <!--</li>-->
                            <!--<li class="list-group-item active selected">-->
								<!--<a href="#/dependent/{{$root.bc_userId}}">MY DEPENDENTS</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="col-md-9 md-margin-bottom-40 margin-top-20 article-outer-wrapper">-->
                    <!--<div class="first-register-page">-->
                        <!--<div class="col-md-6 signup-form  whiteBg padding20">-->

                        	<!--<div ng-show="error"><font color="red">{{error}}</font></div>-->
							<!--<div ng-show="message"><font color="green">{{message}}</font></div>-->

                            <!--<div class="row border-full-width grayBg margin-top-20 margin-bottom-20"></div>-->
							<!--<div ng-repeat="dependent in dependents">-->
								<!--<li>-->
								<!--<a href="#/dependent/{{$root.bc_userId}}/{{dependent.id}}">{{dependent.name}}</a>-->
								<!--</li>-->
							<!--</div>-->

							<!--<div ng-hide="dependents != null">No dependents available </div>-->
							<!--<div ng-show="dependents == ''">No dependents available </div>-->

							<!--<div class="row border-full-width grayBg margin-top-20 margin-bottom-20"></div>-->
							<!--<form name="userDependentsForm" ng-controller="UserCreate3Controller" ng-submit="newdependentform()" novalidate>-->
							<!--<div class="row margin-bottom-20">-->
								<!--<button class="btn btn-sm btn-success margin-right-20" ng-show="dependents == ''" type="submit">ADD DEPENDENT</button>-->
								<!--<button class="btn btn-sm btn-success margin-right-20" ng-show="dependents != ''"  type="submit">ADD ANOTHER DEPENDENT</button>-->
							<!--</div>-->
							<!--</form>-->
                        <!--</div>-->
                        <!--<div class="col-md-5 signup-info ">-->

                                <!--<div class="row margin-bottom-20">-->
                                    <!--<div class="borderRadiouRightIcon">-->
                                        <!--<img src="assets/img/infoIcon.png" alt="" />-->
                                    <!--</div>-->
                                    <!--<div class="borderRadiouRight">-->
                                        <!--<img src="assets/img/LikeRegister.png" alt="" />-->
                                        <!--<p>Thank you for registering an account with us!<br/> This would allow you to:</p>-->
                                        <!--<ul>-->
                                            <!--<li>"Like" articles, posts, and comments</li>-->
                                            <!--<li>Answer questions</li>-->
                                            <!--<li>Get personalized information, and much more in future!</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                    <!--<div class="clearfix margin-bottom-40"></div>-->

                                    <!--<div class="borderRadiouRightIcon">-->
                                        <!--<img src="assets/img/infoIcon.png" alt="" />-->
                                    <!--</div>-->
                                    <!--<div class="borderRadiouRight">-->
                                        <!--<img src="assets/img/registerNext.png" alt="" />-->
                                        <!--<p>Could you please press <span class="text-green">"NEXT PAGE"</span>	and  tell us more about yourself? This would allow us to serve you better, providing you with more relevant information. Press NEXT PAGE to proceed.</p>-->
                                        <!--<p>You can  come back later to update your profile (by clicking on your Profile icon on top of the  screen)-->
                                            <!--Thank you for your time! </p>-->
                                    <!--</div>-->
                                    <!--<div class="clearfix"></div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;/container&ndash;&gt;-->
