<!--&lt;!&ndash; <div ng-controller="LoadCustomJSController"> </div> &ndash;&gt;-->
<!--<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>-->

     <!--&lt;!&ndash; bread crumbs &ndash;&gt;-->
     <!--<div class="breadcrumbs">-->
        <!--<div class="container">-->
            <!--<h1 class="pull-left">Login</h1>-->
            <!--<ul class="pull-right breadcrumb">-->
                <!--<li class="active"><a href="#!users/home">Home</a></li>-->
                <!--<li >Login</li>-->
            <!--</ul>-->
             <!--<div class="clearfix"></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; ends breadcumbs &ndash;&gt;-->



     <!--<div class="clearfix margin-top-40 "></div>-->
       <!--&lt;!&ndash;=== Content Part ===&ndash;&gt;-->
       <!--<div class="container content">-->
           <!--<div class="row margin-top-58 margin-bottom-40">-->
            <!--<div class="col-md-4 col-sm-6 centerOfThePage">-->

                <!--<div ng-show="error"><font color="red">{{error}}</font></div>-->
				<!--<div ng-show="message"><font color="green">{{message}}</font></div>-->
                <!--<form class="reg-page borderShadow" name="loginForm" ng-submit="loginUser(user)" novalidate>-->
                    <!--<div class="reg-header">-->
                        <!--<h2>Login to your account</h2>-->
                    <!--</div>-->

                    <!--<div class="col-md-12 no-padding margin-bottom-10">-->
                        <!--<a>-->
                            <!--<img src="assets/img/Login_FB.jpg" width="100%" alt="" >-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<p class="text-center margin-bottom-10">or</p>-->

                    <!--<div class="col-md-12 no-padding margin-bottom-10">-->
                        <!--<a>-->
                            <!--<img src="assets/img/Login_Google.jpg" width="100%" alt="" >-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<p class="text-center margin-bottom-10">or</p>-->
                    <!--<div class="input-group margin-bottom-20">-->
                        <!--<span class="input-group-addon"><i class="fa fa-user"></i></span>-->
                        <!--<input type="text" placeholder="Email" ng-model="user.email" class="form-control">-->
                    <!--</div>-->
                    <!--<span>-->
						<!--<p ng-show="loginForm.email.$invalid && loginForm.email.$pristine" class="help-block">Email is required.</p>-->
                    <!--</span>-->

                    <!--<div class="input-group margin-bottom-20">-->
                        <!--<span class="input-group-addon"><i class="fa fa-lock"></i></span>-->
                        <!--<input type="password" placeholder="Password" ng-model="user.password" class="form-control">-->
                    <!--</div>-->
                    <!--<span>-->
						<!--<p ng-show="loginForm.password.$invalid && loginForm.password.$pristine" class="help-block">Password is required.</p>-->
                    <!--</span>-->

                    <!--<div class="row">-->
                        <!--<div class="col-md-6 checkbox">-->
                            <!--<label><input type="checkbox" checked>Remember me</label>-->
                        <!--</div>-->
                        <!--<div class="col-md-6">-->
                            <!--<button class="btn-u pull-right" type="submit" ng-disabled="!loginForm.$valid">Login</button>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<hr>-->

                    <!--<h4>Forgot your Password?</h4>-->
                    <!--<p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>&lt;!&ndash;/row&ndash;&gt;-->
    <!--</div>&lt;!&ndash;/container&ndash;&gt;-->
    <!--&lt;!&ndash;=== End Content Part ===&ndash;&gt;-->

<!--</div>&lt;!&ndash;/wrapper&ndash;&gt;-->

<!--&lt;!&ndash; JS Global Compulsory &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>-->
<!--<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash; JS Implementing Plugins &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>-->
<!--<script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>-->
<!--&lt;!&ndash; JS Customization &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/custom.js"></script>-->
<!--&lt;!&ndash; JS Page Level &ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/app.js"></script>-->
<!--<script type="text/javascript">-->
    <!--jQuery(document).ready(function() {-->
        <!--App.init();-->
        <!--$(".content").css("min-height",$(window).height() - $(".content").offset().top - $(".footer-v1").height() + "px");-->
    <!--});-->
<!--</script>-->
<!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="assets/plugins/respond.js"></script>-->
    <!--<script src="assets/plugins/html5shiv.js"></script>-->
    <!--<script src="assets/plugins/placeholder-IE-fixes.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
<!--<script type="text/javascript" src="assets/js/psc.js"></script>-->

<!--</body>-->
<!--</html>-->