<div class="col-md-12 no-padding margin-bottom-35">
    <div id="home_featured_qa" class="col-md-12 no-padding  list-head dp-block">
        FEATURED Q&amp;A
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>
<div style="clear:both;"></div>

<div ng-repeat="question in questions" data-index="discussion-articles"
     data-link="articles.html" on-finish-render="ngRepeatFinished" style="position:relative;">
     
     <div class="questionTag">
  		<img  src="assets/img/Q_A.png" alt="image">
  	</div>

    <!-- show if discuss is of type Article -->
    <div ng-click="go($event, 'id', question.id, question.discussType)" data-index="discussion-articles" class="blog-author margin-bottom-35 main-article by_blog_author">
        <img src="assets/img/by.png" alt="image" >
        <div class="article-info dp-inline-block">
            <ul class="list-inline posted-info" style="margin-right:80px !important;">
                <li>
                    <p  ng-if="question.discussType == 'A'">
                        By <a validate-user-name="{{question.username}}" style="text-transform:capitalize;">{{username}}</a>
                        |
                    </p>
                    <p  ng-if="question.discussType == 'Q'">
                        By <a validate-user-name="{{question.username}}" style="text-transform:capitalize;">{{username}}</a>
                        |
                    </p>
                    <p  ng-if="question.discussType == 'P'">
                        By <a validate-user-name="{{question.username}}" style="text-transform:capitalize;">{{username}}</a>
                        |
                    </p>
                </li>
                <li time-since="{{question.createdAt}}"></li>
                 <li ng-if="question.topicId.length > 0">
                    | In
                </li>

                <li ng-if="question.topicId.length > 0">
                    <p class="first-letter-uc">
                   <a ng-click="go($event,'name', question.topicId[0])">
                    {{$root.discussCategoryListMap[question.topicId[0]].name.toLowerCase()}}</a>
                </p>
                </li>
               
            </ul><div style="clear: both"></div>
                
               
        </div>

       
          <div class="article  col-md-12" ng-if="question.discussType == 'A'">
            <div class="article-heading"><p style="text-transform: uppercase;    font-weight: 500;">
                {{question.title}}</p>
            </div>
        </div>
        
        <div class="articles-story  col-md-12" id="{{discuss.id}}" >
        	<p class="discuss-card-desciption" 
				data-ng-bind="question.text" data-ellipsis data-ellipsis-append="read more">
			</p>
            
        </div>
        <div style="clear: both"></div>
        <div class="article-share-links news-v3 by-social-border" style="position: relative;top: 0px;">
            <ul class="post-shares post-shares-lg">
                <li class="add-comment"
                    ng-if="question.aggrReplyCount > 0 && (question.discussType == 'A' || question.discussType == 'P')">
                    <a href="#">
                        <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
                        <span style="margin-left:3px;">{{question.aggrReplyCount}}</span>
                        <span class="text">Comment</span>
                    </a>
                </li>
                <li class="add-comment"
                    ng-if="question.aggrReplyCount == 0 && (question.discussType == 'A' || question.discussType == 'P')">
                    <a>
                        <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
                        <span class="textColor"
                              ng-click="go($event,'comment', question.id)">Be the first  to comment</span>
                    </a>
                </li>
                <li class="add-comment" ng-if="question.directReplyCount > 0 && question.discussType == 'Q'">
                    <a href="#">
                        <i class="rounded-x fa fa-pencil-square-o ng-scope" title="Answers"
                           style="margin-top:-4px;"></i>
                        <span style="margin-left:3px;">{{question.directReplyCount}}</span>
                        <span class="text">Answer</span>
                    </a>
                </li>

                <li class="add-comment" ng-if="question.directReplyCount == 0 && question.discussType == 'Q'">
                    <a>
                        <i class="rounded-x fa fa-pencil-square-o ng-scope" title="Answers"
                           style="margin-top:-4px;"></i>
                        <span class="textColor2"
                              ng-click="go($event,'comment', question.id)">Be the first  to answer</span>
                    </a>
                </li>

                <li class="add-comment" ng-if="question.aggrLikeCount > 0">
                    <a href="#">
                        <i class="rounded-x icon-heart" title="Likes"></i>
                        <span ng-if="question.aggrLikeCount > 0" style="margin-left:3px;">{{question.aggrLikeCount}}</span>
                        <span class="text">Like</span>
                    </a>
                </li>

                <li class="add-comment" ng-if="question.aggrLikeCount == 0">
                    <a href="#">
                        <i class="rounded-x icon-heart" title="Likes"></i>
                        <span class="text">Like</span>
                    </a>
                </li>

                <li class="add-comment" ng-if="question.discussType == 'A'">
                    <a href="#">
                        <i class="rounded-x icon-share"></i>

                        <span>0</span>

                        <div class="post-text post_text-comment"><span class="text">Share</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div style="clear: both"></div>
        <div ng-if="question.text && question.text.length > 0" on-finish-render="{{question.id}}"></div>
    </div>
</div>



<div class="col-md-12 no-padding margin-bottom-30 more-link" data-link="articles.html">
    <a href="#discuss/Q/list/all">More...</a>
</div>
