<!--All classes from Unify start-->
<style type="text/css">
	.list-group-item a
	{
		font-size:15px;
	}
</style>
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 "
            id="sidebar-nav">
            
            <li class="list-group-item" data-index="discussion-posts" ng-if="promotionsCount.count > 0" style="border:0px; background:transparent;">
                <a ng-click="switchToContentView('home_promotional')">News & Announcements</a>
            </li>
            <li class="list-group-item" data-index="discussion-QA" style="border:0px; background:transparent;">
                <a ng-click="switchToContentView('home_featured_articles')">Featured Posts</a>
            </li>
            <li class="list-group-item" data-index="discussion-posts"style="border:0px; background:transparent;" >
                <a ng-click="switchToContentView('home_featured_qa')">Featured Q&A</a>
            </li>
            <li class="list-group-item" data-index="discussion-posts" style="border:0px; background:transparent;">
                <a ng-click="switchToContentView('home_featured_services')">Featured Services</a>
            </li>
            
        </ul>


        <div class="col-md-12 col-xs-12 col-sm-12 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Question')">
            <i class="sprite sprite-question"></i>
             <span><b>Ask</b> anything about elder care or health</span>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Article')">
            <i class="sprite sprite-story"></i>
            <span><b>Share</b> your stories, experiences, photos</span>
        </div>
        <!--  
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Feedback')">
            <i class="icon-custom icon-sm icon_feedback"></i>
            <span>Feedback</span>
        </div>-->
    </div>
    <!--</div>-->
</div>
