<div class="by_home_bg">
	<!--          Home title            -->
    <div class="by_home_title1 divLeft">
        Taking better care of parents
        <div class="by_home_title1_bg">
            Living longer and happier 
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="divRight by_home_agingImage mobileSite" >
        <img src="assets/img/home/ageing_people.png?versionTimeStamp=%PROJECT_VERSION%" width="100%" />
    </div>
    <div class="clearfix"></div>

	<!--            Home Top Menu           -->
    <div class="by_home_topMenu">
        
            <div class="by_home_topMenu_item">
                <a href="#!/discuss/list/Stories_&_Opinions_Caregiving_Health_Activities_/564071623e60f5b66f62df27/all">
                    <div class="by_home_topMenuText">                       
                        <img src="assets/img/home/share_btn.png?versionTimeStamp=%PROJECT_VERSION%">
                        Communities
                    </div>
                    <div class="by_home_topMenuDesc">
                        Get support. Ask questions.<br/>
                        Share experiences
                    </div>
                </a>
            </div>
            <div class="by_home_topMenu_item">
                <a href="#!/services/list/Services_Housing_/56406cd03e60f5b66f62df26/all">
                    <div class="by_home_topMenuText">                       
                        <img src="assets/img/home/directory_btn.png?versionTimeStamp=%PROJECT_VERSION%">
                        Directory
                    </div>
                    <div class="by_home_topMenuDesc">
                        <b id="HomeSevicesCnt">0</b> services for seniors<br/>
                        <b id="HomeHousingCnt">0</b> senior living facilities
                    </div>
                </a>
            </div>
            <div class="by_home_topMenu_item">
                <a href="#!/products/list/Products_/55bcad7be4b08970a736784b/all">
                    <div class="by_home_topMenuText">                       
                        <img src="assets/img/home/shop_btn.png?versionTimeStamp=%PROJECT_VERSION%">
                        Shop
                    </div>
                    <div class="by_home_topMenuDesc">
                        Improving lives:<br/>
                        <b class="HomeProductCnt">0</b> products for seniors
                    </div>
                </a>
            </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--              Home Mobile section                      -->
<div class="by_homeCallWrap mobileSite" >
    <div class="by_container">
        <!--<div class="divLeft">
            <a href="#!/users/login">Join us</a>
        </div>-->
        <div class="divRight" style="text-align:center; float:none;">
            Need help? <a href="tel:080-6940-0333"> <img
                src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%"> Call Now</a>
        </div>
    </div>
</div>


<!--                  Home Promotions                    -->
<div class="by-home-page">
    <div class="clearfix"></div>
    <!-- home promotions
    <div id="homeContainer" class="homeContainer">
        <div class="discussion-page md-margin-bottom-40 container homeAskShare">
            <div ng-controller="BYHomePromoController" class=" margin-top-20">
                <div ng-include="'app/components/home/homePromotional.html?versionTimeStamp=%PROJECT_VERSION%'"
                     infinite-scroll="loadMore()"></div>
            </div>
        </div>
    </div>-->
    <div class="clearfix"></div>


	<!--  Home main section             -->
	

   

    <div class="by_container by_home_comm_bg" >
        <div class="by_homeSection by_home_comm_bgImage">
            <div class="by_homeSectionInside">
                <div class="by_homeSection_image divLeft" >
                    <img src="assets/img/home/community_low.png?versionTimeStamp=%PROJECT_VERSION%" width="100%">
                </div>
                <div class="by_homeSection_text divRight">
                    <div class="by_homeSection_title">
                        <a href="#!/discuss/list/Stories_&_Opinions_Caregiving_Health_Activities_/564071623e60f5b66f62df27/all">Communities</a>
                    </div>
                    <div class="by_homeSection_desc">
                        We help each other take better care of parents. We would like to age happier, and to live longer. <!--<br/>Join our communities  - get informed, show your talents, and share your experience. -->
                    </div>      
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="by_homeSection_menuTitle by_home_center">
                Ask anything about senior care or aging. Share your experiences.
            </div><div class="clearfix"></div>
            <div class="by_homeSection_menuWrap by_home_center">
                <div class="by_homeSection_menu">
                    <a href="#!/discuss/list/CARING_FOR_PARENTS_/564072883e60f5b66f62df2d/all">
                    <img src="assets/img/home/caring-for-parents.png?versionTimeStamp=%PROJECT_VERSION%" alt="caring for parents">
                    Caring for parents
                    </a>
                </div>
                <div class="by_homeSection_menu">
                    <a href="#!/discuss/list/Beautiful_Ageing_/564072373e60f5b66f62df2b/all">
                    <img src="assets/img/home/beautiful-ageing.png?versionTimeStamp=%PROJECT_VERSION%" alt="Beautiful ageing">
                    Beautiful Ageing
                    </a>
                </div>
                <div class="by_homeSection_menu">
                    <a href="#!/discuss/list/Active_Leisure_Hobbies_creative_Activities_/5640726c3e60f5b66f62df2c/all">
                    <img src="assets/img/home/active-leisure.png?versionTimeStamp=%PROJECT_VERSION%" alt="Active leisure">
                    Active Leisure
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>  
    <div class="by_container by_home_find_bg" > 
        <div class="by_homeSection by_home_find_bgImage">
            <div class="by_homeSectionInside">
                <div class="by_homeSection_image divLeft">
                    <img src="assets/img/home/directory_low.png?versionTimeStamp=%PROJECT_VERSION%" width="100%">
                </div>
                <div class="by_homeSection_text divRight">
                    <div class="by_homeSection_title">
                        <a href="#!/services/list/Services_Housing_/56406cd03e60f5b66f62df26/all">Directory</a>
                    </div>
                    <div class="by_homeSection_desc">
                        Are you looking for a caregiver or a nurse for your relatives? Considering a retirement home? Looking for a good lawyer to prepare a will? <!--Find whatever you need in our directory. -->
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="by_homeSection_menuTitle by_home_center">
                Find any service for seniors or senior living facilities:
            </div><div class="clearfix"></div>
            <div class="by_homeSection_menuWrap by_home_center">
                <div class="by_homeSection_menu">
                    <a href="#!/services/list/Caregivers_and_Nurses_Personal_Companions_/55befb69e4b07cedaa26780d/all">
                    <img src="assets/img/home/caregivers-and-nurses.png?versionTimeStamp=%PROJECT_VERSION%" alt="Caretakers &amp; Nurses">
                        Caretakers &amp; Nurses
                    </a>
                </div>
                <div class="by_homeSection_menu">
                    <a href="#!/services/list/Physio_and_Massage_on_call_/55befb86e4b07cedaa26780e/all">
                    <img src="assets/img/home/physiotherapy.png?versionTimeStamp=%PROJECT_VERSION%" alt="Physiotherapy"> 
                        Physiotherapy
                    </a>
                </div>
                <div class="by_homeSection_menu">
                    <a href="#!/services/list/Home_diagnostics_/55befc45e4b07cedaa26781a/all">
                    <img src="assets/img/home/home-diagnostics.png?versionTimeStamp=%PROJECT_VERSION%" alt="Home Diagnostics"> 
                        Home Diagnostics
                    </a>
                </div>
                <div class="by_homeSection_shopMore by_homeSection_shopMore_find">
                    <a href="#!/services/list/Services_Housing_/56406cd03e60f5b66f62df26/all">
                        <div class="divLeft">More </div>
                        <div class="divLeft by_homeSection_shopMoreImg"></div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
             <div class="by_homeSection_shopMore by_homeSection_shopMore_findBottom">
                    <a href="#!/services/list/Services_Housing_/56406cd03e60f5b66f62df26/all">
                        <div class="divLeft">More </div>
                        <div class="divLeft by_homeSection_shopMoreImg"></div>
                        <div class="clearfix"></div>
                    </a>
            </div>
        </div>
    </div>
    <div class="by_container by_home_shop_bg"> 
        <div class="by_homeSection by_home_shop_bgImage">
            <div class="by_homeSectionInside">
                <div class="by_homeSection_image divLeft">
                    <img src="assets/img/home/shop_low.png?versionTimeStamp=%PROJECT_VERSION%" width="100%">
                </div>
                <div class="by_homeSection_text divRight">
                    <div class="by_homeSection_title">
                        <a href="#!/products/list/Products_/55bcad7be4b08970a736784b/all">Shop</a>
                    </div>
                    <div class="by_homeSection_desc">
                        Products that improve lives of seniors - select from our catalogue of <b class="HomeProductCnt">0</b> items (and growing).
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="by_homeShop_menu1 by_home_center">                
                <div class="by_homeShop_menu by_homeShop_menuActive" >
                    <a href="#!/products/list/bYTHECONDITION/10200/all">
                        <div class="by_homeSection_menuText">
                            By The Condition
                        </div>
                    </a>
                </div>
                <div class="by_homeShop_menu" >
                    <a href="#!/products/list/bYCATEGORY/10212/all">
                        <div class="by_homeSection_menuText">
                            By Category
                        </div>
                    </a>
                </div>
                <div class="by_homeShop_menu" >
                    <a href="#!/products/list/bYBODYPARTS/10219/all">
                        <div class="by_homeSection_menuText">
                            By Body Parts
                        </div>
                    </a>
                </div>
                <div class="by_homeShop_menu" >
                    <a href="#!/products/list/aIDS/10225/all">
                        <div class="by_homeSection_menuText">
                            Aids
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="by_homeShop_border by_home_center"></div>
            <div class="by_homeShop_menu2 by_home_center">
                <div class="by_home_product_menu">
                    <a  href="#!/products/list/diabetes/10201/all?q=10201">
                        <div class="by_home_product_image">
                            <img src="assets/img/home/diabetes.png?versionTimeStamp=%PROJECT_VERSION%" width="100%">
                        </div>
                        Diabetes
                        <div class="clearfix" style="height:10px;"></div>
                    </a>
                </div>
                <div class="by_home_product_menu">
                    <a  href="#!/products/list/heartBloodPressure/10203/all?q=10203">
                        <div class="by_home_product_image">
                            <img src="assets/img/home/heart-blood-pressure.png?versionTimeStamp=%PROJECT_VERSION%" width="100%">
                        </div>
                        Heart &amp; Blood Pressure
                        <div class="clearfix" style="height:10px;"></div>
                    </a>
                </div>
                <div class="by_home_product_menu">
                    <a  href="#!/products/list/strokeParalytic/10208/all?q=10208">
                        <div class="by_home_product_image">
                            <img src="assets/img/home/stroke-paralytic.png?versionTimeStamp=%PROJECT_VERSION%" width="100%">
                        </div>
                        Stroke/ Paralytic
                        <div class="clearfix" style="height:10px;"></div>
                    </a>
                </div>
                <div class="by_home_product_menu">
                    <a  href="#!/products/list/respiratory/10450/all">
                        <div class="by_home_product_image">
                            <img src="assets/img/home/respiratory.png?versionTimeStamp=%PROJECT_VERSION%" width="100%">
                        </div>
                        Respiratory
                        <div class="clearfix" style="height:10px;"></div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="by_homeSection_shopMore">
                <a href="#!/products/list/Products_/55bcad7be4b08970a736784b/all">
                <div class="divLeft">More </div>
                <div class="divLeft by_homeSection_shopMoreImg"></div>
                <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>

<div class="by_container by_home_feed_bg">
    <div class="by_home_reg_feed by_home_center">
        <div class="by_home_reg">
            <img src="assets/img/home/business.jpg?versionTimeStamp=%PROJECT_VERSION%" >
            <div class="by_home_reg_line"></div>
            Do you provide services or products for seniors? Please 
            <a href="#!/users/login">register</a>  with us, or <a href="#!/users/contactUs?subject=3">contact us</a>. 
            
        </div>
        <div class="by_home_reg">
            <img src="assets/img/home/contact.jpg?versionTimeStamp=%PROJECT_VERSION%" > 
            <div class="by_home_reg_line"></div>
                Want to provide us <a href="#!/users/contactUs?subject=0">feedback</a> or to <a href="#!/users/contactUs?subject=2">help us</a>? Please <a href="#!/users/contactUs">contact us</a>, we would love to hear from you!
        </div>
        <div class="clearfix"></div>
    </div>
</div>








    <div class="clearfix"></div>
</div>

