<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed by_left_panel_homeSlider by_left_panel_homeSlider_position">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 "
            id="sidebar-nav">
            <li class="list-group-item" data-index="discussion-QA"><a
                    ng-click="switchToContentView('home_featured_articles')">FEATURED
                STORIES</a></li>
            <li class="list-group-item" data-index="discussion-posts"><a
                    ng-click="switchToContentView('home_featured_qa')">FEATURED Q&A</a>
            </li>
            <li class="list-group-item" data-index="discussion-articles"><a
                    ng-click="switchToContentView('home_featured_posts')">FEATURED
                POSTS </a></li>
        </ul>


        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Question')">
            <i class="icon-custom icon-sm icon_question"></i>
            <span>Ask a Question</span>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Tips')">
            <i class="icon-custom icon-sm icon_tips"></i>
            <span>Share Experiences</span>
            </a>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Article')">
            <i class="icon-custom icon-sm icon_story"></i>
            <span>Publish Your Story</span>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Feedback')">
            <i class="icon-custom icon-sm icon_feedback"></i>
            <span>Feedback</span>
        </div>
    </div>
    <!--</div>-->
</div>
