
<!--<div ng-if="posts.length > 0 && (contentType==='all' || contentType==='P')" infinite-scroll="loadMore()"
     ng-include="'app/components/home/homePostsCard.html?versionTimeStamp=%PROJECT_VERSION%'"
     infinite-scroll-disabled="contentType==='all' || postsPageInfo.lastPage || postsPageInfo.isQueryInProgress"
     infinite-scroll-distance="0"></div>

<div ng-if="questions.length > 0 && (contentType==='all' || contentType==='Q')" infinite-scroll="loadMore()"
     ng-include="'app/components/home/homeQuestionCard.html?versionTimeStamp=%PROJECT_VERSION%'"
     infinite-scroll-disabled="contentType==='all' || questionsPageInfo.lastPage || questionsPageInfo.isQueryInProgress"
     infinite-scroll-distance="0"></div>


<div ng-if="services.length > 0 && (contentType==='all' || contentType==='S')" infinite-scroll="loadMore()"
     ng-include="'app/components/home/homeServicesCard.html?versionTimeStamp=%PROJECT_VERSION%'"
     infinite-scroll-disabled="contentType==='all' || servicesPageInfo.lastPage || servicesPageInfo.isQueryInProgress"
     infinite-scroll-distance="0">
</div>

<div class="by_home_community_divider"></div>-->


<div class="by_container by_home_community_bg">
	<div class="by_home_community">
		<div class="by_home_communityInside">
			<div class="by_home_community_text divRight">
				<div class="by_home_community_text_head">
					Communities
				</div>
				<div class="by_home_community_text_desc">
					Looking for interesting activities for your parents and for yourself? Want to increase mental and physical stimulation, and to enhance creativity? From hobbies to showcasing talent – come join us!
				</div>		
			</div>
			<div class="by_home_community_image divLeft">
				<img src="assets/img/home/share.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="by_home_community_text_menu by_home_community_text_menu_desktop">
			<div class="by_home_community_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/1.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Beautiful years forum
					</div>
				</a>
			</div>
			<div class="by_home_community_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/2.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Activities
					</div>
				</a>
			</div>
			<div class="by_home_community_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/3.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Caregiver's forum
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>	
<div class="by_container by_home_find_bg">	
	<div class="by_home_community">
		<div class="by_home_communityInside">
			<div class="by_home_community_text divLeft">
				<div class="by_home_community_text_head">
					Directory
				</div>
				<div class="by_home_community_text_desc">
					Looking for interesting activities for your parents and for yourself? Want to increase mental and physical stimulation, and to enhance creativity? From hobbies to showcasing talent – come join us!
				</div>
			</div>
			<div class="by_home_community_image divRight">
				<img src="assets/img/home/directory.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="by_home_community_text_menu">
			<div class="by_home_find_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/4.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Caregivers and nurses
					</div>
				</a>
			</div>
			<div class="by_home_find_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/5.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Physiotherapy
					</div>
				</a>
			</div>
			<div class="by_home_find_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/6.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Home diagnostics 
					</div>
				</a>
			</div>
			<div class="by_home_find_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/7.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Medical equipment 
					</div>
				</a>
			</div>
			<div class="by_home_find_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/8.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Emergency services
					</div>
				</a>
			</div>
			<div class="by_home_find_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_image">
						<img src="assets/img/home/9.png?versionTimeStamp=%PROJECT_VERSION%" >
					</div>
					<div class="by_home_community_text_menu_item_text">
						Senior living 
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="by_container by_home_shop_bg">	
	<div class="by_home_community">
		<div class="by_home_communityInside">
			<div class="by_home_community_text divRight">
				<div class="by_home_community_text_head">
					Shop
				</div>
				<div class="by_home_community_text_desc">
					Looking for interesting activities for your parents and for yourself? Want to increase mental and physical stimulation, and to enhance creativity? From hobbies to showcasing talent – come join us!
				</div>
			</div>
			<div class="by_home_community_image divLeft">
				<img src="assets/img/home/shop.jpg?versionTimeStamp=%PROJECT_VERSION%" width="100%">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="by_home_shop_text_menu">
			<div class="by_home_shop_text_menu_item by_home_shop_text_menu_item_active">
				<a>
					<div class="by_home_community_text_menu_item_text">
						By Health Condition
					</div>
				</a>
			</div>
			<div class="by_home_shop_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_shop_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_text">
						By Body Part
					</div>
				</a>
			</div>
			<div class="by_home_shop_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_text">
						Aids
					</div>
				</a>
			</div>
			<div class="by_home_shop_text_menu_item">
				<a>
					<div class="by_home_community_text_menu_item_text">
						Staying Young
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="by_home_shop_text_menu_border"></div>
		<div class="by_home_product_text_menu">
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image1 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image2 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image3 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image4 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image5 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image6 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image7 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image8 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image9 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="by_home_product_text_menu_item">
				<a>
					<div class="by_home_product_image10 by_home_product_image"></div>
					<div class="by_home_community_text_menu_item_text">
						By Category
					</div>
				</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="by_container by_home_feed_bg">
	<div class="by_home_reg_feed">
		<div class="by_home_reg">
			<img src="assets/img/home/business.jpg?versionTimeStamp=%PROJECT_VERSION%" >
			<div class="by_home_reg_line"></div>
			Do you provide services for seniors?
			<br/>
			Please <a>Click here</a> to register
			
		</div>
		<div class="by_home_reg">
			<img src="assets/img/home/contact.jpg?versionTimeStamp=%PROJECT_VERSION%" >	
			<div class="by_home_reg_line"></div>
			Want to provide us<br/>
			feedback, to volunteer, to inform?<br/>
			Please <a>Contact us</a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>




