<div class="by_home_bg">
	<!--          Home title            -->
    <div class="by_home_title1">
        Taking better care of parents<br/>
        Living longer and happier
    </div>

	<!--            Home Top Menu           -->
    <div class="by_home_topMenu">
        <div ng-repeat="menu in $root.mainMenu">
            <div class="by_home_topMenu_item">
                <a ng-href="{{menuUrl[menu.module].baseUrl}}/{{menu.slug}}/{{menu.id}}/all">
                    <div class="by_home_topMenuText">
                        <div class="by_home_topMenuImage">
                            <img ng-src="{{homeSection[menu.id].imageSmall}}">
                        </div>
                        <div class="by_home_topMenuTitle">{{menu.displayMenuName}}</div>
                    </div>
                    <div class="by_home_topMenuDesc">
						<span ng-if="homeSection[menu.id].orderId==='0'">
							{{homeSection[menu.id].desc1}}<br/>
						 	{{homeSection[menu.id].desc2}}
						</span>
						<span ng-if="homeSection[menu.id].orderId==='1'">
							 <b id="HomeSevices" ng-init="HomeSevicesNum();">0</b> {{homeSection[menu.id].desc1}}<br/>
							 <b id="HomeHousing" ng-init="HomeHousingNum();">0</b>{{homeSection[menu.id].desc2}}
						</span>
						<span ng-if="homeSection[menu.id].orderId==='2'">
							{{homeSection[menu.id].desc1}}<br/>
							<b id="HomeProduct" ng-init="HomeProductNum();">0</b>  {{homeSection[menu.id].desc2}}
						</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!--              Home Mobile section                      -->
<div class="by_homeCallWrap" ng-if="$root.windowWidth < 720">
    <div class="by_container">
        <div class="divLeft">
            <a href="#!/users/login">Join us</a>
        </div>
        <div class="divRight">
            Need help? <a href="{{'tel:'+telNo}}"> <img
                src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%"> Call Now</a>
        </div>
    </div>
</div>


<!--                  Home Promotions                    -->
<div class="by-home-page margin-top-20">
    <div class="clearfix"></div>
    <div id="homeContainer" class="homeContainer">
        <div class="discussion-page md-margin-bottom-40 container homeAskShare">
            <div ng-controller="BYHomePromoController">
                <div ng-include="'app/components/home/homePromotional.html?versionTimeStamp=%PROJECT_VERSION%'"
                     infinite-scroll="loadMore()"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


	<!--  Home main section             -->
	<div ng-include="homeViews.contentPanel"></div>
    <div class="clearfix"></div>
</div>

