<script type="text/javascript">

    $(document).ready(function () {
        var options = {
            beforeSend: function () {
                //$("#progressbox").show();
                // clear everything
                //$("#progressbar").width('0%');
                //$("#message").empty();
                //$("#percent").html("0%");
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //$("#progressbar").width(percentComplete + '%');
                //$("#percent").html(percentComplete + '%');

                // change message text to red after 50%
                //if (percentComplete > 50) {
                //$("#message").html("<font color='red'>File Upload is in progress</font>");
                // }
            },
            success: function () {
                // $("#progressbar").width('100%');
                // $("#percent").html('100%');
            },
            complete: function (response) {
                //alert(response.responseText);
                $("#articlePhotoFilename").val(response.responseText.substring(response.responseText.lastIndexOf('/') + 1));
            },
            error: function () {
                $("#articlePhotoFilename").val("<font color='red'> ERROR: unable to upload files</font>");
            }
        };

        try {
            $("#UploadForm").ajaxForm(options);
        }
        catch (e) {
        }
    });
</script>

<!--<div ng-controller="LoadCustomJSController"></div>-->

<!--<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>-->

<div class="by_sub_menu" ng-init="subMenuTab();" ng-if="$root.windowWidth > 720">
    <div class="by_sub_menu_head">
        <div class="by_sub_menu_head_thumb">Caring for parents</div>
        <div class="by_sub_menu_head_thumb">Beautiful Ageing</div>
        <div class="by_sub_menu_head_thumb">Active Leisure</div>
        <div class="clearfix"></div>
    </div>
    <div class="by_sub_menu_content">
        <div class="by_sub_menu_content_thumb">
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/11.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Alzheimers &amp; Mental Decay 
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/12.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Parkinson's 
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/15.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Stroke / Bedridden  
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/16.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Joints &amp; Bones
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/24.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Incontinence / Personal Hygiene 
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/22.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Diabetes  
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/13.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    BP &amp; Heart
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/17.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Sleep Disorders
                </a>
            </div>
            <!--<div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/14.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Lungs & Respiratory 
                </a>
            </div>-->
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/23.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Cancer  
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/25.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Vision & Hearing 
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/more.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Other health issues 
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/18.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Mobility and Falls  
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/21.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Senior-friendly home
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/20.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    NRIs / Remote care
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/19.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Caregivers' Challenges  
                </a>
            </div><div class="clearfix"></div>
        </div>
        <div class="by_sub_menu_content_thumb">            
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/5.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Scientific breakthroughs 
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/1.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Yoga &amp; Fitness   
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/2.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Nutrition
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/3.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Beautiful Lives   
                </a>
            </div>
            <div class="by_sub_menu_content_item">
                <a href="">
                    <img src="assets/img/community/desktop/4.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Challenges of ageing  
                </a>
            </div><div class="clearfix"></div>
        </div>
        <div class="by_sub_menu_content_thumb">
            <div class="by_sub_menu_content_item by_sub_menu_content_item2">
                <a href="">
                    <img src="assets/img/community/desktop/6.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Photography 
                </a>
            </div>
            <div class="by_sub_menu_content_item by_sub_menu_content_item2">
                <a href="">
                    <img src="assets/img/community/desktop/10.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Cooking &amp; recipes 
                </a>
            </div>
            <div class="by_sub_menu_content_item by_sub_menu_content_item2">
                <a href="">
                    <img src="assets/img/community/desktop/7.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Painting &amp; drawing 
                </a>
            </div>
            <div class="by_sub_menu_content_item by_sub_menu_content_item2">
                <a href="">
                    <img src="assets/img/community/desktop/8.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Creative writing 
                </a>
            </div>
            <div class="by_sub_menu_content_item by_sub_menu_content_item2">
                <a href="">
                    <img src="assets/img/community/desktop/9.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Tourism and Pilgrimages  
                </a>
            </div>
            <div class="by_sub_menu_content_item by_sub_menu_content_item2">
                <a href="">
                    <img src="assets/img/community/desktop/more.png?versionTimeStamp=%PROJECT_VERSION%" >
                    <br/>
                    Other
                </a>
            </div><div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="by_mobile_leftPanel_hide" ng-init="subMenuTabMobile();" ng-if="$root.windowWidth < 720">
    <div class="by_mobile_leftPanel">
        <div class="by_sub_menu_head_mobile">
            <div class="by_sub_menu_head_mobile_thumb">Caring for<br/> parents</div>
            <div class="by_sub_menu_head_mobile_thumb">Beautiful<br/> Ageing</div>
            <div class="by_sub_menu_head_mobile_thumb">Active<br/> Leisure</div>
            <div class="clearfix"></div>
        </div>
        <div class="by_sub_menu_content_mobile">
            <div class="by_sub_menu_content_mobile_thumb">
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/11.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Alzheimers &amp; Mental Decay 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/12.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Parkinson's 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/15.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Stroke / Bedridden  
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/16.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Joints &amp; Bones
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/24.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Incontinence / Personal Hygiene 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/22.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Diabetes  
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/13.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        BP &amp; Heart
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/17.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Sleep Disorders
                    </a>
                </div>
                <!--<div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/14.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Lungs & Respiratory 
                    </a>
                </div>-->
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/23.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Cancer  
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/25.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Vision & Hearing 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/more.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Other health issues 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/18.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Mobility and Falls  
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/21.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Senior-friendly home
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/20.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        NRIs / Remote care
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/19.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Caregivers' Challenges  
                    </a>
                </div><div class="clearfix"></div>
            </div>
            <div class="by_sub_menu_content_mobile_thumb">            
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/5.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Scientific breakthroughs 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/1.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Yoga &amp; Fitness   
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/2.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Nutrition
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/3.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Beautiful Lives   
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/4.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Challenges of ageing  
                    </a>
                </div><div class="clearfix"></div>
            </div>
            <div class="by_sub_menu_content_mobile_thumb">
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/6.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Photography 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/10.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Cooking &amp; recipes 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/7.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Painting &amp; drawing 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/8.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Creative writing 
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/9.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Tourism and Pilgrimages  
                    </a>
                </div>
                <div class="by_sub_menu_content_mobile_item">
                    <a href="">
                        <img src="assets/img/community/mobile/more.png?versionTimeStamp=%PROJECT_VERSION%" >
                        <br/>
                        Other
                    </a>
                </div><div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="by_mobile_leftPanel_image" ng-init="subMenuTabMobileShow();"></div>
</div>

<!--<div class="breadcrumbs">-->
    <!--<div class="container by_breadcrumbs_container">-->
        <!--<ul class="pull-right breadcrumb">-->
            <!--<li class="active"><a href="#!discuss/All/list/all">Discuss</a></li>-->
            <!--<li class="active"><a href="#!discuss/{{bc_discussType}}/{{bc_topic}}/all">{{{true:-->
                <!--$root.discussCategoryListMap[bc_topic].name, false:-->
                <!--bc_topic}[$root.discussCategoryListMap[bc_topic]!==undefined]}}</a>-->
            <!--</li>-->
            <!--<li>{{bc_subTopic}}</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<hr class="breadcrumb-divider"/>-->
<!--</div>-->
<!-- section headers -->
<div class="by_section_header" >
	<div class="container">
		<div class="by_section_header_title"></div>
        <div class="clearfix"></div>
		<div class="by_section_header_desc"></div>
	</div>
</div>

<div class="by_mobile_call_wrap" ng-if="$root.windowWidth < 720">
    <div class="by_container" style="color: #fff ; text-align:center;">     
        Need help? <a href="tel:080-67818181"> <img src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%"> Call Now</a>
    </div>
</div>
<!--=== Content Part ===-->
<div class="container by_home_content">
    <div class="row">
         <div class="col-md-3  md-margin-bottom-40" ng-include="discussionViews.leftPanel"></div>
        <div infinite-scroll="loadMore()" class="col-md-9 discussion-page md-margin-bottom-40 article-outer-wrapper"
             ng-include="discussionViews.contentPanel" infinite-scroll-disabled="pageInfo.lastPage || pageInfo.isQueryInProgress" infinite-scroll-distance="0">
        </div>
    </div>
</div>