<script type="text/javascript">

    $(document).ready(function () {
        var options = {
            beforeSend: function () {
                //$("#progressbox").show();
                // clear everything
                //$("#progressbar").width('0%');
                //$("#message").empty();
                //$("#percent").html("0%");
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //$("#progressbar").width(percentComplete + '%');
                //$("#percent").html(percentComplete + '%');

                // change message text to red after 50%
                //if (percentComplete > 50) {
                //$("#message").html("<font color='red'>File Upload is in progress</font>");
                // }
            },
            success: function () {
                // $("#progressbar").width('100%');
                // $("#percent").html('100%');
            },
            complete: function (response) {
                //alert(response.responseText);
                $("#articlePhotoFilename").val(response.responseText.substring(response.responseText.lastIndexOf('/') + 1));
            },
            error: function () {
                $("#articlePhotoFilename").val("<font color='red'> ERROR: unable to upload files</font>");
            }
        };

        try {
            $("#UploadForm").ajaxForm(options);
        }
        catch (e) {
        }
    });
</script>

<div ng-controller="LoadCustomJSController"></div>

<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

<div class="breadcrumbs">
    <div class="container by_breadcrumbs_container">
        <ul class="pull-right breadcrumb">
            <li class="active"><a href="#/discuss/All/list/all">Discuss</a></li>
            <li class="active"><a href="#/discuss/{{bc_discussType}}/{{bc_topic}}/all">{{{true:
                $root.discussCategoryListMap[bc_topic].name, false:
                bc_topic}[$root.discussCategoryListMap[bc_topic]!==undefined]}}</a>
            </li>
            <li>{{bc_subTopic}}</li>
        </ul>
    </div>
    <hr class="breadcrumb-divider"/>
</div>
<!-- section headers -->
<div class="by_section_header by_section_header_health">
	<div class="container">
		<div class="by_section_header_content_head">
			Health
		</div><div class="clearfix"></div>
		<div class="by_section_header_content_text">
			Concerned about your parents health? And yours? We provide comprehensive information that can help deal with health issues on a daily basis. From health conditions to healthy diets; and from daily routines to wellness measures.
		</div>
	</div>
</div>
<!--=== Content Part ===-->
<div class="container by_home_content">
    <div class="row">
        <div class="col-md-3  md-margin-bottom-40" ng-include="discussionViews.leftPanel"></div>
        <div infinite-scroll="loadMore()" class="col-md-9 discussion-page md-margin-bottom-40 article-outer-wrapper"
             ng-include="discussionViews.contentPanel" infinite-scroll-disabled="pageInfo.lastPage || pageInfo.isQueryInProgress" infinite-scroll-distance="0">
        </div>
    </div>
</div>