<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed" ng-init="fixedMenuInitialized()">
    <div class="scrollableLeftPanelDiv by-filter-links" style="margin-top: 20px;">
        <!--All classes from Unify end-->

        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Question')">
            <i class="icon-custom icon-sm icon_question"></i>
            <span>Ask</span>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Article')">
            <i class="icon-custom icon-sm icon_story"></i>
            <span>Post</span>
        </div>
        <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Feedback')">
            <i class="icon-custom icon-sm icon_feedback"></i>
            <span>Feedback</span>
        </div>
    </div>
</div>