<div class="col-md-12 col-xs-12 col-sm-12 no-padding margin-top-40 by_leftPanel_icons" data-link="articles.html" ng-click="add('Question')">
            <i class="sprite sprite-question"></i>
            <span><b>Ask</b> anything about elder care or health</span>
        </div>
        <div class="col-md-12 col-xs-12 col-sm-12 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Article')">
            <i class="sprite sprite-story"></i>
            <span><b>Share</b> your stories, experiences, photos</span>
        </div>
        <div class="clearfix"></div>
<a class="discussRightCategory {{discussType == 'Q' && 'selected active'}}" ng-if="discuss_counts.q > 0"
	href="#!/discuss/list/{{selectedMenu.slug || selectedMenu.displayMenuName}}/{{selectedMenu.id}}/Q">Q
	&amp; A ({{discuss_counts.q}})</a>


<a class="discussRightCategory {{discussType == 'P' && 'selected active'}}" ng-if="discuss_counts.p > 0"
	href="#!/discuss/list/{{selectedMenu.slug || selectedMenu.displayMenuName}}/{{selectedMenu.id}}/P">Posts
	({{discuss_counts.p}})</a>


<a class="discussRightCategory {{discussType == 'all' && 'selected active'}}" ng-if="discuss_counts.z > 0"
	href="#!/discuss/list/{{selectedMenu.slug || selectedMenu.displayMenuName}}/{{selectedMenu.id}}/all">All
	({{discuss_counts.z}})</a>
	
<a class="discussRightCategory {{discussType == 'f' && 'selected active'}}" ng-if="discuss_counts.featured > 0"
	href="#!/discuss/list/{{selectedMenu.slug || selectedMenu.displayMenuName}}/{{selectedMenu.id}}/f">Featured
	({{discuss_counts.featured}})</a>	

<div class="clearfix" style="height:15px;"></div>
<div ng-repeat="discuss in discuss" data-index="discussion-articles" data-link="articles.html">
    <div ng-click="go($event, 'detail', discuss.id, discuss.discussType)"
         class="blog-author margin-bottom-35 main-article by_blog_author"
         ng-if="discuss" data-index="discussion-articles"
         data-link="articles.html" style="position: relative;">

        <div class="questionTag" ng-if="discuss.discussType == 'Q' && discuss.featured == true">
        </div>
        <div class="questionTag postTag" ng-if="discuss.discussType == 'P' && discuss.featured == true">
        </div>
        <img ng-if="discuss.promotion == false && discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage"
             ng-src="{{discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage || ''}}"
             fallback-src='["assets/img/by.png"]' alt="{{discuss.title}}">

        <img ng-if="discuss.promotion == false && !discuss.userProfile.basicProfileInfo.profileImage.thumbnailImage"
             ng-src="assets/img/by.png" alt="{{discuss.title}}">

        <div class="article-info dp-inline-block " style="margin-right: 80px !important;" ng-if="discuss.promotion == false">
            <ul class="list-inline posted-info" style="">
                <li>
                    <p ng-if="discuss.discussType == 'Q' || discuss.discussType == 'P'">
                        By <a validate-user-name="{{discuss.username}}" style="text-transform: capitalize;"
                              href="#!/profile/0/{{discuss.userId}}/{{discuss.username}}"> {{username}}</a> |
                    </p>
                </li>

                <li time-since="{{discuss.createdAt}}"></li>

                <li ng-if="discuss.topicId.length > 0">
                    | In
                </li>

                <li ng-repeat="topicId in discuss.topicId">
                    <p class="first-letter-uc by-systemTags">
                        <span ng-if="$index > 0">|</span>
                        <a   ng-href="#!/discuss/list/{{$root.menuCategoryMap[topicId].slug}}/{{topicId}}/all/">{{$root.menuCategoryMap[topicId].displayMenuName}}</a>
                    </p>
                </li>
            </ul>
            <div style="clear: both"></div>
        </div>

        <div style="clear: both"></div>
        
        <div class="article  col-md-12" ng-if="discuss.discussType == 'P' && discuss.promotion == false">
            <div class="article-heading">
                <p style="text-transform: uppercase;">
                    {{discuss.title}}</p>
            </div>
        </div>
         <div class="article  col-md-12" ng-if="discuss.discussType == 'P' && discuss.promotion == true && discuss.title" style="margin-top:15px;">
            <div class="article-heading">
                <p style="text-transform: uppercase;">
                    {{discuss.title}}</p>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="by-quad-image col-md-12">
            <img ng-if="discuss.discussType == 'P' && discuss.promotion == false && (discuss.articlePhotoFilename.titleImage || discuss.articlePhotoFilename.original)"
                 ng-src="{{discuss.articlePhotoFilename.titleImage||''}}" alt="{{discuss.title}}"
                 fallback-src='["{{discuss.articlePhotoFilename.original||""}}"]'>

            <div style="clear: both"></div>
        </div>
        <div class="by-quad-image col-md-12 no-padding" style="margin-top:-1px;">
            <img ng-if="discuss.discussType == 'P' && discuss.promotion == true && (discuss.articlePhotoFilename.titleImage || discuss.articlePhotoFilename.original)"
                 ng-src="{{discuss.articlePhotoFilename.original||''}}" alt="{{discuss.title}}"
                 fallback-src='["{{discuss.articlePhotoFilename.original||""}}"]'>

            <div style="clear: both"></div>
        </div>
        
        <div ng-include="'app/shared/common/template/ShareLinkContent.html?versionTimeStamp=%PROJECT_VERSION%'" ng-if="discuss.linkInfo"
             ng-init="linkInfo=discuss.linkInfo" ng-if="discuss.promotion == false"></div>

        <div class="articles-story  col-md-12" ng-if="discuss.promotion == false" id="{{discuss.id}}">
            <p class="discuss-card-desciption" ng-if="discuss.shortSynopsis">{{discuss.shortSynopsis}}<a ng-href="#!/discuss/{{discuss.id}}/"
                    class="divRight by_readmore">Read More <b style="font-size:10px;">&#9002;</b></a></p>

            <p class="discuss-card-desciption" ng-if="!discuss.shortSynopsis"
               ng-bind-html="trustForcefully(discuss.text)"></p>
        </div>
        <div style="clear: both; height: 1px;"></div>

        <div class="article-share-links news-v3 by-social-border" style="position: relative; top: 0px;" ng-if="discuss.promotion == false">
            <ul class="post-shares post-shares-lg">
                <li class="add-comment"
                    ng-if="discuss.aggrReplyCount > 0 && (discuss.discussType == 'P')">
                    <a ng-href="#!/discuss/{{discuss.id}}/" ng-click="$event.stopPropagation();">
                        <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
                        <span>{{discuss.aggrReplyCount}}</span>

                        <div class="text">Comment</div>
                    </a>
                </li>

                <li class="add-comment add-comment-FC"
                    ng-if="discuss.aggrReplyCount == 0 && (discuss.discussType == 'P')">
                    <a  ng-href="#!/discuss/{{discuss.id}}/true" ng-click="$event.stopPropagation();">
                        <i class="rounded-x icon-speech ng-scope" title="Comment"></i>

                        <div class="text" >
                            Be the first to comment
                        </div>
                    </a>
                </li>
                <li class="add-comment"
                    ng-if="discuss.directReplyCount > 0 && discuss.discussType == 'Q'">
                    <a ng-href="#!/discuss/{{discuss.id}}/" ng-click="$event.stopPropagation();">
                        <i class="rounded-x icon-answer ng-scope" title="Answers"></i>
                        <span>{{discuss.directReplyCount}}</span>

                        <div class="text">Answer</div>
                    </a>
                </li>

                <li class="add-comment add-comment-FA"
                    ng-if="discuss.directReplyCount == 0 && discuss.discussType == 'Q'">
                    <a ng-href="#!/discuss/{{discuss.id}}/true" ng-click="$event.stopPropagation();">
                        <i class="rounded-x icon-answer ng-scope" title="Answers"></i>

                        <div class="text" ng-click="go($event,'comment', discuss.id)">
                            Be the first to answer
                        </div>
                    </a>
                </li>


                <li class="add-comment" ng-controller="DiscussLikeController" ng-click="$event.stopPropagation();">
                    <a ng-click="likeDiscuss(discuss.id)">
                        <i class="rounded-x" ng-if="beforePost"
                           ng:class="{true:'icon-heart', false:'icon-heart-active'}[discuss.likedByUser===false]"
                           title="Likes"></i>
                        <i class="rounded-x" ng-if="!beforePost"
                           ng:class="{true:'icon-heart', false:'icon-heart-active'}[likedByUser===false]"
                           title="Likes"></i>
                        <span ng-if="beforePost && discuss.aggrLikeCount > 0">{{discuss.aggrLikeCount}}</span>
                        <span ng-model="aggrLikeCount" ng-if="!beforePost && aggrLikeCount > 0">{{aggrLikeCount}}</span>
                    </a>

                    <div ng-click="likeDiscuss(discuss.id)" class="text text2">Like</div>

                </li>

                <li class="add-comment" ng-if="discuss.discussType == 'P'" ng-controller="ShareController">
                    <a ng-click="shareComment(discuss, $event)">
                        <i class="rounded-x icon-share"></i>
                        <span ng-if="discuss.shareCount > 0">{{discuss.shareCount}}</span>
                    </a>

                    <div class="post-text post_text-comment">
                        <a ng-click="shareComment(discuss, $event)">
                            <div class="text">Share</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div style="clear: both"></div>

        <!--  <div ng-if="discuss.text && discuss.text.length > 0" on-finish-render="{{discuss.id}}"></div>-->
    </div>
</div>

<div class="animation_image" style="display: block" align="center"
     ng-if="discuss && discuss.length > 0 && !pageInfo.lastPage || pageInfo.isQueryInProgress">
    <img src="assets/img/ajax_scroll_loading.gif" style="margin-bottom: 20px">
</div>

