<div  ng-controller="DiscussLeftController">
      <div ng-if="menuConfig.community[selectedMenu.id].curator">
            <div class="by_commFeaturedHead">
                  Curated by
            </div>
            <div class="clearfix margin-top-10"></div>
            <div class="curatedProfile" ng-class="{'curatedProfileOne': menuConfig.community[selectedMenu.id].curator.length < 2}" ng-repeat="curator in menuConfig.community[selectedMenu.id].curator">
                  <a href="{{curator.url}}">
                  <img src="{{curator.image}}"  alt="{{curator.name}}" />
                  <b>{{curator.name}}</b><br/>
                  {{curator.desg}}
                  </a>
            </div>
            <div class="by_commFeaturedHead clearfix margin-top-40"></div>
      </div>
      <div class="by_commFeaturedHead" ng-if="discussFeatured.length > 0">
            Featured
      </div>
      <div ng-repeat="featured in formattedData" class="by_commFeaturedItem">
            <a ng-href="{{getHref(featured, {'id':featured.id})}}" ng-click="$event.stopPropagation();"> 
            <span ng-if="featured.image">
                <img ng-src="{{featured.image.thumbnailImage || ''}}" width="50" alt="{{featured.title}}" class="divLeft"
                     fallback-src='["{{featured.image.original || ""}}"]'/>
                <span class="by_featuredTextWidth divLeft">{{featured.title}}</span>
            </span>
            <span ng-if="!featured.image">
                {{featured.title}}
            </span>
            </a>
            <div class="clearfix"></div>
      </div>
      <div class="clearfix margin-top-20"></div>
</div>