<script type="text/javascript">

    $(document).ready(function () {
        var options = {
            beforeSend: function () {
                //$("#progressbox").show();
                // clear everything
                //$("#progressbar").width('0%');
                //$("#message").empty();
                //$("#percent").html("0%");
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //$("#progressbar").width(percentComplete + '%');
                //$("#percent").html(percentComplete + '%');

                // change message text to red after 50%
                //if (percentComplete > 50) {
                //$("#message").html("<font color='red'>File Upload is in progress</font>");
                // }
            },
            success: function () {
                // $("#progressbar").width('100%');
                // $("#percent").html('100%');
            },
            complete: function (response) {
                //alert(response.responseText);
                $("#articlePhotoFilename").val(response.responseText.substring(response.responseText.lastIndexOf('/') + 1));
            },
            error: function () {
                $("#articlePhotoFilename").val("<font color='red'> ERROR: unable to upload files</font>");
            }
        };

        try {
            $("#UploadForm").ajaxForm(options);
        }
        catch (e) {
        }
    });
</script>

<!--<div ng-controller="LoadCustomJSController"></div>-->

<!--<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>-->



<div class="by_sub_menu" ng-if="$root.windowWidth > 720">
    <div class="by_sub_menu_head"  >
        <div class="by_sub_menu_head_thumb" id="{{menu.id}}" 
        ng-class="{'by_sub_menu_head_thumb_active': menu.id == setTabId }"  ng-repeat="menu in $root.menuCategoryMapByName['Communities'].children"  >
            <a href="#!/discuss/list/{{menu.slug}}/{{menu.id}}/all"  >{{menu.displayMenuName}}</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="by_sub_menu_content">        
        <div class="by_sub_menu_content_thumb" id="{{menu.id}}" ng-show="menu.id == setTabId" ng-repeat="menu in $root.menuCategoryMapByName['Communities'].children">
            <span ng-repeat="menuN in menu.children" ng-if="menuN.children.length > 0" >  
                <div class="by_sub_menu_content_item" ng-init="setActiveLink();" id="{{menuNN.id}}" ng-repeat="menuNN in menuN.children">
                    <a href="#!/discuss/list/{{menuNN.slug}}/{{menuNN.id}}/all" >
                        <img src="{{communityIcon[menuNN.id].image}}" >
                        <br/>
                        {{menuNN.displayMenuName}}
                    </a>
                </div>
            </span>
            <span>
            <div class="by_sub_menu_content_item" id="{{menuN.id}}" ng-init="setActiveLink();" ng-repeat="menuN in menu.children" ng-if="menuN.children.length < 1">  
                <a href="#!/discuss/list/{{menuN.slug}}/{{menuN.id}}/all" >
                    <img src="{{communityIcon[menuN.id].image}}" >
                    <br/>
                    {{menuN.displayMenuName}}
                </a>
            </div>
            </span><div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>





<div class="by_mobile_leftPanel_hide" ng-init="subMenuTabMobile();" ng-if="$root.windowWidth < 720">
    <div class="by_mobile_leftPanel">
        <div class="by_sub_menu_head_mobile">
            <div class="by_sub_menu_head_mobile_thumb" id="{{menu.id}}" 
            ng-class="{'by_sub_menu_head_mobile_thumb_active': menu.id == setTabId }"  ng-repeat="menu in $root.menuCategoryMapByName['Communities'].children"  >
            <a href="#!/discuss/list/{{menu.slug}}/{{menu.id}}/all"  >{{menu.displayMenuName}}</a>
        </div>
            <div class="clearfix"></div>
        </div>
        <div class="by_sub_menu_content_mobile">
           <div class="by_sub_menu_content_mobile_thumb" id="{{menu.id}}" ng-show="menu.id == setTabId" ng-repeat="menu in $root.menuCategoryMapByName['Communities'].children">
            <span ng-repeat="menuN in menu.children" ng-if="menuN.children.length > 0" >  
                <div class="by_sub_menu_content_mobile_item" ng-init="setActiveLink();" id="{{menuNN.id}}" ng-repeat="menuNN in menuN.children">
                    <a href="#!/discuss/list/{{menuNN.slug}}/{{menuNN.id}}/all" >
                    <img src="{{communityIconMobile[menuNN.id].image}}" >
                        <br/>
                        {{menuNN.displayMenuName}}
                    </a>
                </div>
            </span>
            <span>
                <div class="by_sub_menu_content_mobile_item" id="{{menuN.id}}" ng-init="setActiveLink();" ng-repeat="menuN in menu.children" ng-if="menuN.children.length < 1">  
                    <a href="#!/discuss/list/{{menuN.slug}}/{{menuN.id}}/all" >
                        <img src="{{communityIconMobile[menuN.id].image}}" >
                        <br/>
                        {{menuN.displayMenuName}}
                    </a>
                </div>
            </span><div class="clearfix"></div>
        </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="by_mobile_leftPanel_image" ng-init="subMenuTabMobileShow();"></div>
</div>

<div class="by_mobile_call_wrap" ng-if="$root.windowWidth < 720">
    <div class="by_container" style="color: #fff ; text-align:center;">     
        Need help? <a href="tel:080-67818181"> <img src="assets/img/home/call.png?versionTimeStamp=%PROJECT_VERSION%"> Call Now</a>
    </div>
</div>
<!--=== Content Part ===-->
<div class="container by_home_content">
    <div class="row">
         <!--<div class="col-md-3  md-margin-bottom-40" ng-include="discussionViews.leftPanel"></div>-->
        <div infinite-scroll="loadMore()" class="col-md-12 discussion-page md-margin-bottom-40 article-outer-wrapper"
             ng-include="discussionViews.contentPanel" infinite-scroll-disabled="pageInfo.lastPage || pageInfo.isQueryInProgress" infinite-scroll-distance="0">
        </div>
    </div>
</div>