<div ng-repeat="discuss in discuss" data-index="discussion-articles"
     data-link="articles.html" style="position: relative;">

    <div class="questionTag" ng-if="discuss.discussType == 'Q'">
        <img src="assets/img/Q_A.png" alt="image">
    </div>
    <div ng-click="go($event, 'detail', discuss.id, discuss.discussType)"
         class="blog-author margin-bottom-35 main-article by_blog_author"
         ng-if="discuss" data-index="discussion-articles"
         data-link="articles.html">

        <img src="assets/img/by.png" alt="image">
        <div class="article-info dp-inline-block " style="margin-right: 80px !important;">
            <ul class="list-inline posted-info" style="">
                <li>
                    <p ng-if="discuss.discussType == 'A'">
                        By <a validate-user-name="{{discuss.username}}"
                              style="text-transform: capitalize;"> {{username}}</a> |
                    </p>

                    <p ng-if="discuss.discussType == 'Q'">
                        By <a validate-user-name="{{discuss.username}}"
                              style="text-transform: capitalize;"> {{username}}</a> |
                    </p>

                    <p ng-if="discuss.discussType == 'P'">
                        By <a validate-user-name="{{discuss.username}}"
                              style="text-transform: capitalize;"> {{username}}</a> |
                    </p>
                </li>

                <li time-since="{{discuss.createdAt}}"></li>

                <li ng-if="discuss.topicId.length > 0">
                    | In
                </li>

                <li ng-repeat="topicId in discuss.topicId">
                    <p class="first-letter-uc by-systemTags">
                        <a ng-click="go($event,'menu', topicId)">{{$root.menuCategoryMap[topicId].displayMenuName}}</a>
                        <span ng-if="$index < discuss.topicId.length-1">,</span>
                    </p>
                </li>

            </ul>
            <div style="clear: both"></div>
        </div>

        <div style="clear: both"></div>
        <div class="article  col-md-12" ng-if="discuss.discussType == 'A'">
            <div class="article-heading">
                <p style="text-transform: uppercase;">
                    {{discuss.title}}</p>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="by-quad-image col-md-12">
            <img ng-if="discuss.discussType == 'A'"
                 src="{{discuss.articlePhotoFilename.titleImage||''}}" alt="image"
                 fallback-src='["{{discuss.articlePhotoFilename.original||""}}"]'>

            <div style="clear: both"></div>
        </div>
        <div ng-include="'app/shared/common/template/ShareLinkContent.html'" ng-if="discuss.linkInfo" ng-init="linkInfo=discuss.linkInfo"></div>

        <div class="articles-story  col-md-12" id="{{discuss.id}}">
            <p class="discuss-card-desciption" ng-if="discuss.shortSynopsis">{{discuss.shortSynopsis}}<a
                    class="divRight by_readmore">Read More <b style="font-size:10px;">&#9002;</b></a></p>

            <p class="discuss-card-desciption" ng-if="!discuss.shortSynopsis"
               ng-bind-html="trustForcefully(discuss.text)"></p>
        </div>
        <div style="clear: both; height: 1px;"></div>

        <div class="article-share-links news-v3 by-social-border" style="position: relative; top: 0px;">
            <ul class="post-shares post-shares-lg">
                <li class="add-comment"
                    ng-if="discuss.aggrReplyCount > 0 && (discuss.discussType == 'A' || discuss.discussType == 'P')">
                    <a href="#">
                        <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
                        <span style="margin-left: 3px;">{{discuss.aggrReplyCount}}</span>
                        <span class="text">Comment</span>
                    </a>
                </li>
                <li class="add-comment"
                    ng-if="discuss.aggrReplyCount == 0 && (discuss.discussType == 'A' || discuss.discussType == 'P')">
                    <a>
                        <i class="rounded-x icon-speech ng-scope" title="Comment"></i>
						<span class="textColor" ng-click="go($event,'comment', discuss.id)">
							Be the first to comment
						</span>
                    </a>
                </li>
                <li class="add-comment"
                    ng-if="discuss.directReplyCount > 0 && discuss.discussType == 'Q'">
                    <a href="#">
                        <i class="rounded-x fa fa-pencil-square-o ng-scope" title="Answers" style="margin-top: -4px;"></i>
                        <span style="margin-left: 3px;">{{discuss.directReplyCount}}</span>
                        <span class="text">Answer</span>
                    </a>
                </li>

                <li class="add-comment"
                    ng-if="discuss.directReplyCount == 0 && discuss.discussType == 'Q'">
                    <a>
                        <i class="rounded-x fa fa-pencil-square-o ng-scope" title="Answers" style="margin-top: -4px;"></i>
                        <span class="textColor2" ng-click="go($event,'comment', discuss.id)">
                            Be the first to answer
                        </span>
                    </a>
                </li>

                <!--  <li class="add-comment" ng-controller="DiscussLikeController">
                    <a href="#"> <i class="rounded-x icon-heart" title="Likes"></i>
                        <span ng-if="discuss.aggrLikeCount > 0" style="margin-left: 3px;">{{discuss.aggrLikeCount}}</span>
                        <span class="text">Like</span>
                    </a>
                </li>-->


                <li class="add-comment" ng-controller="DiscussLikeController">
                    <a ng-click="likeDiscuss(discuss.id)">
                        <i class="rounded-x icon-heart" title="Likes"></i>
                        <span ng-if="beforePost && discuss.aggrLikeCount > 0" style="margin-left:3px;">{{discuss.aggrLikeCount}}</span>
                        <span ng-model="aggrLikeCount" ng-if="!beforePost && aggrLikeCount > 0"
                              style="margin-left:3px;">{{aggrLikeCount}}</span>
                    </a>

                    <div class="post-text">
                        <span ng-click="likeDiscuss(discuss.id)" class="text">Like</span>
                    </div>

                </li>

                <li class="add-comment" ng-if="discuss.discussType == 'A'"
                    ng-controller="ShareController"><a
                        ng-click="shareComment(discuss, $event)"> <i
                        class="rounded-x icon-share"></i>
                    <span ng-if="discuss.shareCount > 0" style="margin-left:3px;">{{discuss.shareCount}}</span>
                </a>

                    <div class="post-text post_text-comment">
                        <a ng-click="shareComment(discuss, $event)"><span class="text">Share</span></a>
                    </div>
                </li>
            </ul>
        </div>
        <div style="clear: both"></div>

        <!--  <div ng-if="discuss.text && discuss.text.length > 0" on-finish-render="{{discuss.id}}"></div>-->
    </div>
</div>

<div class="animation_image" style="display: block" align="center"
     ng-if="discuss && discuss.length > 0 && !pageInfo.lastPage || pageInfo.isQueryInProgress">
    <img src="assets/img/ajax_scroll_loading.gif"
         style="margin-bottom: 20px">
</div>

