<div class="wrapper">
    <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>    
    <div class="by_expSt_home">
        <div class="by_expSt_header">
            <div class="by_expSt_Wrap">
                <div class="by_expSt_headerLeft">
                    <div class="by_expSt_headerLeftHead">
                        <span>Visit our</span>
                        Experience Store
                    </div>
                    <div class="by_expSt_headerLeftDesc">
                        To see how innovative products help the elderly
                    </div>
                </div>
                <div class="by_expSt_headerRight">
                    <div class="by_expSt_headerRightHead">
                        <a href="https://goo.gl/sSu4BB" target="blank">
                            <div class="divRight by_expLocBig"></div>
                            <div class="divLeft">We are here</div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                    <div class="by_expSt_headerRightDesc">
                        #48, 2nd main, Kormangala 1st block, Bangalore
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="by_expSt_Wrap">
            <div class="by_expSt_homeTop">
                <div class="by_expSt_homeTopHead">
                    Making home a safer place
                </div>
                <div class="by_expSt_homeTopParent">
                    for your parents
                </div>
                <div class="by_expSt_homeTopDesc">
                    Every third elderly person falls atleast once a year.
                    Most of the falls could be prevented.
                </div>
                <div class="by_expSt_homeTopDescBelow">
                    What are you waiting for?
                </div>
                <div class="by_expSt_homeTopButton">
                    <div class="by_expSt_homeTopButtonGreen">
                        <a href="https://goo.gl/sSu4BB" target="blank"><i class="fa fa-map-marker"></i> Visit Us</a>
                    </div>
                    <div class="by_expSt_homeTopButtonGray" ng-if="$root.windowWidth < 720">
                        <a ng-href="{{'tel:'+telNo}}" ><i class="fa fa-phone2"></i> {{telNo}}</a>
                    </div>
                    <div class="by_expSt_homeTopButtonGray" ng-if="$root.windowWidth > 720">
                        <i class="fa fa-phone2"></i> {{telNo}}
                    </div><div class="clearfix"></div>                   
                </div>
                <div class="by_expSt_homeTopDesc">
                     To schedule a  visit of our specialists
                    (Only in Bangalore)
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="by_expSt_homeSolutions">
                Senior friendly solutions for:
                <div class="clearfix"></div>
                <div class="by_expSt_homeSoluThumb by_expSt_homeSoluThumb1">
                    Bedroom
                </div>
                <div class="by_expSt_homeSoluThumb by_expSt_homeSoluThumb2">
                    Living Room
                </div>
                <div class="by_expSt_homeSoluThumb by_expSt_homeSoluThumb3">
                    Bathroom
                </div>
                <div class="by_expSt_homeSoluThumb by_expSt_homeSoluThumb4">
                    Staircases
                </div>
                <div class="by_expSt_homeSoluThumb by_expSt_homeSoluThumbRight by_expSt_homeSoluThumb5">
                    Automation
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="by_expSt_solutions">
        <div class="by_expSt_soluHead">Solutions &amp; Products</div>
        <div class="by_expSt_soluText">
            Helping you take better care of your parents
        </div>
        <div class="by_expSt_soluProducts">
            <div class="by_expSt_soluProdThumb divLeft">
                <a href="#!/shop/mobility/10212">
                    <div class="divLeft">
                        <img src="assets/img/experience_store/mobility.png?versionTimeStamp=%PROJECT_VERSION%" alt="Mobility" /> 
                    </div>
                    <div class="divRight by_expPaddTop">
                        Mobility
                    </div>
                </a>
            </div>
            <div class="by_expSt_soluProdThumb divLeft">
                <a href="#!/shop/washing-&-toileting/10214">
                    <div class="divLeft">
                        <img src="assets/img/experience_store/washing_toilet.png?versionTimeStamp=%PROJECT_VERSION%" alt="Washing and Toileting" /> 
                    </div>
                    <div class="divRight">
                        Washing &amp; Toileting
                    </div>
                </a>
            </div>
            <div class="by_expSt_soluProdThumb divLeft">
                <a href="#!/shop/medical-conditions/10200">
                    <div class="divLeft">
                        <img src="assets/img/experience_store/medical_conditions.png?versionTimeStamp=%PROJECT_VERSION%" alt="Medical Conditions" /> 
                    </div>
                    <div class="divRight">
                        Medical Conditions
                    </div>
                </a>
            </div>
            <div class="by_expSt_soluProdThumb divLeft">
                <a href="#!/shop/bedroom/10213">
                    <div class="divLeft">
                        <img src="assets/img/experience_store/bedridden_patients.png?versionTimeStamp=%PROJECT_VERSION%" alt="Bedridden Patients" /> 
                    </div>
                    <div class="divRight">
                        Bedridden Patients
                    </div>
                </a>
            </div>
            <div class="by_expSt_soluProdThumb divLeft">
                <a href="#!/shop/daily-aids/10225">
                    <div class="divLeft">
                        <img src="assets/img/experience_store/aids.png?versionTimeStamp=%PROJECT_VERSION%" alt="Aids" /> 
                    </div>
                    <div class="divRight by_expPaddTop">
                       Aids
                    </div>
                </a>
            </div>
            <div class="by_expSt_soluProdThumb divLeft">
                <a href="#!/shop/fitness-&-rehab/10231">
                    <div class="divLeft">
                        <img src="assets/img/experience_store/fitness_rehab.png?versionTimeStamp=%PROJECT_VERSION%" alt="Fitness Rehab" /> 
                    </div>
                    <div class="divRight">
                        Fitness Rehab
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="by_expSt_rent">
        <div class="by_expSt_Wrap">
            <div class="by_expSt_rentImage"></div>
            <div class="by_expSt_rentText">
                <div class="by_expSt_rentHead">
                    <span>Want to</span>
                    Rent instead of buying?
                </div>
                <div class="by_expSt_rentDesc">
                    Looking for Senior care services or a Senior living facility?
                </div>
                <div class="by_expSt_rentHelp">
                    Need help or advice?
                </div>
                <div class="by_expSt_rentButton">
                    <div class="by_expSt_rentButtonGreen">
                        <a href="https://goo.gl/sSu4BB" target="blank"><i class="fa fa-map-marker"></i> Visit Us</a>
                    </div>
                    <div class="by_expSt_rentButtonGray" ng-if="$root.windowWidth < 720">
                        <a ng-href="{{'tel:'+telNo}}" ><i class="fa fa-phone2"></i> {{telNo}}</a>
                    </div>
                    <div class="by_expSt_rentButtonGray" ng-if="$root.windowWidth > 720"><i class="fa fa-phone2"></i> {{telNo}}
                    </div>
                    <div class="by_expSt_rentButtonGreen">
                        <a href="#!/contactUs"><i class="fa fa-envelope-o"></i> Write Us</a>
                    </div><div class="clearfix"></div>                   
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>