.by_home_bg {
    width: 100%;
    height: 480px;
    background: url('../../img/home/HomePage_28.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat top right;
    background-size: cover;
}

.by_home_title1 {
    width: auto;
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 28px;
    padding-top: 110px;
    text-transform: capitalize;
}

/*.by_home_search
{
	width: 600px;
	height: 40px;
	margin-top: 10px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
}
.by_home_search_left
{
	width: 460px;
	height: 40px;
}
.by_home_search_left input
{
	border: 0px;
	outline: none;
	font-family: century_gothic !important;
	font-style: italic;
	font-size: 15px;
	color: #999;
	width: 440px;
	line-height: 20px;
	padding:10px;
}
.by_home_search_right
{
	width: 140px;
	height: 40px;
	line-height: 20px;
	padding:10px;
	background-color: #15852c;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	text-align: center;
	}*/
.by_home_content {
    width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
    min-width: 700px;
}

.by_home_content_item {
    width: 29%;
    height: auto;
    float: left;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px 0;
    border: 1px solid transparent;
}

.by_home_content_item a:hover {
    text-decoration: none;
}

.by_home_content_item_first {
    width: 100%;
}

.by_home_content_item_first_image {
    width: auto;
    text-align: center;
}

.by_home_content_item_first_text {
    width: 100%;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    border: 1px solid #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 9px;
    color: #fff;
    border-radius: 2px !important;
    font-weight: bold;
    background: #174F00;
}

.by_home_content_item:hover .by_home_content_item_first_text {
    background-color: #FF850F;
    border: 1px solid #FF850F;
}

.by_home_content_item_second {
    width: 100%;
    height: auto;
    margin-top: 9px;
    color: #fff;
    font-size: 17px;
}

.by_home_content_item_second span {
    color: #fff;
}

.by_container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 690px;
}

.by_home_community {
    max-width: 70%;
    height: auto;
    padding: 30px 0px 30px 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 690px;
}

.by_home_community_text {
    width: calc(100% - 240px);
    height: auto;
    line-height: 25px;
}

.by_home_community_image {
    width: 180px;
    margin: 20px 30px;
    height: auto;
    display: block;
}

.by_home_community_text_head {
    width: auto;
    border-radius: 5px !important;
    color: #000;
    font-size: 32px;
    margin-top: 40px;
}

.by_home_community_text_desc {
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    line-height: 30px;
}

.by_home_community_text_menu {
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 1;
    position: relative;
    font-size: 15px;
}

.by_home_community_text_menu a {
    padding: 10px;
}

.by_home_community_text_menu_desktop {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

.by_home_community_text_menu_item {
    width: 33%;
    padding: 10px;
    float: left;
    color: green;
    text-align: center;
    height: 150px;
}

.by_home_find_text_menu_item {
    width: 16.5%;
    padding: 10px;
    float: left;
    color: green;
    text-align: center;
    height: 168px;
}

.by_home_shop_text_menu {
    width: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.by_home_shop_text_menu_item {
    width: auto;
    padding: 10px 10px;
    float: left;
    color: green;
    text-align: center;
    height: 43px;
    font-size: 15px;
}

.by_home_shop_text_menu_item_active {
    border-bottom: 5px solid #666;
}

.by_home_community_text_menu_item_text {
    text-transform: capitalize;
    font-size: 14px;
}

.by_home_community a:hover {
    text-decoration: none;
}

.by_home_shop_text_menu_border {
    width: 100%;
    height: 1px;
    background-color: #666;
}

.by_home_community_divider {
    width: 100%;
    height: 1px;
    text-align: center;
    background: url('../../img/home/line.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center center;
}

.by_home_product_text_menu {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.by_home_product_text_menu_item {
    width: 20%;
    height: 165px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.by_home_product_image {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../img/home/product.jpg?versionTimeStamp=%PROJECT_VERSION%');
}

.by_home_product_image1 {
    background-position: -27px 15px;
}

.by_home_product_image2 {
    background-position: -237px 15px;
}

.by_home_product_image3 {
    background-position: -420px 15px;
}

.by_home_product_image4 {
    background-position: -609px 15px;
}

.by_home_product_image5 {
    background-position: -817px 15px;
}

.by_home_product_image6 {
    background-position: -40px 152px;
}

.by_home_product_image7 {
    background-position: -221px 147px;
}

.by_home_product_image8 {
    background-position: -451px 133px;
}

.by_home_product_image9 {
    background-position: -606px 141px;
}

.by_home_product_image10 {
    background-position: -799px 140px;
}

.by_home_reg_feed {
    max-width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 690px;
}

.by_home_feed_bg {
    background: #FFFEFE;
}

.by_home_reg {
    width: 40%;
    height: auto;
    float: left;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.by_home_reg_line {
    width: 100%;
    height: 1px;
    background: #E4DFDF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.by_home_reg img, .by_home_feed img {
    max-width: 100%;
    text-align: center;
}

.by_home_reg a, .by_home_feed a {
    color: #004f24;
    font-weight: bold;
}

.by_home_feed {
    width: 40%;
    height: auto;
    float: left;
    text-align: center;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

.by_home_call_wrap {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #FF850F;
    font-size: 18px;
}

.by_home_call_wrap .divLeft a {
    color: #fff;
}

.by_home_call_wrap .divRight {
    color: #004f24;
}

.by_home_call_wrap .divRight a {
    background-color: #004f24;
    border-radius: 10px !important;
    color: #fff;
    padding: 5px 10px;
}

.by_home_call_wrap .divRight a:hover {
    text-decoration: none;
}

.by_home_community_bg {
    background: #E4ECE1;
}

.by_home_find_bg {
    background: #DCDCD6;
}

.by_home_shop_bg {
    background: #FFE9E5;
}

.by_home_community_bg .by_home_community {
    background: url('../../img/home/community.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat right bottom;
}

.by_home_find_bg .by_home_community {
    background: url('../../img/home/service.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat left bottom;
}

.by_home_shop_bg .by_home_community {
    background: url('../../img/home/product-right.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat right top;
}

.by_home_communityInside {
    width: 680px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

@media ( max-width: 720px) {
    .by_container, .by_home_communityInside {
        width: 100%;
        padding: 0 2%;
        margin-left: auto;
        margin-right: auto;
        min-width: 200px;
        max-width: 100%;
    }

    .by_home_community, .by_home_reg_feed {
        max-width: 100%;
        min-width: 100%;
    }

    .by_home_community_image {
        display: none;
    }

    .by_home_community_text, .by_home_community_text_menu_desktop, .by_home_shop_text_menu {
        width: 100%;
    }

    .by_home_community_text_head {
        width: auto;
        padding: 10px;
        border: 1px solid #004f24;
        border-radius: 5px !important;
        color: #004f24;
        font-size: 20px;
        font-weight: bold;
        max-width: 200px;
        text-align: center;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }

    .by_home_find_text_menu_item, .by_home_community_text_menu_item {
        width: 33%;
        height: 120px;
    }

    .by_home_community_text_desc {
        text-align: center;
    }

    .by_home_shop_text_menu_item {
        width: 33%;
    }

    .by_home_product_text_menu_item {
        width: 33%;
    }

    .by_home_shop_text_menu_item {
        opacity: 0.5;
    }

    .by_home_shop_text_menu_item_active {
        opacity: 1;
    }

    .by_home_shop_text_menu_border {
        display: none;
    }

    .by_home_community_text_menu {
        margin-top: -2%;
    }

    .by_home_community_divider {
        margin-bottom: 30px;
        margin-top: 20px;
        background: url('../../img/home/section-line.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center center;
    }

    .by_home_search {
        display: none;
    }

    .by_home_header_menu {
        width: 100%;
        height: auto;
        background: url('../../img/home/HomePage_M.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat top right;
        background-size: cover;
    }

    .by_home_content {
        width: 100%;
        min-width: 100%;
    }

    .by_home_content_item {
        width: 250px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 45px;
        border: 1px solid transparent;
    }

    .by_home_content_item_first {
        width: 100%;
        height: 50px;
        line-height: 30px;
        padding: 5px;
        border: 1px solid #fff;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 9px;
        color: #fff;
        border-radius: 2px !important;
        text-align: center;
        background: #174F00;
    }

    .by_home_content_item_first_image {
        display: inline-block;
    }

    .by_home_content_item_first_text {
        width: auto;
        height: auto;
        line-height: 30px;
        padding: 0px;
        border: 0px;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 0px;
        color: #fff;
        border-radius: 0px !important;
        display: inline-block;
        padding-top: 4px;
        padding-left: 10px;
    }

    .by_home_title1 {
        width: 50%;
        height: auto;
        text-align: left;
        color: #fff;
        font-size: 20px;
        padding-top: 110px;
        margin-left: 5%;
    }

    .by_home_content_item:hover .by_home_content_item_first {
        background-color: #FF850F;
        border: 1px solid #FF850F;
    }

    .by_home_content_item:hover .by_home_content_item_first_text {
        border: 0px;
    }

    .by_home_feed img, .by_home_reg_feed_divider {
        display: none;
    }

    .by_home_reg {
        width: 100%;
        height: auto;
        float: left;
        text-align: center;
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
    }

    .by_home_feed {
        width: 100%;
        padding-right: 0%;
        height: auto;
        float: left;
        text-align: center;
        font-size: 18px;
        margin-left: 0%;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .by_home_shop_text_menu_item {
        height: 43px;
    }
}

@media ( max-width: 455px) {
    .by_home_find_text_menu_item {
        height: 140px;
    }
}

@media ( max-width: 425px) {
    .by_home_shop_text_menu_item {
        height: 66px;
    }
}