.by_home_bg {
    width: 100%;
    height: 480px;
    background: url('../../img/home/HomePage.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat top right;
    background-size: cover;
}

.by_home_title1 {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0px 3%;
    color: #fff;
    font-size: 28px;
    padding-top: 110px;
    margin-bottom: 40px;
}
.by_home_title1_bg
{
    background: url('../../img/home/green_trans.png?versionTimeStamp=%PROJECT_VERSION%') repeat-y top center;
    color: #fff;
    font-size: 65%;
    margin-top: 10px;
}

.by_home_topMenu {
    width: 70%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 45px;
    min-width: 700px;
}

.by_home_topMenu_item {
    width: 31%;
    height: auto;
    float: left;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px 0;
    border: 1px solid transparent;
}

.by_home_topMenu_item a:hover {
    text-decoration: none;
}

.by_home_topMenuText {
   width: 100%;
   height: 55px;
   line-height: 35px;
   padding:4px 10px 10px;
   border: 1px solid #fff;
   font-size: 25px;
   text-transform: uppercase;
   margin-top: 9px;
   color: #fff;
   border-radius: 2px !important;
   background: rgba(5, 48, 14, 0.5);
}
.by_home_topMenu_item:hover .by_home_topMenuText {
    background-color: #FF850F;
    border: 1px solid #FF850F;
}

.by_home_topMenuDesc {
    width: 100%;
    height: auto;
    margin-top: 9px;
    color: #fff;
    font-size: 17px;
}

.by_home_topMenuDesc span {
    color: #fff;
}

.by_container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 710px;
}

.by_homeSection {
    max-width: 80%;
    height: auto;
    padding: 40px 0px 45px 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 710px;
}

.by_homeSection_text {
    width: calc(70% - 180px);
    height: auto;
    line-height: 25px;
    margin-right: 28%;
}
.by_homeSection_image {
    width: 182px;
    margin: 25px 0px 20px 0px;
    height: auto;
    display: block;
}

.by_homeSection_title {
    width: auto;
    border-radius: 5px !important;
    color: #000;
    font-size: 32px;
    margin-top: 40px;
}

.by_homeSection_desc {
    font-size: 18px;
    color: #000;
    margin-top: 20px;
    line-height: 30px;
}
.by_homeSection_menuTitle
{
    width: 100%;
    height: auto;
    text-align: left;
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 0px 15px;
}
.by_homeSection_menuWrap {
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 1;
    position: relative;
    font-size: 15px;
}
.by_homeSection_menu {
    min-width: 220px;
    float: left;
    text-align: center;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    background: #004f24;
    border-radius: 3px !important;
    width: calc(33.3% - 67px);
}
.by_homeSection_menu a
{
    display: block;
    width: 100%;
    height: 100%;
    padding:4px 5px;
}
.by_homeSection_menuMore {
    width: 130px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: auto;
    background: #00A24A;
    margin-top: 30px;
    line-height: 35px;
    border: 1px solid #00A24A;
}
.by_homeSection_menu:hover
{
    background: #00A24A;
}
.by_homeSection_menuMoreImg
{
    background: url('../../img/home/arrow_white.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center;
    width: 21px;
    height: 21px;
    line-height: 35px;
    margin-left: 10px;
    margin-top: 7px;
}
.by_homeSection_menuMore:hover
{
    background: transparent;
    border: 1px solid #004f24;
}
.by_homeSection_menuMore:hover .by_homeSection_menuMoreImg
{
    background: url('../../img/home/arrow.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center;
}
.by_homeSection_menu a, .by_homeSection_menu a:hover, .by_homeSection_menuMore a .divLeft
{
    color: #fff;
    font-size: 16px;
}
.by_homeSection_menuMore a{
    display: block;
    padding:2px 28px;
}
.by_homeSection_menuMore a:hover, .by_homeSection_menuMore:hover a, .by_homeSection_menuMore:hover a .divLeft, .by_homeSection_menuMore:hover a:hover{
    color: #004f24 !important;
    font-weight: bold;
}
.by_homeSection_menu:hover a, .by_homeSection_menu a:hover, .by_homeSection_menuMore:hover a, .by_homeSection_menuMore a:hover
{
    font-weight: bold;
}

.by_homeShop_menu1 {
    width: 585px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.by_homeShop_menu {
    width: auto;
    padding: 10px 0px;
    float: left;
    color: green;
    text-align: center;
    height: 43px;
    font-size: 15px;
    margin: 0px 20px 0px 5px;
}

.by_homeShop_menuActive {
    border-bottom: 5px solid #666;
    font-weight: bold;
}

.by_homeSection_menuText {
    text-transform: capitalize;
    font-size: 16px;
}

.by_homeSection a:hover {
    text-decoration: none;
}

.by_homeShop_border {
    width: 100%;
    height: 1px;
    background-color: #666;
    margin-left: auto;
    margin-right: auto;
}

.by_homeSection_divider {
    width: 100%;
    height: 1px;
    text-align: center;
    background: url('../../img/home/line.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center center;
}

.by_homeShop_menu2 {
    width: 100%;
    height: auto;
    margin-top: 20px;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
}

.by_home_product_menu {
    min-width: 175px;
    height: auto;
    float: left;
    text-align: center;
    border: 1px solid #e9d2d4;
    position: relative;   
    background: #feeef0; 
    z-index: 1;
    width: calc(25% - 2px);
}
.by_home_product_menu a
{
    color: #004f24;
    display: block;
    width: 100%;
    height: 100%;
}
.by_home_product_menu:hover
{
    background: #fff9fa;
    border: 1px solid #d9c5c6;
    box-shadow: 0px 0px 15px #888888;
    z-index: 2;
}
.by_home_product_menu:hover a
{
    font-weight: bold;
    text-decoration: underline;
    color: #004f24;
}
.by_home_product_image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}
.by_homeSection_shopMore {
    width: 130px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: auto;
    border:1px solid #004f24;
    margin-top: 30px;
    line-height: 35px;
}
.by_homeSection_shopMore_find
{
    float: left;
    margin-top: 0px;
    height: 47px;
    margin-left: 10px;
}
.by_homeSection_shopMore_find a
{
    padding-top: 5px !important;
}
.by_homeSection_shopMore:hover
{
    background:#00A24A;
    border: 1px solid #00A24A;
}
.by_homeSection_shopMoreImg
{
    background: url('../../img/home/arrow.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center;
    width: 21px;
    height: 21px;
    line-height: 35px;
    margin-left: 0px;
    margin-top: 7px;
}
.by_homeSection_shopMore a 
{
    color: #004f24;
    font-size: 16px;
    padding:2px 28px 2px 35px;
    display: block;
}
.by_homeSection_shopMore a:hover, .by_homeSection_shopMore:hover a, .by_homeSection_shopMore:hover a .divLeft, .by_homeSection_shopMore:hover a:hover{
    color: #fff !important;
    font-weight: bold;
    font-size: 16px;
}
.by_homeSection_shopMore:hover .by_homeSection_shopMoreImg
{
   background: url('../../img/home/arrow_white.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center; 
}

.by_home_reg_feed {
    max-width: 72%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-width: 690px;
}

.by_home_feed_bg {
    background: #FFFEFE;
}

.by_home_reg {
    width: 46%;
    height: auto;
    float: left;
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.by_home_reg_line {
    width: 100%;
    height: 1px;
    background: #E4DFDF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.by_home_reg img, .by_home_feed img {
    max-width: 100%;
    text-align: center;
}

.by_home_reg a, .by_home_feed a {
    color: #004f24;
    font-weight: bold;
}

.by_home_feed {
    width: 40%;
    height: auto;
    float: left;
    text-align: center;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

.by_homeCallWrap {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #FF850F;
    font-size: 18px;
}

.by_homeCallWrap .divLeft a {
    color: #fff;
}

.by_homeCallWrap .divRight {
    color: #004f24;
}

.by_homeCallWrap .divRight a {
    background-color: #004f24;
    border-radius: 10px !important;
    color: #fff;
    padding: 5px 10px;
}

.by_homeCallWrap .divRight a:hover {
    text-decoration: none;
}

.by_home_comm_bg {
    background:#e3ede4;
}
.by_home_comm_bgImage {
    background:url('../../img/home/community.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat right top;
    background-size: 32%;
}
.by_home_find_bg {
    background:#dcdcdc;
}
.by_home_find_bgImage
{
    background:url('../../img/home/service.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat right top;
    background-size: 35%;
}
.by_home_shop_bg {
    background: #fee8ea;
}
.by_home_shop_bgImage
{
    background:url('../../img/home/product.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat right top;
    background-size: 35%;
}
.by_homeSectionInside {
    width: 85%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}
.by_home_center
{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}
.mobileSite
{
    display: none;
}
.desktopSite{
    display: block;
}
.by_homeSection_shopMore_findBottom
{
    display: none;
}
.by_homeSection_shopMore_find
{
    display: block;
}
@media (max-width: 1280px){
    .by_homeSection_menu
    {
        width: calc(33.3% - 20px);
    }
    .by_homeSection_shopMore_find
    {
      display: none;
  }
  .by_homeSection_shopMore_findBottom
  {
    display: block;
}
}
@media ( max-width: 1160px){
    .by_home_topMenu
    {
        width:79%;
    }
    .by_homeSectionInside, .by_home_center
    {
        width: 100%;
    }
}
@media ( max-width: 1050px){
    .by_home_topMenu, .by_homeSection
    {
        width:92%;
    }
    .by_homeSection
    {
        max-width: 92%;
    }
}
@media ( max-width: 920px){        

    .by_home_topMenuText
    {
        font-size: 19px;
        font-weight: bold;
    }
    .by_home_topMenuDesc
    {
        font-size: 16px;
    }
    .by_homeSection_menu
    {
        margin-left: 5px;
        margin-right: 5px;
    }
    .by_homeSection
    {
        width: 92%;
    }
}
@media (max-width:820px){
 .by_home_title1
 {
    text-align: left;
}
.by_home_title1_bg
{
    background: url('../../img/home/green_trans_m.png?versionTimeStamp=%PROJECT_VERSION%') repeat-y top left;
    color: #fff;
    font-size: 60%;
    margin-top: 3px;
    line-height: 16px;
    padding: 4px 4%;
}

}
@media ( max-width: 720px) {

    .mobileSite
    {
        display: block;
    }
    .desktopSite{
        display: none;
    }
    .by_home_topMenuText img
    {
        width: 40px;
        margin-left: -7px;
    }
    .by_home_title1_bg{
        background-size: contain;
        font-size: 75%;
    }
    .by_homeSection_menuTitle
    {
        text-align: center;
    }
    .by_container, .by_homeSectionInside {
        width: 100%;
        padding: 0 2%;
        margin-left: auto;
        margin-right: auto;
        min-width: 200px;
        max-width: 100%;
    }
    .by_homeSection_menu
    {
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    .by_homeSection, .by_home_reg_feed {
        max-width: 100%;
        min-width: 100%;
    }

    .by_homeSection_image {
        display: none;
    }
    .by_homeSection_text
    {
        margin-right: 0;
    }
    .by_homeSection_text, .by_homeShop_menu1 {
        width: 100%;
    }

    .by_homeSection_title {
        width: auto;
        padding: 10px;
        border: 1px solid #004f24;
        border-radius: 5px !important;
        color: #004f24;
        font-size: 20px;
        font-weight: bold;
        max-width: 200px;
        text-align: center;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }


    .by_homeSection_desc {
        text-align: center;
    }

    .by_homeShop_menu {
        width: auto;
        margin: 0px 10px 0px 0px;
    }

    .by_homeShop_menu2
    {
        max-width: 351px;
    }
    .by_homeShop_menu1
    {
        width: 100%;
        max-width: 402px;
        margin-top: 20px;
    }
    .by_homeShop_menu {
        opacity: 0.5;
    }

    .by_homeShop_menuActive {
        opacity: 1;
    }

    .by_homeShop_border {
        display: none;
    }

    .by_homeSection_menuWrap {
        margin-top: -2%;
    }

    .by_homeSection_divider {
        margin-bottom: 30px;
        margin-top: 20px;
        background: url('../../img/home/section-line.png?versionTimeStamp=%PROJECT_VERSION%') no-repeat center center;
    }

    .by_home_search {
        display: none;
    }

    .by_home_bg {
        width: 100%;
        height: auto;
        background: url('../../img/home/HomePage_M.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat top right;
        background-size: cover;
    }

    .by_home_topMenu {
        width: 100%;
        min-width: 100%;
        margin-top: 5px;
    }

    .by_home_topMenu_item {
        width: 240px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-bottom: 25px;
        border: 1px solid transparent;
    }

    .by_home_topMenuText {
        width: 100%;
        height: 44px;
        line-height: 36px;
        padding: 1px;
        border: 1px solid #fff;
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 9px;
        color: #fff;
        border-radius: 2px !important;
        text-align: center;
        background: rgba(5, 48, 14, 0.7);
    }

    .by_home_title1 {
        width: 50%;
        height: auto;
        text-align: left;
        color: #fff;
        font-size: 20px;
        padding-top: 110px;
        margin-left: 5%;
        line-height: 23px;
    }
    .by_home_agingImage
    {
        width: 27%;
        padding-top: 42px;
        margin-right: 10%;
    }
    .by_home_topMenu_item:hover .by_home_topMenuText {
        background-color: #FF850F;
        border: 1px solid #FF850F;
    }

    .by_home_topMenu_item:hover .by_home_topMenuTitle {
        border: 0px;
    }

    .by_home_feed img, .by_home_reg_feed_divider {
        display: none;
    }

    .by_home_reg {
        width: 100%;
        height: auto;
        float: left;
        text-align: center;
        font-size: 18px;
        margin-left: 0;
        margin-right: 0;
    }

    .by_home_feed {
        width: 100%;
        padding-right: 0%;
        height: auto;
        float: left;
        text-align: center;
        font-size: 18px;
        margin-left: 0%;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .by_homeShop_menu {
        height: 43px;
    }

    .by_home_comm_bgImage {
        background-image:none;
    }

    .by_home_find_bgImage {
        background-image:none;
    }

    .by_home_shop_bgImage {
        background-image:none;
    }
}
@media ( max-width: 590px){
    .by_home_agingImage
    {
       width: 28%;
       padding-top: 17px;
       margin-right: 10%;
   }
   .by_home_title1{
    padding-top: 75px;
}
.by_home_topMenu
{
    margin-top: -20px;
}
.by_home_topMenu_item 
{
    margin-bottom: 1px;
}
.by_home_topMenuDesc
{
    line-height: 18px;
    margin-top: 5px;
}
.by_home_topMenuTitle
{
    padding-top: 2px;
}
}
@media ( max-width: 490px) {
    .by_home_agingImage
    {
        padding-top: 36px; 
    }
}

@media ( max-width: 425px) {
    .by_home_title1
    {
        padding-top: 65px;
    }
}
@media ( max-width: 380px){
    .by_home_agingImage
    {
        width: 36%;
        margin-right: 5%;
    }
    .by_homeShop_menu2 {
        max-width: 177px;
    }
}
#homeMenuScroll
{
    display: none;
}
.by_expertsPanel_head
{
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    padding-bottom: 30px;
}
.by_expertsPanel_wrap
{
    width: 100%;
    height: auto;
    text-align: center;
}
.by_expertsPanel_thumbTwo
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.by_expertsPanel_thumbTwo .by_expertsPanel_thumb
{
    width: calc(50% - 2px);
}
.by_expertsPanel_thumb
{
    width: calc(25% - 2px);
    margin-right: 1px;
    margin-left: 1px;
    float: left;
    padding: 5px;
    border:1px solid #ccc;
    position: relative;
    z-index: 1;
    margin-bottom: 2px;
}
.by_expertsPanel_thumb:hover
{
    border:1px solid #FF850F;    
    box-shadow: 0px 0px 4px #FF850F;
    z-index: 2;
    background: #fff;
    cursor: pointer;
}
.by_expertsPanel_thumb:hover .by_expertsPanel_thumbMore a{
    text-decoration: underline;
}
.by_expertsPanel_thumbImage
{
    width: 100%;
    text-align: center;
    padding: 30px 0px 15px 0px;
}
.by_expertsPanel_thumbImageHoverS
{
    display: inline-block;
}
.by_expertsPanel_thumbImageHoverH
{
    display: none;
}
/*.by_expertsPanel_thumb:hover .by_expertsPanel_thumbImageHoverS
{
    display: inline-block;
}
.by_expertsPanel_thumb:hover .by_expertsPanel_thumbImageHoverH
{
    display: none;
}*/
.by_expertsPanel_thumbName
{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}
.by_expertsPanel_thumbDesc
{
    width: 100%;
    font-size: 16px;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 20px;
    height: 40px;
}
.by_expertsPanel_thumbMore
{
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 16px;
}
@media ( max-width: 850px){
    .by_expertsPanel_thumbTwo
{
    width: 66.6%;
    float: left;
}
.by_expertsPanel_thumbTwo .by_expertsPanel_thumb
{
    width: calc(50% - 8px);
}
    .by_expertsPanel_thumb
    {
        width: calc(33.3% - 8px);
    }
}
@media ( max-width: 660px){
    .by_expertsPanel_thumb
    {
        width: calc(50% - 8px);
    }
    .by_expertsPanel_thumbTwo
{
    width: 100%;
    float: left;
}
}
@media ( max-width: 450px){
    .by_expertsPanel_thumb, .by_expertsPanel_thumbTwo .by_expertsPanel_thumb
    {
        width: calc(100% - 8px);
    }
}