.by_menu
{
	width: 310px;
	margin-top: 10px;
	height: auto;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-top: -35px;
}
.by_menu a
{
	color: #fff;
	margin-left: 17px;
	margin-right: 17px;
}
.by_menu a:hover
{
	color: #fff;
}
.by_sub_menu
{
	width: 100%;
	height: auto;
	padding: 100px 0px 0px 0px;
	background: #000 url('../../img/home/HomePage_28.jpg?versionTimeStamp=%PROJECT_VERSION%') no-repeat top right;
	background-size: cover;
	opacity: 0.8;
}
.by_sub_menu_head
{
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
.by_sub_menu_head_thumb
{
	width: 32%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border: 1px solid #fff;
	border-bottom: 0px;
	border-top-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	text-align: center;
	height: 50px;
	line-height: 20px;
	padding: 15px 0px;
	color: #fff;
	cursor: pointer;
	float: left;
	font-size: 20px;
	font-weight: bold;
}
.by_sub_menu_head_thumb_active
{
	background: #fff;
	color: #004f24;
	cursor: inherit;
}
.by_sub_menu_content
{
	width: 100%;
	height: auto;
	padding: 0px 3%;
	border-top: 1px solid #fff;
}
.by_sub_menu_content_thumb
{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-bottom: 40px;
	display: none;
	padding-top: 40px;
}
.by_sub_menu_content_item
{
	width: 18%;
	height: 100px;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	text-align: center;
	line-height: 18px;
}
.by_sub_menu_content_item_active
{
	font-weight: bold;
}
.by_sub_menu_content_item2
{
	width: 14%;
}
.by_sub_menu_content_item a, .by_sub_menu_content_item2 a
{
	font-size: 16px;
	color: #fff;
}
.by_sub_menu_content_item a:hover, .by_sub_menu_content_item2 a:hover
{
	text-decoration: none;
}
.by_mobile_leftPanel_hide
{
	width: 100%;
	height: calc(100% - 54px);
	top: 54px;
	z-index: 2;
	position: fixed;
	left: -90%;
}
.by_mobile_leftPanel
{
	width: 90%;
	height: 100%;
	float: left;
	background: #fff;
	overflow: hidden;
	overflow-y:auto;
}
.by_mobile_leftPanel_image
{
	width: 49px;
	height: 121px;
	background: url('../../img/community/mobile/humburger.png?versionTimeStamp=%PROJECT_VERSION%');
	float: left;
	margin-top: calc(50% - 120px);
	position: fixed;
	left: 0;
}
.by_sub_menu_head_mobile
{
	width: 90%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
.by_sub_menu_head_mobile_thumb
{
	width: 32%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	border: 1px solid #004f24;
	border-bottom: 0px;
	border-top-right-radius: 4px !important;
	border-top-left-radius: 4px !important;
	text-align: center;
	height: 60px;
	line-height: 20px;
	padding: 10px 0px;
	color: #004f24;
	cursor: pointer;
	float: left;
	font-size: 16px;
	font-weight: bold;
}
.by_sub_menu_head_mobile_thumb_active
{
	background: #004f24;
	color: #fff;
	cursor: inherit;
}
.by_sub_menu_content_mobile
{
	width: 100%;
	height: auto;
	padding: 0px 3%;
	border-top: 2px solid #004f24;
}
.by_sub_menu_content_mobile_thumb
{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-bottom: 20px;
	display: none;
	padding-top: 20px;
}
.by_sub_menu_content_mobile_item
{
	width: 31%;
	height: 100px;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	text-align: center;
	line-height: 18px;
}
.by_sub_menu_content_mobile_item_active
{
	font-weight: bold;
}
.by_sub_menu_content_mobile_item a
{
	font-size: 15px;
	color: #004f24;
}
.by_sub_menu_content_mobile_item a:hover
{
	text-decoration: none;
}

.by_sub_menu_plus
{
	width: 250px;
	background: #fff;
	min-height: calc(100vh - 57px);
	padding-bottom: 57px;
}
.by_sub_menu_plus_head
{
	width: 90%;
	padding: 3px 5%;
	font-size: 15px;
}
.by_sub_menu_plus_head .divRight
{
	cursor: pointer;
}
.by_sub_menu_plus_content
{
	width: 100%;
	height: auto;
	display: none;
}
.by_sub_menu_plus_content a
{
	display: block;
	padding: 3px;
}
@media ( max-width : 1000px){
	.by_sub_menu_content_item
	{
		width: 23%;
		height: 100px;
		margin-right: 1%;
		margin-left: 1%;
	}
	.by_sub_menu_content_item2
	{
		width: 18%;
	}
	.by_menu
	{		
		margin-left: 30%;
		width: 235px;
	}	
	.by_menu a
	{
		margin-left: 5px;
		margin-right: 5px;
	}
}
@media ( max-width : 900px){
	.by_menu
	{		
		margin-left: 25%;
		font-size: 15px;
	}
	.by_header_right_other
	{
		font-size: 13px;
	}
}
@media ( max-width : 720px){
	.by_menu
	{
		float: right;
		margin-right: 0px;    
		text-transform: uppercase;
		margin-top: -23px;
		padding-bottom: 10px;
		width: 230px;
	}
	.by_menu a
	{
		margin-right: 0px;
		margin-left: 15px;
	}
}
@media ( max-width : 420px){
	.by_menu
	{
		font-size: 12px;
		width: 179px;
		margin-top: -21px;
	}
	.by_menu a{
		margin-left: 10px;
	}
}