<div ng-controller="EditorController" class="by_editor_wrap by_editor_wrap_bg">

<div class="by_call_submit_video_wrapper">
	<div class="by_call_submit_video_abs"></div>
	<div class="by_call_submit_video_inside">
		<div class="by_call_submit_video_head">Insert Video <span>X</span></div>
		<div class="by_call_submit_video_head_below">Paste your video embedded code</div>
		<textarea rows="" cols="" class="by_call_submit_video_head_textarea"></textarea>
		<div class="clearfix"></div>
		<div class="by_call_submit_video_btn">
			 <button  type="submit" class="btn btn-sm btn-success comment-submit by_btn_submit "  >SUBMIT</button>
            <button  type="button" class="btn btn-sm btn-success comment-submit by_btn_cancel "  >CANCEL</button>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

    <div class="col-md-12  by_editor_wrap_bg_head">

        <div class="col-md-12  no-padding list-head dp-block">POST
        </div>

        <div class="col-md-12 no-padding bg-gray-h1">
            <div class="bg-green-h2" style="width: 70px;"></div>
        </div>
    </div>


    <div class=" col-md-12 no-padding margin-bottom-20 register-page">
        <input type="text" class="username-textbox textbox " placeholder="Please enter a title of your post" name="username" ng-model="editor.subject">
    </div>

	<div class="margon-bottom-20 by-show-three-buttons">
		<div class=" col-md-6 col-xs-6 no-padding register-page by_editor_post_divider">
			<form id="UploadImage12" action="UploadFile" method="post"
				enctype="multipart/form-data">
				<label > <input name="sp" id="sp" type="file"
					required onchange="javascript:uploadImage(this)" /><img src="assets/img/icons/photo.png" width="42" height="33"/> 
					<span style="float: right;    min-width: 50px;    max-width: 80px;    margin-left: 10px;    text-align: left;">Upload<br/>
						your photo</span>
				</label>
			</form>
			<input type="text" id="articleTitleImage"
				ng-model="editor.articlePhotoFilename" value=""
				style="display: none" />

		</div>
		<!--  
		<div class=" col-md-4 col-xs-4 no-padding  register-page by_editor_post_divider">
			<label > <span> Submit<br/> a link </span>
			</label>
		</div>-->
		<div class=" col-md-6 col-xs-6 no-padding  register-page by_editor_post_divider">
			<label class="by_call_submit_video" ng-init="showSubmitVideo()"><img src="assets/img/icons/video.png" width="42" height="33"/>
			 <span style="float: right;    min-width: 50px;    max-width: 80px;    margin-left: 10px;    text-align: left;"> Share<br/> a video </span>
			</label>
		</div>
		<div class="clearfix" style="height:20px;"></div>
	</div><div class="clearfix"></div>
	<div class="by_uploading_image ">
		<div class="col-md-6 by_uploading_image_add">
			<div class="myLabel" style="padding:0px; width:100%;">
				<img src="" width="100%" alt="" style="border:1px solid #fff;"/>
			</div>
			<div class="clearfix"></div>
			<div class="by_uploading_image_add_close"></div>
		</div>
		<div class="col-md-6">
			 Would you allow us to showcase this image? <input type="checkbox" checked data-toggle="toggle"  data-offstyle="info"  data-size="mini">
		</div>
		<div class="clearfix"></div>
	</div>
	
	<div class="by_uploading_video">
		<div class="col-md-12 by_uploading_video_add">
			<div class="by_uploading_video_add_inside">
				<iframe width="500" height="200"
					src="https://www.youtube.com/embed/ZtqzeYooMw4" frameborder="0"
					allowfullscreen ></iframe>
			</div>
			<div class="clearfix"></div>
			<div class="by_uploading_video_add_close"></div>
		</div>
		<div class="clearfix"></div>
	</div>



	<div class="byEditorBg">
		<div class="col-md-12 no-padding margin-bottom-35 byEditor">
			<textarea id="article_textArea" class="textbox about-dependent"
				rows="3"></textarea>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="col-md-12  form-header-content margin-bottom-15">
        <a ng-click="showCategoryList()">Please click to select category in which your post will appear (optional) <span class="triangle-down by-arrow-float-none"></span></a>
    </div>

    <div class="col-md-12  margin-bottom-20" ng-if="showCategory">
        <div class="panel-group acc-v1" id="accordion-1">
            <div class="panel panel-default by_accordian" ng-repeat="category in $root.discussCategoryMap">
                <div class="panel-heading">
                    <h4 class="panel-title by_editor_ParentCategories" ng-if="category.children.length <= 0">
                        <label ng-if="category.parentMenuId">
                            {{$root.menuCategoryMap[category.parentMenuId].displayMenuName + " >> " + category.displayMenuName}}
                            <input type="checkbox" ng-click="selectTag($event, category)"
                                   value="{{category.id}}" ng-checked="{{selectedMenuId === category.id}}">
                        </label>

                        <label ng-if="!category.parentMenuId">
                            {{category.displayMenuName}}
                            <input type="checkbox" ng-click="selectTag($event, category)"
                                   value="{{category.id}}" ng-checked="{{selectedMenuId === category.id}}">
                        </label>
                    </h4>
                    <h4 class="panel-title by_editor_ParentCategories" ng-if="category.children.length > 0">
                        <a ng-if="!category.parentMenuId" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1"
                           href={{"#accord_"+category.id}} onclick="return false;">
                            {{category.displayMenuName}}
                        </a>

                        <a ng-if="category.parentMenuId" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1"
                           href={{"#accord_"+category.id}} onclick="return false;">
                            {{$root.menuCategoryMap[category.parentMenuId].displayMenuName + " >> " + category.displayMenuName}}
                        </a>

                        <a class="triangle-down accordion-toggle collapsed" data-toggle="collapse"
                           data-parent="#accordion-1" href={{"#"+category.id}} onclick="return false;"></a>
                    </h4>
                </div>
                <div id={{"accord_"+category.id}} class="col-md-12 whiteBg by_editor_SubCategories panel-collapse collapse">
                    <div class="panel-body col-md-12" ng-repeat="subCategory in category.children" ng-if="subCategory.module===0">
                        <input type="checkbox" ng-click="selectTag($event, subCategory)" value={{subCategory.id}} ng-checked="{{selectedMenuId === subCategory.id}}">
                        <span>{{subCategory.displayMenuName}}</span>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>


    

    <div class="col-md-12   by_editor_button_whiteBg">
    	<div ng-show="errorMsg"><font color="red">{{errorMsg}}</font></div>
        <button class="btn btn-big btn-default pull-right by_btn_submit by-editor-submit-btn" disabled
                ng-click="postContent('A')">submit
        </button>  <button
			class="btn btn-big btn-default pull-right by_btn_submit by-editor-cancel-btn"
			><a href="">Cancel</a></button>	
			<div class="clearfix"></div><div class="clearfix"></div>
    </div>
    
    <div class="clearfix"></div>
   
</div>
 <script type="text/javascript">
        var tinyEditor = BY.addEditor({"editorTextArea": "article_textArea"});
        $("#UploadImage12").bind('submit', function (e) {
            var postData = new FormData(jQuery('#UploadImage12')[0]);
            $.ajax(
                    {
                        url: 'UploadFile?transcoding=true',
                        type: "POST",
                        enctype: "multipart/form-data",
                        data: postData,
                        //  contentType: "application/json",
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data, textStatus, jqXHR) {
                            $("#articleTitleImage").val(JSON.stringify(data));
                            $("#articleTitleImage").trigger('input');
                            $(".by_uploading_image").show();
                            $(".by-show-three-buttons").hide();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                            alert("Image upload failed");
                        }
                    });
            e.preventDefault();
        });
        function uploadImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.myLabel img').attr('src', e.target.result)
                }

                reader.readAsDataURL(input.files[0]);
                $('#UploadImage12').submit();

                //input.form.submit();
            }
        }
    </script>