<div class="by-editor-shareInfo">
    <div class="row row-height" ng-if="linkInfo.type===0">
        <div class="col-md-6 shareInfo-content col-height col-top">
            <p>{{linkInfo.title}}</p>
            <p>{{linkInfo.description}}</p>
            <p>{{linkInfo.domainName}}</p>
        </div>
        <div class="col-md-6 shareInfo-generalImage col-height col-middle">
            <img src="{{linkInfo.mainImage}}">
        </div>
    </div>
    <div class="row row-height shareInfo-image" ng-if="linkInfo.type===1">
        <img src="{{linkInfo.mainImage}}">
    </div>
    <div class="row row-height shareInfo-image" ng-if="linkInfo.type===2">
        <div class="col-md-6 shareInfo-content col-height col-top">
            <p>{{linkInfo.title}}</p>
            <p>{{linkInfo.description}}</p>
            <p>{{linkInfo.domainName}}</p>
        </div>
        <div class="col-md-6 shareInfo-generalImage col-height col-middle">
            <img src="{{linkInfo.mainImage}}">
        </div>
    </div>
</div>