<li style="position:static;" ng-repeat="submenu in selectedTopMenu.children" ng-class="{'dropdown-submenu':submenu.children.length > 0}" ng-if="selectedTopMenu.module==submenu.module">
    <a href="javascript:void(0);">{{submenu.displayMenuName}}</a>
    <ul class="dropdown-menu by-leafMenu" >
        <li ng-if="submenu.children.length > 0" ng-init="colCount = submenu.children.length/3">
			<div class="mega-menu-content">
				<ul class="list-unstyled style-list">
					<li ng-repeat="leafMenu in submenu.children"
						style="margin-top: 10px; margin-bottom: 10px;"><a href="#"
						style="padding-left: 3px;">{{leafMenu.displayMenuName}}</a></li>
				</ul>
			</div>
		</li>
    </ul>
</li>

<li ng-repeat="submenu in selectedTopMenu.children" ng-class="{'dropdown-submenu':submenu.children.length > 0}" ng-if="selectedTopMenu.module!=submenu.module">
    <div style="background-color: black; height:1px" ng-if="$index===0"></div>
    <a href="javascript:void(0);">{{submenu.displayMenuName}}</a>
</li>