<li>
    <div class="mega-menu-content disable-icons">
        <div class="container">
            <div class="row equal-height">
                <div class="col-md-6 equal-height-in" ng-repeat="category in ServiceTypeList" style="padding-top: 0px;">
                    <ul class="list-unstyled equal-height-list">
                        <li ng-if="$index===0" style="margin-bottom: 15px;">
                            <a di-href="#/find/all/all" style="margin: 4px;">
                                <h3 style="margin-bottom: 0px; line-height: 14px; padding: 3px; ">
                                    FIND ALL
                                </h3>
                            </a>
                        </li>
                        <li style="margin-bottom: 15px;">
                            <a di-href="#/find/{{category.id}}/all" style="margin: 4px;">
                                <h3 style="margin-bottom: 0px; line-height: 14px; padding: 3px; ">
                                    {{category.name}}
                                </h3>
                            </a>
                            <ul class="list-unstyled equal-height-list" style="margin-left: 10px;" ng-repeat="subCategory in category.children">
                                <li>
                                    <a di-href="#/find/{{subCategory.id}}/all">
                                        {{subCategory.name}}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</li>