<div class="modal-dialog by-modalLogin">
    <div class="modal-content"  ng-controller="LoginController" ng-init="modalLoginInit()">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close"
                    data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
<div style="display:none">{{formState = $root.loginFormState}}</div>
        <!-- Modal Body -->
        <div class="modal-body">
            <div class="row signup">
                <div class="login">
                    <!----------------------Login Form start------------------------->
                    <form class="" name="loginForm" ng-submit="loginUser(user)" ng-if="formState===1" novalidate>
                        <div class="no-padding form-header-content font-bold">
                            Login
                        </div>
                        <div ng-show="error">
                            <font color="red">{{error}}</font>
                        </div>
                        <div ng-show="message">
                            <font color="green">{{message}}</font>
                        </div>

                        <div class="no-padding margin-bottom-10">
                            <input type="text" class="username-textbox textbox modal-login-input"
                                   placeholder="Please enter your Email ID "
                                   ng-model="user.email">
                        </div>

                        <span>
                            <p ng-show="loginForm.email.$invalid && loginForm.email.$pristine"
                               class="help-block">Email is required.</p>
                        </span>

                        <div class="col-md-12 no-padding margin-bottom-10">
                            <input type="password" class="username-textbox textbox modal-login-input"
                                   placeholder="Please enter your password"
                                   ng-model="user.password">
                        </div>
                        <span>
                            <p ng-show="loginForm.password.$invalid && loginForm.password.$pristine"
                               class="help-block">Password is required.</p>
                        </span>

                        <div class="no-padding form-header-content margin-bottom-10" >
                            <button class="btn btn-success login-btn by_btn_submit" ng-disabled="!loginForm.$valid"
                                    type="submit">LOGIN
                            </button>
                        </div>

                        <div class="no-padding margin-bottom-10">
                            Forgot your password? <a ng-click="showForm(2)">Click here</a>
                        </div>
                    </form>
                    <!----------------------Login Form End------------------------->

                    <!----------------------Registration Form start------------------------->
                    <form class="" name="userForm" ng-submit="createNewUser(userForm.$valid)" ng-if="formState===0"
                          novalidate>
                        <div class="no-padding form-header-content font-bold">
                            Sign Up
                        </div>
                        <div ng-if="createUserError">
                            <font color="red">{{createUserError}}</font>
                        </div>
                        <div ng-if="emailError!==''">
                            <font color="red">{{emailError}}</font>
                        </div>
                        <div class="no-padding margin-bottom-10">
                            <input type="text" class="username-textbox textbox modal-login-input"
                                   placeholder="Please enter your Email ID "
                                   ng-model="newUser.email">
                        </div>

                        <div class="no-padding margin-bottom-10">
                            <input type="text" class="username-textbox textbox modal-login-input"
                                   placeholder="Please enter your User Name (optional)"
                                   ng-model="newUser.userName">
                        </div>

                        <div ng-if="pwdError!==''">
                            <font color="red">{{pwdError}}</font>
                        </div>

                        <div class="no-padding margin-bottom-10">
                            <input type="password" class="username-textbox textbox modal-login-input"
                                   placeholder="Please enter your password"
                                   ng-model="newUser.password">
                        </div>

                        <div class="no-padding form-header-content margin-bottom-10" >
                            <button class="btn btn-success register-btn by_btn_submit"
                                    type="submit">REGISTER
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                    <!----------------------Registration Form end------------------------->

                    <!----------------------Forgot Password Form start------------------------->
                    <form class="emailSentSuccessModal" name="forgotPwdForm" ng-submit="emailPwdLink(resetPwd.email)" ng-if="formState===2" novalidate>
                        <div class="no-padding form-header-content font-bold">
                             Forgot your password
                        </div>

                        <div ng-if="resetPwd.error">
                            <font color="red">{{resetPwd.error}}</font>
                        </div>

                        <div ng-if="resetPwd.status===0" class="no-padding margin-bottom-20">
                            <input type="text" class="username-textbox textbox modal-login-input"
                                   placeholder="Please enter email id"
                                   ng-model="resetPwd.email">
                        </div>

                        <div ng-if="resetPwd.status===0" class="no-padding form-header-content margin-bottom-10">
                            <button class="btn btn-success register-btn by_btn_submit"
                                    type="submit">SUBMIT
                            </button>
                            <div class="clearfix"></div>
                        </div>

                        <div ng-if="resetPwd.status===1">
                            We have emailed you a link to change the password
                        </div>
                    </form>
                    <!----------------------Forgot Password Form End------------------------->
                </div>
                <div class="clearfix"></div>
                <div class="no-padding signup-social" ng-if="resetPwd.status!=1" style=" margin-top: -5px;">
                    <div>
                        OR
                    </div>
                    <div class="no-padding form-header-content">
                     You could use your social login to <span ng-if="formState===1">login</span>  <span ng-if="formState===0">sign up</span>
                    </div>

                    <div style="margin-top: 5px;">
                        <div class="dp-inline-block by-social-login" ng-click="fbLogin()">
                            <img src="assets/img/icons/fb-login.png" width="97" height="23" class="post-text">
                        </div>
                        <div class="dp-inline-block" ng-click="ggLogin()">
                            <img src="assets/img/icons/googleplus-login.png" width="82"
                                 height="23" class="post-text">
                        </div>
                    </div>

					<div class="modalLoginUl">

						<span class="lock-icon"> <img
							src="assets/img/icons/lock.png" width="8" height="11">
						</span> BeautifulYears do not share your information
					</div>
					<div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer" style="border:0px; font-size: 15px; text-align:center; background-color: #e7e7e7; border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    padding-top: 8px; margin-top: -18px;" ng-if="resetPwd.status!=1">
            <div class="no-padding" ng-if="formState===0 || formState===2">
                Already a BeautifulYears member?<br/> <a ng-click="showForm(1)">Login Here</a>
            </div>
            <div class="no-padding" ng-if="formState===1">
                Not a BeautifulYears member?<br/> <a ng-click="showForm(0)">Register Now</a>
            </div>
        </div>
    </div>
</div>

