<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 " id="sidebar-nav">
            <li class="list-group-item" ng-class="{true: 'active'}[regLevel == 0]">
                <a>LOGIN / REGISTRATION</a>
            </li>
            <li class="list-group-item" ng-show="regLevel >= 1" ng-class="{true: 'active'}[regLevel == 1]" ng-click="regLevel === 1">
                <a>I AM...</a>
            </li>
            <li class="list-group-item" ng-show="regLevel >= 2" ng-class="{true: 'active'}[regLevel == 2]">
                <a>INSTITUTION INFO</a>
            </li>
        </ul>
    </div>
</div>
<!--All classes from Unify end-->
