<div class="row" ng-controller="regInstitutionController">
    <form class="third-register-page grayRegisterBgLight" novalidate style="background:transparent;">
        <div class="col-md-12 no-padding margin-bottom-20">
            <div class="col-md-12 no-padding  list-head dp-block">
                MY INSTITUTION
            </div>

            <div class="col-md-12 no-padding">
                <div class="bg-green-h2" style="width: 216px;"></div>
            </div>
        </div>
        <div class="col-md-12 whiteBg register-page padding20 borderShadow margin-bottom-20">
            <div class="row margin-bottom-20 marginRightMinus5 register-page">
                <div class="col-md-5">
                    Name of your company
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <input type="text" class="username-textbox textbox textItalic"
                           class="name-textbox textbox grayBg" placeholder="Please enter a name of your company"
                           ng-model="basicProfileInfo.firstName"/>
                </div>
            </div>


            <div class="row margin-bottom-20 marginRightMinus5 register-page">
                <div class="col-md-5">
                    We provide services in the following areas
                </div>
                <div class="col-md-7 no-padding-right register-page">
                    <div class="panel-group acc-v1" id="accordion-1">
                        <div class="panel panel-default" ng-repeat="category in ServiceTypeList">
                            <div class="panel-heading">
                                <h4 class="panel-title by_editor_ParentCategories by-reg-toggle"
                                    ng-if="category.childCount <= 0">
                                    <label>
                                        {{category.name}}

                                        <input type="checkbox" ng-change="selectServiceType(category)"
                                               ng-model="category.selected">
                                    </label>
                                </h4>
                                <h4 class="panel-title by_editor_ParentCategories" ng-if="category.childCount > 0">
                                    <a class="accordion-toggle collapsed by-reg-toggle" data-toggle="collapse"
                                       data-parent="#accordion-1" href={{"#"+category.id}} onclick="return false;">
                                        {{category.name}}
                                    </a>
                                    <a class="triangle-down accordion-toggle collapsed by-reg-triangle"
                                       data-toggle="collapse" data-parent="#accordion-1" href={{"#"+category.id}}
                                       onclick="return false;"></a>
                                </h4>
                            </div>
                            <div id={{category.id}}
                                 class="col-md-12 whiteBg by_editor_SubCategories by_reg_SubCategories panel-collapse collapse">
                                <div class="panel-body col-md-6" ng-repeat="subCategory in category.children">
                                    <input type="checkbox" ng-change="selectServiceType(subCategory)"
                                           ng-model="subCategory.selected">
                                    <span>{{subCategory.name}}</span>
                                </div>
                            </div>
                            <div style="clear:both"></div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="row margin-bottom-20 marginRightMinus5">
                <div class="col-md-5 col-xs-9" style="margin-right: 17px;">
                    Our specialists are ready to visit clients at home
                </div>
                <input type="checkbox" id="homeVisit" checked data-toggle="toggle" data-on="Yes"
                       data-off="No" data-onstyle="success" data-offstyle="danger">
            </div>

            <div class="row margin-bottom-20 marginRightMinus5">
                <div class="col-md-5">
                    Our corporate address is
                </div>
                <div class="col-md-7 no-padding">
                    <div>
                        <div ng-include="'app/components/login/addressTemplate.html'"></div>
                    </div>

                    <!--<div ng-repeat="address in basicProfileInfo.secondaryUserAddress">-->
                    <!--<div ng-include="'app/components/login/addressTemplate.html'"></div>-->
                    <!--</div>-->

                    <div class="col-md-12 no-padding-right margin-bottom-20">
                        <input type="text" class="username-textbox textbox textItalic"
                               ng-model="basicProfileInfo.primaryPhoneNo"
                               placeholder="Telephone number"/>
                    </div>

                    <div class="col-md-12 no-padding-right margin-bottom-20"
                         ng-repeat="number in basicProfileInfo.secondaryPhoneNos track by $index">
                        <input type="text" class="username-textbox textbox textItalic"
                               ng-model="basicProfileInfo.secondaryPhoneNos[$index]"
                               placeholder="Telephone number"/>
                    </div>

                    <div class="row add-phone-wrap margin-bottom-20" style="margin-top:-10px;">
                        <div class="col-md-offset-1 col-md-11">
                            <a class="add-phone" ng-click="addPhoneNumber()">+ add another phone no</a>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding-right margin-bottom-20">
                        <input type="text" class="username-textbox textbox textItalic"
                               ng-model="basicProfileInfo.primaryEmail"
                               placeholder="Email"/>
                    </div>
                    <div class="col-md-12 no-padding-right margin-bottom-20"
                         ng-repeat="email in basicProfileInfo.secondaryEmails track by $index">
                        <input type="text" class="username-textbox textbox textItalic"
                               ng-model="basicProfileInfo.secondaryEmails[$index]"
                               placeholder="Email"/>
                    </div>
                    <div class="row add-email-wrap margin-bottom-20" style="margin-top:-10px;">
                        <div class="col-md-offset-1 col-md-11">
                            <a class="add-email" ng-click="addEmail()">+ add another email id</a>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding-right margin-bottom-20">
                        <input type="text" class="username-textbox textbox textItalic"
                               ng-model="serviceProviderInfo.website"
                               placeholder="Website"/>
                    </div>
                </div>
            </div>

            <!--<div class="row margin-bottom-20">-->
            <!--<div class="col-md-12">-->
            <!--<a ng-click="addNewAddress()">-->
            <!--Add address in another city-->
            <!--</a>-->
            <!--</div>-->
            <!--</div>-->

            <div class="row margin-bottom-20 by-hover">
                <div class="col-md-12">
                    <div class="by-reg-gallery">
                        <img class="by-reg-image" ng-if="profileImage" ng-src="{{profileImage.resized.dataURL}}"/>
                        <img class="by-reg-image" ng-if="basicProfileInfo.profileImage && !profileImage"
                             ng-src="{{basicProfileInfo.profileImage.thumbnailImage}}"/>

                        <a class="image-fav" ng-click="deleteProfileImage(profileImage)"></a>
                    </div>
                    <div class="by-reg-uploadLabel">
                        <label class="myLabel">
                            <input id="inputImage2"
                                   type="file"
                                   accept="image/*"
                                   image="profileImage"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" class="btn btn-success register-btn"/>
                            <span>UPLOAD THE MAIN PHOTO</span>
                        </label>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="by-reg-gallery" ng-repeat="img in basicProfileInfo.photoGalleryURLs">
                        <img class="by-reg-image" ng-src="{{img.thumbnailImage}}"/>
                        <a class="image-fav" ng-click="deleteGalleryImage(img)"></a>
                    </div>
                    <div class="by-reg-gallery" ng-repeat="img in galleryImages">
                        <img class="by-reg-image" ng-src="{{img.resized.dataURL}}"/>
                        <a class="image-fav" ng-click="deleteGalleryImage(img)"></a>
                    </div>
                    <div class="by-reg-uploadLabel">
                        <label class="myLabel">
                            <input id="inputImage4"
                                   type="file"
                                   accept="image/*"
                                   multiple
                                   image="galleryImages"
                                   resize-max-height="300"
                                   resize-max-width="250"
                                   resize-quality="0.7" class="btn btn-success register-btn"/>
                            <span>UPLOAD OTHER PHOTOS (UP TO 8)</span>
                        </label>
                    </div>
                </div>
            </div>


            <div class="col-md-12 divRightNone">
                <div class="row">
                    <div class="shadow-wrapper margin-top-15 margin-bottom-15 ng-scope">
                        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                            <div class="aboutDiscussText">
                                Please write us more about your company and about services you provides. How
                                different are you from others? What makes you stand out? Are you ready to go for
                                an extra mile for your customers?
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 margin-bottom-10">
                <div class="row">
                    <textarea class="textbox home-address textItalic" rows="3"
                              ng-model="basicProfileInfo.description"></textarea>
                </div>
            </div>

        </div>


        <div class="col-md-12 margin-top-20 margin-bottom-20">
            <input type="button" value="Done" class="nextButton" ng-click="submitData()"/>

            <div class="clearfix"></div>
        </div>

    </form>

</div>