<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="container by_home_content">
    <div class="row whitebg-graybdr by-modalResetPwd" ng-controller="LoginController" style="text-align: center; border-radius: 8px !important; margin-top: 80px; margin-bottom: 80px;">
        <div class="col-md-12 login" style="padding: 40px">
            <!----------------------Forgot Password Form start------------------------->
            <form class="" name="resetPwdForm" ng-submit="resetPassword(resetPwd.newPwd)" novalidate>
                <div class="no-padding form-header-content font-bold" style="margin-bottom: 10px;font-size: 20px;">
                    Select a new password
                </div>

                <div ng-if="resetPwd.error">
                    <font color="red">{{resetPwd.error}}</font>
                </div>

                <div class="no-padding margin-bottom-20">
                    <input type="password" class="username-textbox textbox modal-login-input"
                           placeholder="Please select your password"
                           ng-model="resetPwd.newPwd"
                           style="width: 80%;border: 1px solid #ccc;border-radius: 4px !important;padding-left: 10px;" ng-disabled="resetPwd.error">
                </div>

                <div class="no-padding form-header-content" style="margin-bottom: 10px;">
                    <button class="btn btn-success register-btn by_btn_submit"
                            type="submit" ng-disabled="resetPwd.error">SUBMIT
                    </button>
                    <div class="clearfix"></div>
                </div>
            </form>
            <!----------------------Forgot Password Form End------------------------->
        </div>
        <div class="clearfix"></div>
    </div>
</div>