<div class="row" ng-controller="regInstitutionController">
    <form name="institutionForm" class="third-register-page grayRegisterBgLight" novalidate style="background:transparent;" ng-submit="postUserProfile(institutionForm)">
        <div class="col-md-12 no-padding margin-bottom-20">
            <div class="col-md-12 no-padding  list-head dp-block">
                Rate Dr. ANIL GUPTA
            </div>

            <div class="col-md-12 no-padding">
                <div class="bg-green-h2" style="width: 216px;"></div>
            </div>
        </div>
        <div class="col-md-12 whiteBg register-page padding20 borderShadow margin-bottom-20">
           <div class="col-md-8">
            <div class="row margin-bottom-20 marginRightMinus5 register-page" id="homeVisit">
                <div class="col-md-5">
                    I am (or I was)
                </div>
                <div class="col-md-7 no-padding-right register-page">
                  <select class="form-control grayBgLogin">
                                            <option >Nightingale's customer</option>
                                            <option >A relative or a friend of a Nightingale's customer</option>
                                            <option> A potential customer </option>
                                            <option>Other</option>
                                        </select>
                    
                </div>
            </div>
            
           

           

            

         <div class="row margin-bottom-20 marginRightMinus5 register-page">
                <div class="col-md-10 col-xs-10">
                     This is how I rate Dr. Anil's services 
                </div>
                <div class="col-md-2 col-xs-2 no-padding-right changeRatingValue divRightNone">
                    <input type="text" class="username-textbox textbox" 
                           class="name-textbox textbox grayBg" value="4"  style=" text-align:center;"
                           />
                    
                </div>
            </div>
           
                                <div class="col-md-12  margin-bottom-10">
                <div class="row">
                       <input type="text" class="username-textbox textbox" name="firstName"
                           class="name-textbox textbox grayBg" placeholder="Please enter first name"
                           />
                </div>
            </div>

            <div class="col-md-12 margin-bottom-10">
                <div class="row">
                    <textarea class="textbox home-address" rows="3"
                              ng-model="basicProfileInfo.description" placeholder="Write your review here"></textarea>
                </div>
            </div>
            </div>
            
             <div class="col-md-4">
                                <div class="row margin-bottom-10 marginRightMinus5">
                                    <div class="col-md-12">
                                       Select rating here
                                    </div>                                  
                                </div>
                                <div class="row margin-bottom-10 marginRightMinus5">
                                    <div class="col-md-8 col-xs-8">Terrible</div>
                                    <div class="col-md-4 col-xs-4 inputChangeRate inputChangeRateOne">1</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row margin-bottom-10 marginRightMinus5">
                                    <div class="col-md-8 col-xs-8">Poor</div>
                                    <div class="col-md-4 col-xs-4 inputChangeRate inputChangeRateTwo">2</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row margin-bottom-10 marginRightMinus5">
                                    <div class="col-md-8 col-xs-8">Average</div>
                                    <div class="col-md-4 col-xs-4 inputChangeRate inputChangeRateThree">3</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row margin-bottom-10 marginRightMinus5">
                                    <div class="col-md-8 col-xs-8">Good</div>
                                    <div class="col-md-4 col-xs-4 inputChangeRate inputChangeRateFour">4</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row margin-bottom-10 marginRightMinus5">
                                    <div class="col-md-8 col-xs-8">Excellent</div>
                                    <div class="col-md-4 col-xs-4 inputChangeRate inputChangeRateFive">5</div>
                                    <div class="clearfix"></div>
                                </div>

                                 
                            </div>

        </div>


       <div class="col-md-12  margin-bottom-20">
            <input type="submit" value="Done" class="nextButton" />

            <div class="clearfix"></div>
        </div>

    </form>

</div>