
		<div ng-controller="LoadCustomJSController"> </div>
        <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

        <div class="breadcrumbs">
            <div class="container">
                 <ul class="pull-right breadcrumb">
					<li class="active"><a href="#/discuss//list/all">Discuss</a></li>
					<li class="active"><a href="#/discuss/{{bc_discussType}}/{{bc_topic}}/all" ng-click="showme=false">{{bc_topic}}</a></li>
					<li>{{discuss.subTopicId}}</li>
			   	</ul>
            </div>
        </div><!--/breadcrumbs-->

        <!--=== End Breadcrumbs ===-->
        <hr class="breadcrumb-divider" />
        <!-- PATCH -->
		    <br><p>







        <!--=== Content Part ===-->
        <div class="container content breadCrumbMargin">
            <div class="send-message-textarea textarea-label borderShadow">
                <textarea rows="3" id="message-text" placeholder="Send your message" class="message-text"></textarea>
                <button class="btn-u btn message-submit disabled">SUBMIT</button>
            </div>
            <div class="row">
                <div class="col-md-3 md-margin-bottom-40 left-container">
                    <div class="col-md-12 left-container-img-wrapper no-padding">
                        <div class="col-md-5">
                            <img class="img-responsive profile-img margin-bottom-20" src="assets/img/img1-md.jpg" alt="">
                        </div>
                        <div class="col-md-7">
                            <div class="row"><a href="" class="text-success"><h5 class="text-success">{{!discuss.username && discuss.userId || discuss.username}}</h5></a></div>
                            <div class="row">
                                Some blurb about user here
                            </div>
                            <div class="row more-link">
                                <a class="linked color-green" href="">More..</a>
                            </div><div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="also-by-wrapper col-md-12 no-padding">
                        <div class="also-by-head col-md-12">ALSO BY <span class="uname">{{!discuss.username  && discuss.userId || discuss.username}}</span></div>
                        <div class="also-by-content-wrapper col-md-offset-1 col-md-11 no-padding"  ng-repeat="discuss2 in discuss2">
                            <div class="col-md-12 also-by-content">
                                <a href="#/discuss/{{discuss2.id}}"><div>{{discuss2.title}}</div></a>
                                <div class="sec-line">In {{discuss2.subTopicId}} | {{discuss2.createdAt | date:'medium'}}</div>
                            </div>
                        </div>
                        <div class="col-md-7 col-md-offset-5">
                            <div class="row more-link">
                                <a class="linked color-green" href="">More..</a>
                            </div><div style="clear:both;"></div>
                        </div>
                    </div>
                    <div class="col-md-11 no-padding">
                        <div class="send-message">SEND MESSAGE </div>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3 md-margin-bottom-40 article-outer-wrapper articles-page">
                    <div class="padding20 whiteBg">
                        <div class="article">
                            <div class="article-info"><nobr>
                               <ul class="list-inline posted-info">
                                <li> <a href="">By {{!discuss.username && discuss.userId || discuss.username}}</a></li>
                                <li> <a href="#/discuss/{{discuss.discussType}}/{{discuss.topicId}}/all" ng-click="showme=false">{{discuss.topicId}}</a></li>
                                <li> {{discuss.createdAt | date:'medium'}}</li>
                            </ul>
                        </div>
                        <div class="article-heading">
                            {{discuss.title}}
                        </div>
                        <div style="word-break: break-word;white-space: normal;width: 100%;">
                         <!-- <img class="img-responsive profile-img margin-bottom-20" src="assets/img/img1-md.jpg" alt="" > -->
                          <p class="lead">
                         	<span ng-bind-html-unsafe="discuss.text"></span>
                         </p>

                         <!-- <p>Donec vel consectetur ante, quis auctor augue. Donec enim sem, blandit in nisi ac, commodo blandit nisl. Praesent aliquam augue in mi egestas, sit amet placerat augue accumsan. Cras efficitur ipsum a mollis accumsan. Integer velit purus, iaculis vitae faucibus nec, facilisis eu dolor. Nam fermentum hendrerit erat, non sagittis ipsum imperdiet sit amet. Suspendisse bibendum ante lacus, quis lobortis velit finibus vitae.Vestibulum eget turpis at eros eleifend imperdiet. Aenean ac molestie urna, ut bibendum sapien. Donec est metus, sodales non eleifend non, auctor et ipsum. Proin finibus ullamcorper massa, in ullamcorper turpis.</p> -->
                     </div>
                 </div>
                 <div class="article-share-links news-v3">
                    <ul class="post-shares post-shares-lg">
                        <li class="add-comment">
                            <a>
                                <i class="rounded-x icon-speech"></i>
                                <span>{{discuss.aggrReplyCount}}</span>
                                <div class="post-text">Comment</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="rounded-x icon-share"></i>
                                <span>0</span>
                                <div class="post-text">Share</div>
                            </a>
                        </li>
                        <li>
                            <a>
                                <i class="rounded-x icon-heart"></i>
                                <span>{{discuss.aggrLikeCount}}</span>
                                <div class="post-text">Like</div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="article-comments-wrapper">
                <h2 class="text-success text-underlined">COMMENTS</h2>
                <div class="col-md-12">
                    <div class="comment-wrapper">
                        <div class="blog-author margin-bottom-15 main-comment">
                            <img src="assets/img/img1-md.jpg" alt="">
                            <div class="blog-author-desc news-v3">
                                <div class="overflow-h">
                                    <div class="comment-name-time"><span class="comment-name">Vivek Oberoi</span> | <span class="comment-time">5 hours ago</span></div>
                                </div>
                                <p>In auctor fringilla turpis eu rhoncus. Vivamus quis nisi vel dui ultrices lacinia ac eu massa. Quis que vitae consequat sapien. Vivamus sit amet tincidunt ipsum, nec blandit ipsum. Lorem ipsu m dolor sit amet, consectetur adipiscing elit...</p>
                                <ul class="post-shares post-shares-lg">
                                    <li class="add-comment">
                                        <a>
                                            <i class="rounded-x icon-speech"></i>
                                            <span>28</span>
                                            <div class="post-text">Comment</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="rounded-x icon-heart"></i>
                                            <span>107</span>
                                            <div class="post-text">Like</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                                    <!--<div class="col-md-offset-1 col-md-10 blog-author margin-bottom-15 inner-comment">
                                        <img src="assets/img/img1-md.jpg" alt="">
                                        <div class="blog-author-desc news-v3">
                                            <div class="overflow-h">
                                                <div class="comment-name-time"><span class="comment-name">Vivek Oberoi</span> | <span class="comment-time">5 hours ago</span></div>
                                            </div>
                                            <p>In auctor fringilla turpis eu rhoncus. Vivamus quis nisi vel dui ultrices lacinia ac eu massa. Quis que vitae consequat sapien. Vivamus sit amet tincidunt ipsum, nec blandit ipsum. Lorem ipsu m dolor sit amet, consectetur adipiscing elit...</p>
                                            <ul class="post-shares post-shares-lg">
                                                <li>
                                                    <a href="#">
                                                        <i class="rounded-x icon-speech"></i>
                                                        <span>28</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="rounded-x icon-heart"></i>
                                                        <span>107</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>-->
                                </div>
                                <div class="blog-author margin-bottom-15 main-comment">
                                    <img src="assets/img/img1-md.jpg" alt="">
                                    <div class="blog-author-desc news-v3">
                                        <div class="overflow-h">
                                            <div class="comment-name-time"><span class="comment-name">Vivek Oberoi</span> | <span class="comment-time">5 hours ago</span></div>
                                        </div>
                                        <p>In auctor fringilla turpis eu rhoncus. Vivamus quis nisi vel dui ultrices lacinia ac eu massa. Quis que vitae consequat sapien. Vivamus sit amet tincidunt ipsum, nec blandit ipsum. Lorem ipsu m dolor sit amet, consectetur adipiscing elit...</p>
                                        <ul class="post-shares post-shares-lg">
                                            <li class="add-comment">
                                                <a>
                                                    <i class="rounded-x icon-speech"></i>
                                                    <span>28</span>
                                                    <div class="post-text">Comment</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <i class="rounded-x icon-heart"></i>
                                                    <span>107</span>
                                                    <div class="post-text">Like</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-author margin-bottom-15 main-comment">
                                    <img src="assets/img/img1-md.jpg" alt="">
                                    <div class="blog-author-desc news-v3">
                                        <div class="overflow-h">
                                            <div class="comment-name-time"><span class="comment-name">Vivek Oberoi</span> | <span class="comment-time">5 hours ago</span></div>
                                        </div>
                                        <p>In auctor fringilla turpis eu rhoncus. Vivamus quis nisi vel dui ultrices lacinia ac eu massa. Quis que vitae consequat sapien. Vivamus sit amet tincidunt ipsum, nec blandit ipsum. Lorem ipsu m dolor sit amet, consectetur adipiscing elit...</p>
                                        <ul class="post-shares post-shares-lg">
                                            <li class="add-comment">
                                                <a>
                                                    <i class="rounded-x icon-speech"></i>
                                                    <span>28</span>
                                                    <div class="post-text">Comment</div>
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <i class="rounded-x icon-heart"></i>
                                                    <span>107</span>
                                                    <div class="post-text">Like</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="enter-comment-wrap whiteBg padding20SM borderShadow">
                                    <textarea rows="3" id="main-commentbox" placeholder="Enter your comment here"></textarea>
                                    <div class="clearfix"></div>
                                    <button class="btn btn-sm btn-success comment-submit disabled">Submit</button>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/container-->

    <!-- we are hiring -->
    <!-- end we are hiring -->
    <!-- End Content Part -->

    <!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                       2015  © BeautifulYears Ltd. 
                        <a target="_blank" href="#">Privacy Policy </a> <a>|</a> <a href="#">Terms of Service</a><a>|</a> <a href="#">Contact Us</a>
                    </p>
                </div>
                <!-- Social Links -->
              <div class="col-md-2 pull-right">  
                <ul class="social-icons pull-right">
                <li><span>Like us on</span></li>
                 <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                 <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>

             </ul>
         </div>
         <!-- End Social Links -->
     </div>
 </div> 
</div>
<!--/copyright-->
    </div>
<!--=== End Footer Version 1 ===-->
<div class="blog-author margin-bottom-15 main-comment hidden-article-comment">
    <img src="assets/img/img1-md.jpg" alt="">
    <div class="blog-author-desc news-v3">
        <div class="overflow-h">
            <div class="comment-name-time"><span class="comment-name">Vivek Oberoi</span> | <span class="comment-time">5 hours ago</span></div>
        </div>

        <ul class="post-shares post-shares-lg">
            <li class="add-comment">
                <a>
                    <i class="rounded-x icon-speech"></i>
                    <span>28</span>
                    <div class="post-text">Comment</div>
                </a>
            </li>
            <li>
                <a>
                    <i class="rounded-x icon-heart"></i>
                    <span>107</span>
                    <div class="post-text">Like</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="blog-author margin-bottom-15 main-comment hidden-comment-sample ">
        <img src="assets/img/img1-md.jpg" alt="">
        <div class="blog-author-desc news-v3">
            <div class="overflow-h">
                <div class="comment-name-time"><span class="comment-name">Vivek Oberoi</span> | <span class="comment-time">5 hours ago</span></div>
            </div>
            <ul class="post-shares post-shares-lg">
                <li class="add-comment">
                    <a>
                        <i class="rounded-x fa fa-reply"></i>
                        <span>28</span>
                        <div class="post-text">Reply</div>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="rounded-x icon-heart"></i>
                        <span>107</span>
                        <div class="post-text">Like</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div><!--/wrapper-->
</div>