<script type="text/javascript" src="assets/js/tinymce/tinymce.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        var options = {
            beforeSend: function () {
                //$("#progressbox").show();
                // clear everything
                //$("#progressbar").width('0%');
                //$("#message").empty();
                //$("#percent").html("0%");
            },
            uploadProgress: function (event, position, total, percentComplete) {
                //$("#progressbar").width(percentComplete + '%');
                //$("#percent").html(percentComplete + '%');

                // change message text to red after 50%
                //if (percentComplete > 50) {
                //$("#message").html("<font color='red'>File Upload is in progress</font>");
                // }
            },
            success: function () {
                // $("#progressbar").width('100%');
                // $("#percent").html('100%');
            },
            complete: function (response) {
                //alert(response.responseText);
                $("#articlePhotoFilename").val(response.responseText.substring(response.responseText.lastIndexOf('/') + 1));
            },
            error: function () {
                $("#articlePhotoFilename").val("<font color='red'> ERROR: unable to upload files</font>");
            }
        };
        
        try {
            $("#UploadForm").ajaxForm(options);
        }
        catch (e) {
        }
    });
</script>

<div ng-controller="LoadCustomJSController"></div>

<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

<div class="breadcrumbs">
    <div class="container">
        <div class="pull-left sort-wrapper breadcrumb">SORT BY:
            <select>
                <option>Newest</option>
                <option>Oldest</option>
            </select>
        </div>
        <ul class="pull-right breadcrumb">
            <li class="active"><a href="#/discuss/All/list/all">Discuss</a></li>
            <li class="active"><a href="#/discuss/{{bc_discussType}}/{{bc_topic}}/all" ng-click="showme=false">{{bc_topic}}</a>
            </li>
            <li>{{bc_subTopic}}</li>
        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<br><p><p>
<hr class="breadcrumb-divider"/>
<!--=== Content Part ===-->
<div class="container content discussion-page">
    <div class="row both-container">
        <div class="col-md-3  by_left_panel" ng-include="discussionViews.leftPanel"></div>
        <div class="col-md-9  by_right_panel" ng-include="discussionViews.contentPanel"></div>
    </div>
</div>

<!--/container-->

<!-- we are hiring -->
<!-- end we are hiring -->
<!-- End Content Part -->
