<script type="text/javascript" src="assets/js/tinymce/tinymce.min.js"></script>


<div id="customjs" ng-controller="LoadCustomJSController"> </div>



    <div class="headerHeightNoBreadCrumb margin-bottom-0"></div>

        <div class="breadcrumbs">
            <div class="container">
                <div class="pull-left sort-wrapper breadcrumb">SORT BY:
                   <select>
                       <option>Newest</option>
                       <option>Oldest</option>
                   </select>
               </div>

               <ul class="pull-right breadcrumb">
                 <li class="active"><a href="#/discuss/All/list/all">Discuss</a></li>
				 <li class="active"><a href="#/discuss/{{discuss.discussType}}/{{discuss.topicId}}/all" ng-click="showme=false">{{discuss.topicId}}</a></li>
				 <li>{{discuss.subTopicId}}</li>
               </ul>

        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <br><br>

<!--=== Content Part ===-->
    <div class="container content discussion-page breadCrumbMargin">
        <div class="ask-question-textarea textarea-label borderShadow" id="Q" style="height: 158px; top: 273px; left: 109px;">
		        <form novalidate ng-submit="register('Q')" ng-controller="DiscussCreateController">
		            <textarea id="ask-question" rows="3" placeholder="Please enter your question" class="question-text"></textarea>
		            <button class="btn btn-u question-submit disabled">SUBMIT</button>
		        </form>
		        </div>

		        <div class="share-tip-textarea textarea-label borderShadow" id="P" style="height: 158px; top: 315px; left: 109px;">
					<form novalidate class="form-horizontal" ng-submit="register('P')" ng-controller="DiscussCreateController">
					<textarea id="share-tip" ng-model="discuss.text" rows="3" placeholder="Share your tips and experience" class="share-tips-text"></textarea>
					<button class="btn btn-u share-tips-submit disabled">SUBMIT</button>
					</form>
				</div>

		        <div class="submit-article-textarea textarea-label borderShadow" id="A">

		        <form novalidate class="form-horizontal" ng-submit="register('A')" ng-controller="DiscussCreateController">

		            <div class="col-md-12">
		                <div class="col-md-12 alert zindexhigh whiteBg borderShadow rounded-r">
		                    <p>You can send us your article as a Word document with embedded images to <a href="mailto:content@beautifulyears.com">content@beautifulyears.com</a> But it would help us a lot if you enter it here.</p>
		                    <p>Please not that before posting on our site, your article could be edited.</p>
		                </div>
		            </div>
		            <div class="col-md-12 zindexhigh">
		                <div class="col-md-7 no-padding">
		                    <input type="text" ng-model="discuss.title" class="form-control borderShadow col-md-12" placeholder="Please enter the headline here. (Upto 80 characters)" />
		                </div>
		            </div>
		            <div class="col-md-12 zindexhigh">
		                <div class="col-md-3 no-padding">
		                    <button  class="btn btn-xs btn-success submitTextFileButton col-md-12">PLEASE UPLOAD A COVER PHOTO</button>
		                    <input type="file"  id="submitTextFile" />
		                </div>
		            </div>
		            <div class="col-md-12 zindexhigh">
		                 <textarea id="submit-article" ng-model="discuss.text" rows="3" placeholder="Please enter the  text of your article here." class="submit-article-text margin-top-10"></textarea>
		            </div>


		            <div class="col-md-12 zindexhigh margintop30 tminputWrapper">
		                <div class="col-md-12 no-padding">
		                    <input class="col-md-12 tm-input" ng-model="discuss.tags" name="tags" placeholder="Tag your keywords here" />
		                </div>

		                <button class="btn btn-u submit-article-submit disabled">SUBMIT</button>
		                <div class="previewButton">
		                    <img src="assets/img/Preview_Icon.png" width="100%" title="Preview" alt="Preview" />
		                </div>
		            </div>


		        </div>
		        <div class="give-feedback-textarea textarea-label borderShadow">
		            <textarea id="give-feedback" rows="3" placeholder="Please give your feedback" class="give-feedback-text"></textarea>
		            <button class="btn btn-u give-feedback-submit disabled">SUBMIT</button>
        </div>
        <div class="row both-container">
            <div class="col-md-3 md-margin-bottom-40">
            	<!--
                <div class="col-md-12 no-padding">


                        <ul class="list-group  margin-bottom-40" id="sidebar-nav-1">
                        <li class="list-group-item active selected" data-index="discussion-QA">
                            <a >Q &amp; A </a>
                        </li>
                        <li class="list-group-item" data-index="discussion-posts">
                            <a >POSTS </a>
                        </li>
                        <li class="list-group-item" data-index="discussion-articles">
                            <a >ARTICLES </a>
                        </li>
                    </ul>
                </div>
                -->
                <div class="col-md-11 no-padding">
                    <div class="ask-question"></div>
                </div>
                <div class="col-md-11 no-padding">
                    <div class="share-tips"></div>
                </div>
                <div class="col-md-11 no-padding">
                    <div class="submit-article"></div>
                    <!-- <input id="fileopen" type="file" style="display: none"> -->
                </div>
                <div class="col-md-11 no-padding">
                    <a class="give-feedback" href="#/discuss/new/feedback"></a>
                </div>
            </div>

            <!-- THE DISCUSS in limelight - either an Article or a Post or a Question -->
            <div class="col-md-9  md-margin-bottom-40 article-outer-wrapper">
                <div class="blog-author margin-bottom-15 main-article" data-index="discussion-QA" data-answers="{{comments.length}}" data-question="1">
                    <img src="assets/img/img1-md.jpg" alt="">
                    <div class="blog-author-desc news-v3">
                        <div class="article {{discuss.id}}">
                            <div class="article-info">
                               <ul class="list-inline posted-info">
                                <li><p class="{{discuss.discussType == 'P' && 'post-first-letter' || discuss.discussType == 'Q' && 'question-first-letter' || ''}}">{{discuss.discussType == 'A' && 'Article' || discuss.discussType == 'P' && 'Post' || 'Question'}} By <a href="#">{{discuss.username}}</a></p></li>
                                <li>In <a href="#/discuss/{{bc_discussType}}/{{discuss.topicId}}/{{discuss.subTopicId}}">{{discuss.subTopicId}}</a></li>
                                <li>{{discuss.createdAt | date:'medium'}}</li>
                            </ul>
                        </div>
                        <div class="article-heading" ng-show="discuss.discussType == 'A'" ng-show="discuss.discussType == 'A'">
							<a href="#/discuss/{{discuss.id}}">{{!discuss.title && discuss.id || discuss.title}}</a>
                        </div>
                        <div class="article-content">
                           	<p class="lead">
						   		<span ng-bind-html-unsafe="discuss.text | cut:true:500:' ...'"></span>
							</p>
                            </div>
                            <div class="article-share-links news-v3">
                                <ul class="post-shares post-shares-lg">
                                <!--
								<li class="answer-focus"><a href="" id="ca"
									ng-click="getDiscussTree(discuss.id)"> <i
										class="rounded-x fa fa-pencil-square-o"></i> <span>{{discuss.aggrReplyCount}}</span>
										<div class="post-text">TREE</div>
								</a>
								</li>
								-->
                                    <li class="answer-focus">
                                        <a href="#/comment/{{discuss.id}}" id="ca" ng-click="createNewComment('A', discuss.id, '')">
                                            <i class="rounded-x fa fa-pencil-square-o"></i>
                                            <span>{{discuss.aggrReplyCount}}</span>
                                            <div class="post-text">{{discuss.discussType == 'P' && 'Comment' || discuss.discussType == 'Q' && 'Answer' || 'Comment'}}</div>
                                        </a>
                                    </li>

                                    <li>
                                        <a>
                                            <i class="rounded-x icon-heart"></i>
                                            <span>{{discuss.aggrReplyCount}}</span>
                                            <div class="post-text">Like</div>
                                        </a>
                                    </li>

                                    <li ng-show="{{discuss.discussType == 'A'}}">
										<a href="">
											<i class="rounded-x icon-share"></i>
											<span>0</span>
										</a>
									</li>

                                </ul>
                            </div>
                        </div>
                    </div>

				<div ng-repeat="comment in comments"
					ng-include="'tree_item_renderer.html'"></div>

				<!-- THE ANSWERS to the above DISCUSS -->
				<script type="text/ng-template" id="tree_item_renderer.html">
					<div class="blog-author margin-bottom-15 main-article" data-index="discussion-QA" data-answers="3" data-question="0" >
						<img src="assets/img/img1-md.jpg" alt="">
						<div class="blog-author-desc news-v3">

							 <div class="article {{comment.id}}">
								<div class="article-info">
									<ul class="list-inline posted-info">
										<li><p class="answer-first-letter">{{(comment.id == comment.parentId && discuss.discussType == 'Q') && 'Answer' || 'Comment'}} By <a href="#">{{localStorage.getItem('USER_NAME')}}</a></p></li>
										<li>In <a href="#/discuss/{{bc_discussType}}/{{discuss.topicId}}/{{discuss.subTopicId}}">{{comment.subTopicId}}</a></li>
										<li>{{comment.createdAt | date:'medium'}}</li>
									</ul>
								</div>


								<div class="article-content">
									<p class="lead">
										<span ng-bind-html-unsafe="comment.discussCommenContent | cut:true:500:' ...'"></span>
									</p>
										<!-- <p> Has Children??? {{comment.children.length}} -->

								</div>

								<div class="article-share-links news-v3">
									<ul class="post-shares post-shares-lg">

									<!--
									 <li class="answer-focus">
										<a href="" id="ca" ng-click="getCommentTree(comment.id,discuss.id)">
											<i class="rounded-x fa fa-pencil-square-o"></i>
											<span>{{discuss.aggrReplyCount}}</span>
											<div class="post-text">Tree</div>
										</a>
									</li>
									-->
										<li class="add-comment">
											<a href="#/comment/{{discuss.id}}" ng-click="createNewComment('C', '', comment.id)">
												<i class="rounded-x icon-speech"></i>
												<span>0</span>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="rounded-x icon-heart"></i>
												<span>0</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="blog-author" ng-repeat="comment in comment.children" ng-include="'tree_item_renderer.html'"> FROM ITERATION ....</div>
				</div>


				</script>

				<!--
                <div class="share-tip-textarea textarea-label borderShadow" id="answer_block" style="height: 158px; top: 203px; left: 109px;">
                    <textarea rows="3" id="share-tip" placeholder="Enter your comment here"></textarea>
                    <div class="clearfix"></div>
                    <button class="btn btn-sm btn-success comment-submit disabled">Submit</button>

                </div>
				-->


                <div class="enter-comment-wrap whiteBg padding20SM borderShadow" id="answer_block">
					<form novalidate class="form-horizontal">
					<textarea rows="3" id="main-commentbox_answer" placeholder="Enter your answer here"></textarea>
					<button class="btn btn-sm btn-success comment-submit" type="submit" ng-click="saveComment()">SUBMIT</button>
					</span>
					<button class="btn btn-sm btn-success comment-submit" ng-click="dispose('A')">CANCEL</button>
					</form>
					<div class="clearfix"></div>
				</div>

				<div class="enter-comment-wrap whiteBg padding20SM borderShadow" id="comment_block">
					<form novalidate class="form-horizontal">
					<textarea rows="3" id="main-commentbox_comment" placeholder="Enter your comment here"></textarea>
					<button class="btn btn-sm btn-success comment-submit" type="submit" ng-click="saveComment()">SUBMIT</button>
					<span/>
					<button class="btn btn-sm btn-success comment-submit" ng-click="dispose('C')">CANCEL</button>
					</form>
					<div class="clearfix"></div>
				</div>
            </div>
        </div>
    </div><!--/container-->

    <!-- we are hiring -->
    <!-- end we are hiring -->
    <!-- End Content Part -->


