.byEditor {
    border: 1px solid #ccc;
      margin-bottom: 45px;
}

.by_editor_ParentCategories{
    display:inline !important;
    background-color: #f5f5f5 !important;
    padding: 0px !important;
}
.by_editor_ParentCategories input{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    float: right;

    width: 16px !important;
    height: 16px !important;
}
.by_accordian input{
    margin-left: 10px;
}

a.accordion-toggle.ng-binding {
    display: inline-block !important;
    font-size: 14px !important;
    background: transparent !important;
    vertical-align: top;
    width: 92%;
}

.by_editor_ParentCategories label{
    display: inline-block !important;
    font-size: 14px !important;
    background: transparent !important;
    vertical-align: top;
    width: 99%;
    color: #0A0A0A;
    font-family: century_gothic !important;
    font-weight:normal !important;
    padding: 5px 15px;
    cursor: pointer;
}

.by_editor_SubCategories {
    padding-left: 0px;
    padding-right: 0px;
    text-transform: uppercase;
    border: 1px solid #ccc;
   margin: 15px !important;
    border-top: 0px;
    width: calc(100% - 30px);
}
.by_editor_SubCategories .panel-body {
    padding: 5px !important;
    line-height: 27px;
    border-top: 1px solid #ccc !important;
}
.panel-body.col-md-4.ng-binding.ng-scope {
    text-transform: uppercase;
}
.by_editor_SubCategories .panel-body input[type=checkbox] {
    line-height: normal;
    vertical-align: middle;
    margin:0px 0px 0px 4px;
}

.by_editor_SubCategories .panel-body span{
    vertical-align: middle;
}

.by-editor-submit-btn{
    background: #008a4b !important;
    color:#ffffff !important;
}

.by-editor-submit-btn:disabled, .by_btn_submit:disabled {
    background: #fff !important;
    color:#000000 !important;
}
@media screen and (max-width: 550px){
	a.accordion-toggle.ng-binding
	{
		width:86%;
	}

	}
.by_editor_wrap_bg 
{
	background:#ccc;
}
.form-header-content 
{
	font-size: 15px;
    color: #282828;
}
.form-header-content span
{
	cursor:pointer;
}
.by_editor_wrap_bg_head
{
	background:#f2f2f2;
	padding-bottom:30px;
}
.byEditorBg
{
	background:rgba(240, 240, 240, 0.42);
	height:auto;
	margin-bottom:12px;
}
.by-arrow-float-none
{
	float:none;
	border-top-color:#00A24A;
	margin-right:0px;
}
.by_editor_wrap_bg .panel-group
{
	margin-bottom:0px;
}
.by_editor_wrap_bg .by_editor_button_whiteBg
{
	background:#fff;
	border:1px solid #ccc;
	padding-top:15px;
	padding-bottom:15px;
}
.by_editor_wrap_bg .register-page .textbox
{
	padding:10px 15px;
	border-left-width:1px;
	border-left-color:#ccc;
}
.by_editor_post_divider
{
	text-align:center;
}
.by_editor_post_divider label
{
	border:1px solid rgba(84, 71, 71, 0.37);
	border-radius:5px !important;
	line-height:14px;
	text-align: center;
    margin: 2px;
    background: #ececec;
    display: inline-block;
    background-size: 100%;
    background-repeat: round;
    padding: 8px 15px;
}