.byEditor {
    border: 1px solid #ccc;
      margin-bottom: 70px;
}

.by_editor_ParentCategories{
    display:inline !important;
    background-color: #f5f5f5 !important;
    padding: 0px !important;
}
.by_editor_ParentCategories input{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    float: right;

    width: 16px !important;
    height: 16px !important;
}
.by_accordian input{
    margin-left: 10px;
}

a.accordion-toggle.ng-binding {
    display: inline-block !important;
    font-size: 14px !important;
    background: transparent !important;
    vertical-align: top;
    width: 95%;
}

.by_editor_ParentCategories label{
    display: inline-block !important;
    font-size: 14px !important;
    background: transparent !important;
    vertical-align: top;
    width: 99%;
    color: #0A0A0A;
    font-family: century_gothic !important;
    font-weight:normal !important;
    padding: 5px 15px;
    cursor: pointer;
}

.by_editor_SubCategories {
    padding-left: 0px;
    padding-right: 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}
.by_editor_SubCategories .panel-body {
    padding: 5px !important;
    line-height: 41px;
    border-top: 0px !important;
}
.panel-body.col-md-4.ng-binding.ng-scope {
    text-transform: uppercase;
}
.by_editor_SubCategories .panel-body input[type=checkbox] {
    line-height: normal;
    vertical-align: middle;
    margin:0px 0px 0px 4px;
}

.by_editor_SubCategories .panel-body span{
    vertical-align: middle;
}

.by-editor-submit-btn:hover{
    background: #008a4b !important;
    color:#ffffff;
}

.by-editor-submit-btn{
    background: #cfcfcf;
}

