.by_blog_author img
{
	width:43px !important;
}
.by_blog_author > img
{
	margin-top:15px !important;
	margin-left:21px !important;
	border-radius: 2px !important;
}
.by_blog_author .col-md-12
{
	padding-left:21px;
	padding-right:21px;
}
.by-quad-image
{
	
}
.by_blog_author .col-md-12 img
{
	width:auto !important;
	max-width:100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	float:none;
}
.imgNone
{
	display:none;
}
.by_blog_author
{
	max-width:705px;
	min-height:auto !important;	
  border-radius: 2px !important;
}
.by_blog_author .news-v3 .post-shares li i
{
	
	width: auto;
  height: auto;
  padding: 0px;
  float:left;
  margin-top:2px;
}
.news-v3 .post-shares li span
{
	position:static;
	font-size:13px;
	padding:1px;
	display:inline-block;
	float:left;
	width:auto;
	height:auto;
	margin-left:3px;
	border-radius: 2px !important;
}
.also-by-head
{
	background:#696969 !important;
	color:#fff !important;
}
.discussion-page .news-v3 .post-shares
{
	left: 0px;
  margin-top: 7px;
  padding-right: 21px;
  padding-left: 21px;
  margin-bottom: 13px;
}
.add-comment span.text
{
	font-size:15px;
	padding:1px 5px 1px 5px !important;
	border:1px solid #ccc;
	border-radius:1px !important;
	min-width:45px;
	text-align:left;
	margin-left:2px;
}
.by_modal_body{
	text-align:center;
}
.add-comment span.textColor
{
	font-size:15px;
	padding:1px 5px 1px 5px !important;
	border:1px solid #ccc;
	border-radius:1px !important;
	min-width:45px;
	text-align:left;
	color:#fff !important;
	background:#00b050;
}
.add-comment span.textColor2
{
	font-size:15px;
	padding:1px 5px 1px 5px !important;
	border:1px solid #ccc;
	border-radius:1px !important;
	min-width:45px;
	text-align:left;
	color:#fff !important;
	background:#E87441;
}
.by_blog_author .news-v3 .post-shares li
{
	margin-left:21px !important;
}
.article-share-links .add-comment
{
	height:20px;
}
.discussion-page .posted-info
{
	line-height:20px;
}
.news-v3 .post-shares 
{
	margin:0px 0px 8px 0px;
}
.commentHeightLine
{
	line-height:24px;
	font-size:15px;
}
.by-comment-comment
{
	margin-left:25px;
	margin-right:10px;
}
.news-v3
{
	background:transparent;
}
.by-commment-bg-gray
{
	border-color: #ccc  !important;
	margin-left:20px;
	width:auto !important;
  padding-left: 5px !important;
}
.by-social-border{
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-top:0px;
}
.by_border-tb
{
	border-left:0px;
	border-right:0px;
}
.article-comments-wrapper
{
	margin-top:20px;
}
.article-comments-wrapper h2
{
	font-family: century_gothic !important; 
}
.blog-author-comment-wrapper  .blog-author
{
	min-height:50px !important;
	margin-bottom:20px !important;
}
.blog-author.margin-bottom-35.main-article.by_blog_author.by-commment-bg-gray {
  min-height: 50px !important;
  margin-bottom: 0px !important;
}
.by-more-comment
{
	text-align:center;
	margin-top:10px;
}
.add-comment .rounded-xicon-speech
{
	background: url('../img/cooment_normal.png');
	width:20px !important;
	height:17px !important;
	margin-top:2px;
}
.add-comment .rounded-xicon-heart
{
	background: url('../img/like_normal.png');
	width:19px !important;
	height:17px !important;
	margin-top:2px;
}
.add-comment .rounded-xicon-heartActive
{
	background: url('../img/like_active.png');
}
.add-comment .rounded-xfafa-pencil-square-o
{
	background: url('../img/share_active.png');
	width:17px !important;
	height:17px !important;
	margin-top:2px;
}
.by-commment-bg-gray .news-v3 .post-shares
{
	
}
.article-share-links.news-v3
{
	text-align:left !important;
}
.by_story {
  max-height: 160px;
   margin-top: 10px;
   margin-bottom: 0px; 
}
.questionTag
{
	position:absolute;
	right:-4px;
	top:5px;
	z-index:10px;
	width:95px;
	height:37px;
}
.discussion-page .blog-author
{
	min-height:100px !important;
}
.icon-speech:before
{
	content: url('../img/cooment_normal.png');
}
.icon-heart:before {
  	content: url('../img/like_normal.png');
}
.fa-edit:before, .fa-pencil-square-o:before {
  content: url('../img/answer_icon.png');
}
.icon-share:before {
  	/*content: url('../img/share_active.png');*/
}
.icon-heart-active:before
{
	content: url('../img/like_active.png');
}
.by_blog_author .articles-story p img
{
	width:auto !important;
	max-width:100% !important;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	clear:both; 
}
.by_blog_author .news-v3 .post-shares li i {
    color: #00af50!important;
}
.noRadius
{
	border-radius:0px !important;
	border-left:0px !important;
	border-right:0px !important;
}
.container
{
	max-width: 960px !important;
}
.article-outer-wrapper
{
	padding-left:55px;
	padding-right:55px;
}
.by_left_panel_fixed
{
	left: calc((100vw - 960px + 20px)/2) !important;
	width: 225px !important;
}
#sidebar-nav
{
	width: 225px;
}
.by_submit_btn_latest
{
	border-radius: 2px !important;
    color: #000 !important;
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
}
.by_cancel_btn_latest
{
	border-radius: 2px !important;
    color: #000 !important;
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
}
@media (max-width: 990px){
.by_left_panel_fixed, #sidebar-nav
{	
	width: 100% !important;
}
.questionTag
{
	right:11px;
}
}
@media (max-width: 750px){
	.questionTag
{
	right:-4px;
}
}
.blog-author .blog-author
{
	border-top-width:0px !important;
}
.also-by-wrapper
{
	border-left:1px solid #ccc;
	padding-bottom: 1px !important;
    border-bottom: 1px solid #ccc;
}
.also-by-content
{
	border:1px solid #ccc !important;
	margin:10px;
	padding-bottom:0px !important;
}
.insideComments .blog-author
{
	background:#fff !important;
	margin-bottom: 0px !important; 
	margin-right:10px;
}
.list-inline>li
{
	padding-left:0px;
	padding-right:0px;
}
.by-first-letter::first-letter
{
	text-transform:uppercase;
}
.commentHeightLine img
{
	width:auto !important;
	margin-right:3px;
}
.blog-author
{
	padding:0px !important;
}