.by_discuss_detail{

}

.by_discuss_detail .news-v3 .post-shares{
    margin-top: 0px !important;
    left: 15px;
    top: -24px;
}

.commentEditor{
    display: none;
}

@media (min-width: 500px){
   .by_discuss_detail .articleTitleImage{
		max-width: 444px;
	}
}


.by_discuss_detail img{
	max-width: 100%;
}