.by_discuss_detail{
    border:1px solid #d5d5d5;
}

.by_discuss_detail .news-v3 .post-shares{
    margin-top: 0px !important;
    left: 15px;
    top: -24px;
}


.by_discuss_detail .articles-story{
    padding-left: 0px;
    word-wrap: break-word;
    margin-bottom: 12px;
}
.commentEditor{
    display: none;
}

@media (min-width: 500px){
   .by_discuss_detail .articleTitleImage{
		max-width: 444px;
	}
}


.by_discuss_detail img{
	max-width: 100%;
}

.also-by-wrapper{
    font-size: 15px; /* Approximation due to font substitution */
    text-align: left;
    margin-top:20px;
    width:225px;
}

.also-by-content > a div, .also-by-content > a  p{
    color:#00af50;
}
.also-by-content > a div:hover, .also-by-content > a  p:hover{
    text-decoration: underline;
}

.also-by-info{
    font-size:13px;
    margin-top:5px;
    list-style: none;
    display: inline-block;
}

.also-by-profile{
    display: inline-block;
    font-size: 15px;
    padding-left: 10px;
    vertical-align: middle;
}

.also-by-content img{
    display: none;
}

.also-by-head{
    color: #4C4C4C;
    font-size: 15px;
    line-height: 24px;
    padding: 5px;
    padding-left: 10px;
    background-color: #DAD9D9;
    margin-bottom: 10px;
}
.also-by-wrapper .also-by-content{
    color:  #848484;
    font-size: 14px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 17px; /* Approximation due to font substitution */
    text-align: left;
    border-style:solid;
    border-width:0px;
    border-color:#cfcfcf;
    border-bottom-width:1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:10px;
}
.also-by-wrapper .also-by-content:last-child{
    border-width:0px;
}
@media (max-width: 990px){
.also-by-wrapper
{	
	width: 100% !important;
}
}