.by_home_content {
    margin-top: 37px;
}

.by_breadcrumbs_container {
    height: 35px;
    overflow: hidden;

}

.by_left_panel {
    padding-right: 0px;!important;
    border-style: solid;
    border-width: 0px;
    border-color: #cfcfcf;
    border-right-width: 1px;
    font-size: 14px !important;
    line-height: 1.1 !important;
    z-index: 99;

}

.by_left_panel a{
    font-family: century_gothic !important;
}


.by_left_panel_fixed {
    position: fixed;
    width: 21%;
    left: 95px;
    border-style: solid;
    border-width: 0px;
    border-color: #cfcfcf;
    border-right-width: 1px;
    padding-right: 0px; !important;
    line-height: 1.1 !important;

}

.by_left_panel_fixed a {
    color: #004620 !important;
}
/*@media (min-width: 850px){*/
    /*.by_left_panel_fixed{*/
        /*position:static;*/
        /*width: auto;*/
    /*}*/
/*}*/

@media (min-width: 50px){
    .by_left_panel_fixed{
        position:static;
        width: auto;
    }
}

/*@media (min-width: 650px){*/
    /*.by_left_panel_fixed{*/
        /*position:static;*/
        /*width: auto;*/
    /*}*/
/*}*/

@media (min-width: 1000px){
    .by_left_panel_fixed{
        position: fixed;
        width: 21%;
        left:50px;
    }
    
    .by_left_panel_fixed .scrollableLeftPanelDiv{
		  height: calc(100vh - 140px);
		  overflow-x: hidden;
    }
}

@media (min-width: 1100px){
    .by_left_panel_fixed{
        position: fixed;
        width: 21%;
        left: 95px;
    }
}
/*@media (max-width: 1000px){*/
    /*.by_left_panel_fixed{*/
        /*position: fixed;*/
        /*width: 245px;*/
    /*}*/
/*}*/

.by_left_top_panel li {
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

    display: block;
    padding: 8px 30px 8px 10px;
}

.by_left_bottom_panel a:hover {
    text-decoration: none;
}

.by_left_bottom_panel div:hover {
    /*background-color: #008a4b !important;*/
    /*color: #fff !important;*/
}

.by_leftPanel_icons span {
    color: #001f0e;
    font-size: 16px; /* Approximation due to font substitution */
    font-weight: 400;
    line-height: 18px; /* Approximation due to font substitution */
}

.by_leftPanel_icons {
    cursor: pointer;
    margin-bottom: 5px !important;
}

.by_leftPanel_icons i {
    border-radius: 15% !important;
    vertical-align: middle;
    border:none !important;
}

.icon_question:before {
    content: url("../img/icons/ask_share_submit/question.png");
}

.by_leftPanel_icons:hover .icon_question {
    content: url("../img/icons/ask_share_submit/question_mo.png");
}

.icon_feedback:before {
    content: url("../img/icons/ask_share_submit/feedback.png");
}

.by_leftPanel_icons:hover .icon_feedback {
    content: url("../img/icons/ask_share_submit/feedback_mo.png");
}

.icon_tips:before {
    content: url("../img/icons/ask_share_submit/tips.png");
}

.by_leftPanel_icons:hover .icon_tips {
    content: url("../img/icons/ask_share_submit/tips_mo.png");
}

.icon_story:before {
    content: url("../img/icons/ask_share_submit/story.png");
}

.by_leftPanel_icons:hover .icon_story {
    content: url("../img/icons/ask_share_submit/story_mo.png");
}

.by_right_panel > div {
    /*margin-top: 20px;*/
    margin-left: 10px;
}

.by_card {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #a6a6a6;
    -webkit-box-shadow: 10px 10px 6px -6px #f3f3f3;
    padding: 0px;
    background: #fff;
    max-height: 170px;
    overflow-y: hidden;
    font-family: century_gothic !important;
}

.by_card[data-index="discussion-articles"] {
    cursor: pointer;
}

.by_card img {
    float: left;
    width: 135px;
    height: auto;
    max-height: 168px;
    margin-right: 20px;
    margin-top: 12px;
    margin-left: 10px;
}

.by_card_info {
    display: inline-block;
    padding: 5px 15px 0px 0px;
    /*margin-left: 10px;*/
}

.by_card_info ul {
    margin-bottom: 10px;
    margin-top: -15px;
    margin-left: 0px !important;
}

.by_card_info li {
    margin: 0 5px 3px 0;
    padding: 0px !important;
}

.by_captilize_first_letter:first-letter {
    /*color: #00d16f;*/
    font-size: 20px;
}

.by_card_info a {
    color: #00A24A;
}

.by_card_heading {
    font-size: 22.806px;
    font-weight: 600;
    line-height: 25.901px;
    margin-top: -20px;
}

.by_card_heading a {
    font-size: 16.181px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2a2a2a;
}

.by_card_content {
    /*color: #2A2A2A;*/
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    /*margin-left: 10px;*/
    padding: 5px 15px 0px 0px;
    font-family: century_gothic !important;
    color: #0A0A0A !important;
   /* text-align: justify;*/
}

.by_card_content > p{
    color: #0A0A0A !important;
}

.by_card_content img {
    float: none;
    max-width: 150px;
    height: auto;
    width: auto;
}

.by_card_comment_icons{
    position: relative;
    display: inline-block;
    bottom: 45px;
    right: -60%;
    text-align: right;
}

.by_discuss_card_info {
    display: inline-block;
    /*padding: 5px 15px 0px 0px;*/
    /*margin-left: 10px;*/
    margin-top: 4px;
}

.by_discuss_card_info ul {
    margin-bottom: 10px;
    margin : 0px 0px 0px 0px !important;
}

.by_discuss_card_info li {
    margin:  5px 3px 0px 0px !important;
    padding: 0px !important;
}

.by_discuss_card_info a {
    /*color: #00A24A;*/
}
/*new css************************************************/

.by_blog_author > img{
    width: 135px !important;
    max-height: 168px !important;
    margin-top: 9px !important;
    margin-left: 9px !important;
}

.by_blog_author {
    padding: 0px !important;
    font-family: century_gothic !important;
    color: #0A0A0A !important;

    max-height: 225px !important;
    overflow-y: hidden;
}

.by_blog_author .article-heading{
    font-family: century_gothic !important;
    color: #0A0A0A !important;
}

.by_blog_author .articles-story p{
    color: #000  !important;
    font-size: 15px !important;
    line-height: 25px;
}

.by_blog_author .news-v3 .post-shares li{
     margin-left: 0px !important;
}

.by_blog_author  p,
.by_blog_author  li,  .by_blog_author  label{
    color: #0A0A0A  !important;
    font-family: century_gothic !important;
}

.by_blog_author   a{
    color: #00A24A !important;
}

.by_story {
    max-height: 135px;
    margin-top: -6px;
    margin-bottom: 14px;
}

.by_story img{
    width: auto !important;
      max-width: 100px;
}

.by_blog_author .news-v3 .post-shares li i:hover{
    background:none !important;
}

.by_blog_author .news-v3 .post-shares li i{
    color:#D8D5D5 !important;
}