
.by-imageGallery{
    width: 100%;
    height: auto;
    margin: 15px 0px 15px 0px;
    overflow: hidden;
    padding-left: 0px;
}

.by-imageGallery-item {
    float: left;
    margin-right: 5px;
    height: 70px;
}

.by-imageGallery-item img {
    height:100%;
    width: auto !important;
    max-width: 135px;
    max-height: 168px;

}

.by-gallery-container{
    width:200%;
    /*margin-top: 15px;*/
    left: 0px;
    position: relative;

    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -webkit-transform:translate3d(4px, 0px, 0px);
    -webkit-transition-duration: 1000ms; transition-duration: 1000ms;
    -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.by-gallery-leftArrow{
    background: url("../img/icons/arrow_left.gif") no-repeat;
    float: left;
    height: 70px;
    background-size: 30px 70px;
    width: 30px;
    position: relative;
    z-index: 2;
}

.by-gallery-leftArrow:hover{
    background: url("../img/icons/arrow_left_over.gif") no-repeat;
    background-size: 30px 70px;
}

.by-gallery-rightArrow{
    background: url("../img/icons/arrow_right.gif") no-repeat;
    float: left;
    height: 70px;
    background-size: 30px 70px;
    width: 30px;
    position: absolute;
    right: 0px;
    z-index: 2;
}

.by-gallery-rightArrow:hover{
    background: url("../img/icons/arrow_right_over.gif") no-repeat;
    background-size: 30px 70px;
}


.by-gallery-animate-right {
    -webkit-transform:translate3d(-204px, 0px, 0px);
}

.by-gallery-animate-left {
    -webkit-transform:translate3d(0px, 0px, 0px);
}