@font-face {
    font-family: 'century_gothic';
    src: url('../font/century_gothic/gothic.eot');
    src: url('../font/century_gothic/gothic.eot?#iefix') format('embedded-opentype'),
    url('../font/century_gothic/gothic.woff') format('woff'),
    url('../font/century_gothic/gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body
{
    padding: 0px;
    margin: 0px;
    font-family: century_gothic !important;
}
.wrapper
{
  width: 96%;
  padding: 2%;
  height: 96%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: url('../img/lndingBg.jpg?versionTimeStamp=%PROJECT_VERSION%');
  overflow-y:auto;
    background-size: cover;
  background-repeat: no-repeat;
}

.wrapper>#launchLink{
	color:red;
}

.logo
{
  margin-bottom: 3%;
}
.text
{
  margin-bottom: 3%;
  color:  #ffffff;
  font-size: 23px; 
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  padding-left: 14%;
}
.text a
{
  text-decoration: none;
  color: #fff;
}
.team
{
  color:  #ffffff;
  font-size: 25px; 
  font-weight: 400;
  line-height: 32px;
  text-align: right;
}
@media screen and (max-width: 960px){
  .text, .team
  {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 760px){
  .text, .team
  {
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 500px){
  .text, .team
  {
    font-size: 13px;
    line-height: 18px;
  }
}


.username-textbox{
	border-style: solid;
	border-width: 1px;
	border-color:#E5E5E5;
	border-left-width: 2px;
	border-left-color: #00af50;
	border-radius:0;
	font-size:14px;
	font-size: 13px;
	color:black;
}