.likes-doing-selector,.interests-selector,.suffering-from-selector{
	width:100%;
	/*background-image:url("../img/down_arrow.jpg");
	background-position:97%;
	background-repeat:no-repeat;
	border-style: solid;
	border-color: #E5E0E0;
	border-width: 1px;*/
	padding: 0px 8px;
}
.third-register-page input,.third-register-page select{
	background-color:white;
}
.fa-calendar{
	float: right;
	margin-top: 6px;
	margin-left: 5px;
	cursor: pointer;
}
label.input{
	width:100%;
}
label.input input{
	width:90% !important;
}
.other-medical-issue-text{
	margin-left:10px;
}
.sub-child{
	display:none;
}
.other-medical-issue-text{
	display:none;
}
.child-other-main{
	display:none;
}
.upload-photos{
	width:100%;
}
.form-control[readonly]{
	cursor:default;
	background-color:white;
}
.add-sig,.add-email,.add-phone{
	cursor:pointer;
}
.margin-top-10{
	margin-top:10px;
}
.margin-bottom-10{
	margin-bottom:10px;
}

.register-page .border-grey label {
  font-size: 13px;
}
.profession-wrap{
	display:none;
}