.green-bg {
	background: #007a3c;
}

.white-color {
	color: #ffffff;
}

.service-card {
	padding: 5px !important;
	margin-bottom: 20px !important;
	font-family: century_gothic !important;
	overflow: hidden;
	min-height: 100px;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-color: #d5d5d5;
	box-shadow: 10px 10px 6px -6px #f3f3f3;
	-webkit-box-shadow: 10px 10px 6px -6px #f3f3f3;
	background: #fff;
	border-radius: 4px !important;
}
.serviceFeatured
{
	width:85px;
	height:89px;
	background:url('../img/feature/service.png?versionTimeStamp=%PROJECT_VERSION%');
	position:absolute;
	z-index:10;
	top: -4px;
    right: -5px;
}
.service-card[data-index="discussion-articles"] {
	cursor: pointer;
}

.service-card .article-heading {
	font-family: century_gothic !important;
	overflow-wrap: break-word;
}

.service-card-image {
	width: 140px;
	height: 105px;
	line-height:105px;
	margin-right: 20px;
	background:#f6f6f6;
	border:1px solid #e4e4e4;
	border-radius: 4px !important;
	text-align:center;
	overflow:hidden;
}
.service-card-image img
{
	max-width:100%;
	height:auto;
	line-height:105px;
	margin-top:-4px;
}
.service-card-image-height
{
	height: 115px;
	line-height:115px;
}
.service-card-image-height img
{
	line-height:115px;
}

.service-card-info {
	font-size: 14px;
	font-weight: 400;
	margin-top: 14px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.service-card-desciption {
	padding-left: 0px;
	padding-top: 5px;
	max-height: 135px;
	overflow: hidden;
	font-weight: 400;
	color: #000 !important;
	font-size: 16px !important;
	line-height: 26px;
	margin-bottom: 3px;
}

#profile-shortDesc {
	padding-left: 0px;
	padding-top: 5px;
	overflow:hidden;
	width:100%;
	font-weight: 400;
	color: #000 !important;
	font-size: 16px !important;
	line-height: 26px;
	margin-bottom: 3px;
}
.service-card-desciption img {
	display: none;
}
.add-comment-FA .icon-rate
{
	background:url('../img/icons/rate_mo_icon.png');
	width:19px;
	height:19px;
	margin: 0px 5px 0px 5px;
}
.service-rating_p
{
	border:1px solid #d36e41;
	padding:0 5px 0 1px;
	border-radius: 2px !important;
}
.serviceRating, .serviceReview {
	float: left;
	margin-bottom: 0px !important;
}
.serviceRating
{	
	margin-right: 25px;
}
.serviceRating i {
	width: 21px;
	text-align: center;
	font-size: 12px;
	height: 21px;
	/*background: #007a3c;*/
	border-radius: 50%;
	padding: 0px 3px 4px 3px;
	margin-right: 5px;
	color: #fff;
	font-style: normal;
	display: inline-block;
	font-style:normal;
	letter-spacing:-0.5px;	
}

.serviceReview i {
	margin-right: 5px;
}

.categoryList li:after {
	content: '|';
}

.categoryList li:last-child:after, .categoryList li:first-child:after {
	content: '';
}

.by-service-inline {
	display: inline-block;
	max-width: calc(100% - 168px);
}

.fa-review-icon:before {
	content: url('../img/icons/review.png')
}

.padding42 {
	padding: 2px !important;
	margin-left: 10px;
	margin-right: 6px;
}

.by-service-border {
	padding-top: 6px;
	margin-top: 5px;
}

.fa-envelope:before {
	content: url('../img/icons/e-mail.png')
}

.fa-phone:before {
	content: url('../img/icons/phone.png')
}

.fa-globe:before {
	content: url('../img/icons/web.png')
}

.fa-address:before {
	content: url('../img/icons/place.png')
}

.fa {
	vertical-align: middle;
}

.bg-color-grey2 {
	background: #ccc;
}


@media ( max-width : 992px) {
	.by-service-padding {
		padding: 0px;
	}
}