<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div cg-busy="{promise:promise,backdrop:true,templateUrl:'app/shared/common/template/preloader.html'}">
    <div class="topScroll" top-scroll></div>
    <!-- <div ng-include="'app/shared/common/template/breadcrumb.html'"></div> -->
	<!-- section headers -->
	<div class="by_section_header">
		<div class="container">
			<div class="by_section_header_title" ></div>
			<div class="clearfix"></div>
			<div class="by_section_header_desc"></div>
		</div>
	</div>
	<!--=== Content Part ===-->
    <div class="container by_home_content" ng-init="fixedMenuInitialized()">
        <div class="row">
            <div class="col-md-3  md-margin-bottom-40 forward-display"
                 ng-include="'app/components/product/product-listing/product-left-panel.html'"></div>
            <div class="col-md-9   discussion-page md-margin-bottom-40 article-outer-wrapper" style="padding-right:0px;" 
                 ng-include="'app/components/product/product-listing/product-content-panel.html'"
                 infinite-scroll="loadMoreRecords()" infinite-scroll-distance="0" infinite-scroll-disabled="lastPage || isQueryInprogress"></div>
        </div>
    </div>
</div>
