<style type="text/css">
.list-group-item a {
    font-size: 14px;
}
.personalStoryMainContentShareBg2 i {
    padding: 5px 4px 4px 4px;
}
.personalStoryMainContentShareBg2
{
	margin-right:0px;
}
.article-info li{
	margin-right:20px;
}
.productImage
{
	width:180px !important;
}
</style>
<script type="text/ng-template" id="categorytpl">
    <a tabindex="-1" ng-click="reloadRoute()"
       ng-href="#!/products/list/{{$root.menuCategoryMapByName['Products'].slug}}/{{$root.menuCategoryMapByName['Products'].id}}/all?q={{category|encodeUri}}"
       ng-class="{'last-child':!category.subcategories,'selected-list-item':((selectedTab === category.name) && !category.subcategories)}"
       class="category-lh">
        {{category.name}}
        <span class="arrow" ng-if="category.subcategories" class="category-lh"></span>
    </a>
    <ul class="dropdown-menu no-border" ng-if="category.subcategories">
        <li class="dropdown-submenu list-group-item1 false list-div-inline register-page ng-scope category-lh"
            ng-repeat="category in category.subcategories" ng-include="'categorytpl'" ng-if="discussCounts.z > 0">
        </li>
    </ul>
</script>
<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed"  ng-init="fixedMenuInitialized()">
    <div class="scrollableLeftPanelDiv by-filter-links show-overflow">
        <ul class="dropdown-menu sidebar-nav-v1 sidebar-nav-v3 ul-dropdown sidebar-nav-v2 hidden-sm hidden-xs full-width"
            id="parentMenu" role="menu" aria-labelledby="dropdownMenu">
            <!-- Child Menu -->
            <li class="dropdown-submenu list-group-item ml-list-group false list-div-inline register-page ng-scope"
                ng-repeat="category in categories" ng-include="'categorytpl'" ng-if="discussCounts.z > 0">
            </li>
        </ul>
        <script type="text/ng-template" id="categorymobiletpl">
            <a  ng-href="#!/products/list/{{$root.menuCategoryMapByName['Products'].slug}}/{{$root.menuCategoryMapByName['Products'].id}}/all?q={{category|encodeUri}}"
               ng-click="reloadRoute()"
               ng-class="{'last-child':!category.subcategories}" style="width:100%;display:inline-block;">
                <span ng-repeat="i in getNumber(category.depth) track by $index"></span>
                <span>{{category.name}}</span>

                <div class="inline-b pull-right">
                    <i ng-class="{'fa fa-chevron-right':!category.isCollapsed,'fa fa-chevron-down':category.isCollapsed}"
                       class="pull-right" ng-if="category.subcategories"
                       ng-click="category.isCollapsed = !category.isCollapsed;$event.stopPropagation();$event.preventDefault()">
                    </i>

                    <div class="clearfix"></div>
                </div>
            </a>

            <ul class="nav sublist-green" ng-if="category.subcategories" ng-show="category.isCollapsed">
                <li class="list-group-item-m" ng-repeat="category in category.subcategories"
                    ng-include="'categorymobiletpl'">
                </li>
            </ul>
        </script>
        <nav class="navbar navbar-default bg-white hidden-lg hidden-md" role="navigation" ng-if="categories">
            <ul class="nav no-padding-left left-gap full-width">
                <li class="dropdown " ng-repeat="category in categories" ng-include="'categorymobiletpl'">

                </li>
            </ul>
        </nav>
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 sidebar-nav-v2 full-width" id="sidebar-nav">
            <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles"
                ng-if="discussCounts.z > 0">
                <a ng-href="#!/products/list/{{$root.menuCategoryMapByName['Products'].slug}}/{{$root.menuCategoryMapByName['Products'].id}}/all?q=featured">FEATURED</a>
            </li>
            <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles"
                ng-if="discussCounts.z > 0">
                <a href="#">NEW </a>
            </li>
            <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles"
                ng-if="discussCounts.z > 0">
                <a href="#">BEST SELLERS</a>
            </li>
            <li class="list-group-item false list-div-inline register-page" data-index="discussion-articles"
                ng-if="discussCounts.z > 0">
                <a href="#">TOP RATED</a>
            </li>
        </ul>
    </div>
</div>
<!-- <div cg-busy="{promise:promise,backdrop:true,templateUrl:'app/common/html/preloader.html'}"> -->
<!-- <script type="text/javascript" src="lib/unify/plugins/bootstrap/js/bootstrap-toggle.js"></script> -->