<!--&lt;!&ndash;=== Header v7 Left ===&ndash;&gt;-->
<!--<div class="header-v7 header-left-v7 smartScroll-wrapper" ng-init="smartScroll()">-->
    <!--<nav class="navbar navbar-default mCustomScrollbar" role="navigation" data-mcs-theme="minimal-dark">-->
        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse navbar-responsive-collapse">-->
            <!--<div class="menu-container">-->
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="dropdown active" ng-repeat="menu in $root.menuCategoryMapByName['Shop'].children">-->
                        <!--<a href="#!/products/list/{{menu.slug}}/{{menu.id}}/all" class="dropdown-toggle"-->
                           <!--data-toggle="dropdown">-->
                            <!--{{menu.displayMenuName}}-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li ng-if="menu.children.length > 0" ng-repeat="submenu1 in menu.children">-->
                                <!--<a>{{submenu1.displayMenuName}}</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; End Navbar Collapse &ndash;&gt;-->
    <!--</nav>-->
<!--</div>-->

<!--<div class="smartScroll-wrapper" style="width:300px; padding: 8px 0;">-->
<!--<div>-->
<!--<ul class="nav nav-list">-->
<!--<li ng-repeat="menu in $root.menuCategoryMapByName['Shop'].children">-->
<!--<a href="#!/products/list/{{menu.slug}}/{{menu.id}}/all" style="display: inline">{{menu.displayMenuName}}</a>-->
<!--<label class="tree-toggler nav-header" ng-click="toggleMenu($event)" id="{{menu.id}}">+</label>-->
<!--<ul class="nav nav-list tree">-->
<!--<li ng-repeat="submenu1 in menu.children">-->
<!--<a href="#!/products/list/{{submenu1.slug}}/{{submenu1.id}}/all">{{submenu1.displayMenuName}}</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li class="divider"></li>-->
<!--</ul>-->
<!--</div>-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<div class="smartScroll-wrapper" style="width:300px; padding: 8px 0;">-->
    <!--<div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">-->
        <!--<ul class="nav nav-list">-->
            <!--<li ng-repeat="menu in $root.menuCategoryMapByName['Shop'].children">-->
                <!--<label class="tree-toggler nav-header" ng-click="expandMenu($event)">{{menu.displayMenuName}}</label>-->
                <!--<ul class="nav nav-list tree">-->
                    <!--<li ng-repeat="submenu1 in menu.children">-->
                        <!--<a href="#">{{submenu1.displayMenuName}}</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->


<!--<script type="text/javascript">-->
    <!--$(document).ready(function () {-->
        <!--$('label.tree-toggler').click(function () {-->
            <!--$(this).parent().children('ul.tree').toggle(300);-->
        <!--});-->
    <!--});-->
<!--</script>-->



<!--&lt;!&ndash;All classes from Unify start&ndash;&gt;-->
<!--<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed"  ng-init="fixedMenuInitialized()">-->
<!--<div class="scrollableLeftPanelDiv by-filter-links show-overflow">-->
<!--</div>-->
<!--</div>-->


<!--<div class="by_subMenuPlus" ng-init="smartScroll();"  ng-if="$root.windowWidth > 720">-->
<!--<div class="by_subMenuPlus_head" ng-repeat="menu in $root.menuCategoryMapByName['Shop'].children">-->
<!--<div class="divLeft"><a href="#!/products/list/{{menu.slug}}/{{menu.id}}/all" >{{menu.displayMenuName}}</a></div>-->
<!--<div class="divRight" ng-if="menu.children.length > 0" >+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content" >-->
<!--<a href="#!/products/list/{{menuN.slug}}/{{menuN.id}}/all" ng-repeat="menuN in menu.subcategories">{{menuN.displayMenuName}}</a>-->
<!--</div>-->
<!--</div>-->


<!--&lt;!&ndash;<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!-- -->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!--<a href="">bbbbbbbbb</a><br/>-->
<!-- -->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>&ndash;&gt;-->
<!--</div>-->


<!--<div class="by_mobile_leftPanel_hide" ng-init="subMenuTabMobile();" ng-if="$root.windowWidth < 720">-->
<!--<div class="by_mobile_leftPanel" ng-init="subMenuPlus();"> -->

<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="by_subMenuPlus_head">-->
<!--<div class="divLeft"><a>aaaaaaaaaaaa</a></div>-->
<!--<div class="divRight">+</div>-->
<!--<div class="clearfix"></div>-->
<!--<div class="by_subMenuPlus_content">-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--<a href="">bbbbbbbbb</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--</div>-->
<!--<div class="by_mobile_leftPanel_image" ng-init="subMenuTabMobileShow();"></div>-->
<!--</div>-->
