<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Beautiful Years | Register</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"> -->

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-default.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="assets/plugins/parallax-slider/css/parallax-slider.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="assets/css/pages/page_log_reg_v1.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

    <link rel="stylesheet" href="assets/css/psc.css">

    <link rel="stylesheet" href="assets/js/tagmanager-master/tagmanager.css">


    <link rel="stylesheet" href="assets/css/home.css">

    <link rel="stylesheet" href="assets/css/aboutUs.css">
    <link rel="stylesheet" href="assets/css/by_editor.css">
    <link rel="stylesheet" href="assets/css/login.css">
</head>

<body ng-app="byApp">

<!--
<div class="preloader">
    <div class="preloaderImage"></div>
</div>
-->

<div class="tnymcePopUpwrapper">
    <div class="tnymcePopUpwrapperInside">
        <div class="imagebgNew">
            <div class="tnymcePopUpwrapperInsideTitle divLeft">
                Insert Image
            </div>
            <div class="tnymcePopUpwrapperInsideClose tnymceCloseImage divRight">
                X
            </div> <div class="clearfix"></div>
        </div>

		<!-- insert image in tinymce -->
		<form id="UploadImage" action="UploadFile" method="post" enctype="multipart/form-data">
		<!-- insert image in tinymce -->

        <div class="tnymcePopUpwrapperInsideLabel divLeft">Image URL</div>
        <div class="tnymcePopUpwrapperInsideUrl divRight">
             <input type="file" name="sp" id="sp" size="100">
        </div>
        <div class="clearfix"></div>
        <div>
            <button  type="submit"  class="tnymceCloseImageAdd">Ok</button>
            <button  type="button"  class="tnymceCloseImage tnymceCloseImageButton">Cancel</button>
        </div> <div class="clearfix"></div>
        </form>


    </div>
</div>

<div class="topScroll"></div>

    <div class="wrapper">
    <!--=== Header ===-->
     <div class="header">
            <div class="container">
                <!-- Logo -->
                <a class="logo" di-href="#/users/home?type=home">
                    <img src="assets/img/Logo-new-client.png" alt="Logo">
                </a>
                <!-- End Logo -->

                <!-- Topbar -->
                <div class="topbar">
                    <ul class="loginbar pull-right">
                        <!--<li class="hoverSelector">-->
                            <!--<i class="fa fa-globe"></i>-->
                            <!--<a>Languages</a>-->
                            <!--<ul class="languages hoverSelectorBlock">-->
                                <!--<li class="active">-->
                                    <!--<a href="#">English <input type="checkbox" /></a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Hindi <input type="checkbox" /></a></li>-->
                                <!--<li><a href="#">Other <input type="checkbox" /></a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <li><a di-href="#/users/home?type=aboutUs" id="aboutUs_placeholder">ABOUT US</a></li>
                        <li class="topbar-devider"></li>
                        <li><a href="" id="profile_placeholder">PROFILE</a></li>
                        <li class="topbar-devider"></li>
                        <li><a href="#/users/login" id="login_placeholder">JOIN US</a></li>
                    </ul>
                </div>
                <!-- End Topbar -->

                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <!-- End Toggle -->


                <!-- Search Block -->
                <div class="searchClearboth"></div>

                <!-- end Search Block -->


            </div><!--/end container-->

           <!--<div class="searchWrapper">
               <div class="searchLeft">
                   <input type="text" placeholder="Search" />
               </div>
               <div class="searchRight">
                   <i class="fa fa-search"></i>
               </div>
               <div class="clearfix"></div>
           </div>
			-->

           <div class="searchWrapper">
			   <div class="searchLeft">
				   <input type="text" placeholder="Search" ng-model="term" onkeydown="if (event.keyCode == 13) document.getElementById('search_link').click()">
				   <a href="#/search/{{term}}/All" id="search_link"></a>
			   </div>
			   <div class="searchRight">
			   	<i class="fa fa-search"></i>
			   </div>
               <div class="clearfix"></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                    	<!-- Start Home -->
                        <li>
                            <a di-href="#/users/home?type=home">
                                Home
                            </a>
                        </li>
                        <!-- End Home -->
                        <!-- Discuss -->
                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Discuss
                            </a>
                            <ul class="dropdown-menu">
								<li>
									<div class="mega-menu-content disable-icons">
										<div class="container">
											<div class="row equal-height">
												<div class="col-md-2 equal-height-in">
													<ul class="list-unstyled equal-height-list">
														<li><a href="#/discuss/All/list/all" ng-click="showme=false;"><h3>DISCUSS ALL</h3></a></li>
														<li><a href="#/discuss/{{bc_discussType}}/BEAUTIFUL LIVES/all" ng-click="showme=false"><h3>BEAUTIFUL LIVES</h3></a></li>
														<li><a href="#/discuss/{{bc_discussType}}/BEAUTIFUL LIVES/Stars forever" ng-click="showme=true">Stars forever</a></li>
														<li><a href="#/discuss/{{bc_discussType}}/BEAUTIFUL LIVES/Personal stories" ng-click="showme=true">It's never too late</a></li>
														<li><a href="#/discuss/{{bc_discussType}}/BEAUTIFUL LIVES/Personal stories" ng-click="showme=true">Personal stories</a></li>
														
														<li><a href="#/discuss/{{bc_discussType}}/BEAUTIFUL LIVES/all" ng-click="showme=false"><h3>AGING RECONSIDERED</h3></a></li>
														<li><a href="#/discuss/{{bc_discussType}}/BEAUTIFUL LIVES/Stars forever" ng-click="showme=false">Issues & stereotypes of aging</a></li>
														<li><a href="#/discuss/{{bc_discussType}}/BEAUTIFUL LIVES/Personal stories" ng-click="showme=false">Anti-ageing news</a></li>
														<li><a href="#/discuss/{{bc_discussType}}/BEAUTIFUL LIVES/Personal stories" ng-click="showme=false">Ageing around the globe</a></li>
													</ul>
												</div>
												<div class="col-md-2 equal-height-in">
													<ul class="list-unstyled equal-height-list">
														<li><a href="#/discuss/{{bc_discussType}}/ELDER'S ROUTINE/all" ng-click="showme=false"><h3>DAILY ROUTINE</h3></a></li>
														<li><a href="#/discuss/{{bc_discussType}}/ELDER'S ROUTINE/Chores" ng-click="showme=true">Chores </a></li>
														<li><a href="#/discuss/{{bc_discussType}}/ELDER'S ROUTINE/Medications" ng-click="showme=true">Medications </a></li>
														<li><a href="#/discuss/{{bc_discussType}}/ELDER'S ROUTINE/Personal hygiene" ng-click="showme=true"> Personal hygiene </a></li>
														<li><a href="#/discuss/{{bc_discussType}}/ELDER'S ROUTINE/Food & Nutrition" ng-click="showme=true">Food & Nutrition</a></li>
														<li><a href="#/discuss/{{bc_discussType}}/ELDER'S ROUTINE/Mobility" ng-click="showme=true">Mobility & Transportation</a></li>
														<li><a href="#/discuss/{{bc_discussType}}/ELDER'S ROUTINE/Activities" ng-click="showme=true">Activities</a></li>
													</ul>
												</div>
												<div class="col-md-2 equal-height-in">
													<ul class="list-unstyled equal-height-list">
														<li><a href="#/discuss/{{bc_discussType}}/CAREGIVER'S CORNER/all" ng-click="showme=false"><h3>CAREGIVER'S CORNER</h3></a></li>
														<li><a href="#/discuss/{{bc_discussType}}/CAREGIVER'S CORNER/Caregiving guides" ng-click="showme=true">Caregiving guides </a></li>
														<li><a href="#/discuss/{{bc_discussType}}/CAREGIVER'S CORNER/Stress and burnout" ng-click="showme=true">Stress & burnout</a></li>
														<li><a href="#/discuss/{{bc_discussType}}/CAREGIVER'S CORNER/Personal stories" ng-click="showme=true">Personal stories</a></li>
														<ul class="list-unstyled equal-height-list">
															<li>
																<a href="#/discuss/{{bc_discussType}}/FAMILY AND RELATIONSHIPS/all" ng-click="showme=false"><h3>Death &amp; Beyond</h3></a>
															</li>
														</ul>
														<ul class="list-unstyled equal-height-list">
															<li>
																<a href="#/discuss/{{bc_discussType}}/FAMILY AND RELATIONSHIPS/all" ng-click="showme=false"><h3>Legal &amp; Finance</h3></a>
															</li>
														</ul>
													</ul>
												</div>
												<div class="col-md-6 equal-height-in no-padding-top">
													<ul class="list-unstyled equal-height-list">
														<li class="text-center"><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/all" ng-click="showme=false"><h3>HEALTH CONDITIONS</h3></a></li>
														<div class="col-md-6 no-padding onphone-col-header">
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Alzheimer's and dementia" ng-click="showme=true"> Alzheimer's and dementia</a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Parkinson's" ng-click="showme=true">Parkinson's</a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Mental disorders" ng-click="showme=true">Mental disorders </a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Broken hip" ng-click="showme=true">Broken hip</a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Stroke" ng-click="showme=true">Stroke </a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Vision and Hearing issues" ng-click="showme=true">Vision &amp; Hearing issues</a></li>
															
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Arthritis" ng-click="showme=true">Arthritis  </a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Diabetes" ng-click="showme=true">Diabetes</a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Incontinence" ng-click="showme=true">Incontinence</a></li>
														</div>

														<div class="col-md-6 no-padding onphone-col-header">
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Heart" ng-click="showme=true">Heart</a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Cancer" ng-click="showme=true">Cancer</a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Respiratory" ng-click="showme=true">Respiratory</a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Kidney" ng-click="showme=true">Kidney </a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Digestive system" ng-click="showme=true">Digestive system </a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Sleep disorders" ng-click="showme=true">Sleep disorders </a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Osteoporosis" ng-click="showme=true">Osteoporosis </a></li>
															<li><a href="#/discuss/{{bc_discussType}}/HEALTH CONDITIONS/Other" ng-click="showme=true">Other</a></li>
														</div>
													</ul>
												</div>
												

											</div>
										</div>
									</div>
								</li>
                        	</ul>
                        </li>
                        <!-- End Discuss -->

                        <!-- Find -->
                        <li>
                            <a href="">
                                Find
                            </a>
                        </li>
                        <!-- End Find -->

                        <!-- Do -->
                        <li>
                            <a href="">
                                Do
                            </a>
                        </li>
                        <!-- End Do -->

                        <!-- Shop -->
                        <li>
                            <a href="">
                                Shop
                            </a>
                        </li>
                        <!-- End Shop -->

                    </ul>
                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>
    <!--=== End Header ===-->


<ng-view></ng-view>

<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                       2015  © BeautifulYears Ltd. 
                        <a target="_blank" href="#">Privacy Policy </a> <a>|</a> <a href="#">Terms of Service</a><a>|</a> <a href="#">Contact Us</a>
                    </p>
                </div>
                <!-- Social Links -->
              <div class="col-md-2 pull-right">  
                <ul class="social-icons pull-right">
                <li><span>Like us on</span></li>
                 <li><a data-original-title="Facebook" class="social_facebook" onclick="window.open('http://www.facebook.com/sharer.php?u=www.beautifulyears.com', 'name','width=600,height=400')"></a></li>
                 <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>

             </ul>
         </div>
         <!-- End Social Links -->
     </div>
 </div> 
</div>
<!--/copyright-->

  
    </div> <!--/wrapper-->




        <!-- JS Global Compulsory -->
        <script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
        <!-- JS Implementing Plugins -->
        <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
        <script type="text/javascript" src="assets/plugins/smoothScroll.js"></script>
        <script type="text/javascript" src="assets/plugins/jquery.mixitup.min.js"></script>
        <script type="text/javascript" src="assets/plugins/parallax-slider/js/modernizr.js"></script>
        <script type="text/javascript" src="assets/plugins/parallax-slider/js/jquery.cslider.js"></script>
        <!-- JS Customization -->
        <!-- <script type="text/javascript" src="assets/js/custom.js"></script> -->
        <!-- JS Page Level -->
        <script type="text/javascript" src="assets/js/app.js"></script>
        <script type="text/javascript" src="assets/js/pages/page_portfolio.js"></script>
        <script type="text/javascript" src="assets/js/plugins/parallax-slider.js"></script>
		<script type="text/javascript" src="assets/js/tinymce/tinymce.min.js"></script>

		<script type="text/javascript" src="assets/js/tagmanager-master/tagmanager.js"></script>

		<!-- File Upload -->
		<script type="text/javascript" src="http://malsup.github.com/jquery.form.js"></script>
		<script type="text/javascript" src="js/jquery.ajaxfileupload.js"></script>


<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->

<script type="text/javascript" src="assets/js/psc.js"></script>


<!-- jumpstart assets -->
	<script type="text/javascript"  src="assets/js/angular.js"></script>
	<script type="text/javascript"  src="assets/js/angular-route.js"></script>
	<script type="text/javascript"  src="assets/js/angular-resource.js"></script>
	<script type="text/javascript"  src="assets/js/angular-sanitize.js"></script>
	<script type="text/javascript"  src="js/app.js"></script>
    <script type="text/javascript" src="js/util/byEditor.js"></script>
<script type="text/javascript"  src="js/signUp.js"></script>
	<script language="JavaScript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js">


	<!-- datepicker-->
	<!--
	<link rel="stylesheet" href="css/pikaday.css">
    <link rel="stylesheet" href="css/site.css">

	<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.js"></script>
	-->
	<!-- jumpstart assets -->

 <!-- <script type="text/javascript">

     $(document).ready(function () {
     	var sess = localStorage.getItem("SessionId");
     	if(sess != '')
     	{
     		var element = document.getElementById("login_placeholder");
			element.innerHTML = "Logout";
            element.href = "/#/users/logout/" + sess;
     	}
     	else
     	{
     		var element = document.getElementById("login_placeholder");
			element.innerHTML = "Login";
            element.href = "/#/users/login";
     	}
     });
	</script>
	-->

	<script type="text/javascript">
	            jQuery(document).ready(function() {
	                App.init();
	                PortfolioPage.init();
	                ParallaxSlider.initParallaxSlider();
	                $(".content").css("min-height",$(window).height() - $(".content").offset().top - $(".footer-v1").height() - $(".footer-v1").height() + "px");
	            });

	</script>


		<script type="text/javascript">
		var sess = localStorage.getItem("SessionId");
				//alert(sess);
				if(sess != '' && sess != null)
				{
					var log = document.getElementById('login_placeholder');
					log.innerHTML = "Logout";
					log.href = apiPrefix+"#/users/logout/" + sess;

					var pro = document.getElementById('profile_placeholder');
					pro.innerHTML = "Profile";
					pro.href = apiPrefix+"#/userprofile";


					if(window.location.href.endsWith("#/users/login") || window.location.href.endsWith("main.html"))
					{
						window.location = apiPrefix+"#/users/home?type=home";
					}
				}
				else
				{
					var element = document.getElementById("login_placeholder");
					element.innerHTML = "Login";
					element.href = apiPrefix+"#/users/login";

					var pro = document.getElementById('profile_placeholder');
					pro.innerHTML = "Signup";
					pro.href = apiPrefix+"#/users/new";

					window.location = "#/users/login";
			}
		</script>


		<!-- script for inserting images into tinymce -->
		<script type="text/javascript">

		$(document).ready(function() {

		$(".tnymceCloseImageAdd").on('click', function()
		{
			$("#UploadImage").submit();

		});

			var options1 = {
		        beforeSend : function() {
		                //$("#progressbox").show();
		                // clear everything
		                //$("#progressbar").width('0%');
		                //$("#message").empty();
		                //$("#percent").html("0%");
		        },
		        uploadProgress : function(event, position, total, percentComplete) {
		                //$("#progressbar").width(percentComplete + '%');
		                //$("#percent").html(percentComplete + '%');

		                // change message text to red after 50%
		                //if (percentComplete > 50) {
		                //$("#message").html("<font color='red'>File Upload is in progress</font>");
		               // }
		        },
		        success : function() {
		               // $("#progressbar").width('100%');
		               // $("#percent").html('100%');
		        },
		        complete : function(response) {
					//tinyMCE.activeEditor.focus();
					//tinyMCE.get('submit-article').getBody().focus();

					//?????var img = "<img style = 'height:80px;width:80px' src = 'http://" + response.responseText + "' />";
					//alert("img path = " + response.responseText.substring(response.responseText.lastIndexOf('/')+1));
					var img = "<img src = 'uploaded_files/" +  response.responseText.substring(response.responseText.lastIndexOf('/')+1) + "' />";
					tinyMCE.activeEditor.execCommand("mceInsertContent", true, img);
					//$("#articlePhotoFilename").val(response.responseText);
		        },
		        error : function() {
		        $("#articlePhotoFilename").val("<font color='red'> ERROR: unable to upload files</font>");
		        }
			};

			$("#UploadImage").ajaxForm(options1);

		});
		</script>
		<!-- script for inserting images into tinymce -->

			<!-- <script type="text/javascript" src="js/jquery.ajaxfileupload.js"></script> -->
</body>
</html>

