<div class="aboutUsOne col-md-12" id="who_we_are">

    <div class="aboutUsOneSecond">
        We <b>take care</b> of our ageing parents

        And we'd like to <b>age better</b> ourselves!
    </div>
</div>

<div class="aboutUsOne aboutUsTwo col-md-12">

    <div class="aboutUsOneSecond">
        May all elderly people
        and their loving families enjoy
        beautiful years together<br/><br/>

        Hence, BeautifulYears.com
    </div>

    <div class="aboutUsOneSecond">
        "Caring. Sharing. Ageing"
    </div>

</div>


<div class="col-md-12 no-padding margin-bottom-15" id="our_services">
    <div id="home_featured_articles" class="col-md-12 no-padding  list-head dp-block">
        OUR SERVICES
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div class="col-md-12 no-padding">
    <div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="firstletter">D</span>iscuss

            <div class="one_leaf_image">
                <img src="assets/img/aboutUs/one_leaf.png" alt="">
            </div>
        </div>

    </div>
    <div class="shadow-wrapper margin-bottom-15">
        <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
            <div class="aboutDiscussText">
                Here you can find the most relevant information and most interesting <a
                    onclick="location.href=apiPrefix+'#/discuss/All/list/all'">discussions</a> about caregiving and
                ageing, with its stigmas, challenges, and opportunities.
                Here we share our thoughts and experiences, our pain and love, despair and hope.
            </div>

        </div>
    </div>
</div>

<div class="col-md-12 no-padding">
    <div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="firstletter">F</span>ind

            <div class="one_leaf_image_find">
                <img src="assets/img/aboutUs/one_leaf.png" alt="">
            </div>
        </div>

    </div>
    <div class="shadow-wrapper margin-bottom-15">
        <div class="tag-box tag-box-v1-blue box-shadow shadow-effect-2">
            <div class="aboutDiscussText">
                Here you can find a comprehensive catalogue of services for yourself or for your ageing relatives.
                And to have a look at senior living facilities -reviewed by our community.
                And much more in the near future!


            </div>

        </div>
    </div>
</div>

<div class="col-md-12 no-padding">
    <div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="firstletter">D</span>o

            <div class="one_leaf_image_do">
                <img src="assets/img/aboutUs/one_leaf.png" alt="">
            </div>
        </div>

    </div>
    <div class="shadow-wrapper margin-bottom-15">
        <div class="tag-box tag-box-v1-orange box-shadow shadow-effect-2">
            <div class="aboutDiscussText">
                Would you like to keep yourself (or maybe your ageing parents) active and occupied? We are working hard
                on making it happen!

            </div>

        </div>
    </div>
</div>

<div class="col-md-12 no-padding">
    <div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="firstletter">S</span>hop

            <div class="one_leaf_image_shop">
                <img src="assets/img/aboutUs/one_leaf.png" alt="">
            </div>
        </div>

    </div>
    <div class="shadow-wrapper margin-bottom-15">
        <div class="tag-box tag-box-v1-gray box-shadow shadow-effect-2">
            <div class="aboutDiscussText">
                This will be the place to buy the best anti-aging and elder care products from India and from overseas.
                Please bear with us, while we are still working on it.
            </div>

        </div>
    </div>
</div>


<div class="col-md-12 no-padding margin-bottom-15 margin-top-25 ng-scope" id="help_us">
    <div id="home_featured_articles" class="col-md-12 no-padding  list-head dp-block">
        WE NEED YOUR HELP
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div class="col-md-12 aboutUsThree">
    <div class="aboutUsThreeText">
        We are just beginning and we really need your help in building our community together with us!
        This is how you could make this site more useful, interesting and enjoyable for yourself and for others:

    </div>
</div>


<div class="col-md-12">
    <div class="row col-md-12 no-padding">
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight"
             style="min-height: 481px; height:auto;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/participate.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Please fill in your <a>profile</a>. Just 15 minutes of your time will help us know you better and
                learn from your experience.
                <br/>
                <ul>
                    <li>Please <a ng-click="add('Article')">write</a> your personal stories of caregiving and
                        ageing. Also please write about seniors you love.
                    </li>
                    <li>Please <a ng-click="add('Tips')">share</a> useful tips, experiences, and advice. Or let
                        us know what you are going through today, just the way you share your status on Facebook.
                    </li>
                    <li>Please don't hesitate to <a ng-click="add('Question')">ask</a> any question related to
                        ageing or caregiving, and please help others by answering their questions.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight2"
             style="min-height: 481px; height:auto;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/feedbackAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                We would like to improve, so please let us know your <a href="#/users/contactUs?subject=0">feedback</a>:
                <br/>
                <ul>
                    <li>Have you found the information you were looking for?</li>
                    <li>Was it easy to find this information?</li>
                    <li>What would you like us to change?</li>
                    <li>What would you like us to improve?</li>
                    <li>In general, what aspects of the site do you like and what do you dislike?</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row by_row-eq-height">
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight5"
             style="height: auto;min-height: 425px;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/suggestAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Please, <a href="#/users/contactUs?subject=1">suggest</a>:
                <br/>
                <ul>
                    <li>What features would you like us to introduce?</li>
                    <li> What services would you like us to provide to our community in future - both on line and in
                        real life?
                    </li>
                    <li> What products you believe we should sell or lease, to improve lives of our community members?
                    </li>
                    <li> Is there anything else you would like us to do for you?</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight3" style="min-height: 425px;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/volunteerAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Are you a (retired or an active) content writer, PR, media-, or marketing specialist, a doctor, or a
                nurse? Are you passionate and knowledgeable about any aspect of elder care and ageing? Maybe you could
                <a href="#/users/contactUs?subject=2">help</a> our site with your skills and experience. <br/>
                Also please spread the word about us within your social networks - off line and on <a
                    onclick="window.open('http://www.facebook.com/sharer.php?u=www.beautifulyears.com', 'name','width=600,height=400')">Facebook</a>
                !
            </div>
        </div>


    </div>
</div>

<div class="col-md-12">
    <div class="row by_row-eq-height">
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight6" style="height: 325px;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/aboutInform.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                Could you please <a href="#/users/contactUs?subject=3">let us know</a> of any relevant service, product,
                or senior living facility, which you would like us to list or highlight?
            </div>
        </div>
        <div class="col-md-6 col-sm-12 aboutProductsThumbWrap aboutProductsThumbWrapHeight4" style="height: 325px;">
            <div class="aboutProductsThumbHead">
                <img src="assets/img/aboutUs/partnerAbout.png" alt=""/>
            </div>
            <div class="aboutDiscussText">
                If you are a professional or an institution (for profit or an NGO),
                please <a>register</a> with us, to offer your services and meet your potential customers here. We
                would also love to hear from you about collaboration and partnership <a href="#/users/contactUs?subject=4">opportunities</a>.
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 aboutFour">
    <div class="aboutFourText">
        In the words of an Indian Buddhist scholar Shantideva, <br/>"May people find pleasure in helping and benefiting
        each other."
    </div>


</div>

<div class="col-md-12 no-padding margin-bottom-15 margin-top-25 ng-scope" id="our_team">
    <div id="home_featured_articles" class="col-md-12 no-padding  list-head dp-block">
        OUR TEAM
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Advisory Board
    </div>
    <div class="teamWrapperBelowTwo">
        <div class="teamWrapperBelowLeft">
            <img src="assets/img/aboutUs/teamOne.png" alt="" width="100%">
        </div>
        <div class="teamWrapperBelowRight">
            <div class="teamWrapperBelowRightText">

            </div>
            We are still assembling our Advisory Board. Maybe you are well qualified be one of our Board members?

        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Content
    </div>
    <div class="col-md-12 no-padding">
        <div class="teamWrapperBelowTwo">
            <div class="teamWrapperBelowLeft margin-top-40">
                <img src="assets/img/aboutUs/rita.png" alt="" width="100%"/>
            </div>
            <div class="teamWrapperBelowRight">
                <div class="teamWrapperBelowRightText">
                    <strong>Rita Dutt</strong>
                </div>
                The oldest member of the team, Rita has spent over 40+ years gathering a lot of

                experience in varied fields of communication. Starting out as a sound recordist for

                Calcutta's first audio recording studio, Rita segued into writing copy in some of India's

                leading advertising agencies. She honed her craft in Oman, UK, USA and UAE. In her spare

                time she experiments with cooking food for friends and family, baking breads and cookies,

                painting, reading, working out and listening to music.
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="col-md-12 no-padding margin-top-20 mita-padding-top">
        <div class="teamWrapperBelowTwo margin-top-20">
            <div class="teamWrapperBelowLeft margin-top-20">
                <img src="assets/img/aboutUs/mita.png" alt="" width="100%"/>
            </div>
            <div class="teamWrapperBelowRight">
                <div class="teamWrapperBelowRightText">
                    <strong>Mita Chandran</strong>
                </div>
                Intense, committed and a woman of few words, Mita truly redefines the concept of

                ageing. Her years sit lightly on her petite frame but she has garnered a vast reservoir of

                knowledge and experience, with over four decades in communications - advertising, film-

                making and writing. Interested in pets, plants, painting and photography.
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Development team
    </div>
    <div class="teamWrapperBelow">
        <div class="col-md-6 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/jharana.png" width="60%" alt=""><br>
            Jharana<br>

            <div class="normal-font padding_lr-10">Scrum Product owner for Beautiful Years. Passionate technologist with
                15+ years of

                experience spanning the complete software product life cycle, in the embedded

                systems domain. Experienced Agile practitioner who believes in the philosophy and

                tenets of Servant Leadership. Loves what she does and the people she works with. A

                committed career woman, almost a workaholic, who still makes time for her family

                and friends. Takes a keen interest in photography, with special focus on children and

                travel.
            </div>
        </div>
        <div class="col-md-6 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/sanjukta.png" width="60%" alt=""><br>
            Sanjukta Sukul<br>

            <div class="normal-font padding_lr-10">This young developer hails from Asansol, West Bengal. Her family
                antecedents (a

                grandfather who graduated from Oxford University, UK) instilled in her a love of learning.

                Today, Sanjukta has over seven years experience in the IT industry as a software engineer

                in the development of web-based applications using HTML5, Javascript and CSS3. Like all

                Bengalis, she has a soft spot for good food, loves music (wanted to be a professional

                singer!), reading, playing badminton and wants to travel far and wide.
            </div>
        </div>
        <div class="col-md-6 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/nitin.png" width="60%" alt=""><br>
            Nitin Jain<br>

            <div class="normal-font padding_lr-10">Friendly and forthcoming, Nitin has over five years experience as a
                software

                developer in telecom related web applications, content management systems for

                VAS products, knowledge of programming using Java/J2EE and exposure to the

                product development life cycle. Nitin loves travelling across the length and breadth

                of India. He enjoys reading, especially mythological and historical books, as he

                believes that a person should not think about the future without knowing about the

                past. He also collects currencies from around the world.
            </div>
        </div>
        <div class="col-md-6 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/kedar.png" width="60%" alt=""><br>
            Kedar<br>

            <div class="normal-font padding_lr-10">A friendly, somewhat laconic man. He has a

                background in fine arts, with eight years of design experience in print and

                digital media. His love for all things artistic carries over into his personal

                life – he loves sketching and painting, and spends most of his spare time

                doing so. He also watches animated movies and loves coastal cuisine! To indulge

                his spiritual side, Kedar sets aside some time everyday to meditate.
            </div>
        </div>

    </div>
</div>
<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        BusDev and Logistics
    </div>
    <div class="teamWrapperBelow">
        <div class="col-md-6 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/sourav.png" width="60%" alt=""><br>
            Sourabh Chenni<br>

            <div class="normal-font padding_lr-10 ">Tall (over 6 feet!), articulate and enthusiastic, Sourabh brings an
                unusual wealth of

                experience and expertise, given that he is all of 20-something years old! His skills are

                many and varied, including full custom layout designing of Digital and Analog blocks

                (ip's); standard cell library layout designing in 90nm and 180nm technology; and

                hands-on experience in industry standard EDA tools. Sourabh loves bikes, travelling,

                cuisine from around the world, playing basketball and table tennis, and is a

                passionate Rotaractor.
            </div>
        </div>
        <div class="col-md-6 teamWrapperBelowThumb">
            <img src="assets/img/aboutUs/anil.png" width="60%" alt=""><br>
            Anil Elassery<br>

            <div class="normal-font padding_lr-10">A serial entrepreneur and committed generalist, Anil has over 23
                years of all-round

                experience in every facet of running a company, including operations, sales, HR,

                company affairs, IT, finance and accounts. The specific skills that Anil brings to

                Beautiful Years are project management, ability to work independently,

                communication and mentoring. In his spare time Anil likes reading, listening to

                music, and solving crossword puzzles.
            </div>
        </div>

    </div>
</div>
