<div style="background:#fff;">
<div class="headerHeightNoBreadCrumb margin-bottom-0"></div>
<div class="aboutBgBackground"></div>
<div class="container">
    <div class="row aboutUsParent">
        <div class="col-md-3 md-margin-bottom-40">
            <!--All classes from Unify start-->
            <div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed">
                <div class="scrollableLeftPanelDiv by-filter-links">
                    <ul class="list-group sidebar-nav-v1 margin-bottom-40 "
                        id="sidebar-nav">
                        <li class="list-group-item" data-index="who-we-are"><a
                                ng-click="accelerate('who_we_are')">Welcome</a></li>
                        <li class="list-group-item" data-index="our_services"><a
                                ng-click="accelerate('our_services')">Redefining "ageing"</a>
                        </li>
                        <li class="list-group-item" data-index="help_us"><a
                                ng-click="accelerate('help_us')">Your contribution </a></li>
                        <li class="list-group-item" data-index="our_team" ng-click="accelerate('our_team')"><a>Our team </a></li>
                    </ul>
                    <!--All classes from Unify end-->

                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding margin-top-40 by_leftPanel_icons" data-link="articles.html" ng-click="add('Question')">
                        <i class="sprite sprite-question"></i>
                         <span><b>Ask</b> anything about elder care or health</span>
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-12 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Article')">
                        <i class="sprite sprite-story"></i> <span><b>Share</b> your stories, experiences, photos</span>
                    </div>
                    <!--  
                    <div class="col-md-11 no-padding by_leftPanel_icons" data-link="articles.html" ng-click="add('Feedback')">
                        <i class="icon-custom icon-sm icon_feedback"></i> <span>Feedback</span>
                    </div>-->
                </div>
            </div>
        </div>

        <div class="col-md-9  article-outer-wrapper by_right_panel" ng-include="aboutUsViews.contentPanel"></div>
    </div>
</div>
</div>

