<div class="aboutUsOne col-md-12" id="who_we_are">

    <div class="aboutUsOneSecond">
       Are you <b>taking care</b> of your ageing parents?</br>
Would you like to <b>age better</b> yourself?</br>
Welcome to the BeautifulYears Community! 

    </div>
</div>

<div class="aboutUsTwo col-md-12">

    <div class="aboutUsOneSecond">
        May all elderly people
        and their loving families enjoy
        beautiful years together<br/><br/>

        Hence, BeautifulYears.com<br/>
        Caring. Sharing. Ageing
    </div>


</div>


<div class="col-md-12 no-padding margin-top-60 margin-bottom-15" id="our_services">
    <div class="col-md-12 no-padding font-23  list-head dp-block">
        OUR SERVICES
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div class="col-md-12 aboutUsDiscuss ng-scope">
	<div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="firstletter">D</span>iscuss

            <div class="one_leaf_image">
                <img src="assets/img/aboutUs/one_leaf.png?versionTimeStamp=%PROJECT_VERSION%" alt="">
            </div>
        </div>

    </div>
    <div class="aboutUsDiscussText">
      Here you can find the most interesting and relevant information about caregiving and ageing, with its stigmas, challenges, and opportunities. Here we share our thoughts and experiences, our pain and love, despair and hope.

    </div>
</div>

<div class="col-md-12 aboutUsFind ng-scope" style="margin-top: -20px">
	<div class="aboutFindHeadBorder margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="firstletter">F</span>ind

            <div class="one_leaf_image_find">
                <img src="assets/img/aboutUs/one_leaf.png?versionTimeStamp=%PROJECT_VERSION%" alt="">
            </div>
        </div>

    </div>
    <div class="aboutUsfindText">
        Here you can find a comprehensive catalogue of services for yourself or for your ageing relatives.
               And can take a look at senior living facilities -reviewed by our community.
                And much more in the near future!
    </div>
</div>

<div class="col-md-12 aboutUsDo ng-scope" style="margin-top: -20px">
	<div class="aboutDiscussHead margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="firstletter">D</span>o

            <div class="one_leaf_image_do">
                <img src="assets/img/aboutUs/one_leaf.png?versionTimeStamp=%PROJECT_VERSION%" alt="">
            </div>
        </div>

    </div>
    <div class="aboutUsDiscussText">
       Would you like to keep yourself (or maybe your ageing parents) active and occupied? We are working hard on making it happen!</div>
</div>

<div class="col-md-12 aboutUsShop ng-scope" style="margin-top: -20px">
	<div class="aboutFindHeadBorder margin-bottom-10">
        <div class="aboutDiscussHeadBorder">
            <span class="firstletter">S</span>hop

            <div class="one_leaf_image_shop">
                <img src="assets/img/aboutUs/one_leaf.png?versionTimeStamp=%PROJECT_VERSION%" alt="">
            </div>
        </div>

    </div>
    <div class="aboutUsfindText">      
Coming later - the place to buy the best anti-aging and elder care products from India and from overseas.  

    </div>
</div>


<div class="col-md-12 no-padding margin-bottom-15 margin-top-60 ng-scope" id="help_us">
    <div class="col-md-12 no-padding font-23 list-head dp-block">
        WE NEED YOUR HELP
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div class="col-md-12 aboutUsThree">
    <div class="aboutUsThreeText">
        We are just beginning and we really need your help in building our community!
        This is how you could make this site more useful, interesting and enjoyable for yourself and for others:

    </div>
</div>

<div class="col-md-12 margin-top-50 margin-bottom-15">
<div class="col-md-3"><img src="assets/img/aboutUs/nitin.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/></div><div class="col-md-7 helpleftText">"Please <a href="#/users/contactUs?subject=1" class="bold-green">SUGGEST</a> features, products, and services, which you would you like us to introduce."

</div><div class="col-md-2"></div>
</div>

<div class="col-md-12 margin-top-60">
<div class="col-md-2"></div>
<div class="col-md-7 helprightText">"Participate! Please <a href="#/users/login" class="bold-green">REGISTER</a> with us, ask, reply, submit pictures, stories, and tips. This is the best possible help! 

"

</div><div class="col-md-3"><img src="assets/img/aboutUs/mita.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/></div>
</div>

<div class="col-md-12 margin-top-60 margin-bottom-15">
<div class="col-md-3"><img src="assets/img/aboutUs/anil.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/></div><div class="col-md-7 helpleftText">"Please <a href="#/users/contactUs?subject=4" class="bold-green">INFORM</a> us about any service, product, or  senior living facility, which you would like us to list or highlight.
"

</div><div class="col-md-2"></div>
</div>

<div class="col-md-12 margin-top-60">
<div class="col-md-2"></div>
<div class="col-md-7 helprightText">"Are you a caregiving professional? Do you represent an institution? Please <a href="#/users/login" class="bold-green">REGISTER</a> with us, to get in touch with your potential customers. And we would love to hear from you about opportunities to <a href="#/users/contactUs?subject=3" class="bold-green">COOPERATE</a>. 

"

</div><div class="col-md-3"><img src="assets/img/aboutUs/sourabh.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/></div>
</div>

<div class="col-md-12 margin-top-50 margin-bottom-15">
<div class="col-md-3"><img src="assets/img/aboutUs/jharana.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/></div><div class="col-md-7 helpleftText">"Please spread the word about us within your social networks&#45;off&#45;line and on <a onclick="window.open('http://www.facebook.com/sharer.php?u=www.beautifulyears.com', 'name','width=600,height=400')" class="bold-green">Facebook</a> ! 

"

</div><div class="col-md-2"></div>
</div>
<div class="col-md-12 margin-top-60">
<div class="col-md-2"></div>
<div class="col-md-7 helprightText">"Are you a (retired) content writer, PR, media, or marketing specialist, a doctor, or a nurse? Are you passionate and knowledgeable about elder care or ageing?  Please <a href="#/users/contactUs?subject=2" class="bold-green">VOLUNTEER</a> to help our site! 
"

</div><div class="col-md-3"><img src="assets/img/aboutUs/rita.png?versionTimeStamp=%PROJECT_VERSION%" alt=""/></div>
</div>


<div class="col-md-12 aboutUsbudhha margin-top-40 ng-scope">
    <div class="aboutUsThreeText">
        In the words of an Indian Buddhist scholar Shantideva, 
"May people find pleasure in helping and benefiting each other."
    </div>
</div>

<div class="col-md-12 no-padding margin-bottom-15 margin-top-60 ng-scope" id="our_team">
    <div class="col-md-12 no-padding font-23 list-head dp-block">
        OUR TEAM
    </div>

    <div class="col-md-12 no-padding bg-gray-h1">
        <div class="bg-green-h2" style="width: 216px;"></div>
    </div>
</div>

<div class="col-md-12 teamWrapper">
    <div class="teamWrapperHead">
        Advisory Board
    </div>
    
    <div class="teamWrapperBelowTwo margin-top-40">
        <div class="teamWrapperBelowLeft">
            <img src="assets/img/aboutUs/teamOne.png?versionTimeStamp=%PROJECT_VERSION%" alt="" width="100%">
        </div>
        <div class="teamWrapperBelowRight">
            <div class="teamWrapperBelowRightText">

            </div>
            We are still assembling our Advisory Board. Maybe you are well qualified be one of our Board members?

        </div>
        <div class="clearfix"></div>
    </div>
       <div class="teamWrapperHeadleft margin-top-40">
        The Crew
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12  ng-scope"><img src="assets/img/aboutUs/team_all.png?versionTimeStamp=%PROJECT_VERSION%" alt="" width="100%">
    
</div>

<div class="clearfix"></div>


