<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 "
            id="sidebar-nav" >
            <li class="list-group-item" ng-if="discussTotal>0" ng-init="setSelectedTab('d')"
                 ng-class="{'active':selectedTab==='d'}" >
                <a ng-href="#!/search/{{term}}/discuss">Posts/Q &amp; A({{discussTotal}})</a>
            </li>
            <li class="list-group-item" ng-if="serviceTotal>0" ng-init="setSelectedTab('d')"
                 ng-class="{'active':selectedTab==='s'}" >
                <a ng-href="#!/search/{{term}}/services">Services ({{serviceTotal}})</a>
            </li>
             <li class="list-group-item" ng-if="housingTotal>0" ng-init="setSelectedTab('d')"
                  ng-class="{'active':selectedTab==='h'}">
                <a ng-href="#!/search/{{term}}/housing">Housing ({{housingTotal}})</a>
            </li>
             <li class="list-group-item" ng-if="productsTotal>0" ng-init="setSelectedTab('d')"
                  ng-class="{'active':selectedTab==='p'}">
                <a ng-href="#!/search/{{term}}/products">Products ({{productsTotal}})</a>
            </li>
        </ul>
    </div>
</div>