<!--All classes from Unify start-->
<div class="col-md-12 left-container-img-wrapper no-padding by_left_panel_fixed">
    <div class="scrollableLeftPanelDiv by-filter-links">
        <ul class="list-group sidebar-nav-v1 margin-bottom-40 "
            id="sidebar-nav" >
            <li class="list-group-item" ng-if="discussTotal>0" ng-click="setSelectedTab('d')">
                <a >Posts/Q &amp; A({{discussTotal}})</a>
            </li>
            <li class="list-group-item" ng-if="serviceTotal>0" ng-click="setSelectedTab('s')">
                <a >Services ({{serviceTotal}})</a>
            </li>
             <li class="list-group-item" ng-if="housingTotal>0" ng-click="setSelectedTab('h')">
                <a >Housing ({{housingTotal}})</a>
            </li>
        </ul>
    </div>
</div>