<div ng-repeat="service in services" class="ng-scope" style="position:relative;">
	<div ng-include="'app/components/find/servicesInstitutionContentPanel.html'"
		ng-if="service.userTypes[0] == 4"></div>
	<div ng-include="'app/components/find/servicesIndividualContentPanel.html'"
		ng-if="service.userTypes[0] == 7"></div>

</div>

<div ng-if="servicePagination.noOfPages > 1">
    <div class="text-left">
        <by-pagination obj="servicePagination" callback="getServicesData"></by-pagination>
    </div>
</div>